.dl_campaign_modal
  ::-webkit-input-placeholder /* WebKit browsers */
    color #989898
  :-moz-placeholder /* Mozilla Firefox 4 to 18 */
    color #989898
  ::-moz-placeholder /* Mozilla Firefox 19+ */
    color #989898
  :-ms-input-placeholder /* Internet Explorer 10+ */
    color #989898
  margin 30px auto
  background-color #F0F0F0
  background-clip padding-box
  width 460px
  .dl_modal_header 
    height 30px
    .headline
      background-color #3ca2e0
      color #fff
      font-size 14px
      padding 8px 10px
      .head_logo
        margin-right 10px
      .dl_close
        float right
        font-size 18px
        background-color transparent
        color #fff
        padding 0
        border none
        box-shadow 0 0
  .dl_modal_body
    position relative
    background-color #fff
    //-通用
    .unit
      .text
        float left
        line-height 1
        width 310px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        color #999
      .logo
        width 50px
        height 50px
        float left
        margin-right 10px
      .button
        height 25px
        color #fff
        text-align center
        padding 8px
        line-height 1
    .dl_modal_sponsor
      border-bottom 1px solid #cdcdcd
      background-color #fbfbfb
      padding 20px 20px 5px
      .btn-group
        .select_btn
          margin-right 20px
          height 30px
          width 100px
        .select_btn.selected
          box-shadow inset 1px 1px 2px #999
      .teamNameBox
        margin-top 10px
        max-height 70px
        overflow-y auto
        width 420px
        .group
          float left
          padding-bottom 5px
          width 130px
          .team_name
            cursor pointer
            float left
            max-width 130px
            color #666
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
        .group.selected
          .team_name
            background-color #ddd
    .dl_modal_content
      padding 20px
      float left
      .dl_modal_container
        margin-bottom 10px
    .dl_modal_container
      width 100%
      float left
      clear left
      .select
        margin 20px
        color #9b9b9b
      .units
        background-color #fbfbfb
        max-height 600px
        padding 20px 10px 20px 20px
        overflow auto
        margin 0 20px 20px
        .unit.right
          margin-right 0
        .unit
          float left
          width 182px
          height 70px
          padding 10px
          cursor pointer
          background-color #edebec
          border-radius 5px
          margin-right 15px
          margin-bottom 15px
          border 1px solid #3ca2e0
          box-shadow 1px 1px 3px #c8cac7
          &:hover
            box-shadow 0 0 0
            .buttons
              .button
                background-color #3ca2e0
                box-shadow 0 0 0
          .text
            width 100px
            font-size 14px
          .buttons
            margin-top 11px
            float left
            .button
              width 100px
              background-color #ccc
              box-shadow 1px 1px 2px #c8cac7
      .dl_form_control
        min-height 30px
        padding 5px
      .dl_modal_half_container
        width 205px
        float left
        margin-right 10px
        .input-group-addon
          background-color #999
          border-color #bbb
          padding 0 8px
          font-size 16px
          span
            color white
      .dl_modal_half_container.end_time
        margin-right 0px
        .dl_modal_half_container
          margin-right 0px
      .dl_modal_input
        border-radius 0
        font-size 12px
        border 0
        background-color #f5f5f5
        box-shadow inset 0px 2px 1px #d0d0d0
      .dl_modal_input_container
        width 390px
        float left
      .dl_modal_button
        width 30px
        height 30px
        float right
        font-size 20px
        .dl_map_btn
          background-color #999
          color white
          text-align center
          cursor pointer
          float right
          width 100%
          height 100%
        .search_btn
          width 100%
          height 100%
          padding 9px
          background-size 13px 13px
          background-position 8px 8px
          padding-left 20px !important
      .input-group
        .input-group-btn
          .input-group-addon
            width 30px
            height 30px
            background-color #999
            color white
            padding 6px 9px
            font-size 18px
          .dropdown-menu
            width 420px
            margin 0
            left auto
            right 0
            border 1px solid #f5f5f5
            max-height 160px
            overflow auto
            li
              a
                color #999
      .opponent
        margin-top 20px
        border-bottom 1px solid #dedede
      .team_select
        cursor pointer
        border-bottom 1px solid #dedede
        padding 10px 0
        &:hover
          background-color #f5f5f5
      .active.team_select
        background-image url('/img/icons/ico_07.png')
        background-position 0px 15px
        background-size 30px 30px
        background-repeat no-repeat
    .dl_modal_map_container
      height 300px
      .map_height
        height 300px
    .pen-menu
      height 20px
      line-height 20px
      background-color #efefef
      box-shadow 0 0 0
      z-index auto
      .pen-icon
        height 20px
        line-height 20px !important
        padding 0 5px
        font-size 14px
    .markdownContainer
      outline none
      min-height 100px
      max-height 200px
      overflow-y scroll
      padding 5px
      line-height 1
      border none
  .dl_modal_footer
    background-color #fff
    width 100%
    height 60px
    padding 0 20px 20px
    .dl_modal_btn
      width 100%
      height 100%
      font-size 14px
.dl_form_control
  display block
  width 100%
  min-height 34px
  height auto
  padding 6px 5px
  font-size 12px
  line-height 1.42857143
  color #FFFFFF
  background-color #FFFFFF
  background-image none
  border 1px solid #CCCCCC
  border-radius 0
  color #999999
  float left
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
          transition border-color ease-in-out .15s, box-shadow ease-in-out .15s


.st_bar
  width 800px
  height 400px

.st_pie
  width 1170px
  height 300px

.st_pie_container
  position relative
  .st_pie_label_group
    position absolute
    width 1170px
    bottom 50px
    .st_pie_label
      float left
      width 20%
      text-align center
.no_radius
  border-radius 0
.ng-dirty.ng-invalid
  background-color #FFD7DE !important
