bodyColor = rgba(251, 214, 0, 1)
borderColor = #979797
.clearfix
  &:before
    content ""
    display table
  &:after
    content ""
    display table
    clear both
body
  margin 0
  font-family STHeiti,"Microsoft YaHei",MingLiu,"Helvetica Neue",Helvetica,Arial,sans-serif
header
  padding 10px
  text-align center
  border-bottom 1px solid borderColor
  .nav
    width 700px
    margin 0 auto
    padding-top 8px
    >h1
      float left
      margin 0
      width 200px
      font-size 34px
      line-height 34px
    li
      list-style none
      float left
      width 99px
      border-right 1px solid black
      margin-top 8px
      a
        text-decoration none
        color black
      &:last-child
        width 100px
        border-right none
      &.active
        a
          color rgba(251, 214, 0, 1)
.container
  .intro
    text-align center
    position relative
    margin-top 50px
    img.header
      position absolute
      left 50%
      margin-left -220px
      top 40px
    ol
      width 850px
      margin 30px auto
      line-height 20px
      text-align left
      padding-top 20px
      border-top 1px dashed borderColor
      li
        margin-bottom 40px
        padding-left 65px
        list-style none
        &.one
          background url("/img/about/one.png") no-repeat left top
        &.two
          background url("/img/about/two.png") no-repeat left top
        &.three
          background url("/img/about/three.png") no-repeat left top
  .history
    background-color #2d2f31
    text-align center
    padding 50px
    position relative
    color white
    img
      display block
      margin 0 auto
      &.header
        margin-bottom 20px
    .block
      position absolute
      span
        display block
        line-height 20px
      &.step1
        left 50%
        margin-left -360px
        top 130px
      &.step2
        left 50%
        margin-left -270px
        top 330px
      &.step3
        left 50%
        margin-left -60px
        top 130px
      &.step4
        left 50%
        margin-left 155px
        top 90px
      &.step5
        left 50%
        margin-left 345px
        top 300px
  .family
    text-align center
    padding 50px 0
    img.header
      border-bottom 2px solid bodyColor
      padding-bottom 10px
    .logos
      margin 20px auto 0
      width 60%
      figure
        float left
        width 25%
        margin 0
        margin-bottom 20px
        .logo
          display block
          margin 0 auto 15px
    .join
      width 50%
      margin 0 auto
      border 1px solid borderColor
      padding 30px 30px 30px 60px
      margin-top 60px
      text-align left
      line-height 32px
      .btn
        border 1px solid bodyColor
        float right
        color black
        padding 0 20px
        text-decoration none
footer
  background-color bodyColor
  padding 30px 0
  text-align center
  p
    font-size 12px
  .nav
    width 400px
    margin 0 auto
    &:before
      content ""
      display table
    &:after
      content ""
      display table
      clear both
    li
      list-style none
      float left
      width 99px
      border-right 1px solid black
      a
        text-decoration none
        color black
      &:last-child
        width 100px
        border-right none