@require 'variables'
@require 'tools'

detail_input()
  display inline-block
  width 400px
  height 20px
  line-height 20px
  padding 0 6px
  color #999999
  background-color #fbfbfb
  border-width 1px
  border-style solid
  border-color #d6d6d6 #eeeeee #fbfbfb #eeeeee

.breadcrumb
  margin-bottom 0

.campaign_detail

  .loading
    loading()

  //-公用
  for order in (1..10)
    .order-{order}
      order order
      -webkit-order order

  .campaign_panel
    display flex
    display -webkit-flex
    .component
      margin-bottom 10px
    .panel_divider
      width 20px
    .main_panel
      width 700px
    .side_panel
      display flex
      display -webkit-flex
      flex-flow column
      -webkit-flex-flow column
      width 240px

  .component
    dl_shadow()
    .component_head
      padding 5px 10px
      clearfix()
      height 30px
      background-color themeColor
      .icon_img
        height 14px
        margin 3px 0
      .icon
        color white
        font-size 14px
        line-height 20px
        margin 0
      .op_icon
        cursor pointer
      .title
        color #ffffff
        font-size 14px
        line-height 20px
      .sub_title
        color #ffffff
        font-size 12px
        line-height 20px
        opacity 0.6
      .left
        float left
        margin-left 10px
      .first
        margin-left 0
      .right
        float right
        margin-right 10px
      .last
        margin-right 0
    .component_body
      background-color #fff
      padding 20px
      .text_dark, .text
        margin 0
        font-size 12px
        line-height 18px
      .text_dark
        color #999999
      .text
        color #cccccc
  .progress
    margin 0
    margin-right 10px
    display inline-block
    width 180px
    height 10px
    border-radius 15px
    background-color #525e70
    .progress-bar
      background-color #ffc053
      box-shadow none

  //-左侧
  .base_card
    .component_head
      background-color themeColor
      .count_down_remind
        font-size 12px
    .component_head.competition
      background-color #f48361
    .component_body
      display -webkit-flex
      display flex
      .unit_container
        .unit
          float left
          width 90px
          .logo
            width 70px
            height 70px
            margin-right 20px
          .name
            margin 10px 0 2px
            width 70px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            display inline-block
            line-height 12px
            color #999
            text-align center
      .notice_container
        -webkit-flex 1
        flex 1
        padding 0 20px
        .title
          margin-right 10px
          font-size 14px
          color #e7ce23
        .edit
          height 14px
          cursor pointer
          float none
          display inline-block
        .save
          color #3ca2e0
          cursor pointer
        .cancel
          margin-left 5px
          color #cccccc
          cursor pointer
        .notices
          margin-top 5px
        .notice
          margin 5px 0
        .main_text
          margin 0
          color #999999
          font-size 12px
          line-height 18px
        .date
          font-size 12px
          line-height 18px
        .toggle_fold
          color #3ca2e0
          cursor pointer
        .notice_text
          margin-top 10px
          padding 6px 10px
          width 100%
          height 80px
          color #999999
          background-color #fbfbfb
          border 1px solid #d3dbe6
          font-size 14px
      .operator_container
        width 110px
        text-align right
        .operator_button
          width 70px
          height 30px
          margin-top 20px
          font-size 14px
          color white
          background-color themeColor
          &:first-child
            margin-top 0
        .cancel, .refuse, .quit
          background-color #cccccc
        // .refuse
        //   margin-top 20px
        .access
          background-color #f48361

  .detail_card
    .component_head
      background-color #ffc053
      .save
        color white
        cursor pointer
      .cancel
        color #999999
        cursor pointer
    .campaign_intro
      float left
      width 600px
    .detail_input
      detail_input()
    .tags
      display inline-block
      .tag
        margin 8px 0
        margin-right 5px
        display inline-block
        padding 2px 5px
        border-radius 5px
        color #ffffff
        background-color #b1c6d2
    .deadline_countdown
      color #f48361
    .detail_editing
      margin-bottom -6px
      .span_intro
        line-height 18px
      .detail_editor
        height auto
        padding 0
      .pen-menu
        height 20px
        line-height 20px
        background-color #efefef
        .pen-icon
          height 20px
          line-height 20px !important
          padding 0 5px
      .markdownContainer
        padding 0 5px
        line-height 1
        border none
      .bootstrap-tagsinput
        detail_input()
        .tag
          font-size 12px
          padding 2px 8px
          height 16px
          line-height 20px
          background-color #b1c6d2
        input
          height 15px
      .form_datetime
        width 400px
        .detail_input
          width 380px
        .input-group-addon
          display inline-block
          width 20px
          height 20px
          line-height 20px
          padding 0
          background-color #d6d6d6
          color white
          border none
        .glyphicon
          width 18px
          height 18px
          font-size 12px
      .text_dark
        line-height 30px
      .error
        color #f3939e
        margin-left 60px
      .member_max
        width 30px
      .member_min
        width 30px
      .close_campaign
        float left
        color #f3939e
        cursor pointer
        .icon_close
          margin-right 5px

  .map_card
    .component_head
      background-color #525e70
      .fa-map-marker
        color #fff
    .component_body
      padding 0

  .member_card
    .component_head
      background-color #525e70
    .component_body
      padding-bottom 0
    .member_list
      margin-top 10px
    .member
      margin-right 9px
      margin-bottom 20px
      &:nth-child(5n)
        margin-right 0
    .count
      cursor pointer
      line-height 22px !important


  .brief_card
    .component_head
      background-color #525e70

  .photo_album_card
    position relative
    height 180px
    .photo_wrap
      display block
      position absolute
      width 100%
      height 100%
      background-color rgba(0,0,0,0.2)
      text-align center
      text-decoration none
    .view
      margin-top 74px
      color #fff
    .text
      margin-top 15px
      color white
      font-size 14px

  .modal
    .modal-content
      margin-top 150px
      border-radius 0
    .component
      height 400px
      box-shadow none

  .member_modal
    .modal-content
      .component
        .component_head
          background-color #525e70
        .component_body
          .unit_panel
            clearfix()
            .unit_list
              clearfix()
              display block
              float left
              padding 0
              height 20px
              border-radius 12px
              .unit
                display block
                float left
                padding-left 30px
                padding-right 30px
                font-size 12px
                line-height 20px
                border-bottom 1px solid #ccc
                border-left 1px solid #cccccc
                background-color #fbfbfb
                &:first-child
                  border-left none
                  border-bottom-left-radius 1em
                  border-top-left-radius 1em
                &:last-child
                  border-bottom-right-radius 1em
                  border-top-right-radius 1em
                .tab
                  text-decoration none
                  color #cccccc
                  background-color #fbfbfb
              .unit.active
                background-color #cccccc
                .tab
                  color white
                  background-color #cccccc
          .tab-content
            min-height 0
            margin-top 10px

          .member_list
            clearfix()
            .member
              float left
              margin-bottom 18px
              margin-right 10px
              width 57px
              &:nth-child(8n)
                margin-right 0
              .photo
                width 57px
                height 57px
              .nickname
                display block
                margin-top 10px
                color #cccccc
                font-size 12px
                text-align center
                overflow hidden
                text-overflow ellipsis
                white-space nowrap

  .detail_modal
    .title
      color themeColor
      font-size 14px
    .main_text
      color #999999
      margin 0
      font-size 14px
      line-height 20px
    .component_head
      background-color #525e70
    .component_body
      padding 0 !important
    .base_info
      padding 0 20px 20px
      .info
        clearfix()
        .logo_container
          float left
          .unit
            float left
            margin-right 20px
            width 70px
            .logo
              width 70px
              height 70px
            .main_text
              margin-top 10px
              overflow hidden
              text-align center
              text-overflow ellipsis
              white-space nowrap
              line-height 18px
              color #999
        .campaign_info
          float left
    .more_info
      padding 0 20px 20px
      border-top 1px solid #eee
      .unfold
        margin-top 10px
        font-size 12px
        text-decoration none
      .text_container
        position relative
      .base_content
        max-height 100px
        overflow hidden
      .base_content_gradient
        height 20px
        width 100%
        position absolute
        bottom 0
        cursor pointer
        background -webkit-linear-gradient(top, rgba(255,255,255,0.1), #fff)
        background -moz-linear-gradient(top, transparent, #fff)
        background -o-linear-gradient(top, transparent, #fff)
        background linear-gradient(to bottom, rgba(255,255,255,0.1), #fff)
        -ms-filter unqoute("alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=20) progid:DXImageTransform.Microsoft.gradient(startcolorstr=transparent,endcolorstr=white,gradientType=0)")
        filter unqoute("alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=20) progid:DXImageTransform.Microsoft.gradient(startcolorstr=transparent,endcolorstr=white,gradientType=0)")

      .sub_title
        margin-right 10px
      .tags
        .tag
          margin-right 5px
          display inline-block
          margin-bottom 4px
          padding 2px 14px
          border-radius 5px
          color #ffffff
          background-color #b1c6d2

  .join_modal
    .modal-content
      width 480px
      height 180px
    .component
      height auto
    .component_head
      background-color white
      .icon
        color #cccccc
    .component_body
      padding 0 40px
    .remind
      margin 0
      color #999999
    .unit_box
      width 400px
      margin-top 20px
    .unit
      float left
      width 180px
      height 70px
      margin-bottom 40px
      padding 10px
      background-color #edebec
      border 1px solid #f48361
      border-radius 6px
      &:nth-child(2n)
        margin-left 40px
    .logo
      display block
      float left
      margin-right 10px
      width 50px
      height 50px
    .name
      display block
      float left
      width 98px
      font-size 14px
      line-height 18px
      overflow hidden
      text-align left
      text-overflow ellipsis
      white-space nowrap
    .join
      display block
      float left
      margin-top 8px
      width 98px
      height 24px
      color white
      background-color #999999
      &:hover
        background-color #f48361
