// .invisible_link
//   position absolute
//   width 100%
//   height 100%
//   background-color translate
//   z-index 1

// .operator_btn
//   z-index 2
.dl_campaign_list
  .dl_btn
    margin-top 13px

.campaign_table
  tr:first-child
    td
      border-top none

  tr
    height 60px
    td
      padding-top 9px !important

  .emp_col
    width 20px
  .time_col
    width 74px
    p
      font-size 16px
      margin 0
    .day
      margin-top 4px
      font-size 22px
    .time
      font-size 12px
  .year_col
    width 57px
    padding-right 2px
    .year
      font-size 12px
      padding 8px 0 0 20px
  .logo_col
    width 140px
    padding-right 10px
    .campaign_logo
      width 64px
      height 64px
      margin 3px 0
      margin-left 65px

  .content_col
    p
      margin 0
      line-height 21px
    .theme_text
      margin-left 5px

    .content_text
      margin-left 5px
  .operator_col
    padding 25px !important