.invisible_link
  position absolute
  width 100%
  height 100%
  background-color translate
  z-index 1

.operator_btn
  z-index 2

.campaigns_list
  .operator_btn
    margin 5px
  .campaign_panel
    position relative
    .aside
      margin-right 0
      min-height 70px
    .campaign_container
      width 520px
      float left
      .campaign_logo
        width 60px
        height 60px
        float left
      .campaign_right
        width 460px
        float left
