.dl_detail_container
  width 960px
  min-width 960px
  margin 0 auto
  padding-top 10px
  .dl_detail_main
    width 640px
    float left
    margin-right 30px
    .dl_detail_border
      width 642px
      border 1px solid #ddd
      border-top-color transparent
      padding 20px 10px
      .dl_detail_content
        width 450px
        float left
      .dl_detail_aside
        width 140px
        float right
      .dl_detail_content2
        width 590
        float left
    .dl_detail_member
      width 660px
      float left
      background-color #fbfbfb
      margin 20px -20px
      padding 10px 20px
      .member
        float left
        margin 4px
        .item
          display block
          .img_contain
            display block
          .name
            padding-top 5px
            display block
            width 50px
            text-align center
            display inline-block
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
          


  .dl_detail_side
    width 290px
    float right
    .locationtitle
      margin-top 15px
.border_red
  border-top 3px solid #d12710 !important
.dl_detail_row
  min-width 450px
  min-height 35px
  font-size 14px
  margin-bottom 5px
  .dl_detail_label
    min-width 100px
    padding 10px 20px
    background-color #f1f6fa
    float left
  .dl_detail_detail
    padding 10px 15px
    min-width 322px
    max-width 480px
    float left
    width auto
