@require('variables')
@require('tools')

input()
  padding 6px 10px
  height 30px
  color #cccccc
  background-color #f3fcff
  border solid 1px #d3dbe6
  font-size 14px


.rich_comment
  .component_head
    background-color #97d7c6 !important
    padding-right 15px !important
    .head_button
      width 100px !important
      background-color #74baa7
      .head_button_icon
        margin-right 9px
        height 14px
  .component_body
    padding 0 !important

    .rich_comment_form
      padding 20px
      padding-top 40px
      border-bottom 1px solid #eee

      .comment_control
        display flex
        display -webkit-flex
        .user_photo
          width 30px
          height 30px
        .content
          input()
          margin-left 10px
          flex 1
        .img_selector
          margin-left 10px
          width 30px
          height 30px
          cursor pointer
          background-color #d2e1f1
          text-align center
          .upload_img
            margin-top 7px
            width 20px
        .publish
          margin-left 5px
          padding 0
          width 70px
          height 30px
          color #fff
          background-color #73a5dd
          font-size 14px
          line-height 30px
          &[disabled]
            opacity .65

      .preview_box
        display flex
        display -webkit-flex
        margin-top 5px
        padding-left 40px
        .preview_img_wrap
          position relative
          margin-right 5px
          .close
            display none
            position absolute
            top 0
            right 0
          &:hover
            .close
              display block
    .comment
      padding 20px
      border-bottom 1px solid #eee
      display flex
      display -webkit-flex
      .user_name
        text-decoration none
        color #b1c6d2
      .comment_user_info
        padding-top 3px
        width 40px
        .user_photo
          width 30px
          height 30px
      .comment_content_panel
        flex 1
        -webkit-flex 1
        .comment_content
          word-break break-all
          overflow hidden
          margin-bottom 4px
          .image_box
            margin-top 5px

        .comment_footer
          .text
            font-size 12px
          .operator
            .text
              margin-left 10px
            .reply
              color #73a5dd
            .reply_icon
              margin-right 7px
              height 12px

        .replies
          margin-top 20px
          padding 10px
          background-color #f8f7f7
          .reply_form
            margin-bottom 15px
            display flex
            display -webkit-flex
            .reply_input
              flex 1
              -webkit-flex 1
            .dl_btn_submit
              background-color #73a5dd
          .reply
            clearfix()
            margin 8px 0
            word-break break-all
            .user_name
              margin-right 10px
            .reply_date
              margin-left 10px
            .reply_date
              font-size 12px
            .operator
              float right
              .text
                margin-left 5px
                font-size 12px

    .pager
      margin 0
      padding 20px
      .pagination
        margin 0
      .novisible
        opacity 0
      li>a
        border-radius 0


.simple_comment
  .component_body
    .comment_more
      a
        color themeColor
        text-align center
    .rich_comment_form
      .comment_control
        .content
          margin 0
          background-color #fbfbfb
        .img_selector
          margin 0
        .publish
          margin 0
          background-color #3ca2e0
      .preview_box
        display block
        .remind
          display block
        .preview_img_wrap
          float left
          width 48px
          height 48px
    .comment
      padding 10px
      clear both
      .comment_user_info
        margin-right 10px
        width 30px
      .comment_content_panel
        p
          margin 0
        .comment_content
          .user_name
            max-width 100%
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
          .image_box
            .thumb
              width 200px
              .multi
                width 60px
                height 60px
        .replies
          .reply_form
            margin-bottom 0

.score_board
  .component_head
    background-color #333333 !important
  .component_body
    padding 20px 10px 5px !important
  .score_board_body
    display flex
    display -webkit-flex
    padding 0 20px
    .playing_team_0
      order 1
      -webkit-order 1
    .playing_team_1
      order 3
      -webkit-order 3
    .playing_team
      width 69px
      text-align center
      .team_logo
        width 69px
        height 69px
      .team_name
        font-size 12px !important
        white-space nowrap
        margin 5px 0 !important
        display block
        overflow hidden
        text-overflow ellipsis
      .show_score
        display flex
        display -webkit-flex
        color white
        height 20px
        line-height 20px
        font-size 14px
        text-align center
        .score, .result
          background-color #999999
        .score
          flex 1
          -webkit-flex 1
        .result
          flex 1
          -webkit-flex 1
          margin-left 1px
      .show_score.active
        .score, .result
          background-color #ec6a6a
      .editing
        .score
          width 100%
          margin-bottom 10px
          font-size 12px
          text-align center
          color #ccc
          background-color #fbfbfb
          border solid 1px #ccc
        .results
          clearfix()
          .result
            display block
            float left
            padding 0
            width 23px
            height 20px
            background-color #999999
            color white
            line-height 20px
            font-size 14px
            text-align center
          .result.active
            background-color #ec6a6a
    .vs
      flex 1
      -webkit-flex 1
      order 2
      -webkit-order 2
      padding-top 25px
      text-align center
      font-size 28px
      color #ec6a6a
  .score_board_operator
    margin-top 20px
    padding-right 20px
    clearfix()
    .operator
      float right
      margin-left 5px
      padding 0 10px
      height 20px
      line-height 20px
      color white
      background-color #3ca2e0
      font-size 14px
      text-align center
    .cancel
      background-color #cccccc
  .score_board_footer
    clearfix()
    color #ccc
    margin-top 20px
    .remind_text
      float left
    .getlog
      float right
      cursor pointer
  .logs
    .log
      border-top solid 1px #cccccc
      .title
        margin 0
        margin-top 5px
        color #cccccc
        font-size 12px
        line-height 12px
      .content
        margin 5px 0
        color #cccccc
        font-size 12px
        line-height 14px


.image_box
  .remind
    color #73a5dd
    cursor pointer
  .thumb
    width 350px
    clearfix()
    .multi
      display block
      float left
      margin-bottom 5px
      margin-right 5px
      width 100px
      height 100px
  .preview
    padding 10px
    background-color #f4f4f4
    overflow hidden
    .operator_nav
      clearfix()
      padding-bottom 10px
      .dl_close
        font-size 15px
        .icon_close
          width 15px
          height 15px
    .image_container
      position relative
      .preview_img
        display block
        margin-left auto
        margin-right auto
        max-width 100%
      .operator_wrap
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display -webkit-flex
        display flex
        z-index 1
        .img_pre
          -webkit-flex 1
          flex 1
        .img_small
          -webkit-flex 2
          flex 2
        .img_next
          -webkit-flex 1
          flex 1
    .image_nav
      display -webkit-flex-
      display flex
      margin-top 10px
      .prev, .next
        width 20px
        height 60px
        color white
        background-color #73a5dd
        &:disabled
          background-color #ccc
      .thumb_box
        -webkit-flex 1
        flex 1
        overflow hidden
        .thumb_box_inner
          clearfix()
          width 6000px
          height 60px
          transition margin-left 1s
          -moz-transition margin-left 1s
          -webkit-transition margin-left 1s
          -o-transition margin-left 1s
          .border
            centerImg()
            float left
            width 60px
            height 60px
            &:hover
              border 1px solid #3498db
            .nav_thumb
              width 56px
              height 56px
          .border.active
            border 1px solid #3498db





