@require('variables')
.signup_row
  padding-top 95px
  .center
    width 775px
    margin auto
    .invite_block
      width 480px
      padding-top 50px
      .add_domain
        margin-top 50px
        .add_domain_div
          margin 5px
      .index_link
        margin-top 15px
  .block
    width 455px
    float left
    .signup_title
      font-size 28px
      font-size 28px
      margin-bottom 43px
      line-height 1
    .signup_tips
      font-size 16px
      margin-bottom 40px
      line-height 1
      .tip_number
        font-size 24px
      .tip_large
        font-size 20px
        color #3498db
      a
        color #3ca2e0
        text-decoration underline
    .personal_title
      color #3ca2e0
    .company_title
      color redBtnColor
    .dl_tip
      float left
      margin-left 10px
      margin-top 8px
      width 400px
      color #f00
  .block_left
    margin-right 50px
  .notification_block
    width 270px
  .signup_block
    border-radius 8px
    border 2px solid redBtnColor
    padding 38px
    .form-group.has-error
      input.ng-invalid
        box-shadow 0 0px 1px 1px pink
    .dl_sm_group
      .dl_row
        min-height 45px
        padding 5px 0
      .label_left
        width 84px
        float left
        text-align right
        min-height 20px
        color #a1a1a1
      .input_right
        width 290px
        float left
        margin-left 15px
        .dl-form-control
          border 0
          border-radius 2px 2px 0 0
          box-shadow 0 -1px 1px #d9d9d9
        .department_select_width
          width 127px
        .input_email
          width 45%
          float left
        .select_domain
          width 45%
          float right
        .at
          padding 9px 5px
          font-size 14px
          float left
        .arecode_container
          width 60px
          float left
          margin-right 10px
        .number_container
          width 140px
          float left
          margin-right 10px
        .extention_container
          width 70px
          float left
      .email_check
        width 250px
        .pass
          border 1px solid #3ca2e0
        .error
          border 1px solid redBtnColor
      .email_tips
        float left
        width 50px
        .inactive
          color redBtnColor
          padding 8px 15px
          font-size 14px
        .active
          color #3ca2e0
          padding 8px 15px
          font-size 14px
      .input_right.select_right,.select_right_2
        .select_box
          width 90px
          float left
          margin-right 10px
          select
            width 90px
            outline 0
        .select_box[last_child]
          margin-right 0
      .select_right_2
        .select_box
          width 140px
          select
            width 140px
      .service_tip
        margin-left 15px
        float left
        height 62px
        padding 25px 0 15px
        font-size 14px
        a
          color redBtnColor
      .btn_submit
        width 100%
        height 40px !important
        background-color redBtnColor
      .center_container
        width 350px
        text-align center
        .center_content
          margin 0 auto
          width 150px
      .email_tip
        float right
        text-align right
      
      #email_host
        width 142px
      #email_domain
        width 100px
      .apply_info
        h2
          font-weight normal
        p
          color gray
      .btn_return
        margin-top 30px
        width 140px
        border none
        padding 10px

  .personal_signup
    border 2px solid #3ca2e0
    .signup_tips
      margin-top -7px
    .search_companies
      position relative
      .search_input
        border 1px solid #3ca2e0
        border-radius 5px !important
      .search_button
        position absolute
        right 0
        top 4px
        color #3ca2e0
        font-size 20px
        background-color transparent
      .dl_tip
        margin-left 0
        color #999
    .select_companies
      line-height 1
      margin-top 30px
      color #a1a1a1
      a
        color redBtnColor
      .companies
        margin 20px 0 30px
      .select_company,.change_page
        border-radius 5px
        padding 8px 10px
        border 1px solid #3ca2e0
        color #3ca2e0
        background-color #fff
        &:hover
          background-color #3ca2e0
          color #fff
      .select_company
        margin-right 2px
      .change_page
        margin-bottom 10px
    .dl_sm_group
      .btn_submit
        background-color #3ca2e0
    a
      color #3ca2e0
  .block.activation
    width 700px
    .invite_key_container
      margin-top 160px
      width 300px
      .invite_key
        height 50px
        width 270px
        border 0
        border-radius 3px 3px 0 0
        box-shadow 0 -1px 1px #d9d9d9
        text-align center
        font-size 18px
      .invite_button
        width 270px
        height 50px
        margin-top 25px
        border-radius 3px
        background-color #3ca2e0
        color #fff
        box-shadow 0px 3px 3px 3px #e0e0e0
        font-size 20px
        &:hover
          box-shadow 0 0 0 0
  .signin
    .control-label
      text-align right
    .show_signup, .reset_pwd
      margin-left 5px
.signup_phone
  min-height 100%
  background-color #46aaf5
  .signup_header
    width 100%
    padding 5px 10px
    .logo
      width 70%
      margin-left 10%
      margin-top 20px
      max-width 337px

  .signup_step_one ,.signup_step_three
    width 100%
    min-height 80%
    //- height 100%
    .input_box
      width 100%
      margin 5% auto 0
      padding 0 5%
      max-width 539px
      .board
        background-image url('/img/signup/dl_signup_board.gif')
        background-size contain
        background-repeat no-repeat
        padding 32% 10%
        input
          border-radius 5px
          width 90%
          height 40px
          display block
          margin auto
          border 1px solid #eee
          font-size 14px
          padding 2px 10px
          color #b2b2b2
        .search
          width 90px
          height 34px
          float right
          margin-right 5%
          background-image url('/img/signup/dl_signup_search.png')
          background-size contain
          background-color transparent
          background-repeat no-repeat
          margin-top 7%
    .signup_bottom
      width 100%
      min-height 265px
      margin-top 5%
      .signup_cloud
        width 55%
        max-width 367px
        float right
        margin-right 5%
  //- .signup_step_one
  //-   .input_box
  //-     input
  //-       background-image url('/img/signup/dl_signup_input.png')
  //-       background-repeat no-repeat
  //-       background-size 132px 13px
  //-       background-position 10px 10px
  //-     input.ng-dirty.ng-valid
  //-         background-image none
  &.step_1
    background-image url('/img/signup/dl_signup_man.gif')
    background-size 128px 234.5px
    background-repeat no-repeat
    background-position bottom left
  &.step_2 ,&.step_8
    background-color #FFD54B
  .signup_step_two ,.signup_step_eight
    width 100%
    min-height 450px
    background-image url('/img/signup/dl_signup_paper.gif')
    background-size 241.5px 338.5px
    background-repeat no-repeat
    background-position-y 25px
    background-position-x center
    .board
      width 241.5px
      padding 50px 15px 0
      margin auto
      .fa-reply
        margin-left 30px
        position absolute
        color #fff
        font-size 20px
    .signup_bottom_2 ,.signup_bottom_3
      background-image url('/img/signup/dl_signup_bg_2.png')
      background-size cover
      background-repeat no-repeat
      height 161px
      width 293.5px
      margin auto
      padding-top 10px
      .notfound
        width 116px
        margin-left 53px
        margin-top 13px
      .organize
        width 120px
        height 40px
        float right
        background-color transparent
  .signup_step_two
    .board
      .search_title
        width 121.5px
      .companies
        margin-top 30px
        height 200px
        position relative
        .company
          width 100%
          margin-bottom 12px
          padding 8px 5px
          border-radius 5px
          background-color #fff
          color #666
          font-size 14px
          .cname
            float left
            width 92%
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
          .fa
            color #ccc
            margin-top 3px
          .text
            width 95%
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
        .prePage, .nextPage
          color #fff
          position absolute
          bottom 0
        .nextPage
          right 0
  &.step_3
    background-color #ef6767
    background-image url('/img/signup/dl_signup_bg_3.gif')
    background-size 320px 568px
    background-repeat repeat
    .signup_step_three
      .input_box
        margin auto
        padding 0 8%
        .board
          background-image url('/img/signup/dl_signup_board_2.gif')
          padding 40% 10%
          form
            background-color #fff
          input
            background-image none
            margin-bottom 6%
            background-color #f2f5ea
          p
            width 90%
            margin auto
          .email
            background-color #eee
          .form-group
            width 90%
            margin 0 auto 6%
            .select_cover
              width 32%
              background-image url('/img/signup/dl_select_triangle.png')
              background-size 10.5px 9px
              background-position-x 93%
              background-position-y 12px
              background-repeat no-repeat
              background-color #f2f5ea
              margin-right 1.5%
              overflow hidden
              border-radius 5px
              border 1px solid #eee
              float left
              height 34px
              select
                width 120%
                height 34px
                border 0
                background-image none
                background-color transparent
                color #b2b2b2
            .select_cover[last-child]
              margin-right 0
            button
              border-radius 5px
              padding 7px 10px
              width 48%
          .next_step
            float right
            margin-right 5%
            width 85px
            height 34px
            border-radius 5px

      .signup_bottom
        background-image url('/img/signup/dl_signup_woman.gif')
        background-size 200.5px 208.5px
        background-repeat no-repeat
        background-position bottom left
        margin-top -10%
    .signup_step_three.isAndroid .input_box .board .form-group .select_cover
      padding 8px 0 8px 8px
      height auto
    .signup_step_three.isQQBrowser .input_box .board .form-group .select_cover
      padding 0
      border 0
      select
        width 100%

  &.step_4
    background-image url('/img/signup/dl_signup_paper_plane.gif')
    background-size 118.5px 77.5px
    background-repeat no-repeat
    background-position-x 95%
    background-position-y 10px
  .select_line
    margin-top 5px
    // border-bottom 1px solid #fff
    .left
      float left
      width 5%
      height 3px
      background-color #fff
    .middle
      margin-top 1px
      float left
      width 90%
      height 1px
      background-color #fff
    .right
      float right
      width 5%
      height 3px
      background-color #fff
  .signup_step_four
    width 100%
    // background-position-y 25px
    // background-position-x center
    .board
      margin 30px 10%
      .fa-hand-o-right
        color #fff
        float left
        font-size 16px
        margin-right 5px
      .select_label
        color #fff
        font-size 16px
        font-weight normal
      .signup_button
        clear both
        .sinup_team_button
          float right
          width 64px
          height 30px
          font-size 16px
          margin-top 10px
          margin-bottom 20px
          border-radius 3px
          padding 2px 16px
          background-color #94cd3e
          color white
      .groups
        width 256px
        clear both
        margin 0px auto
        .group
          float left
          text-align center
          cursor pointer
          .img_contain
            width 50px
            height 50px
            background-image url('/img/signup/dl_signup_groups.png')
            background-repeat no-repeat
            background-size 240px 240px
            margin 10px 7px
            padding 0px
            // border 1px solid #ccc
          for i in 0..16
            .group_{i+1}
              background-position i%4 * -60px + 9px floor(i/4) * -60px + 8px
          .group_3
            background-position -111px 10px
          .group_5
            background-position 3px -52px
          .group_4
            background-position -177px 10px
          .group_6
            background-position -53px -52px
          .group_8
            background-position -168px -52px
          .group_9
            background-position 3px -108px
          .group_15
            background-position -113px -172px
          .shadow
            margin -10px auto 0px
            width 35px
            height 5px
            background #3788c7
            border-radius 100%
            &.active
              background #46aaf5
          label
            color white
            font-size 12px
          &.active
            color #94cd3e
            .img_contain
              border 1px solid white
              border-radius 100%
              box-shadow  0 1px 1px rgba(0,0,0,0.1)
      .sinup_team_button
        float right
        margin-top 8px
        margin-bottom 20px
        border-radius 3px
        padding 2px 16px
        background-color #94cd3e
        color white
  &.step_6
    background-color #fe8915
    .signup_step_six
      .board
        width 100%
        max-width 585px
        //- min-height 656px
        padding-bottom 75%
        background-image url('/img/signup/dl_signup_graph.gif')
        background-repeat no-repeat
        background-size contain
        margin auto
        margin-top 10%
        padding-left 20%
        .board_content
          padding 26% 10px 30px 65px
          text-align center
          img
            width 100%
            display block
            margin auto
          .signin
            max-width 345px
          .nomail
            max-width 220px
          .resend
            width 50%
            max-width 80px
            margin-top 10px
  &.step_5
    background-image url('/img/signup/dl_signup_bg_5.png')
    background-size cover
    background-color #32bde5
    .signup_step_five
      width 100%
      .board
        margin 45px auto
        width 240px
        height 280px
        background-image url('/img/signup/dl_signup_box_5.png')
        background-size 240px 280px
        background-repeat no-repeat
        .board_content
          width 100%
          padding 20px 20%
          height 100%
          font-size 16px
          text-align center
          .email_tip
            text-align center
            color #666
            padding 10px 0
            margin 0
          .signup_success
            width 100%
          .email_link
            display inline-block
            background-color #f5c421
            width 100%
            color white
            border-radius 5px
            height 40px
            line-height 40px
            font-size 18px
            box-shadow 2px 2px 2px #999
            .fa
              float right
              line-height 40px
              padding-right 10px
  &.step_7
    background-color #2cc3c7
    background-image url('/img/signup/dl_signup_sun.gif')
    background-repeat no-repeat
    background-size 212.5px 78.5px
    background-position 90% 30px
  .signup_step_seven
    width 100%
    .board
      margin 14px auto 0
      width 95%
      min-width 305px
      min-height 430px
      padding 10% 0 20%
      background-image url('/img/signup/dl_signup_input_box.png')
      background-size contain
      background-position center
      background-repeat no-repeat
      .company_input_box
        width 50%
        min-width 260px
        max-width 370px
        margin auto
        .signup_container
          margin-top 3%
          clear both
          .sinup_label
            width 30%
            padding 6px
            float left
            label
              float right
              font-size 14px
              color #ccc
              font-weight 100
          .sinup_company_name, .sinup_company_email
            float right
            padding 7px 0px
            font-size 14px
            width 70%
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
          .sinup_input
            float right
            width 70%
            input
              border-radius 5px
              width 90%
              height 34px
              display block
              border 1px solid #eee
              font-size 14px
              background-color #f3f7eb
              padding 0px 5px
              color #b2b2b2
            a 
              color #2cc3c7
            .signup_button
              border-radius 5px
              width 150px
              height 30px
              font-size 14px
              color #fff
              background-color #2cc3c7
              &:disabled
                opacity .65
          .key_tips
            float right
            position relative
            margin-right 25px
            margin-top -25px
            .active
              color #3ca2e0
            .inactive
              color #f48361
        .signup_container.company_name
          margin-top 5px
          line-height 1
    .signup_bottom
      background-image url('/img/signup/dl_signup_dog.gif')
      min-height 120px
      width 60%
      min-width 320px
      margin auto
      background-size contain
      background-repeat no-repeat
      background-position-x center
  .signup_step_eight
    .board
      text-align center
      .fa-reply
        float right
        margin-right 40px
        position initial
      .board_content
        height 140px
        width 100%
        margin-top 40px
        float left
        .not_found
          color #fff
          font-size 16px
          margin auto
          margin-bottom 15px
        .select_line
          margin auto
        .organize_btn
          border-radius 5px
          width 80%
          height 42px
          margin auto
          font-size 18px
          margin-top 15px
          color #fff
          box-shadow 2px 2px 2px rgba(0, 0, 0, 0.3)
          background-color #94cd3e
    .signup_bottom_3
      background-image url('/img/signup/dl_signup_bg_4.png')
      width 299.5px
      height 199.5px
.active_success
  width 556px
  height 438px
  border 3px solid #f5ab95
  border-radius 10px
  margin 90px auto
  .active_success_info
    position relative
    margin-top 81px
    margin-left 41px
    font-size 24px
    span
      float left
    i
      position absolute
      margin-left 16px
      font-size 80px
      color #f5ab95
      top -40px
  .active_success_operator
    height 2px
    margin 27px 41px
    background-color #f5ab95
  .active_success_download_info
    position relative
    margin-top 17px
    margin-left 41px
    font-size 24px
  .active_success_download_qrcodes
    width 120px
    margin 30px auto
    
