@require('variables')

.competition_content
  margin-top 20px
  .dl_score
    width 90px
    height 50px
    font-size 30px
    line-height 120%
    color black
  .dl_score_colon
    font-size 30px
    text-align center
    line-height 100%
    padding 0
    color black
  .score_left
    text-align right
    padding 0
  .score_right
    text-align left
    padding 0
  .dl_left
    margin-left -30px
  .img_contain
    height 384px
    background-image url('/img/football.jpg')
    .formatField
      position relative
      padding 0
      height 334px
      margin 25px
      .teamMember
        position absolute
  .team_logo
    width 120px
    height 120px
    border solid 1px #ccc
  .team_member_logo
    width 40px
    height 40px
  .teamMember[draggable=true]
    cursor move
  // .donler_dragover
  //   webkitTransform otate(-45deg)
  //   MozTransform rotate(-45deg)
  //   msTransform rotate(-45deg)
  //   OTransform rotate(-45deg)
  //   transform rotate(-45deg)
.side
  .dl_detail_row
    min-width 300px
    min-height 35px
    font-size 12px
    margin-bottom 5px
    .dl_detail_label
      min-width 70px
      padding 5px 10px
      background-color #f1f6fa
      float left
    .dl_detail_detail
      padding 5px 10px
      min-width 200px
      max-width 480px
      width 200px
      float left
      word-break break-all
      white-space normal