.signup_row
    padding-top 120px

.block_left
  margin-top 50px
  width 340px
  float left
  h1
    font-family "KaiTi", "STKaiti", "BiauKai"
    font-size 50px
    margin-bottom 40px

.block_right
  width 380px
  margin-left 200px
  float left
  .label_left
    width 95px
    float left
    text-align right
  .input_right
    width 260px
    float left
    margin-left 10px
    .department_select_width
      width 127px
    .input_email
      width 45%
      float left
    .select_domain
      width 45%
      float right
    .at
      padding 9px 5px
      font-size 14px
      float left
  .center_container
    width 350px
    text-align center
    .center_content
      margin 0 auto
      width 150px
.email_tip
  float right
  text-align right
.btn_submit
  width 100%
  height 40px !important

#province, #city, #region
  width 85px

#lindline_areacodes
  width 70px

#lindline_number
  width 90px

#lindline_extension
  width 70px

#email_host
  width 142px

#email_domain
  width 100px

.apply_info
  h2
    font-weight normal
  p
    color gray

.btn_return
  margin-top 30px
  width 140px
  border none
  padding 10px

.invite_block
  width 480px
  padding-top 50px
  .add_domain
    margin-top 50px
    .add_domain_div
      margin 5px
  .index_link
    margin-top 15px


.arecode_container
  width 60px
  float left
.number_container
  width 90px
  float left
.-container
  width 14px
  float left
  margin-left 5px
body
  background-image url('/img/sign_bg.jpg')
  background-size cover
