// base on alertify.default.css
buttonColor = #3498DB
buttonHoverColor = #2980B9

.alertify
  border-radius 0
  border solid 1px #e5e5e5
  box-shadow none

button()
  margin 0
  border none
  border-radius 0
  line-height 1
  position relative
  font-size 12px
  text-align center
  vertical-align middle
  display inline-block
  text-shadow none
  box-shadow none
  background-image none
  &:disabled
    opacity 0.65

.alertify-buttons
  .alertify-button-ok
    button()
    color #fff
    background-color buttonColor
    &:hover
      background-color buttonHoverColor

  .alertify-button-cancel
    button()
    color black
    background-color #e5e5e5
    &:hover
      color white
      background-color #ea6060