.calendar_box
  margin-top 20px

.calendar_title
  margin-top 5px

.cal-day-inmonth
  span[data-cal-date]
    opacity 1

.cal-day-weekend
  span[data-cal-date]
    opacity 0.5

.cal-day-outmonth
  span[data-cal-date]
    opacity 1
    color #aaa

.cal-cell1
  small
    span
      margin-right 0

logoLink()
  background none
  width 27px
  height 27px
  box-shadow none
  border-radius none
  border none

.events-list
  max-height 60px
  overflow hidden
  .event.event-info
    logoLink()

#cal-slide-content
  .custom_calendar_li
    margin-bottom 5px

.cal-month-day
  .join_sign
    margin-top 5px
    margin-left 5px
    width 16px
    height 16px

  .day
    margin-top 5px
    margin-right 5px
  .month
    margin-top 5px
    margin-right 5px

#cal-slide-content
  .event-item
    position relative
    .join_sign
      position absolute
      left 0px
      top -1px
      width 16px
      height 16px

  .event_list_logo
    margin-left 24px

// schedule_list partials style

.view_type
  a, span
    margin-left 3px
    font-size 20px

.schedule_type
  margin-top 3px
  margin-left 24px
  a, span
    margin-left 3px

.calendar_nav
  margin-top 3px
  a
    margin-left 5px
