borderColor = #ddd

//- calendar style
.cal-day-inmonth
  span[data-cal-date]
    opacity 1

.cal-day-weekend
  span[data-cal-date]
    opacity 0.5

.cal-day-outmonth
  span[data-cal-date]
    opacity 1
    color #aaa

.cal-cell1
  small
    span
      margin-right 0

.cal-context
  .cal-row-head
    .cal-cell1
      font-weight normal

logoLink()
  background none
  width 27px
  height 27px
  box-shadow none
  border-radius none
  border none

.cal-month-box
  border 1px solid borderColor
.cal-year-box-small [class*="span"],
.cal-month-box-small [class*="cal-cell"]
  min-height 50px

.cal-year-box .row-fluid,
.cal-month-box .cal-row-fluid
  border-bottom 1px solid borderColor

.cal-year-box [class*="span"],
.cal-month-box [class*="cal-cell"]
  border-right 1px solid borderColor

.events-list
  max-height 60px
  overflow hidden
  .event.event-info
    logoLink()

#cal-slide-content
  .custom_calendar_li
    margin-bottom 5px

.cal-month-day
  //- .join_sign
  //-   margin-top 5px
  //-   margin-left 5px
  //-   width 16px
  //-   height 16px
  .join_sign
    margin 10px
    width 6px
    height 6px
    border-radius 100%
    background-color #3498db
    float left

  .day
    margin-top 5px
    margin-right 5px
  .month
    margin-top 5px
    margin-right 5px

.cal-month-day-small
  height 50px

#cal-slide-content
  .event-item
    position relative
    //- .join_sign
    //-   position absolute
    //-   left 0px
    //-   top -1px
    //-   width 16px
    //-   height 16px
    .join_sign
      margin 9px
      width 6px
      height 6px
      border-radius 100%
      background-color #3498db
      float left
    .un_join_sign
      margin 9px
      width 6px
      height 6px
      float left

  //- .event_list_logo
  //-   margin-left 24px

#cal-week-box
  cursor default


//- teampage calendar
.team_calendar_box
  word-break normal !important
  .calendar_back
    cursor pointer

  .calendar_title
    margin-top 0
    margin-left 5px

  .cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"]
    min-height 60px

  span[data-cal-date]
    cursor default

  .cal-month-day
    height 60px

  .events-list
    padding-left 0
    bottom 5px
    left 5px

  .events-list .event.event-info
    margin 3px
    width 6px
    height 6px

    .join_sign
      margin 0
      background-color #aaa
//-for both teampage and personal page
#cal-slide-content
  padding 10px 5px
  box-shadow none
  border-bottom solid 1px borderColor
  background-image none
  background-color #f1f1f1
  &:hover
    background-color #f1f1f1

  .custom_calendar_li
    margin-bottom 0

    .join_sign
      margin 8px
      background-color #aaa

//- schedule_list partials style
.calendar_box
  margin-top 0
  .dl_campaign_list
    border 0px

.calendar_title
  margin-top 5px
  font-weight normal

.view_type
  a, span
    margin-left 3px

.schedule_type
  a, span
    margin-left 3px

.view_type, .schedule_type
  .active
    color #aaa

.calendar_nav
  a
    margin-left 5px

.events-list
  .event
    margin 0
    img
      width 20px
      height 20px
      margin-left auto
      margin-right auto
      display block
#cal-slide-content
  a.event-item
    color #666

#cal-week-box
  opacity 0
