borderColor = #ddd

//- calendar style
.cal-day-inmonth
  span[data-cal-date]
    opacity 1

.cal-day-weekend
  span[data-cal-date]
    opacity 0.5

.cal-day-outmonth
  span[data-cal-date]
    opacity 1
    color #aaa

.cal-cell1
  small
    span
      margin-right 0
.cal-context
  .cal-row-head
    .cal-cell1
      font-weight normal

logoLink()
  background none
  width 27px
  height 27px
  box-shadow none
  border-radius none
  border none

.cal-month-box
  border 1px solid borderColor
.cal-year-box-small [class*="span"],
.cal-month-box-small [class*="cal-cell"]
  min-height 30px

.cal-year-box .row-fluid,
.cal-month-box .cal-row-fluid
  border-bottom 1px solid borderColor

.cal-year-box [class*="span"],
.cal-month-box [class*="cal-cell"]
  border-right 1px solid borderColor

.events-list
  max-height 60px
  overflow hidden
  .event.event-info
    logoLink()

#cal-slide-content
  .custom_calendar_li
    margin-bottom 5px

.cal-month-day
  cursor pointer
  .join_sign
    margin 10px
    width 6px
    height 6px
    border-radius 100%
    background-color #3498db
    float left


  .day
    margin-top 5px
    margin-right 5px
  .month
    margin-top 5px
    margin-right 5px

.calendar_box
  .cal-context
    div
      border none
    .cal-row-head
      border-bottom 1px solid #CCC
      [class*='cal-cell1']
        padding 1px 0
    .joined
      background none
      color navbarFontColor
    .cal-month-box
      .cal-day-today
        span[data-cal-date]
          font-size 1.2em
          background-color #F58464
          border-radius 100%
      // .cal-month-day
      .cal-day-inmonth.cal-month-day-small
        &.length_3
          border 1px solid #3ca2e0
          background-color #3ca2e0
        &.length_2
          border 1px solid #6cb8e7
          background-color #6cb8e7
        &.length_1
          border 1px solid #a6d6f4
          background-color #a6d6f4
      .cal-month-day-small
        height 31px
        border-bottom 1px solid #fff
        &.cal-day-inmonth:hover
          border 1px solid #525E70
        //- .join_sign
        //-   margin 0 10px
        //-   width 14px
        //-   height 13px
        //-   color #ffff
        //-   background-color #3498db
        //-   text-align center
        //-   float right
        //-   border-radius 0
        //-   font-size 10px
        //-   font-family Arial
        //-   line-height 14px
        span[data-cal-date]
          width 21px
          height 21px
          text-align center
          margin 5px
          color #fff
          font-size 12px
          line-height 23px

.calendar_box_small
  .cal-row-fluid 
    .cal-cell1
      width 34px
      &[data-cal-row="-day7"]
        width 35px
      &[data-cal-row="-day1"]
        width 35px
#cal-slide-content
  .event-item
    position relative
    //- .join_sign
    //-   position absolute
    //-   left 0px
    //-   top -1px
    //-   width 16px
    //-   height 16px
    .join_sign
      margin 9px
      width 6px
      height 6px
      border-radius 100%
      background-color #3498db
      float left
    .un_join_sign
      margin 9px
      width 6px
      height 6px
      float left

  //- .event_list_logo
  //-   margin-left 24px

#cal-week-box
  cursor default


//- teampage calendar
.team_calendar_box
  word-break normal !important
  .calendar_back
    cursor pointer

  .calendar_title
    margin-top 0
    margin-left 5px

  .cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"]
    min-height 60px

  span[data-cal-date]
    cursor default

  .cal-month-day
    height 60px

  .events-list
    padding-left 0
    bottom 5px
    left 5px

  .events-list .event.event-info
    margin 3px
    width 6px
    height 6px

    .join_sign
      margin 0
      background-color #aaa

.teampage
  .calendar_card
    .cal-context
      div
        border none
      .joined
        background none
        color navbarFontColor
      .cal-row-head
        height 18px
        background-color #fbfbfb
        border-top 2px solid #efefef
        border-bottom 1px solid #efefef
        box-sizing content-box
        .cal-cell1
          height 20px
          line-height 20px
          padding 0
      .cal-month-box
        .cal-row-fluid
          height 30px
          margin-top 1px
        .cal-cell
          width (100/7)%
          min-height 0
        .cal-month-day.cal-day-today
          padding 5px
          .day
            display block
            margin auto
            width 20px
            height 20px
            line-height 22px
            background-color #F58464
            border-radius 100%
        .cal-month-day
          height 30px
          line-height 32px
          text-align center
          .day
            text-align center
            margin 0
            color #fff
            font-size 12px
            float none !important
        .cal-day-inmonth.cal-month-day
          &.length_3
            background-color #3ca2e0
          &.length_2
            background-color #8dc5e8
          &.length_1
            background-color #a7d6f2

//-for both teampage and personal page
#cal-slide-content
  padding 10px 5px
  box-shadow none
  border-bottom solid 1px borderColor
  background-image none
  background-color #f1f1f1
  max-height 190px
  overflow-y auto
  &:hover
    background-color #f1f1f1

  .custom_calendar_li
    margin-bottom 0

    .join_sign
      margin 8px
      background-color #aaa

//- schedule_list partials style
.calendar_box
  margin-top 0
  .dl_campaign_list
    border 0px

.calendar_title
  margin-top 5px
  font-weight normal

.view_type
  a, span
    margin-left 3px

.schedule_type
  a, span
    margin-left 3px

.view_type, .schedule_type
  .active
    color #aaa

.calendar_nav
  a
    margin-left 5px

.events-list
  .event
    margin 0
    img
      width 20px
      height 20px
      margin-left auto
      margin-right auto
      display block
#cal-slide-content
  a.event-item
    color #666

#cal-week-box
  opacity 0
