@require('variables')

.img_container
  display table
  table-layout fixed
  overflow hidden
  width 150px
  height 150px

.img_frame
  width 150px
  height 150px
  border solid 1px gray
  box-sizing content-box
  vertical-align middle
  display table-cell

  .jcrop_img
    max-height 100%
  .jcrop-holder
    margin-left auto
    margin-right auto

.logo_panel
  float left

.logo_big
  width 150px

  .preview
    width 150px
    height 150px
    overflow hidden

.logo_middle
  margin-left 40px
  padding-top 100px
  width 70px

  .preview
    width 50px
    height 50px
    overflow hidden

.logo_small
  margin-left 30px
  padding-top 123px
  width 70px

  .preview
    width 27px
    height 27px
    overflow hidden

.preview
  border solid 1px gray

.high_light_title
  color #5d5d75
  font-size 16px

.text
  color #9a9a9a

.size_text
  margin-top 10px

.right_aside
  margin-top 30px
  padding-top 70px
  padding-left 50px
  border-left solid 1px #e6e6e6
  height 600px

label.dl_btn
  margin-bottom 0