@require('variables')
messageBackgroundColor = #F7F7F7

.group_head
	margin-top 50px
	margin-bottom 50px
.group
	padding 0
	.group
		cursor pointer
	input
		display none
.select_div
	background-color white
	margin 80px 80px
	row
		margin 0
.field
	padding 0
	margin 0
.formatField
	position relative
	.teamMember
		position absolute
		z-index 100
.message_content
	background-color messageBackgroundColor
.triangle
	position absolute
	top 50%
	height 0px
	width 0px
	margin-left -20px
	border-width 10px
	border-style solid
	border-color transparent messageBackgroundColor transparent transparent
.message_label
	margin 10px
.datepicker.dropdown-menu
	width 250px
	height 270px
	button
		outline 0
		border 0
		border-radius 4px !important
	tbody
		height 180px
		button
			padding 6px
	.datepicker-mode-1 tbody button,.datepicker-mode-2 tbody button
		height 65px
.timepicker.dropdown-menu
	padding:0 4px
	button
		outline 0
		border 0
		border-radius 4px !important
	tbody button
		padding 6px
.group.inactive
	cursor pointer
	.group_1
		background-image url('/img/icons/group/badminton_off.png')
		background-repeat no-repeat
	.group_2
		background-image url('/img/icons/group/basketball_off.png')
		background-repeat no-repeat
	.group_3
		background-image url('/img/icons/group/reading_off.png')
		background-repeat no-repeat
	.group_4
		background-image url('/img/icons/group/bicycle_off.png')
		background-repeat no-repeat
	.group_5
		background-image url('/img/icons/group/afternoontea_off.png')
		background-repeat no-repeat
	.group_6
		background-image url('/img/icons/group/chess_off.png')
		background-repeat no-repeat
	.group_7
		background-image url('/img/icons/group/football_off.png')
		background-repeat no-repeat
	.group_8
		background-image url('/img/icons/group/ktv_off.png')
		background-repeat no-repeat
	.group_9
		background-image url('/img/icons/group/fitness_off.png')
		background-repeat no-repeat
	.group_10
		background-image url('/img/icons/group/food_off.png')
		background-repeat no-repeat
	.group_11
		background-image url('/img/icons/group/running_off.png')
		background-repeat no-repeat
	.group_12
		background-image url('/img/icons/group/kids_off.png')
		background-repeat no-repeat
	.group_13
		background-image url('/img/icons/group/movie_off.png')
		background-repeat no-repeat
	.group_14
		background-image url('/img/icons/group/photography_off.png')
		background-repeat no-repeat
	.group_15
		background-image url('/img/icons/group/travel_off.png')
		background-repeat no-repeat
	.group_16
		background-image url('/img/icons/group/boardgame_off.png')
		background-repeat no-repeat
	.group_17
		background-image url('/img/icons/group/other_off.png')
		background-repeat no-repeat
.group.active
	cursor default
	color themeColor
	.group_1
		background-image url('/img/icons/group/badminton_on.png')
		background-repeat no-repeat
	.group_2
		background-image url('/img/icons/group/basketball_on.png')
		background-repeat no-repeat
	.group_3
		background-image url('/img/icons/group/reading_on.png')
		background-repeat no-repeat
	.group_4
		background-image url('/img/icons/group/bicycle_on.png')
		background-repeat no-repeat
	.group_5
		background-image url('/img/icons/group/afternoontea_on.png')
		background-repeat no-repeat
	.group_6
		background-image url('/img/icons/group/chess_on.png')
		background-repeat no-repeat
	.group_7
		background-image url('/img/icons/group/football_on.png')
		background-repeat no-repeat
	.group_8
		background-image url('/img/icons/group/ktv_on.png')
		background-repeat no-repeat
	.group_9
		background-image url('/img/icons/group/fitness_on.png')
		background-repeat no-repeat
	.group_10
		background-image url('/img/icons/group/food_on.png')
		background-repeat no-repeat
	.group_11
		background-image url('/img/icons/group/running_on.png')
		background-repeat no-repeat
	.group_12
		background-image url('/img/icons/group/kids_on.png')
		background-repeat no-repeat
	.group_13
		background-image url('/img/icons/group/movie_on.png')
		background-repeat no-repeat
	.group_14
		background-image url('/img/icons/group/photography_on.png')
		background-repeat no-repeat
	.group_15
		background-image url('/img/icons/group/travel_on.png')
		background-repeat no-repeat
	.group_16
		background-image url('/img/icons/group/boardgame_on.png')
		background-repeat no-repeat
	.group_17
		background-image url('/img/icons/group/other_on.png')
		background-repeat no-repeat
.group_select
	.img_contain
		padding 80px 0 10px
		background-repeat no-repeat
		text-align center
		cursor pointer
