@require('variables')
messageBackgroundColor = #F7F7F7

.group_head
	margin-top 50px
	margin-bottom 24px
.group
	padding 0
	.group
		cursor pointer
	input
		display none
	.leader
		cursor pointer
	.img_div
		position relative
		width 48px
		height 48px
		.img
			position absolute
			left 0
			top 0
.text_container
	.text
		color #9a9a9a
.select_div
	background-color white
	margin 80px 80px
	row
		margin 0
.field
	padding 0
	margin 0
.formatField
	position relative
	.teamMember
		position absolute
		z-index 100
.message_content
	background-color messageBackgroundColor
.triangle
	position absolute
	top 50%
	height 0px
	width 0px
	margin-left -20px
	border-width 10px
	border-style solid
	border-color transparent messageBackgroundColor transparent transparent
.datepicker.dropdown-menu
	width 250px
	height 270px
	button
		outline 0
		border 0
		border-radius 4px !important
	tbody
		height 180px
		button
			padding 6px
	.datepicker-mode-1 tbody button,.datepicker-mode-2 tbody button
		height 65px
.timepicker.dropdown-menu
	padding 0 4px
	button
		outline 0
		border 0
		border-radius 4px !important
	tbody button
		padding 6px
.group
	cursor pointer
	&.active
		color #3ca2e0
	.img_contain
		width 50px
		height 50px
		background-image url('/img/icons/groups_new.png')
		background-repeat no-repeat
		background-size 600px 1500px
		padding 80px 0 20px
	.group_1
		background-position 0px 0px
	.group_2
		background-position -100px 0px
	.group_3
		background-position -200px 0px
	.group_4
		background-position -300px 0px
	.group_5
		background-position -400px 0px
	.group_6
		background-position -500px 0px
	.group_7
		background-position 0px -100px
	.group_8
		background-position -100px -100px
	.group_9
		background-position -200px -100px
	.group_10
		background-position -300px -100px
	.group_11
		background-position -400px -100px
	.group_12
		background-position -500px -100px
	.group_13
		background-position 0px -200px
	.group_14
		background-position -100px -200px
	.group_15
		background-position -200px -200px
	.group_16
		background-position -300px -200px
	.group_17
		background-position -400px -200px