body
  margin 0
  background-color #232637
.swiper-container
  width 100%
  height 100%
  margin auto
  .page_1
    background-color #232637
    background-image url('/img/introduce/bg_1.png')
    background-size cover
    position relative
    text-align center
    .bubble
      width 90px
      height 47px
      background-image url('/img/introduce/bubble_white.png')
      background-size cover
      position absolute
      top 84px
      left 50%
      margin-left 45px
      .warm
        width 57px
        margin-top 10px
    .school ,.campus
      position relative
      margin auto
    .school
      width 268px
      margin-top 140px
    .campus
      width 203px
      margin-top 10px
  .page_2
    background radial-gradient(200px,#E2D5D5,#70B4D6,#55b4e3)
    background -webkit-radial-gradient(200px,#E2D5D5,#70B4D6,#55b4e3)
    position relative
    img
      position absolute
    .cloud_left
      width 87px
      top 194px
    .cloud_right
      width 133px
      top 170px
      right 0
    .cloud_up
      width 196px
      right 0
    .sun
      width 320px
      top 194px
      left 50%
      margin-left -160px
    .buildings
      width 100%
      bottom 0
    .boy
      max-width 535px
      max-height 90%
      bottom 0
      left 50%
      margin-left -267px
  .page_3
    background radial-gradient(200px,#999FBB,#6B78B1,#3C4C94)
    background -webkit-radial-gradient(200px,#999FBB,#6B78B1,#3C4C94)
    .boy_cry
      width 299px

