@require('variables')

contentBgColor = #fbfbfb
contentBdColor = #ededed


.photo_album

  // common style

  .breadcrumb
    background-color backgroundColor

  .header_logo
    width 50px
    height 50px
    vertical-align middle
    margin-right 10px

  .relative
    position relative

  .right_down
    position absolute
    right 0
    bottom 0

  .text
    color #9a9a9a

  // photo_album_detail page
  .operator
    padding-top 15px

  .photo
    position relative
    float left
    margin-left 53px
    margin-bottom 53px
    background url('/img/loading.gif') center center no-repeat
    border 1px solid #ddd
    &:nth-child(4n+1)
      margin-left 0
    width 200px
    height 200px
    &:hover
      .photo_name
        opacity 0.8
    .photo_name
      opacity 0
      position absolute
      bottom 0
      margin 0
      line-height 2
      padding 0 7px
      width 100%
      background-color rgba(0, 0, 0, 0.4)
      color white
      text-decoration none


  // photo_detail page

  .left
    position absolute
    top 0
    left 0

  .right
    position absolute
    top 0
    right 0

  .tag
    &:after
      content '、'
    &:last-child
      &:after
        content ''


  .comment_panel
    margin-top 20px

  .comment_textarea
    height 60px
    background-color contentBgColor
    border-color contentBdColor
    border-radius 0


  .comment
    position relative
    margin-top 20px

    .comment_user_info
      float left

      .user_photo
        width 50px
        height 50px

      .user_name
        text-decoration none

    .comment_content_panel
      float left
      margin-left 20px

      .comment_content
        padding 10px
        background-color contentBgColor
        border solid 1px contentBdColor
        width 450px
        min-height 50px

  .triangle
    position absolute
    top 16px
    height 0px
    width 0px
    margin-left -19px
    border-width 10px
    border-style solid
    border-color transparent contentBgColor transparent transparent

  .triangle_border
    position absolute
    top 15px
    height 0px
    width 0px
    margin-left -21px
    border-width 11px
    border-style solid
    border-color transparent contentBdColor transparent transparent

  .photo_operator_form
    margin-bottom 5px

    .edit_photo_input
      margin-bottom 5px
      background-color contentBgColor
      border-color contentBdColor
      border-radius 0

  .photo_detail_container
    margin-bottom 30px

  .photo_ori
    max-height 500px


  // photo_album_list page

  .photo_album_panel
    display block
    width 202px
    border solid 1px contentBdColor
    text-decoration none

  .update_info
    width 202px
    margin-top 10px
    .update_user_photo
      float left
      width 36px
      height 36px
      margin-left 5px
      margin-right 10px

    .update_user_name
      display block
      color #5b6272
      margin-bottom 1px


  .create_form
    margin-top 30px

  .photo_album_list_wrap
    margin-top 20px

  .photo_album_container
    margin-bottom 40px

    .photo_album_thumbnail
      width 200px
      height 200px

    .photo_album_name
      max-width 120px
      line-height 1
      display inline-block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap



  // thumbnail of group, campaign, competetion pages
  .thumbnail_cell
    display inline-block
    width 120px
    height 120px
    &:nth-child(2n)
      margin-left 20px

    .thumbnail_img
      width 120px
      height 120px

    .thumbnail_name
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

