.search_opponents
  .head_container
    .headline
      height 30px
      width 100%
      background-color #f48361
    .my_teams
      .unit
        float left
        .logo
          width 100px
          height 100px
        .text
          width 100px
        .button
          width 100px
    .selected_team
      .my_team
        .logo
          width 50px
          height 50px
        .button
          float right
  .tab_view
    width 100%