.search_opponents
  color #999
  //-通用按钮
  .button
    height 30px
    width 100px
    color #fff
    text-align center
    background-color #3ca2e0
    padding 10px
    line-height 1
  .button.btn_small
    width 60px
  .button.btn_red
    background-color #f48361

  .head_container
    background-color #fff
    border 1px solid #eee
    border-bottom 0
    .headline
      height 30px
      width 100%
      background-color #f48361
      color #fff
      line-height 1
      font-size 14px
      padding 10px 20px
    .my_teams
      margin 20px
      .select
        margin-bottom 15px
        font-size 14px
      .units
        background-color #fbfbfb
        max-height 300px
        padding 10px
        overflow auto
        .unit
          float left
          text-align center
          width 120px
          padding 10px 10px 15px
          &:hover
            background-color #edebec
          .logo
            width 100px
            height 100px
          .text
            text-align center
            .title
              width 100px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
              padding 10px 0
              line-height 1
              font-size 14px
              float left
            .type
              width 100px
              margin-bottom 10px
              float left
    .selected_team
      padding 10px 20px
      line-height 1
      .my_team
        .logo
          width 50px
          height 50px
          float left
        .text
          width 700px
          padding-left 20px
          float left
          .tname
            width 100%
            height 25px
            float left
          .type
            float left
            width 70px
            color #666
          .leader
            float left
        .button
          float right
  .tab_view
    width 100%
    background-color #fff
    .opponnet_tab_style
      width 320px
      height 40px
      color #fff
      float left
      text-align center
      a
        color #fff
        font-size 14px
      .nav_img
        width 23px
        height 20px
        margin-right 20px
    .nearbyTeam
      .nav_img
        width 16px
    .search
      padding 5px
      a
        padding 0
      .searchOpponentInput
        height 30px
        background-color #19bdc7
        width 280px
        border-radius 5px
        border 0
        padding 8px 10px
        color #fff
      .search_button
        height 20px
        width 20px
        position absolute
        right 20px
        top 5px
        background-image url('/img/icons/search_o.png')
        background-size 20px 20px
        background-repeat no-repeat
        background-color transparent
  .unactive
    .opponnet_tab_style
      background-color #ccc !important
    .opponnet_tab_style.nearbyTeam
      background-color #afafaf !important
  .active
    .nearbyTeam
      background-color #afafaf
    .sameCity
      background-color #fec053
      a
        &:hover
          background-color #fec053
    .nearbyTeam
      background-color #3ca2e0
      a
        &:hover
          background-color #3ca2e0
    .search
      background-color #43d3dc
      a
        &:hover
          background-color #43d3dc
    .result
      margin 20px
      background-color #fff
      min-height 400px
      //-通用
      .text
        float left
        .title
          font-size 14px
          color #666
          width 100%
          float left
          line-height 1
        .content
          width 100%
          float left
      .homecourt
        padding-bottom 10px
        .text
          width 200px
          .title
            color #999
            cursor pointer
            padding-bottom 10px
          .title.active
            color #666
        .button
          float right
      .homecourtSetting
        .title
          font-size 14px
          margin-bottom 25px
        .court
          width 100%
          .text
            width 60px
          .input
            float left
            width 790px
            input
              padding 0 10px
              width 100%
              height 30px
              color #cccccc
              background-color #fbfbfb
              border 1px solid #d3dbe6
              font-size 14px
            .homecourtMap
              width 100%
              height 200px
              margin 20px 0
      .map
        float left
        .fullMap
          width 570px
          height 620px
      .teamlist
        background-color #efefef
        float left
        width 350px
        height 620px
        .teams
          height 570px
          .map_head
            height 30px
            background-color #ccc
            width 100%
            padding 10px 20px
            line-height 1
            span
              cursor pointer
              color #fff
          .headline
            height 50px
            width 100%
            padding 20px
            font-size 14px
            line-height 1
          .team.selected
            background-color #fbfbfb
            border-left 1px solid #efefef
          .team
            width 100%
            float left
            padding 10px 20px
            height 50px
            cursor pointer
            .logo
              width 30px
              height 30px
              float left
            .text
              width 245px
              padding 0 10px
              .title
                margin-bottom 3px
        .page_nav
          width 350px
          padding 20px
          border-top 1px solid #ccc
          ul
            float right
            li
              float left
              a
                color #999
                padding 0 5px
            .active
              a
                color #3ca2e0

      .detail
        background-color #fbfbfb
        padding 20px
        float left
        width 570px
        height 620px
        .detailHead
          width 100%
          padding-bottom 20px
          border-bottom 1px solid #ccc
          .logo
            float left
            width 70px
            height 70px
          .text
            width 380px
            padding 0 20px
            .title
              margin-bottom 5px
          .buttons
            float left
            width 60px
            .button
              margin-bottom 10px
        .detailContent
          width 100%
          margin-left 70px
          padding 20px
          .block
            margin-bottom 30px
            .title
              float left
              color #666
              width 100px
            .text
              width 270px

