bodyColor = rgba(251, 214, 0, 1)
html
  font-family STHeiti,"Microsoft YaHei",MingLiu,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size 12px
  line-height 18px
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide 
    display none !important
header
  background-color bodyColor
  height 25px
  padding 10px
  font-size 16px
  .nav
    width 320px
    text-align center
    margin 0 auto
    li
      float left
      width 100px
      border-right
      a
        text-decoration none
        color black
        font-size 14px
body
  margin 0
  section
    padding 10px
