bodyColor = rgba(251, 214, 0, 1)
@keyframes bottom2top
  from
    bottom -100px
  to
    bottom 20px
@keyframes left2right
  from
    left -400px
  to
    left 15px
@keyframes right2left
  from
    right -400px
  to
    right 25px
@keyframes left2right2
  from
    margin-left -1000px
  to
    margin-left -550px
@keyframes right2left2
  from
     margin-right -1000px
  to
     margin-right -570px
@keyframes left2right3
  from
    left -10%
  to
    left 25%
@keyframes rotate
  from
     transform rotate(-30deg)
    -ms-transform rotate(-30deg)  /* IE 9 */
    -webkit-transform rotate(-30deg) /* Safari 和 Chrome */
    -o-transform rotate(-30deg) /* Opera */
    -moz-transform rotate(-30deg) /* Firefox */
  to
     transform rotate(0)
    -ms-transform rotate(0)  /* IE 9 */
    -webkit-transform rotate(0) /* Safari 和 Chrome */
    -o-transform rotate(0) /* Opera */
    -moz-transform rotate(0) /* Firefox */
@keyframes scalebig
  from
    transform scale(0.1)
    -ms-transform scale(0.1)  /* IE 9 */
    -webkit-transform scale(0.1) /* Safari 和 Chrome */
    -o-transform scale(0.1) /* Opera */
    -moz-transform scale(0.1) /* Firefox */
  to
    transform scale(1)
    -ms-transform scale(1)  /* IE 9 */
    -webkit-transform scale(1) /* Safari 和 Chrome */
    -o-transform scale(1) /* Opera */
    -moz-transform scale(1) /* Firefox */
animation(name,time)
  animation name time
  /* Firefox: */
  -moz-animation name time
  /* Safari and Chrome: */
  -webkit-animation name time
  /* Opera: */
  -o-animation name time
body
  margin 0
header
  background-color bodyColor
  padding 10px
  height 700px
  position relative
  .nav
    width 400px
    text-align center
    margin 0 auto
    &:before
      content ""
      display table
    &:after
      content ""
      display table
      clear both
    li
      list-style none
      float left
      width 99px
      border-right 1px solid black
      a
        text-decoration none
        color black
      &:last-child
        width 100px
        border-right none
  .img
    position absolute
    &.phone
      bottom -2px
      left 50%
    &.logo
      left 25%
      top 10%
      animation(left2right3,1s)
    &.slogan
      left 25%
      top 35%
      animation(left2right3,1s)
  .download
    position absolute
    left 25%
    bottom 20px
    width 320px
    height 125px
    animation(bottom2top,1s)
    .qrcode
      width 125px
      height 125px
    .ios, .android
      width 180px
      height 50px
    .ios
      position absolute
      left 140px
      top 0
    .android
      position absolute
      left 140px
      top 75px
footer
  background-color bodyColor
  padding 30px 10px
  text-align center
  p
    font-size 12px
  .nav
    width 400px
    margin 0 auto
    &:before
      content ""
      display table
    &:after
      content ""
      display table
      clear both
    li
      list-style none
      float left
      width 99px
      border-right 1px solid black
      a
        text-decoration none
        color black
      &:last-child
        width 100px
        border-right none
.container
  >section
    text-align center
    background -webkit-linear-gradient(top,#FFF,#FFF 95%,#F8F8F8)
    background -moz-linear-gradient(top,#fff,#fff 95%,#f8f8f8)
    background -o-linear-gradient(top,#fff,#fff 95%,#f8f8f8)
    background -ms-linear-gradient(top,#fff,#fff 95%,#f8f8f8)
    background linear-gradient(to bottom,#FFF,#FFF 95%,#F8F8F8)
    h1
      font-size 32px
    p 
      font-size 22px
    ul
      width 300px
      line-height 20px
      margin 0 auto
      font-size 18px
      text-align left
      margin-bottom 30px
      color bodyColor
      li
        .content
          font-size 12px
          color black
    &.new_student
      img.img
        width 20%
        &.center
          position relative
          bottom -2px
        &.left
          position relative
          bottom 90px
          left 15px
          animation(left2right,1s)
        &.right
          position relative
          bottom 70px
          right 25px
          animation(right2left,1s)
    &.team
      position relative
      .center
        position relative
        bottom -2px
      img.img
        position absolute
        &.left1
          top 160px
          left 50%
          margin-left -550px
          animation(left2right2,1s)
        &.left2
          top 247px
          left 50%
          margin-left -543px
          animation(scalebig,1s)
        &.right1
          top 400px
          right 50%
          margin-right -570px
          animation(right2left2,1s)
        &.right2
          top 450px
          right 50%
          margin-right -430px
          animation(scalebig,1s)
    &.rank
      position relative
      img.center1
        position absolute
        left 50%
        margin-left -294px
        top 160px
        animation(rotate,1s)
    &.question
      img.img
        width 20%
        &.center
          position relative
          bottom -2px
        &.left
          position relative
          bottom 100px
          right 30px
          animation(right2left,1s)
        &.right
          position relative
          bottom 100px
          left 30px
          animation(left2right,1s)