@require('variables')
@require('tools')

.header
  width 100%
  background-color themeColor
  height 40px
  padding 5px 10px
.app_download
  background-color #FFF
  .download_title
    padding 10px 0
    font-size 2rem
    margin 0
  .download_filter
    background-color contentBdColor
    font-size 1.5rem
    padding 5px
  .download_list
    margin 0
    padding 0
    .list
      list-style none
      margin 0
      border-bottom 1px solid secondaryfontColor
      line-height 30px
      padding 5px 10px
      font-size 1.5rem
.registerpage_phone
  margin 10px
  padding 10px
  background-color #FFF
  
  .signup_title
    text-align center
    font-size 2rem
    color buttonColor
    border-bottom 2px solid buttonColor
    height 30px
  .btn_submit
    width 100%
  .dl_select
    border-radius 4px
    color #555
    background-color #FFF
    background-image none
    border 1px solid #CCC
  .select_right
    .select_box
      float left
      width 33%
      .dl_select
        width 100%
  .email_row
    .email_row_email
      display inline-block
      width 47%
    .email_row_split
      display inline-block
      width 4%
      text-align center
.phone_footer
  padding 10px
  text-align center