@require 'variables'
@require 'tools'

.teampage
  clearfix()
  .main_panel
    float left
    padding-top 4px
    width 860px
  .side_panel
    float right
    width 60px

  .team_row
    clearfix()
    margin-bottom 20px

    .team_col
      float left
      width 420px
      &:last-child
        margin-left 20px

  .card
    background-color white
    box-shadow 3px 3px 3px #ddd


  .info_card
    height 230px
    .team_info
      clearfix()
      height 160px
      padding-top 20px
      .logo_box
        float left
        width 160px
        .logo
          width 120px
          height 120px
          margin-left 20px
      .info_box
        float left
        width 260px
        padding-right 10px
        .main_text
          color #999999
        .text
          color #cccccc
        .name
          margin 0
          font-size 16px
          color #666666
        .team_type
          margin 0
          margin-top 14px
        .create_time
          margin 0
        .intro
          margin 0
          margin-top 6px
          height 51px
          overflow hidden
          font-size 12px
          line-height 17px

    .operator
      height 70px
      padding 20px
      padding-right 10px
      border-top 1px solid #efefef
      text-align center
      .op_button
        width 92px
        height 30px
        margin-left 4px
        padding 0
        color white
        background-color themeColor
        font-size 14px
        line-height 30px
        &:first-child
          margin-left 0
      .button_blue
        background-color #3ca2e0
      .button_red
        background-color #f48361
      .button_gray
        background-color #cccccc

  .member_card
    height 100px
    margin-top 10px
    .members
      clearfix()
      .member
        display block
        float left
        width 60px
        height 60px

  .home_court_card
    // temp style
    height 260px
    overflow hidden
    .map_size
      responsiveImg()

  .calendar_card
    // temp style
    height 260px
    overflow hidden

