@require('variables')
@require('tools')

.teampage
  clearfix()
  .main_panel
    float left
    padding-top 4px
    width 865px
  .side_panel
    float right
    width 60px

  .team_row
    clearfix()
    margin-bottom 20px

    .team_col
      float left
      width 425px
      &:last-child
        margin-left 15px

  .card
    background-color white
    box-shadow 3px 3px 3px #ddd


  .info_card
    height 230px
    .team_info
      clearfix()
      height 160px
      .logo_box
        float left
        width 160px
        .logo
          width 120px
          height 120px
          margin-top 20px
          margin-left 20px
      .info_box
        float left
    .operator
      height 70px
      padding 20px
      padding-right 0
      .op_button
        width 92px
        height 30px
        margin-left 5px
        padding 0
        color white
        background-color themeColor
        font-size 14px
        line-height 30px
        &:first-child
          margin-left 0

  .member_card
    .members
      clearfix()
      .member
        display block
        float left
        width 60px
        height 60px

  .home_court_card
    // temp style
    height 250px
    overflow hidden
    .map_size
      responsiveImg()

  .calendar_card
    // temp style
    height 250px
    overflow hidden

