clearfix()
  &:before, &:after
    display table
    content " "
  &:after
    clear both

responsiveImg()
  display block
  max-width 100%

loading()
  background url(/img/loading.gif) center center no-repeat

centerImg()
  display block
  text-align center
  white-space nowrap
  &:after
    display inline-block
    height 100%
    vertical-align middle
    content " "
  img
    vertical-align middle