@require('variables')
@require('tools')


campaignContainer(color)
  .container_head
    color color
    border-top 2px solid color
    img.head_arrow
      background-color color
  .campaign
    .day_col,.time_col,.status_col
      color color
  .campaign_detail
    .day_col,.time_col
      background-color color
      color white
    .triangle_col
      border-color transparent transparent transparent color


//用户首页
.user_page
  .dl_nav
    position fixed
    width 100%
    z-index 50
  .dl_container
    label
      font-weight normal
    .main
      width 700px
      margin-right 20px
      margin-top 50px
      .timeline_control
        width 60px
        position fixed
        left 50%
        margin-left 415px
        top 70px
        .control_year
          border-left 6px solid #CCD3E1
          padding-left 6px
          margin-bottom 10px
          font-size 18px
          color #CCD3E1
          cursor pointer
          &:hover
            border-left 6px solid #ccc
            color #ccc
          .control_month
            margin-left 10px
            text-align center
            a
              color #CCD3E1
              font-size 14px
        .active_year
          color #3ba3e0
          border-left 6px solid #3ba3e0
          &:hover
            color #3ba3e0
            border-left 6px solid #3ba3e0
          a.active_month
            color #3ba3e0
      .dl_info_container
        background-color #fff
        width 865px
        margin-top 10px
        dl_shadow()
        .info_left
          float left
          width 15%
        .info_right
          float left
          width 80%
        .show_more
          float left
          width 5%
          font-weight border
          color #3ba3e0
        .label_info
          color themeColor
          font-size 14px
          margin-right 53px
        .team
          float left
          margin-right 13px
          width 60px
          a
            .team_logo
              width 56px
              height 56px
            .team_name
              margin-top 10px
              margin-bottom 0
              text-align center
              max-width 100%
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
        .info_container
          float left
          width 37%
          padding 20px
          color #999
          height 100%
          .dl_row
            min-height 20px
            label
              margin 0
            .nickname
              color themeColor
              font-size 18px
            .introduce
              max-width 100%
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
            .register_date
              color #f4f4f4
          .user_logo
            width 100px
            height 100px
        .logo_container
          width 22%
        .base_info
          border-right 1px solid #f4f4f4
      .base_info_container
        height 140px
      .team_info_container
        padding 20px
      .self_info_container
        background-image url('/img/self_back.png')
        background-size cover
        position relative
        padding 28px 0 20px 82px
        color #fff
        .self_logo_container
          width 110px
          .user_logo
            border-radius 100%
            border 3px solid #FFF
            width 88px
            height 88px
            margin 0 10px
          .nickname
            text-align center
            width 110px
            padding-top 11px
            font-size 16px
          a.back_container
            span
              color #fff
              font-size 12px
              margin-top 6px
            .back
              background-image url('/img/icons/backarrow.png')
              background-size cover
              width 23px
              height 15px
              display inline-block
            .back_btn
              margin-left 10px
              height 20px
              line-height 15px
              display inline-block
              vertical-align middle
        .self_right_container
          position absolute
          bottom 22px
          font-size 14px

        .campaign_count
          right 200px
          .campaign_num
            margin 0 5px
            font-size 20px
        .photo_count
          right 20px
      #user_modal
        .modal-dialog
          width 900px
          .dl-modal
            width 900px
            .tab-body
              min-height 10px
              .dl_card_tebcontent
                border none
              .dl_timeline
                width 590px
              .recent_unjoin
                color themeColor
              .recent_join
                color #009999
              .dl_campaign_list
                border none
                .campaign_head
                  height 34px
                  line-height 24px
                  font-size 18px
                  margin 0 -35px
                  padding 0 20px
                  border-bottom 1px solid borderColor
                .campaigns_content
                  max-height 600px
                  overflow-y auto
                  .campaign_table
                    .time_col
                      width 60px
                      color #999999
                    .user_logo_col
                      width 83px
                    .year_col
                      .campaign_logo
                        width 30px
                        height 30px
                        margin 8px auto
                        background-color themeColor
                    .content_col
                      .campaign_detail
                        margin-left -100px
                        margin-right -90px
                        padding-left 100px
                        padding-right 90px
                        background-color #fbfbfb
                        width 650px
                        .content_text
                          max-width 100%
                          overflow hidden
                          text-overflow ellipsis
                          white-space nowrap
                          padding 5px 0
                          margin-left 0
                        .tags
                          margin 5px 0
                          padding 5px 0
                          .tag
                            background-color #c2d3e7
                            color #fff
                            display inline
                            margin-right 10px
                            padding 5px
                        .member_text
                          .progress_text
                            float left
                            width 80px
                            line-height 20px
                          .progress_num
                            float left
                            width 60px
                            line-height 20px
                            margin 0 10px
                          .progress
                            float left
                            width 100px
                            height 14px
                            margin 3px 10px
                            border-radius 15px
                            background-color #4b6f97

                            .progress-bar
                              background-color #97d7c6
                              box-shadow none
                          .max_num
                            color #009999
                        .time_text
                          clear both
                          padding 5px 0
                          .rest_time
                            color #009999
                            font-size 14px
                            margin 10px
                    .operator_col
                      width 100px
                      .dl_btn
                        margin-right 30px
              .recent_comment
                .campaign_head
                  color #8DD4E6
                .campaign_table
                  .content_col
                    width 75%
                    .theme_container
                      font-size 14px
                      color #9a9a9a
                    .time_container
                      font-size 12px
                      color #dedede
                      .time_text
                        margin 0 10px
                    .comment_container
                      font-size 14px
                      color #8DD4E6
                  .operator_col
                    padding-right 0
                    .dl_btn
                      margin-right 0
      .campaign_table
        .time_col
          padding 0
      .campaign_filter
        width 110px
        position fixed
        margin-right 19px
        margin-top 5px
        background-color #ffffff
        dl_shadow()
        border-radius 2px
        padding-top 10px
        left 50%
        margin-left -481px
        ul
          padding-left 0
          li
            line-height 25px
            cursor pointer
            list-style none
            position relative
            padding-left 25px
            &:before
              content ''
              position absolute
              width 5px
              height 5px
              left 12px
              top 9px
              border-radius 100%
            &:hover
              background-color #efefef
              .fileter_info
                color #666
            .fileter_info
              color #999
            .campaign_num
              float right
              margin-right 10px
          .recent_all
            color #666
            &:before
              background-color #666
          .recent_unjoin
            color #f48361
            &:before
              background-color #f48361
          .recent_join
            color #3ca2df
            &:before
              background-color #3ca2df
          .recent_competition
            color #ffc053
            &:before
              background-color #ffc053
          .recent_now
            color #13adb6
            &:before
              background-color #13adb6
      .campaigns_container
        width 570px
        float right
        .user_campaigns_container
          background-color #ffffff
          float left
          margin-top 4px
          margin-bottom 10px
          dl_shadow()
          border-radius 2px
          width 100%
          .container_head
            cursor pointer
            height 39px
            line-height 18px
            font-size 14px
            padding 10px 6px 0 20px
            .campaign_count
              float right
              margin-right 4px
            .fa
              margin-right 5px
            img.head_arrow
              height 10px
              width 10px
              margin-right 4px
              margin-top 4px
              float right
            .span_rotate
              transform rotate(-90deg)
              -moz-transform rotate(-90deg)
              -o-transform rotate(-90deg)
          .no_campaign
            width 100%
            height 300px
            background-size cover
            position relative
          .campaign
            clear both
            color #999
            border-top 1px solid #ccc
            .campaign_head
              float left
              width 100%
              padding-top 5px
              &:hover
                background-color #fbfbfb
                .icon_bgrarrow
                  opacity 0.65
              .day_col
                float left
                font-size 24px
                width 50px
                p
                  margin 0
              .time_col
                float left
                width 26px
                p
                  margin 0
                  line-height 12px
              .logo_col
                float left
                .campaign_logo
                  width 30px
                  height 30px
                  float left
                  margin-right 4px
              .content_col
                float left
                max-width 300px
                font-size 12px
                color #b1b1b1
                p
                  max-width 100%
                  line-height 16px
                  margin 0
                  .theme_text
                    color #666
                    font-size 14px
              .operator_col
                float right
                margin-right 20px
                margin-top 11px
              .status_col
                float right
                height 100%
                font-size 18px
                padding-right 20px
                padding-top 8px
                margin-bottom 20px
            .photos
              float left
              .photo
                float left
                width 86px
                height 86px
                background url("/img/loading.gif") center center no-repeat
                display inline-block
                margin-right 0
                cursor pointer
              .photos_1
                .photo_0
                  width 570px
                  height 300px
              .photos_2
                .photo_0
                  width 282px
                  height 200px
                  float left
                  margin-right 6px
                .photo_1
                  width 282px
                  height 200px
                  float left
              .photos_3
                .photo_0
                  width 282px
                  height 305px
                  margin-left 5px
                  float right
                .photo_1, .photo_2
                  width 282px
                  height 150px
                  float right
                .photo_1
                  margin-bottom 5px
              .photos_4
                .photo_0,.photo_3
                  width 235px
                  height 170px
                  float left
                .photo_1, .photo_2
                  width 330px
                  height 170px
                  float left
                .photo_0,.photo_2
                  margin-right 5px
                .photo_0,.photo_1
                  margin-bottom 5px
              // .odd
              //   width 36%
              // .single
              //   width 95%
            .comments
              clear both
              background-color #fbfbfb
              min-height 25px
              a.comment_num
                color #999
                padding 3px 18px 4px 0
                width 100%
                text-align right
                &:hover
                  background-color #eceded
                .reply_icon
                  margin-right 15px
          .campaign_base
            height 51px
            .campaign_head
              .day_col
                padding-top 13px
                padding-left 10px
              .time_col
                padding-top 10px
                width 50px
              .logo_col
                padding-left 10px
                padding-top 5px
              .content_col
                padding 6px 11px
                p
                  overflow hidden
                  text-overflow ellipsis
                  white-space nowrap
          .campaign_detail
            padding-bottom 0
            padding-top 0
            float left
            width 100%
            .campaign_head
              padding-top 15px
              .triangle_col
                float left
                border-style solid
                border-width 16px
                height 0
                width 0
              .day_col,.time_col
                padding 5px 0 3px 0
                line-height 100%
                width 40px
                margin-bottom 20px
              .logo_col
                padding-top 0
                padding-left 0
                margin-bottom 20px
              .content_col
                padding 0
                max-width 265px
                padding-left 10px
                margin-bottom 20px
                max-width 240px
                a
                  p
                    word-wrap break-word
                    word-break break-all
              .status_col
                float right
                height 100%
                font-size 18px
                padding-right 20px
                padding-top 8px
                margin-bottom 20px
                .dl_btn
                  margin-left 5px
                .btn_red
                  background-color #F48361
                .btn_cancel
                  background-color #999
                .select_item
                  color black
                p
                  margin 0
                  line-height 12px
        .recent_unjoin
          campaignContainer(#f48361)
          .no_campaign
            background-image url('/img/no_new_campaign.png')
            .no_campaign_tip
              position absolute
              bottom 32px
              left 65px
              font-size 14px
              p
                margin 6px 1px
                .dl_btn
                  border-radius 5px
                  padding 7px 11px
                .tip_info
                  padding-left 11px
        .recent_join
          campaignContainer(#3ca2df)
          .no_campaign
            background-image url('/img/no_recent_campaign.png')
        .recent_competition
          campaignContainer(#ffc053)
          .no_campaign
            background-image url('/img/no_competition.png')
            .no_campaign_tip
              position absolute
              top 217px
              left 275px
              font-size 14px
              p
                margin 6px 1px
                .dl_btn
                  border-radius 5px
                  background-color #F48361
                  margin-left 4px
                  padding 7px 17px
                .tip_info
                  padding-left 11px
        .recent_now
          campaignContainer(#13adb6)
          .no_campaign
            background-image url('/img/no_now_campaign.png')
        .card_campaign
          background-color initial
          box-shadow none
          margin-bottom 0
          .container_head,.campaign
            background-color #fff
            margin-bottom 10px
            dl_shadow()
        
    .side
      padding-top 45px
      width 240px
      // position fixed
      // left 50%
      // margin-left 240px
      .fullparent
        width 100%
        height 100%
        display inline-block
      .icon_backtop
        visibility hidden
        cursor pointer
        width 30px
        height 40px
        background-image url('/img/icons/rocket.png')
        &.affix
          bottom 70px 
          left 50%
          margin-left 500px
          visibility visible
      .old_campaign_container
        height 30px
        color #ffffff
        line-height 20px
        font-size 18px
        padding 5px
        margin-bottom 10px
        clear both
        border-radius 2px
        width 240px
        dl_shadow()
        &.commentCampaign
          background-color #525E70
          &.affix
            top 60px
            &.affix_leader
              top 100px
          &:hover
            background-color #4a5567
          .label_info
            margin-left 13px
          .news_count
            font-size 14px
            margin-top 1px
            margin-right 4px
            float right
            .fa
              margin-left 9px
              font-size 16px
        &.timeline_container
          background-image url('/img/timeline_bg.png')
          background-size cover
          &.affix
            top 100px
            &.affix_leader
              top 140px
          .fa
            margin-right 5px
            font-size 28px
            line-height 20px
          .footprint
            background-image url('/img/icons/footprint.png')
            margin 2px 12px 0 4px
        label
          font-size 14px
          color #ffffff
          text-align center
          cursor pointer
        .icon_right
          margin-right 3px
        .full_parent
          display inline-block
      .sponsor_container
        height 30px
        color #ffffff
        line-height 20px
        font-size 14px
        padding 6px
        float left
        width 118px
        margin-bottom 10px
        border-radius 2px
        dl_shadow()
        &:hover
          .dl_icons
            opacity 0.65
        a
          color #ffffff
        &.sponsor
          background-color #3ca2e0
          margin-right 4px
          &.affix
            top 60px
          &:hover
            background-color #398fc3
        &.provoke
          background-color #f48361
          padding-left 6px
          &.affix
            top 60px
            left 50%
            margin-left 360px
          &:hover
            background-color #da7659
        label
          margin-left 12px
          cursor pointer
      .groupsbox
        width 100%
      .infobox
        background-color #525E70
        margin-top 10px
        margin-bottom 10px
        height 98px
        border-radius 2px
        dl_shadow()
        .head_title
          color #fff
          padding 8px
          font-size 14px
          line-height 12px
          .label_info
            margin 1px 0px 0px 7px
          .icon_container
            float right
            width 40x
            height 100%
            margin -8px
            &:hover
              background-color #444e5e
        .info
          clear both
          .info_left
            float left
            padding 10px
            margin-bottom 10px
            background-color #fff
            .user_logo
              width 50px
              height 50px
          .info_right
            float left
            padding 10px
            padding-left 15px
            font-size 12px
            width 170px
            height 70px
            background-color #fff
            label
              margin-bottom 0
            .username
              color themeColor
              font-size 16px
              min-width 63px
            .score_label
              color #edca3c
            .score
              color #ccc
            .info_row
              a
                color #999
    .schedule_small
      dl_shadow()
      &.affix
        top 140px
        &.affix_leader
          top 180px
      .schedulebox_small
        padding 0
        border none
        background-color cardbgColor
        .schedule_operator
          cursor pointer
        .calendar_tips
          height 25px
          font-size 12px
          margin-top 5px
          .join_sign
            height 10px
            width 10px
            margin 5px 5px 15px 5px
            float left
            border-radius 100%
            &.length_3
              background-color #3ca2e0
            &.length_2
              background-color #6cb8e7
            &.length_1
              background-color #a6d6f4
              margin-left 32px
          .campaign_label
            line-height 20px
            float left
            font-size 9px
        .calendar_nav
          background-color #525e70
          height 30px
          line-height 30px
          padding 0 10px
          margin 0
          clear both
          border-top-left-radius 2px
          border-top-right-radius 2px
          .icon_calendar
            height 14px
            width 14px
            margin-right 24px
            margin-top 9px
            float left
            background-repeat no-repeat
            background-size contain
            background-image url('/img/icons/calendar.png')
          .calendar_title
            width 106px
            text-align center
            font-size 14px
            margin 0
          a
            color navbarFontColor
            display inline-block
            margin 0 5px
            