<div class="cal-month-day cal-month-day-small <%= cls %>">
  <% if (cls.search('cal-day-inmonth')>-1) {%>
    <% var campaigns = _.countBy(events, function(event) { %>
       <% return (event.active == true) ? ((event.campaignType == 1)  ? 'company' : 'team') : 'inactive' %>
    <% }) %>
    <div class="campaign_info">
      <% if (campaigns.company > 0) {%>
        <div class="campaign-company"><%= campaigns.company %></div>
      <% } %>
      <% if (campaigns.team > 0) {%>
        <div class="campaign-team"><%= campaigns.team %></div>
      <% } %>
      <% if (campaigns.inactive > 0) {%>
        <div class="campaign-inactive"><%= campaigns.inactive %></div>
      <% } %>
    </div>
  <% } %>
  <span class="pull-right day" data-cal-date="<%= data_day %>" data-toggle="tooltip" title="<%= tooltip %>"><%=  day %></span>
</div>
