.timeline_element
  a.clearLinkUnderline(ng-href="{{(role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER')?'/campaign/detail/'+item.id:'#'}}",target="_blank")
    .title
      img.timeline_logo.pull-right(ng-src="{{item.logo ? item.logo :'/img/icons/default_company_logo.png'}}")
      span.name.pull-right {{item.name}}
      span.day {{item.start_time | date:'dd'}}
      .date
        .month {{item.start_time | date:'MM'}}月
        .year {{item.start_time | date:'yyyy'}}
    .single_remind(ng-if="(role==='LEADER'||role==='MEMBER') && !item.isEnd && cid && tid && item.unitInfos.length === 0" ng-cloak)
      .remind(ng-if="!item.isStart")
        span 距离开始还有
        span(count-down="{{item.start_time}}")
      .remind(ng-if="item.isStart")
        span 活动正在进行中
      button.join_button(ng-if="!item.isJoin" ng-click="join(cid, tid)") 参加
      button.quit_button(ng-if="item.isJoin" ng-click="quit()") 退出
    .multi_remind.clearfix(ng-if="(role==='LEADER'||role==='MEMBER') && !item.isEnd && cid && tid && item.unitInfos.length > 0" ng-cloak)
      .unit_info
        .unit(ng-repeat="unit in item.unitInfos" class="unit_{{$index+1}}")
          img.logo(ng-src="{{unit.logo}}/70/70")
          span.name {{unit.name}}
        span.vs vs
      .operator
        .remind(ng-if="!isStart")
          .count_down 距离开始还有
          .count_down(count-down="{{item.start_time}}")
        .remind(ng-if="isStart")
          span.starting 正在进行
        button.join_button(ng-if="!item.isJoin" ng-click="join(cid, tid)") 参加
        button.quit_button(ng-if="item.isJoin" ng-click="quit()") 退出
    .img_scroll(ng-switch="item.photo_list.length")
      div(class="photos_{{item.photo_list.length}}" ng-switch-when="1")
        img.photo.lazyload(ng-repeat="img in item.photo_list " class="photo_{{$index}}" data-src="{{img.uri}}/400/250")
      div(class="photos_{{item.photo_list.length}}" ng-switch-when="2")
        img.photo.lazyload(ng-repeat="img in item.photo_list " class="photo_{{$index}}" data-src="{{img.uri}}/195/180")
      div(class="photos_{{item.photo_list.length}}" ng-switch-when="3")
        img.photo.lazyload(ng-repeat="img in item.photo_list " class="photo_{{$index}}" data-src="{{($index==0?img.uri+'/195/290':img.uri+'/195/240')}}")
      div(class="photos_{{item.photo_list.length}}" ng-switch-when="4")
        img.photo.lazyload(ng-repeat="img in item.photo_list " class="photo_{{$index}}" data-src="{{($index==0 || $index==3)?img.uri+'/160/145':img.uri+'/230/145'}}")
    .timeline_head
      span {{item.head}}
  .comments(ng-if="item.components.RichComment")
    a.clearLinkUnderline.pull-right.comment_num(ng-click="$root.showComment=$root.showComment==item.components.RichComment[0]?'':item.components.RichComment[0];")
      img.reply_icon(src="/img/comment_grey.png")
      | {{item.comment_sum}}条评论
    .comment_list(ng-if="$root.showComment==item.components.RichComment[0]")
      simple-comment(component-id="{{item.components.RichComment[0]}}" allow-publish="{{item.allow.publishComment}}" comment-num=3)