.component.rich_comment#rich_comment_box(bs-popover)
  .component_head
    span.title 活动讨论
    a.head_button(ng-href="/photoAlbum/{{photoAlbumId}}/detailView")
      img.head_button_icon(src="/img/upload_img_white.png")
      | 活动影集
  .component_body
    form.rich_comment_form(name="comment_form" ng-if="allowPublish" novalidate)
      .comment_control
        .user_photo
          img(src="#{global_user.photo}/30/30")
        input.content(name="content" ng-model="new_comment.text" placeholder="输入内容请控制在140字以内" maxlength=140 required)
        label.img_selector(for="photos")
          img.upload_img(src="/img/upload_img.png")
          input.hidden#photos(accept="image/*" type="file" nv-file-select="" uploader="uploader" multiple)
        button.publish(ng-click="publish(new_comment.text)" ng-disabled="comment_form.$invalid") 发言
      .preview_box(ng-show="uploader.isHTML5")
        span.remind(ng-if="uploader.queue.length > 0") 已选择的图片:&nbsp;
        .preview_img_wrap(ng-repeat="item in uploader.queue")
          .close(ng-click="item.remove()") &times;
          div(ng-thumb="{ file: item._file, width: 48, height: 48 }")
    .comment.clearfix.dl_mouse_hover_block(ng-repeat="comment in comments")
      .comment_user_info
        a(href="/users/home/{{comment.poster._id}}")
          img.user_photo(ng-src="{{comment.poster.photo}}/30/30" ng-Mouseenter="showUserCard(comment.poster._id,comment._id)" id='pop{{comment._id}}' rel='popover')
      .comment_content_panel
        .comment_content
          a.user_name(href="/users/home/{{comment.poster._id}}" ng-cloak) {{comment.poster.nickname}}
          p.text(ng-cloak) {{comment.content}}
          .comment_img_box(ng-if="comment.photos.length > 1" ng-init="comment.preview_index=0")
            .img_list_box.clearfix(ng-if="!comment.preview")
              img.list_img.cursor_big(ng-repeat="photo in comment.photos.slice(0, 9)" bn-lazy-src="{{photo.uri}}/100/100" onError="this.src='/img/not_found.jpg';" ng-click="comment.preview=true;comment.preview_img=photo.uri;comment.preview_index=$index")
            .img_slider_box.clearfix(ng-if="comment.preview")
              .preview
                img.preview_img.img-responsive.center-block(ng-src="{{comment.preview_img || comment.photos[0].uri}}" onError="this.src='/img/not_found.jpg';")
                .operator
                  .img_pre.cursor_prev(ng-if="comment.preview_index!=0" ng-click="comment.preview_img=comment.photos[comment.preview_index-1].uri;comment.preview_index=comment.preview_index-1")
                  .img_shrink.cursor_small(ng-click="comment.preview=false")
                  .img_next.cursor_next(ng-if="comment.preview_index!=comment.photos.length-1" ng-click="comment.preview_img=comment.photos[comment.preview_index+1].uri;comment.preview_index=comment.preview_index+1")
              .nav
                img.thumb(ng-repeat="photo in comment.photos.slice(0, 9)" bn-lazy-src="{{photo.uri}}/40/40" onError="this.src='/img/holder_trash_small.jpg';" ng-click="comment.preview_img=photo.uri;comment.preview_index=$index")
          .comment_img_box(ng-if="comment.photos.length === 1")
            img.img_single_thumb.cursor_big(bn-lazy-src="{{comment.photos[0].uri}}/resize/150/150" onError="this.src='/img/not_found.jpg';" ng-if="!comment.preview" ng-click="comment.preview=true")
            img.preview_img.img-responsive.cursor_small(ng-src="{{comment.photos[0].uri}}" onError="this.src='/img/not_found.jpg';" ng-if="comment.preview" ng-click="comment.preview=false")
        .comment_footer.clearfix
          span.text {{comment.create_date | date:'yyyy-MM-dd HH:mm' | dateView}}
          .pull-right.operator
            a.text.dl_mouse_hover(ng-if="comment.status=='active' && !comment.delete_permission" ng-click="getReport(comment)") 举报
            a.delete.text.dl_mouse_hover(ng-if="comment.delete_permission" ng-click="deleteComment($index)") 删除
            a.reply.text(ng-click="toggleComment(comment)") 回复({{comment.reply_count || 0}})
        .replies(ng-if="comment.replying")
          form.reply_form(name="reply_form" ng-if="allowPublish")
            input.reply_input(type="text" ng-model="comment.new_reply" placeholder="回复 {{now_reply_to.nickname}}" required)
            button.dl_btn.dl_btn_submit(type="button" ng-click="reply(comment, reply_form)" ng-disabled="!comment.new_reply") 回复
          .reply.text(ng-repeat="reply in comment.replies")
            a.user_name(ng-href="/users/home/{{reply.poster._id}}" ng-Mouseenter="showUserCard(reply.poster._id,reply._id)" id='pop{{reply._id}}' rel='popover')
              span {{reply.poster.nickname}}
            span {{reply.content}}
            span.reply_date ({{reply.create_date | date:'yyyy-MM-dd HH:mm' | dateView }})
            .operator
              a.text.dl_mouse_hover(ng-if="comment.status=='active' && !comment.delete_permission" ng-click="getReport(reply)") 举报
              a.text.dl_mouse_hover(ng-if="reply.delete_permission" ng-click="removeReply(comment, $index)") 删除

    ul.pager(ng-if="pages[0].nextStartDate")
      li.previous
        a(href="#rich_comment_box" ng-click="lastPage()" ng-class="{'novisible': nowPage === 0}") <<上一页
      li.next
        a(href="#rich_comment_box" ng-click="nextPage()" ng-class="{'novisible': !pages[nowPage].nextStartDate}") 下一页>>
      ul.pagination(ng-if="pages.length > 1")
        li(ng-repeat="page in pages" ng-class="{'active': nowPage===$index}")
          a(href="#rich_comment_box" ng-click="changePage($index)") {{$index + 1}}

  include ../partials/report_modal