.rich_comment_box#rich_comment_box(ng-if="role!='HR' || comments.length>0" bs-popover)
  p.subtitle 留言
  form.rich_comment_form(name="comment_form" novalidate ng-if="role==='MEMBER' || role ==='LEADER' || role==='PARTNER'")
    textarea.dl-form-control.comment_textarea(rows="2" name="content" ng-model="new_comment.text" placeholder="留言请控制在140字以内" maxlength=140 required)
    .operator.clearfix
      label.btn.btn-default.btn-xs(for="photos"): i.glyphicon.glyphicon-picture
      input.hidden#photos(accept="image/*" type="file" nv-file-select="" uploader="uploader" multiple)
      button.dl_btn.dl_btn_submit.pull-right(ng-click="publish(new_comment.text)" ng-disabled="comment_form.$invalid") #{__("SUBMIT")}#{__("LEAVEMESSAGE")}
      .preview_box.clearfix(ng-show="uploader.isHTML5")
        .preview_img_wrap(ng-repeat="item in uploader.queue")
          .close(ng-click="item.remove()") &times;
          div(ng-thumb="{ file: item._file, width: 48, height: 48 }")
  .comment.clearfix.dl_mouse_hover_block(ng-repeat="comment in comments")
    .comment_user_info
      a(href="/users/home/{{comment.poster._id}}" )
        img.user_photo.size_56.img_user(ng-src="{{comment.poster.photo}}" ng-Mouseenter="showUserCard(comment.poster._id,comment._id)" id='pop{{comment._id}}' rel='popover')
      a.dl_user_name_small(href="/users/home/{{comment.poster._id}}" ng-cloak) {{comment.poster.nickname}}
    .comment_content_panel
      .relative
        .triangle_border
        .triangle
        .comment_content
          p(ng-cloak) {{comment.content}}
          .comment_img_box(ng-if="comment.photos.length > 1" ng-init="comment.preview_index=0")
            .img_list_box.clearfix(ng-if="!comment.preview")
              img.list_img.magnifying(ng-repeat="photo in comment.photos" ng-src="{{photo.uri}}/100/100" onError="this.src='/img/not_found.jpg';" ng-click="comment.preview=true;comment.preview_img=photo.uri;comment.preview_index=$index")
            .img_slider_box.clearfix(ng-if="comment.preview")
              .preview
                img.preview_img.img-responsive.center-block(ng-src="{{comment.preview_img || comment.photos[0].uri}}" onError="this.src='/img/not_found.jpg';")
                .operator
                  .img_pre(ng-if="comment.preview_index!=0" ng-click="comment.preview_img=comment.photos[comment.preview_index-1].uri;comment.preview_index=comment.preview_index-1")
                  .img_shrink.shrink(ng-click="comment.preview=false")
                  .img_next(ng-if="comment.preview_index!=comment.photos.length-1" ng-click="comment.preview_img=comment.photos[comment.preview_index+1].uri;comment.preview_index=comment.preview_index+1")
              .nav
                img.thumb(ng-repeat="photo in comment.photos" ng-src="{{photo.uri}}/40/40" onError="this.src='/img/holder_trash_small.jpg';" ng-click="comment.preview_img=photo.uri;comment.preview_index=$index")
          .comment_img_box(ng-if="comment.photos.length === 1")
            img.img_single_thumb.magnifying(ng-src="{{comment.photos[0].uri}}/resize/150/150" onError="this.src='/img/not_found.jpg';" ng-if="!comment.preview" ng-click="comment.preview=true")
            img.preview_img.img-responsive.shrink(ng-src="{{comment.photos[0].uri}}" onError="this.src='/img/not_found.jpg';" ng-if="comment.preview" ng-click="comment.preview=false")
      .comment_footer.clearfix
        span.comment_date.text {{comment.create_date | date:'yyyy-MM-dd HH:mm' | dateView}}
        .pull-right
          a.comment_date.text.dl_mouse_hover(ng-if="comment.status=='active' && !comment.delete_permission" ng-click="getReport($index)") 举报
          span.comment_divider &nbsp;
          a.text(ng-click="toggleComment(comment)") 回复({{comment.reply_count || 0}})
          span.comment_divider(ng-if="comment.delete_permission") &nbsp;
          a.comment_date.text(ng-if="comment.delete_permission" ng-click="deleteComment($index)") 删除
      .replies(ng-if="comment.replying")
        form.reply_form(name="reply_form" ng-if="role === 'MEMBER' || role === 'LEADER' || role==='PARTNER'")
          input.reply_input(type="text" ng-model="comment.new_reply" placeholder="回复 {{now_reply_to.nickname}}" required)
          button.dl_btn.dl_btn_submit(type="button" ng-click="reply(comment, reply_form)" ng-disabled="!comment.new_reply") 回复
        p.reply(ng-repeat="reply in comment.replies")
          a(href="javascript:void(0);" ng-click="setReplyTo(comment, reply.poster._id, reply.poster.nickname)")
            span {{reply.poster.nickname}}
          span &nbsp;:&nbsp;
          span(ng-if="reply.reply_to._id!==comment.poster._id") 回复 {{reply.reply_to.nickname}}:&nbsp;
          span {{reply.content}}
          span &nbsp;({{reply.create_date | date:'yyyy-MM-dd HH:mm' | dateView }})
          span &nbsp;
          a(ng-if="reply.delete_permission" ng-click="removeReply(comment, $index)")
            span 删除

  ul.pager(ng-if="pages[0].has_next===true")
    li.previous
      a(href="#rich_comment_box" ng-click="lastPage()" ng-class="{'novisible': now_page === 0}") <<上一页
    li.next
      a(href="#rich_comment_box" ng-click="nextPage()" ng-class="{'novisible': pages[now_page].has_next === false}") 下一页>>
    ul.pagination(ng-if="pages.length > 1")
      li(ng-repeat="page in pages" ng-class="{'active': now_page===$index}")
        a(href="#rich_comment_box" ng-click="changePage($index)") {{$index + 1}}