.score_board
  .score_board_header
    h4 比分板
  .score_board_body
    .playing_team
      .team_logo
      .team_name
    .team_score
    .playing_team
      .team_logo
      .team_name
  .score_board_footer
    a.operator 编辑
    a.operator 确认