.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/lib
test/coverage
mean.iml

public/img/user/
public/img/group/
public/img/company/
public/img/photo_album/
temp_uploads/


public/mobile/plugins/
public/mobile/npm-debug.log
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVAssetLibraryFilesystem.h
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVAssetLibraryFilesystem.m
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVFile.h
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVFile.m
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVLocalFilesystem.h
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVLocalFilesystem.m
