.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/lib
test/coverage
mean.iml

public/img/user/
public/img/group/
public/img/groups/
public/img/company/
public/img/photo_album/
public/img/circle/
public/img/chats/
public/img/qrcode/
public/img/interaction/
temp_uploads/
ori_img/
chat_ori_img/
img_trash/
backup_files/

public/**/size/

public/mobile/
public/mobile/plugins/
public/mobile/npm-debug.log
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVAssetLibraryFilesystem.h
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVAssetLibraryFilesystem.m
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVFile.h
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVFile.m
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVLocalFilesystem.h
public/mobile/platforms/ios/Donler/Plugins/org.apache.cordova.file/CDVLocalFilesystem.m

test/nightwatch/lib/
test/nightwatch/reports/

company_manager_client/.bower-*/
company_manager_client/bower-lib/
company_manager_client/node_modules/
