<div>
    <ul>
      <div>
        <div ng-repeat="group in group_lists" >
            <div class="row"><label class="group_{{ group.gid }}"></label></div>
            <div class="row">id：{{ group.gid }}</div>
            <div class="row">{{ group.name }}</div>
            <div class="row">组件类型：{{ group.group_type }}</div>
            <div class="row">
              <div class="col-md-2 pull-left">组件组长：</div>
              <div class="col-md-2" ng-repeat="l in group.leader">
                <a>{{l.nickname}}</a>
              </div>
             </div>
            <input class="btn dl_btn" type = "button" value = "任命组长" ng-click="setGroupId(group.gid)"  data-toggle="modal" data-target="#appointLeaderModel"/>
        </div>
      </div>
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="appointLeaderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">搜索成员</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <p>该小组的成员</p>
          <li ng-repeat="user in users">
            <a ng-click="appointLeader(user.id)" data-dismiss="modal">{{user.nickname}}</a>
          </li>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->