<div>
  <h3>人数：{{members.length}}</h3>
  <h3 ng-if="!company">队长</h3>
  <div ng-if="!company" class="row">
    <div class="col-xs-2" ng-repeat="leader in leaders">
      <img class="center-block size_50" ng-src='{{leader.photo}}'></img>
      <p class="text-center">{{leader.nickname}}</p>
    </div>
  </div>
  <h3>{{company ? '成' : '队'}}员</h3>
  <div class="row">
    <div class="col-xs-2" ng-repeat="member in members">
      <img class="center-block size_50" ng-src='{{member.photo}}'></img>
      <p class="text-center">{{member.nickname}}</p>
    </div>
  </div>
</div>

