.loading_div(ng-show = 'loading')
.dl_message_box(ng-show = '!loading')
  .message_panel.dl_center(ng-show="all_messages.length==0" ng-cloak)
    span (＞人＜;)您的收件箱暂时木有消息哦~
  .message_panel(ng-repeat="all_message in all_messages" ng-if="$index >= page_all.up && $index <= page_all.down" ng-click="setToRead($index)")
    .dl_row.clearfix.line_left
      if provider == 'user'
        .dl_message_head
          img.size_48(ng-src="{{all_message.photo}}" ng-if="all_message.message_type !== 6")
          span.glyphicon.glyphicon-info-sign(ng-if="all_message.message_type === 6")
      .dl_message_body
        .message_row(ng-switch="all_message.message_type")
          //-0:小队通知
          p.subtitle(ng-switch-when="0")
            strong
              a(href="/group/home/{{all_message.team._id}}")
                {{all_message.team.name}}
            | 收到一条通知(来自
            a(href="/company/home/{{all_message.sender._id}}" ng-if="all_message.sender.role=='HR'") {{all_message.sender.nickname}}
            a(href="/users/home/{{all_message.sender._id}}" ng-if="all_message.sender.role=='LEADER'") {{all_message.sender.nickname}}
            span )
          //-1:活动
          p.subtitle(ng-switch-when="1")
            您参加的活动&nbsp;&nbsp;
            a(href="/campaign/detail/{{all_message.campaign_id}}")
              {{all_message.campaign_name}}
            | 收到一条新通知(来自
            a(href="/company/home/{{all_message.sender._id}}" ng-if="all_message.sender.role=='HR'") {{all_message.sender.nickname}}
            a(href="/users/home/{{all_message.sender._id}}" ng-if="all_message.sender.role=='LEADER'") {{all_message.sender.nickname}}
            span )
          //-2:比赛
          p.subtitle(ng-switch-when="2")
            您参加的比赛&nbsp;&nbsp;
            a(href="/campaign/detail/{{all_message.campaign_id}}")
              {{all_message.campaign_name}}
            | 收到一条新通知(来自
            a(href="/company/home/{{all_message.sender._id}}" ng-if="all_message.sender.role=='HR'") {{all_message.sender.nickname}}
            a(href="/users/home/{{all_message.sender._id}}" ng-if="all_message.sender.role=='LEADER'") {{all_message.sender.nickname}}
            span )
          //-3:公司通知
          p.subtitle(ng-switch-when="3")
            strong
              a(href="/company/home/{{all_message.sender._id}}"){{all_message.sender.nickname}}
            | 给您发了一条通知
          //-4:队长收到 比赛结果
          p.subtitle(ng-switch-when="4")
            strong
              {{all_message.sender.name}}&nbsp;&nbsp;
            a(href="/campaign/detail/{{all_message.campaign_id}}" ng-click="setToRead($index)")
              {{all_message.content}}
          //-5: p2p
          p.subtitle(ng-switch-when="5")
            来自&nbsp;&nbsp;
            strong
              {{all_message.sender.nickname}}
          //-6:系统
          p.subtitle(ng-switch-when="6")
            您收到一条系统消息
          //-7:挑战
          p.subtitle(ng-switch-when="7")
            strong
              {{all_message.sender.name}}&nbsp;&nbsp;
            a(href="/campaign/detail/{{all_message.campaign_id}}" ng-click="setToRead($index)")
              {{all_message.content}}
          //-8:
          p.subtitle(ng-switch-when="8")
            您的队员
            strong
              {{all_message.sender[0].nickname}}&nbsp;&nbsp;
            给您推荐了一个小队
            a(href="/group/page/{{all_message.team[0]._id}}" target="_blank" ng-click="setToRead($index)")
              {{all_message.team[0].name}}
          span {{all_message.detail}}
      .dl_message_tail
        .dl_message_date
          span {{all_message.date | date:'yyyy-MM-dd HH:mm'}}
        a.pull-right(ng-click="setToDelete($index)") 删除
  .dl_row.dl_center(ng-if="all_messages.length > 10")
    button.dl_btn.dl_btn_small(ng-disabled="page_all.arrow == 'right' || page_all.arrow == 'none' " ng-click="pageOperate('left')") <<
    button.dl_btn.dl_btn_small(ng-disabled="page_all.arrow == 'left' || page_all.arrow == 'none' " ng-click="pageOperate('right')") >>
  .dl_row(ng-if="all_messages.length > 0")
    button.dl_btn.dl_btn_small.margin_left_5(ng-click="setAllStatus('read')" ng-if="o > 0") 全部设为已读
    button.dl_btn.dl_btn_small.margin_left_5(ng-click="setAllStatus('delete')" ng-if="all_messages.length > 0") 全部删除
