.loading_div(ng-show = 'loading')
.dl_message_box(ng-show = '!loading')
  .dl_row
    form.comment_form(name="message_form" novalidate)
      .dl_message_send.dl_vertical
        span.subtitle(ng-if="teamName != 'null'")
          发往 {{teamName}}:
        span(ng-if="teamName == 'null'")
          select.company_message_select(tabindex="2" ng-model="company_send_select" ng-options="s.value for s in company_send_selects" ng-change="getMessageSendType(company_send_select._id)")
      .dl_md_8.dl_vertical
        input.dl_modal_input.dl-form-control(type="text" ng-model="private_message_content.text" placeholder="请控制在140字以内" maxlength=140 required)
      .dl_md_1.dl_vertical
        button.dl_btn.dl_btn_right(ng-click="sendToAll()" ng-disabled="message_form.$invalid || (multi_send && dOt_select_num == 0)") 发送
  .dl_row(ng-if="dOts.length > 0")
    .dl_message_slide
      .dl_message_item(ng-repeat="dOt in dOts")
        input(type="checkbox" ng-model="dOt.selected" value="true" ng-change="selectReady($index)")
        span(title="{{dOt.name}}") {{dOt.name}}
          //- .dl_cover_message(ng-if="dOt.selected" ng-click="selectReady($index)")
          //- a(ng-click="selectReady($index)")
          //-   img.size_48(ng-src="{{dOt.team ? dOt.team.logo : dOt.logo}}" title="{{dOt.name}}")
  .dl_modal_container.margin_top_50
    .dl_row.send_caption
      p 发件箱
    .dl_row.message_panel(ng-repeat="send_message in send_messages" ng-if="$index >= page_send.up && $index <= page_send.down")
      .row.line_left
        //- .dl_message_head.dl_message_body_font(ng-switch="send_message.message_type")
        //-   span.glyphicon.glyphicon-star-empty(ng-switch-when="0")
        //-   span.glyphicon.glyphicon-music(ng-switch-when="1")
        //-   span.glyphicon.glyphicon-flag(ng-switch-when="2")
        //-   span.glyphicon.glyphicon-home(ng-switch-when="3")
        //-   span.glyphicon.glyphicon-pencil(ng-switch-when="4")
        //-   span.glyphicon.glyphicon-user(ng-switch-when="5")
        //-   span.glyphicon.glyphicon-info-sign(ng-switch-when="6")
        //-   span.glyphicon.glyphicon-flash(ng-switch-when="7")
        .dl_message_body
          .dl_row(ng-switch="send_message.message_type")
              p.subtitle(ng-switch-when="3")
                发往全公司 ({{send_message.sender.nickname}})
              p.subtitle(ng-switch-when="1")
                发往活动 {{send_message.campaign_name}} 
                span((来自{{send_message.sender.nickname}})
              p.subtitle(ng-switch-when="2")
                发往比赛 {{send_message.campaign_name}} (来自{{send_message.sender.nickname}})
              p.subtitle(ng-switch-when="0")
                发往小队 {{send_message.team.name}} (来自{{send_message.sender.nickname}})
              span {{send_message.detail}}
        .dl_message_tail
          .dl_message_date
            span {{send_message.date | date:'yyyy-MM-dd HH:mm'}}
          a.pull-right(ng-click="setToDelete($index)") 删除
    .dl_row.dl_center(ng-if="send_messages.length > 10")
      button.dl_btn.dl_btn_small(ng-disabled="page_send.arrow == 'right' || page_send.arrow == 'none' " ng-click="pageOperate('left')") <<
      button.dl_btn.dl_btn_small(ng-disabled="page_send.arrow == 'left' || page_send.arrow == 'none' " ng-click="pageOperate('right')") >>
    .dl_row
      button.dl_btn.dl_btn_small.margin_left_5(ng-click="deleteAll()" ng-if="send_messages.length > 0") 全部删除