extends ../layouts/register
append headExt
  link(rel="stylesheet" href="/css/company_signup.css")
block contentExt
  .dl_container.clearfix
    .signup_row
      .block.block_left
        .signup_title.personal_title
          span 个人注册
        .signup_tips
          p 我们会严格审核您的申请,
          p 确保每个用户的身份都真实可靠
      .block.personal_signup.signup_block(ng-controller='ActiveController' ng-init="currentDomain='#{domains[0]}';")
        form.form-inline.form-horizontal(role="form" name='active_form' action='/users/dealActive' method='post')
          include partials/personal_form
block footExt
  script(src="/js/controllers/user.js")
  script.
    window.location.hash='';
    var $buoop = {vs:{i:10,f:15,o:12.1,s:5.1}}; 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
      try {if ($buoop.ol) {$buoop.ol();} }catch (e) {} 
      var e = document.createElement("script"); 
      e.setAttribute("type", "text/javascript"); 
      e.setAttribute("src", "/js/notice/update.js"); 
      document.body.appendChild(e);
    } 