extends ../layouts/register

block contentExt
  .dl_container.quick_signup_website_page(ng-controller="quickSignupWebsiteController")
    .step_search(ng-if="step === 'search'" ng-cloak)
      h1 同事都在玩，快来加入吧。
      form(name="searchForm")
        input(type="email" name="email" ng-model="searchFormData.email" ng-keypress="search($event)" placeholder="请输入您的企业邮箱" required)
        button(ng-click="search()") 查找

    .step_select(ng-if="step === 'select'" ng-cloak)
      h1 为您查找的公司（文字待定）
      ul
        li(ng-repeat="company in searchResCompanies" ng-click="choose(company)" ng-bind="company.name")
      span(ng-click="prePage()" ng-if="hasPrevious") 上一页
      span(ng-click="nextPage()" ng-if="hasNext") 下一页
      button(ng-click="go('company')") 我来组织吧

    .step_not_found(ng-if="step === 'notFound'" ng-cloak)
      h1 没有找到（文字待定）
      button(ng-click="go('company')") 我来组织吧

    .step_personal(ng-if="step === 'personal'" ng-cloak)
      h1 快速注册
      form(name="personalRegisterForm")
        div
          label *企业名称:
          span(ng-bind="selectedCompany.name")
        div
          label *企业邮箱:
          input(type="text" name="email" ng-model="personalRegisterFormData.email" readonly)
        div
          label *邀请码:
          input(type="text" placeholder="请向您的公司管理员或同事索要8位邀请码" name="inviteKey" ng-model="personalRegisterFormData.inviteKey" ng-minlength=8 ng-maxlength=8 required)
        div
          label *昵称:
          input(type="text" name="nickname" ng-model="personalRegisterFormData.nickname" required)
        div
          label *密码:
          input(type="password" name="password" ng-model="personalRegisterFormData.password" ng-minlength=6 required)
        div
          label *真实姓名:
          input(type="text" name="realname" ng-model="personalRegisterFormData.realname" required)
        div
          label 点击注册即代表同意
          a 服务条款(todo)
          button(ng-click="registerUser()" ng-disabled="personalRegisterForm.$invalid") 免费注册个人账号

    .step_company(ng-if="step === 'company'" ng-cloak)
      h1 快速注册
      form(name="companyRegisterForm")
        input(ng-model="companyRegisterFormData.name" placeholder="公司名称" required)
        div
          select(name="province" ng-model="companyRegisterFormData.province" ng-options="province.value for province in provinces" ng-change="selcetProvince()")
          select(name="city" ng-model="companyRegisterFormData.city" ng-options="city.value for city in cities" ng-change="selectCity()")
          select(name="district" ng-model="companyRegisterFormData.district" ng-options="district.value for district in districts")
        input(type="password" ng-model="companyRegisterFormData.password" placeholder="密码" ng-minlength=6 required)
        button(ng-disabled="companyRegisterForm.$invalid" ng-click="registerCompany()") 下一步

    .step_select_group(ng-if="step === 'selectGroup'" ng-cloak)
      h1 选择您感兴趣的项目

    .step_success(ng-if="step === 'success'" ng-cloak)
      h1 注册成功

    .step_has_register(ng-if="step === 'hasRegister'" ng-cloak)
      h1 已注册


append footExt
  script(src='/js/controllers/companySignUp.js')
  script.
    window.location.hash='';
    var $buoop = {vs:{i:10,f:15,o:12.1,s:5.1}};
    $buoop.ol = window.onload;
    window.onload=function(){
      try {if ($buoop.ol) {$buoop.ol();} }catch (e) {}
      var e = document.createElement("script");
      e.setAttribute("type", "text/javascript");
      e.setAttribute("src", "/js/notice/update.js");
      document.body.appendChild(e);
    }