extends ../layouts/register

block contentExt
  .dl_container
    .quick_signup_website_page(ng-controller="quickSignupWebsiteController")
      //- TODO: 开发完毕后一定要移除
      //-.debug_tools
        button(ng-repeat="step in ['search', 'select', 'notFound', 'personal', 'company', 'selectGroup', 'success', 'hasRegister']" ng-click="go(step)" ng-bind="step")
      //- THE END OF TODO

      .step_search.register_box(ng-if="step === 'search'" ng-cloak)
        h1.text-center 快速注册
        p.text-center.sub_text 同事都在玩，快来加入吧。
        form(name="searchForm")
          .input-group.input-group-lg
            input.form-control(type="email" name="email" ng-model="searchFormData.email" ng-keypress="search($event)" placeholder="请输入您的企业邮箱" required)
            span.input-group-btn
              button.btn.btn-default(ng-click="search()" ng-disabled="searchForm.$invalid")
                i.fa.fa-search
          span.help-block(ng-if="errMsg.search" ng-bind="errMsg.search" ng-cloak)

      .step_select.register_box(ng-if="step === 'select'" ng-cloak)
        h1.text-center 选择您的公司
        form(name="reSearchForm" ng-if="isTooMuchRes")
          p 搜索结果太多？您可以在结果中查找：
          .input-group.input-group-lg
            input.form-control(type="text" name="key" ng-model="reSearchFormData.key" ng-keypress="reSearch($event)" placeholder="请输入公司名" required)
            span.input-group-btn
              button.btn.btn-default(ng-click="reSearch()" ng-disabled="reSearchForm.$invalid")
                i.fa.fa-search
          span.help-block(ng-if="errMsg.reSearch" ng-bind="errMsg.reSearch" ng-cloak)
        .rg_res_com_list
          button.btn.btn-default.btn-lg.btn-block.rg_res_com(ng-repeat="company in searchResCompanies" ng-click="select(company)")
            span.pull-left {{company.name}}
            i.fa.fa-fw.fa-arrow-right.pull-right
        nav(ng-if="hasPrevious||hasNext")
          ul.pager
            li.previous(ng-click="prePage()" ng-if="hasPrevious")
              a &larr;&nbsp;上一页
            li.next(ng-click="nextPage()" ng-if="hasNext")
              a 下一页&nbsp;&rarr;
        .rg_no_res_description
          p.rg_no_res
            | 若没有您的公司，您可以&nbsp;
            a.rg_link(ng-click="go('search')") 返回重新搜索
            | &nbsp;或&nbsp;
            a.rg_link(ng-click="go('company')") 为您的企业进行注册

      .step_not_found.register_box(ng-if="step === 'notFound'" ng-cloak)
        h1 没有找到您的公司，快来注册吧
        hr
        .clearfix
          button.btn.btn-default.btn-lg.pull-left(ng-click="go('search')")
            i.fa.fa-arrow-left
            | &nbsp;返回
          button.btn.btn-primary.btn-lg.pull-right(ng-click="go('company')")
            | 去注册&nbsp;
            i.fa.fa-arrow-right

      .step_personal.register_box(ng-if="step === 'personal'" ng-cloak)
        p: a.rg_link(ng-click="go('select')")
          i.fa.fa-fw.fa-arrow-left
          | 返回
        h1.text-center 填写您的信息
        form.form-horizontal(name="personalRegisterForm")
          .form-group.form-group-lg
            label.col-sm-2.control-label 企业名称
            .col-sm-10
              p.form-control-static(ng-bind="selectedCompany.name")
          .form-group.form-group-lg
            label.col-sm-2.control-label 企业邮箱
            .col-sm-10
              p.form-control-static(ng-bind="personalRegisterFormData.email")
          .form-group.form-group-lg(ng-class="{'has-error':personalRegisterForm.nickname.$invalid && personalRegisterForm.nickname.$dirty}")
            label.col-sm-2.control-label 昵称
            .col-sm-10
              input.form-control(type="text" name="nickname" ng-model="personalRegisterFormData.nickname" required)
          .form-group.form-group-lg(ng-class="{'has-error':personalRegisterForm.realname.$invalid && personalRegisterForm.realName.$dirty}")
            label.col-sm-2.control-label 真实姓名
            .col-sm-10
              input.form-control(type="text" name="realname" ng-model="personalRegisterFormData.realname" required)
          .form-group.form-group-lg(ng-class="{'has-error':personalRegisterForm.password.$invalid && personalRegisterForm.password.$dirty}")
            label.col-sm-2.control-label 密码
            .col-sm-10
              input.form-control(type="password" name="password" ng-model="personalRegisterFormData.password" ng-minlength=6 required)
          .form-group.form-group-lg(ng-class="{'has-error':personalRegisterForm.inviteKey.$invalid && personalRegisterForm.inviteKey.$dirty || isInviteKeyCorrect === false}")
            label.col-sm-2.control-label 邀请码
            .col-sm-10
              input.form-control(type="text" placeholder="请向您的公司管理员或同事索要8位邀请码" name="inviteKey" ng-model="personalRegisterFormData.inviteKey" ng-change="checkInviteKey()" ng-minlength=8 ng-maxlength=8 required)
              .rg_tips
                i.fa.fa-check.valid(ng-if="isInviteKeyCorrect === true")
                i.fa.fa-close.invalid(ng-if="isInviteKeyCorrect === false")
          .form-group.form-group-lg
            .col-sm-10.col-sm-offset-2
              p.rg_access_text 点击注册即代表同意
                a.rg_link(href="/about#law" target="_blank") 服务条款
          .form-group.form-group-lg
            .col-sm-10.col-sm-offset-2
              button.btn.btn-primary.btn-block.btn-lg(ng-click="registerUser()" ng-disabled="personalRegisterForm.$invalid || !isInviteKeyCorrect") 免费注册个人账号

      .step_company.register_box(ng-if="step === 'company'" ng-cloak)
        p: a.rg_link(ng-click="go('search')")
          i.fa.fa-fw.fa-arrow-left
          | 返回
        h1.text-center(ng-bind="stepCompanyTitle")
        form.form-horizontal(name="companyRegisterForm")
          .form-group.form-group-lg
            label.col-sm-2.control-label 公司名称
            .col-sm-10
              input.form-control(ng-model="companyRegisterFormData.name" ng-blur="checkOfficeName()" placeholder="公司名称" required)
            p.rg_remind(ng-if="recommandCompany && !domain") 检测到同名公司，不过您的邮箱后缀不对哦，换公司邮箱搜索试试?
            .rg_remind_op.clearfix(ng-if="recommandCompany && !domain")
              button.rg_btn_block.pull-left(ng-click="go('search')")
                i.fa.fa-fw.fa-arrow-left
                | &nbsp;换邮箱
              button.rg_btn_block.pull-right(ng-click="ignoreRecommand()")
                | 继续注册&nbsp;
                i.fa.fa-fw.fa-arrow-right
            //- 同名&&email不正确 提示换邮箱
            p.rg_remind(ng-if="recommandCompany && domain") 检测到同名公司
            .rg_remind_op.clearfix(ng-if="recommandCompany && domain")
              button.rg_btn_block.pull-right(ng-click="ignoreRecommand()") 继续注册
              button.rg_btn_block.rg_btn_first.pull-right(ng-click="select(recommandCompany)") 点击加入
          .form-group.form-group-lg.rg_select_group.clearfix(ng-if="!recommandCompany")
            label.col-sm-2.control-label 公司地址
            .col-sm-3.rg_select
              select.form-control(name="province" ng-model="companyRegisterFormData.province" ng-options="province.value for province in provinces" ng-change="selcetProvince()")
            .col-sm-3.rg_select
              select.form-control(name="city" ng-model="companyRegisterFormData.city" ng-options="city.value for city in cities" ng-change="selectCity()")
            .col-sm-3.rg_select
              select.form-control(name="district" ng-model="companyRegisterFormData.district" ng-options="district.value for district in districts")
          .form-group.form-group-lg(ng-if="!recommandCompany")
            label.col-sm-2.control-label 密码
            .col-sm-10
              input.form-control(type="password" ng-model="companyRegisterFormData.password" placeholder="密码" ng-minlength=6 required)
          .form-group.form-group-lg.rg_next_group(ng-if="!recommandCompany")
             .col-sm-10.col-sm-offset-2
              button.btn.btn-primary.btn-block.btn-lg(ng-disabled="companyRegisterForm.$invalid" ng-click="registerCompany()") 下一步

      .step_select_group.register_box(ng-if="step === 'selectGroup'" ng-cloak)
        h1.text-center 选择您感兴趣的项目
        .groups.row
          .group.col-sm-2(ng-repeat='group in groups' ng-class="{'active':group.selected}" ng-click="selectType($index)")
            .img_contain(class='group_'+'{{group._id}}')
            .shadow(ng-class="{'active': group.selected}")
            label.group_type(for='{{group._id}}') {{group.groupType}}
        .row
          .col-sm-10.col-sm-offset-1
            button.btn.btn-primary.btn-block.btn-lg(ng-click="createTeams()") 完成

      .step_success.register_box(ng-if="step === 'success'" ng-cloak)
        .register_content
          h1 您已注册成功
          a.go_to_email(target="_blank" ng-href="http://mail.{{emailDomain}}")
            | 去邮箱查找激活邮件&nbsp;
            i.fa.fa-fw.fa-arrow-right

      .step_has_register.register_box(ng-if="step === 'hasRegister'" ng-cloak)
        .register_content(ng-if="!emailDomain && !notVerified")
          h1.text-center 邮箱已注册
          a.operate(href="/users/signin/")
            | 直接登录&nbsp;
            i.fa.fa-fw.fa-arrow-right
        //- 重发激活信
        .register_content(ng-if="!emailDomain && notVerified")
          h1.text-center 没收到激活邮件？
          a.operate(ng-click="resend()")
            | 重新发送&nbsp;
            i.fa.fa-fw.fa-arrow-right
        //- 公司已注册未激活，去邮箱收激活信
        .register_content(ng-if="emailDomain")
          h1.text-center 公司已注册
          a.operate(ng-href="http://mail.{{emailDomain}}")
            | 请收验证信&nbsp;
            i.fa.fa-fw.fa-arrow-right


append footExt
  script(src='/js/controllers/companySignUp.js')
  script.
    window.location.hash='';
    var $buoop = {vs:{i:10,f:15,o:12.1,s:5.1}};
    $buoop.ol = window.onload;
    window.onload=function(){
      try {if ($buoop.ol) {$buoop.ol();} }catch (e) {}
      var e = document.createElement("script");
      e.setAttribute("type", "text/javascript");
      e.setAttribute("src", "/js/notice/update.js");
      document.body.appendChild(e);
    }