extends ../layouts/register

append headExt
  link(rel="stylesheet" href="/css/company_signup.css")
block contentExt
  .dl_container.clearfix
    .signup_row
      .block.block_left
        .signup_title.personal_title
          span 个人注册成功!
        .signup_tips
          p 
            span 现在可以登录并感受
            span.tip_large 动梨
            span 啦!
          p 
            span 请在上方输入您的
            span.tip_large 注册邮箱
            span 以及
            span.tip_large 动梨密码
          p 
            span 即可开始您的
            span.tip_large 动梨
            span 之旅哦~
