extends ../layouts/register

append headExt
  link(rel="stylesheet" href="/css/company_signup.css")
block contentExt
  .dl_container.clearfix
    .signup_row
      .block_left.text-right
        h1.text-right
          small 加入
          | 动梨
      .block_right
          h2 激活成功！
          p 
            span 现在可以登录并感受
            span.subtitle 动梨
            span 啦!
          p 
            span 请在上方输入您的
            span.subtitle 注册邮箱
            span 以及
            span.subtitle 动梨密码
          p 
            span 即可开始您的
            span.subtitle 动梨
            span 之旅哦~
