extends ../layouts/base
block headExt
  meta(name="viewport" content="width=device-width,initial-scale=1, user-scalable=no")
block content
  .signup_phone.clearfix(ng-controller="userSignupMobileController" class="step_{{step}}")
    .signup_header
      img.logo(src="/img/signup/dl_logo_signup.png")
    
    .signup_step_one(ng-show="step===1")
      //- check邮箱
      .input_box
        .board
          input(ng-model="email" ng-keypress="checkMail($event)" placeholder="请输入您的企业邮箱" required)
          button.search(ng-click="checkMail()" ng-disabled="loading")
      .signup_bottom
        //- img.signup_man(src="/img/signup/dl_signup_man.png")
        img.signup_cloud(src="/img/signup/dl_signup_cloud.gif")

    .signup_step_two(ng-show="step===2")
      //- 选择公司或选择自己注册
      .board
        img.search_title(src="/img/signup/dl_signup_search_title.png")
        i.fa.fa-reply(ng-click="preStep()")
        .companies
          .company(ng-repeat="company in companies" ng-click="select(company)")
            span {{company.name}}
            i.fa.fa-chevron-right.pull-right
          span.prePage(ng-click="prePage()" ng-if="hasPrevious") 上一页
          span.nextPage(ng-click="nextPage()" ng-if="hasNext") 下一页
      .signup_bottom_2
        img.notfound(src="/img/signup/dl_signup_notfound.png")
        button.organize(ng-click="organize()")
    
    .signup_step_three(ng-show="step===3")
      //- 填入公司资料及密码
      include partials/personal_step_three_phone
    .signup_step_four(ng-show="step===4")
      .board
        i.fa.fa-hand-o-right
        .select_label 选择您感兴趣的项目
        .select_line
          .left
          .middle
          .right
        .groups.clearfix
          .group(ng-repeat='group in groups' ng-class="{'active':group.selected}" ng-click="selectType($index)")
            .img_contain(class='group_'+'{{group._id}}' )
            .shadow(ng-class="{'active': group.selected}")
            //- input.hidden(type='radio' name='group' id='{{group._id}}' value='{{group._id}}' ng-model='newTeam._id' required)
            label(for='{{group._id}}') {{group.groupType}}
        .select_line
          .left
          .middle
          .right
        .signup_button
          button.sinup_team_button(ng-click="createTeams()") 完成
      //- include partials/personal_step_four_phone
    .signup_step_five(ng-show="step===5")
      //- 注册成功
      .board
        .board_content
          img.signup_success(src="/img/signup/dl_signup_success.png")
          p.email_tip 去邮箱查找激活邮件
          a.email_link(target="_blank" ng-href="http://mail.{{emailDomain}}")
            span 去邮箱
            i.fa.fa-chevron-right
    //- 支线系列
    .signup_step_six(ng-show="step===6")
      //- 已经注册过
      .board
        .board_content
          //- 邮箱已注册，直接登录
          a(href="/index/appdownload" ng-if="!emailDomain && !notVerified")
            img.signin(src="/img/signup/dl_signup_signin.png")
          //- 重发激活信
          img.nomail(src="/img/signup/dl_signup_nomail.png" ng-if="!emailDomain && notVerified")
          img.resend(src="/img/signup/dl_signup_resend.png" ng-click="resend()" ng-if="!emailDomain && notVerified")
          //- 公司已注册未激活，去邮箱收激活信
          a(ng-href="http://mail.{{emailDomain}}" ng-if="emailDomain")
            img.nomail(src="/img/signup/dl_signup_verimail.png")
    .signup_step_seven(ng-show="step===7")
      include partials/personal_step_seven_phone
    .signup_step_eight(ng-show="step===8")
      .board.clearfix
        i.fa.fa-reply(ng-click="preStep()")
        .board_content
          .not_found
            p 很抱歉，没有找到您的公司
          .select_line
            .left
            .middle
            .right
          button.organize_btn(ng-click="organize()") 我来组织吧
      .signup_bottom_3

block footExt
  script(src='/js/controllers/companySignUp.js')
