extends ../layouts/base
block headExt
  meta(name="viewport" content="width=device-width,initial-scale=1, user-scalable=no")
block content
  .signup_phone.clearfix(ng-controller="userSignupMobileController" class="step_{{step}}")
    .signup_header
      img.logo(src="/img/signup/dl_logo_signup.png")
    
    .signup_step_one(ng-show="step===1")
      //- check邮箱
      .input_box
        .board
          input(ng-model="email" ng-keypress="checkMail($event)" required)
          button.search(ng-click="checkMail()" ng-disabled="loading")
      .signup_bottom
        //- img.signup_man(src="/img/signup/dl_signup_man.png")
        img.signup_cloud(src="/img/signup/dl_signup_cloud.png")

    .signup_step_two(ng-show="step===2")
      //- 选择公司或选择自己注册
      .board
        img.search_title(src="/img/signup/dl_signup_search_title.png")
        i.fa.fa-reply(ng-click="preStep()")
        .companies
          .company(ng-repeat="company in companies" ng-click="select(company)")
            span {{company.name}}
            i.fa.fa-chevron-right.pull-right
          span.prePage(ng-click="prePage()" ng-if="hasPrevious") 上一页
          span.nextPage(ng-click="nextPage()" ng-if="hasNext") 下一页
      .signup_bottom_2
        img.notfound(src="/img/signup/dl_signup_notfound.png")
        button.organize(ng-click="organize()")
    
    .signup_step_three(ng-show="step===3")
      //- 填入公司资料及密码
      include partials/personal_step_three_phone
    .signup_step_four(ng-show="step===4")
      .board
        i.fa.fa-hand-o-right
        .select_label 选择您感兴趣的项目
        .select_line
          .left
          .middle
          .right
        .groups.clearfix
          .group(ng-repeat='group in groups' ng-class="{'active':group.selected}" ng-click="selectType($index)")
            .img_contain(class='group_'+'{{group._id}}' )
            .shadow(ng-class="{'active': group.selected}")
            //- input.hidden(type='radio' name='group' id='{{group._id}}' value='{{group._id}}' ng-model='newTeam._id' required)
            label(for='{{group._id}}') {{group.groupType}}
        .select_line
          .left
          .middle
          .right
        .signup_button
          button.sinup_team_button(ng-click="createTeams()") 完成
      //- include partials/personal_step_four_phone
    .signup_step_five(ng-show="step===5")
      //- 注册成功
      span 注册成功
    //- 支线系列
    .signup_step_six(ng-show="step===6")
      //- 已经注册过
      .board
        .board_content
          a(href="/index/appdownload")
            img.signin(src="/img/signup/dl_signup_signin.png" ng-if="!notVerified")
          img.nomail(src="/img/signup/dl_signup_nomail.png" ng-if="notVerified")
          img.resend(src="/img/signup/dl_signup_resend.png" ng-click="resend()" ng-if="notVerified")
    .signup_step_seven(ng-show="step===7")
      .board
        .company_input_box
          .signup_container
            .sinup_label 
              label *企业名称:
            .sinup_company_name 上海动梨
          .signup_container
            .sinup_label 
              label *企业邮箱:
            .sinup_input
              input
          .signup_container
            .sinup_label 
              label *邀请码:
            .sinup_input
              input
          .signup_container
            .sinup_label 
              label *昵称:
            .sinup_input
              input
          .signup_container
            .sinup_label 
              label *密码:
            .sinup_input
              input
          .signup_container
            .sinup_label 
              label *密码确认:
            .sinup_input
              input
          .signup_container
            .sinup_label 
              label *真实姓名:
            .sinup_input
              input
          .signup_container
            .sinup_label 
            .sinup_input
              label 点击注册即代表同意
              a 服务条款
          .signup_container
            .sinup_label 
            .sinup_input
              button 免费注册个人账号
      .signup_bottom
    .signup_step_eight(ng-show="step===8")
      .board
      .signup_bottom_2
        //- img.notfound(src="/img/signup/dl_signup_notfound.png")
        button.organize(ng-click="organize()")

block footExt
  script(src='/js/controllers/companySignUp.js')
