.block.signup_block.personal_signup.form-horizontal
  .signup_title.personal_title
    span 个人注册
  .signup_tips
    span 第
    span.tip_number 1
    span 步：搜索您的公司
  .search_companies
    input(ng-model="company_name" placeholder="输入您的公司全称")
    button.search_button(ng-click="search()")