.block.signup_block.personal_signup.form-horizontal
  .signup_title.personal_title
    span 个人注册
  .signup_tips
    span 第
    span.tip_number 1
    span 步：搜索您的公司
  form.search_companies(name="searchForm")
    input.dl-form-control.search_input(type="email" ng-model="email" placeholder="输入您的公司邮箱" ng-keypress="search($event)" required)
    button.search_button(ng-disabled="searchForm.$invalid" ng-click="search()")
      i.fa.fa-search
    span.dl_tip(ng-show='!active') 请在上方输入您的企业邮箱，进行搜索。
    div(ng-show='active==2' ng-cloak)
      p.dl_tip 您的邮箱已注册过,请查收邮件,若未收到请点击重发按钮再次发送。
    div.dl_tip(ng-show='active==3' ng-cloak)
      span 您的邮箱已注册,请
      a(href='/users/signin') 登录
      span 。若是您忘记了密码,
      a(href='/users/forgetPwd') 请点此跳转
  form.dl_row.dl_sm_group(ng-if="active==2" name='active_form' action='/users/dealActive?notinvited=true' method='post')
    input(type="email" name="email" ng-model="email" ng-show='false')
    input(type="text" name="index" ng-model="active" ng-show='false')
    button.dl_btn.btn_submit(type="submit") 重发激活邮件
