form.block.signup_block.personal_signup.form-horizontal
  .signup_tips
    span 第
    span.tip_number 3
    span 步：填写您的信息
  form.form-inline.form-horizontal
    .form-group.dl_sm_group(ng-class="{'has-error':active_form.nickname.$invalid && active_form.nickname.$dirty}")
      .dl_row
        .label_left
          label.control-label(for="email") ＊企业邮箱
        .input_right
          input.dl-form-control(type="text" name="email" ng-model="email" ng-blur="mailCheck()")
      .dl_row.email_tip(ng-show="(active||loading)&&active!==4" ng-cloak)
        p
        img(ng-show='loading' src='/img/loading.gif')
        div(ng-show='active==1' ng-cloak)
          span 此邮箱未被注册!
        div(ng-show='active==2' ng-cloak)
          p 您的邮箱已注册过,请查收邮件,若未收到请点击重发按钮再次发送。
          p 
            span 若之前不是本人操作请
            a.subtitle(ng-click="active=4") 再次填写信息
            span 并查看邮箱激活。
        div(ng-show='active==3' ng-cloak)
          span 您的邮箱已注册,请
          a(href='/users/signin') 登录。
          span 若是您忘记了密码,
          a(href='/users/forgetPwd') 请点此跳转
        p
    include personal_form