.input_box
  .board
    form(name="companyForm" novalidate)
      input(ng-model="email" required readonly)
      input(ng-model="companyName" ng-blur="checkOfficeName()" required)
      //- 同名&&email后缀正确
      p(ng-if="recommandCompany && domain") 检测到同名公司，不过你的邮箱后缀与它不同，换公司邮箱搜索试试?
      //- 同名&&email不正确 提示换邮箱
      p(ng-if="recommandCompany && !domain")
        span 检测到同名公司
        a(ng-click="select(recommandCompany)") 点击加入
      .form-group
        select(ng-model="province" ng-options="province.value for province in provinces" ng-change="selcetProvince()")
        select(ng-model="city" ng-options="city.value for city in cities" ng-change="selectCity()")
        select(ng-model="district" ng-options="district.value for district in districts" )
      button.next_step(ng-click="selectPage()" ng-disabled="companyForm.$invalid") 下一步
.signup_bottom