.campaign_detail .order-1 {
  order: 1;
}
.campaign_detail .order-2 {
  order: 2;
}
.campaign_detail .order-3 {
  order: 3;
}
.campaign_detail .order-4 {
  order: 4;
}
.campaign_detail .order-5 {
  order: 5;
}
.campaign_detail .order-6 {
  order: 6;
}
.campaign_detail .order-7 {
  order: 7;
}
.campaign_detail .order-8 {
  order: 8;
}
.campaign_detail .order-9 {
  order: 9;
}
.campaign_detail .order-10 {
  order: 10;
}
.campaign_detail .campaign_panel {
  display: flex;
}
.campaign_detail .campaign_panel .component {
  margin-bottom: 10px;
}
.campaign_detail .campaign_panel .panel_divider {
  width: 20px;
}
.campaign_detail .campaign_panel .main_panel {
  width: 700px;
}
.campaign_detail .campaign_panel .side_panel {
  display: flex;
  flex-flow: column;
  width: 240px;
}
.campaign_detail .component {
  box-shadow: 3px 3px 3px #ddd;
}
.campaign_detail .component .component_head {
  padding-left: 20px;
  padding-right: 5px;
  height: 30px;
  background-color: #3498db;
}
.campaign_detail .component .component_head:before,
.campaign_detail .component .component_head:after {
  display: table;
  content: " ";
}
.campaign_detail .component .component_head:after {
  clear: both;
}
.campaign_detail .component .component_head .component_logo {
  margin-right: 10px;
  height: 14px;
}
.campaign_detail .component .component_head .title {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}
.campaign_detail .component .component_head .head_button {
  margin-top: 5px;
  padding: 0;
  width: 35px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  float: right;
  text-align: center;
  text-decoration: none;
}
.campaign_detail .component .component_body {
  padding: 20px;
  background-color: #fff;
}
.campaign_detail .component .component_body .main_text,
.campaign_detail .component .component_body .text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  word-break: break-all;
}
.campaign_detail .component .component_body .main_text {
  color: #999;
}
.campaign_detail .component .component_body .text {
  color: #ccc;
}
.campaign_detail .detail_card .component_head {
  height: 35px;
  background-color: #73a5dd;
  padding-right: 15px;
}
.campaign_detail .detail_card .component_head .title {
  margin-right: 15px;
  line-height: 35px;
  font-size: 18px;
}
.campaign_detail .detail_card .component_head .sub_title {
  line-height: 35px;
  color: #fff;
  font-size: 14px;
  opacity: 0.6;
}
.campaign_detail .detail_card .component_head .right_title {
  margin-left: 15px;
  margin-right: 0;
  float: right;
}
.campaign_detail .detail_card .component_head .starting_title {
  font-size: 14px;
}
.campaign_detail .detail_card .component_head .operator {
  cursor: pointer;
}
.campaign_detail .detail_card .component_head .head_button {
  margin-top: 8px;
  width: 50px;
  height: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #e7ce23;
}
.campaign_detail .detail_card .component_body .multi_team {
  display: flex;
  flex-flow: column;
}
.campaign_detail .detail_card .component_body .multi_team .logo_container {
  border-right: none !important;
  border-bottom: 1px solid #eee;
}
.campaign_detail .detail_card .component_body .multi_team .logo_container .unit {
  display: inline-block !important;
}
.campaign_detail .detail_card .component_body .multi_team .info_container {
  padding-top: 20px;
}
.campaign_detail .detail_card .component_body .base_info {
  display: flex;
}
.campaign_detail .detail_card .component_body .base_info .logo_container {
  border-right: 1px solid #eee;
}
.campaign_detail .detail_card .component_body .base_info .logo_container .unit {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 80px;
}
.campaign_detail .detail_card .component_body .base_info .logo_container .unit .logo {
  width: 80px;
  height: 80px;
}
.campaign_detail .detail_card .component_body .base_info .logo_container .unit .join {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0;
  width: 52px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background-color: #3498db;
}
.campaign_detail .detail_card .component_body .base_info .info_container {
  flex: 1;
  padding-left: 20px;
  padding-bottom: 20px;
}
.campaign_detail .detail_card .component_body .base_info .info_container .title {
  font-size: 14px;
  color: #e7ce23;
}
.campaign_detail .detail_card .component_body .base_info .info_container .start_info {
  display: flex;
  margin-bottom: 20px;
}
.campaign_detail .detail_card .component_body .base_info .info_container .start_info .campaign_info {
  width: 300px;
}
.campaign_detail .detail_card .component_body .base_info .info_container .start_info .time_info {
  padding-left: 10px;
  width: 270px;
}
.campaign_detail .detail_card .component_body .base_info .info_container .start_info .time_info .remind {
  margin-top: 15px;
  font-size: 28px;
  line-height: 30px;
  color: #97d7c6;
}
.campaign_detail .detail_card .component_body .more_info {
  padding-top: 20px;
  border-top: 1px solid #eee;
}
.campaign_detail .detail_card .component_body .more_info .sub_title {
  margin-right: 10px;
}
.campaign_detail .detail_card .component_body .more_info .progress {
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  width: 200px;
  height: 14px;
  border-radius: 15px;
  background-color: #4b6f97;
}
.campaign_detail .detail_card .component_body .more_info .progress .progress-bar {
  background-color: #97d7c6;
  box-shadow: none;
}
.campaign_detail .detail_card .component_body .more_info .bootstrap-tagsinput .tag {
  background-color: #98a8b5;
}
.campaign_detail .detail_card .component_body .more_info .tags .tag {
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 4px;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #73a4dc;
}
.campaign_detail .detail_card .component_body .more_info .deadline #deadline {
  width: 200px;
  margin-right: 10px;
}
.campaign_detail .detail_card .component_body .more_info .detail_input {
  padding: 6px 10px;
  width: 100%;
  height: 30px;
  color: #ccc;
  background-color: #fbfbfb;
  border: solid 1px #d3dbe6;
  font-size: 14px;
}
.campaign_detail .detail_card .component_body .more_info #campaignDetailToolBar {
  background-color: #f1f1f1;
  border: 1px solid #cdcdcd;
  border-bottom: 0;
}
.campaign_detail .detail_card .component_body .more_info .pen-menu {
  height: 30px;
  padding: 5px;
  z-index: auto;
}
.campaign_detail .detail_card .component_body .more_info .pen-menu .pen-icon {
  height: 30px;
}
.campaign_detail .detail_card .component_body .more_info #campaignDetail {
  background-color: #fbfbfb;
  border: 1px solid #eee;
}
.campaign_detail .detail_card .component_body .more_info .editing {
  display: flex;
  margin: 15px 0;
}
.campaign_detail .detail_card .component_body .more_info .editing .line_text {
  line-height: 30px;
}
.campaign_detail .detail_card .component_body .more_info .editing .people_count {
  margin-right: 10px;
  width: 45px;
}
.campaign_detail .detail_card .component_body .more_info .editing .date_picker {
  margin-right: 10px;
  width: 150px;
}
.campaign_detail .detail_card .component_body .more_info .editing .date_picker input {
  display: block;
}
.campaign_detail .detail_card .component_body .more_info .operator {
  margin-top: 20px;
}
.campaign_detail .detail_card .component_body .more_info .operator:before,
.campaign_detail .detail_card .component_body .more_info .operator:after {
  display: table;
  content: " ";
}
.campaign_detail .detail_card .component_body .more_info .operator:after {
  clear: both;
}
.campaign_detail .detail_card .component_body .more_info .operator .save,
.campaign_detail .detail_card .component_body .more_info .operator .cancel {
  float: right;
  padding: 0;
  width: 52px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.campaign_detail .detail_card .component_body .more_info .operator .save {
  margin-left: 10px;
  color: #fff;
  background-color: #97d7c6;
}
.campaign_detail .detail_card .component_body .more_info .operator .cancel {
  color: #fff;
  background-color: #ccc;
}
.campaign_detail .detail_card .component_body .more_info .operator .close_campaign {
  float: left;
  color: #f3939e;
  cursor: pointer;
}
.campaign_detail .detail_card .component_body .more_info .operator .close_campaign .icon_close {
  margin-right: 5px;
}
.campaign_detail .detail_card .component_body .title {
  font-size: 14px;
  color: #73a5dd;
}
.campaign_detail .map_card .component_head {
  background-color: #8dd4e6;
}
.campaign_detail .map_card .component_head .head_button {
  background-color: #5eb0c5;
}
.campaign_detail .map_card .component_body {
  padding: 0;
}
.campaign_detail .member_card .component_head {
  background-color: #73a5dd;
}
.campaign_detail .member_card .component_head .head_button {
  background-color: #4e83be;
}
.campaign_detail .member_card .component_body .member {
  margin-right: 9px;
}
.campaign_detail .member_card .component_body .member:last-child {
  margin-right: 0;
}
.campaign_detail .brief_card .component_head {
  background-color: #73a5dd;
}
.campaign_detail .brief_card .component_head .head_button {
  background-color: #4e83be;
}
.campaign_detail .member_modal .modal-content {
  border-radius: 0;
}
.campaign_detail .member_modal .modal-content .component {
  height: 400px;
  box-shadow: none;
}
.campaign_detail .member_modal .modal-content .component .component_head {
  background-color: #73a5dd;
}
.campaign_detail .member_modal .modal-content .component .component_head .dl_close {
  padding: 2px;
}
.campaign_detail .member_modal .modal-content .component .component_head .dl_close .icon_close {
  width: 14px;
  height: 14px;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel:before,
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel:after {
  display: table;
  content: " ";
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel:after {
  clear: both;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list {
  display: block;
  float: left;
  padding: 0;
  height: 20px;
  border-radius: 12px;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list:before,
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list:after {
  display: table;
  content: " ";
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list:after {
  clear: both;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list .unit {
  display: block;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  line-height: 20px;
  border-left: solid 1px #ccc;
  background-color: #fbfbfb;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list .unit:first-child {
  border-left: none;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list .unit:last-child {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list .unit .tab {
  text-decoration: none;
  color: #ccc;
  background-color: #fbfbfb;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list .unit.active {
  background-color: #ccc;
}
.campaign_detail .member_modal .modal-content .component .component_body .unit_panel .unit_list .unit.active .tab {
  color: #fff;
  background-color: #ccc;
}
.campaign_detail .member_modal .modal-content .component .component_body .tab-content {
  min-height: 0;
  margin-top: 10px;
}
.campaign_detail .member_modal .modal-content .component .component_body .member_list:before,
.campaign_detail .member_modal .modal-content .component .component_body .member_list:after {
  display: table;
  content: " ";
}
.campaign_detail .member_modal .modal-content .component .component_body .member_list:after {
  clear: both;
}
.campaign_detail .member_modal .modal-content .component .component_body .member_list .member {
  float: left;
  margin-bottom: 18px;
  margin-right: 10px;
  width: 57px;
}
.campaign_detail .member_modal .modal-content .component .component_body .member_list .member:nth-child(8n) {
  margin-right: 0;
}
.campaign_detail .member_modal .modal-content .component .component_body .member_list .member .photo {
  width: 57px;
  height: 57px;
}
.campaign_detail .member_modal .modal-content .component .component_body .member_list .member .nickname {
  display: block;
  margin-top: 10px;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
