.dl_detail_container {
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}
.dl_detail_container .dl_detail_main {
  width: 660px;
  float: left;
  margin-right: 10px;
}
.dl_detail_container .dl_detail_main .dl_detail_border {
  width: 660px;
  border: 1px solid #ddd;
  border-top-color: transparent;
  padding: 20px 10px;
  background-color: #fff;
}
.dl_detail_container .dl_detail_main .dl_detail_border .dl_detail_content {
  width: 450px;
  float: left;
}
.dl_detail_container .dl_detail_main .dl_detail_border .dl_detail_aside {
  width: 140px;
  float: right;
}
.dl_detail_container .dl_detail_main .dl_detail_border .dl_detail_aside .dl_btn_medium {
  width: 128px;
}
.dl_detail_container .dl_detail_main .dl_detail_member {
  width: 660px;
  float: left;
  background-color: #fff;
  margin: 10px 0 0;
  padding: 10px 20px;
  border: 1px solid #ddd;
}
.dl_detail_container .dl_detail_main .dl_detail_member .base_content {
  max-height: 78px;
  overflow: hidden;
}
.dl_detail_container .dl_detail_main .dl_detail_member .contentContainer li {
  list-style: inherit;
}
.dl_detail_container .dl_detail_main .dl_detail_member .member {
  float: left;
  margin: 4px;
}
.dl_detail_container .dl_detail_main .dl_detail_member .member .item {
  display: block;
}
.dl_detail_container .dl_detail_main .dl_detail_member .member .item .img_contain {
  display: block;
}
.dl_detail_container .dl_detail_main .dl_detail_member .member .item .name {
  padding-top: 5px;
  display: block;
  width: 50px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl_detail_container .dl_detail_main .commment_box {
  width: 660px;
  float: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-top: 10px;
}
.dl_detail_container .dl_detail_main .commment_box textarea {
  width: 510px;
  margin-left: 10px;
}
.dl_detail_container .dl_detail_main .commment_box button {
  margin-top: 21px;
}
.dl_detail_container .dl_button_container {
  margin-top: 10px;
}
.dl_detail_container .dl_detail_side {
  width: 290px;
  float: right;
}
.dl_detail_container .dl_detail_side .map_container {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin-top: 43px;
}
.dl_detail_container .dl_detail_side .map_container .map_size {
  width: 268px;
  height: 210px;
}
.dl_detail_container .dl_detail_side .photo_container {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px 10px;
  margin-top: 10px;
}
.dl_detail_container .dl_detail_side .locationtitle {
  margin-top: 15px;
}
.border_red {
  border-top: 3px solid #d12710 !important;
}
.dl_detail_row {
  min-width: 490px;
  min-height: 35px;
  font-size: 14px;
  margin-bottom: 5px;
}
.dl_detail_row .dl_detail_label {
  min-width: 100px;
  padding: 10px 20px;
  background-color: #f1f6fa;
  float: left;
}
.dl_detail_row .dl_detail_detail {
  padding: 10px 15px;
  min-width: 322px;
  max-width: 360px;
  float: left;
  width: auto;
}
