.campaign_table tr:first-child td {
  border-top: none;
}
.campaign_table tr {
  height: 60px;
}
.campaign_table tr td {
  padding-top: 9px !important;
}
.campaign_table .emp_col {
  width: 20px;
}
.campaign_table .time_col {
  width: 74px;
}
.campaign_table .time_col p {
  font-size: 16px;
  margin: 0;
}
.campaign_table .time_col .day {
  margin-top: 4px;
  font-size: 22px;
}
.campaign_table .time_col .year {
  font-size: 12px;
}
.campaign_table .time_col .time {
  font-size: 12px;
}
.campaign_table .logo_col {
  width: 140px;
}
.campaign_table .logo_col .campaign_logo {
  width: 64px;
  height: 64px;
  margin-top: 2px;
}
.campaign_table .content_col p {
  margin: 0;
  line-height: 21px;
}
.campaign_table .content_col .theme_text {
  margin-left: 5px;
}
.campaign_table .content_col .content_text {
  margin-left: 5px;
}
.campaign_table .operator_col {
  padding: 25px !important;
}
