.dl_campaign_list .dl_btn {
  margin-top: 13px;
}
.campaign_table tr:first-child td {
  border-top: none;
}
.campaign_table tr {
  height: 60px;
}
.campaign_table tr td {
  padding-top: 9px !important;
}
.campaign_table .emp_col {
  width: 20px;
}
.campaign_table .time_col {
  width: 74px;
}
.campaign_table .time_col p {
  font-size: 16px;
  margin: 0;
}
.campaign_table .time_col .day {
  margin-top: 4px;
  font-size: 22px;
}
.campaign_table .time_col .time {
  font-size: 12px;
}
.campaign_table .year_col {
  width: 57px;
  padding-right: 2px;
}
.campaign_table .year_col .year {
  font-size: 12px;
  padding: 8px 0 0 20px;
}
.campaign_table .company_logo_col,
.campaign_table .team_logo_col,
.campaign_table .undefined_logo_col {
  width: 140px;
  padding-right: 10px;
}
.campaign_table .company_logo_col .campaign_logo,
.campaign_table .team_logo_col .campaign_logo,
.campaign_table .undefined_logo_col .campaign_logo {
  width: 64px;
  height: 64px;
  margin: 3px 0;
  margin-left: 65px;
}
.campaign_table .team_logo_col .campaign_logo,
.campaign_table .undefined_logo_col .campaign_logo {
  margin-left: 10px;
}
.campaign_table .content_col p {
  margin: 0;
  line-height: 21px;
}
.campaign_table .content_col .theme_text {
  margin-left: 5px;
}
.campaign_table .content_col .content_text {
  margin-left: 5px;
}
.campaign_table .operator_col {
  padding: 25px !important;
}
