.campaign_panel {
  position: relative;
}
.invisible_link {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: translate;
  z-index: 1;
}
.operator_btn {
  z-index: 2;
}
.campaigns_list .operator_btn {
  margin: 5px;
}
