.dl_detail_main {
  width: 640px;
  margin-right: 30px;
  float: left;
}
.dl_detail_main .competition_content .team_info {
  padding: 20px 0;
  border: 1px solid #ddd;
  border-top: 0;
  background-color: #fbfbfb;
}
.dl_detail_main .competition_content .team_info .team_left {
  width: 229px;
  float: left;
}
.dl_detail_main .competition_content .team_info .score_panel {
  width: 180px;
  float: left;
}
.dl_detail_main .competition_content .team_info .score_panel .VS {
  height: 30px;
  padding-top: 10px;
}
.dl_detail_main .competition_content .team_info .score_panel .score {
  width: 180px;
  padding-top: 10px;
  height: 60px;
}
.dl_detail_main .competition_content .team_info .score_panel .score .score_left {
  text-align: right;
  padding: 0;
  width: 85px;
  float: left;
  height: 40px;
}
.dl_detail_main .competition_content .team_info .score_panel .score .score_colon {
  width: 10px;
  text-align: center;
  float: left;
}
.dl_detail_main .competition_content .team_info .score_panel .score .score_right {
  text-align: left;
  padding: 0;
  width: 85px;
  float: right;
  height: 40px;
}
.dl_detail_main .competition_content .team_info .score_panel .score .dl_score_input {
  height: 40px;
  width: 45px;
  font-size: 30px;
  text-align: center;
}
.dl_detail_main .competition_content .team_info .score_panel .score_button {
  width: 180px;
  height: 30px;
  text-align: center;
  float: left;
}
.dl_detail_main .competition_content .team_info .score_panel .score_button .dl_btn_right {
  height: 30px;
  padding: 8px;
}
.dl_detail_main .competition_content .team_info .team_right {
  width: 229px;
  float: right;
}
.dl_detail_main .competition_content .team_info .team_name {
  text-align: center;
  width: 120px;
  float: left;
}
.dl_detail_main .competition_content .dl_score {
  width: 85px;
  height: 40px;
  font-size: 30px;
  line-height: 120%;
  color: #000;
}
.dl_detail_main .competition_content .dl_score_colon {
  font-size: 34px;
  text-align: center;
  line-height: 100%;
  padding: 0;
  color: #000;
  display: inline-block;
}
.dl_detail_main .competition_content .dl_left {
  margin-left: -30px;
}
.dl_detail_main .competition_content .football {
  margin-bottom: 20px;
  padding: 10px 0;
}
.dl_detail_main .competition_content .football .img_contain {
  width: 495px;
  height: 334px;
  background-image: url("/img/football.jpg");
}
.dl_detail_main .competition_content .football .img_contain .formatField {
  position: relative;
  padding: 0;
  height: 334px;
}
.dl_detail_main .competition_content .football .img_contain .formatField .teamMember {
  position: absolute;
}
.dl_detail_main .competition_content .team_logo {
  width: 120px;
  height: 120px;
  border: solid 1px #ccc;
}
.dl_detail_main .competition_content .members {
  margin: 20px 0;
  padding: 10px 0;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
}
.dl_detail_main .competition_content .team_member_logo {
  width: 40px;
  height: 40px;
}
.dl_detail_main .competition_content .teamMember[draggable=true] {
  cursor: move;
}
.side .competition_detail {
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fbfbfb;
}
.side .competition_detail .dl_detail_row {
  min-width: 300px;
  min-height: 30px;
  font-size: 12px;
  margin-bottom: 5px;
}
.side .competition_detail .dl_detail_row .dl_detail_label {
  min-width: 70px;
  padding: 5px 10px;
  background-color: #f1f6fa;
  float: left;
}
.side .competition_detail .dl_detail_row .dl_detail_detail {
  padding: 5px 10px;
  min-width: 200px;
  max-width: 480px;
  width: 200px;
  float: left;
  word-break: break-all;
  white-space: normal;
}
.side .map_size {
  width: 290px;
  height: 210px;
}
