.competition_content {
  margin-top: 20px;
}
.competition_content .dl_score {
  width: 90px;
  height: 50px;
  font-size: 30px;
  line-height: 120%;
  color: #000;
}
.competition_content .dl_score_colon {
  font-size: 30px;
  text-align: center;
  line-height: 100%;
  padding: 0;
  color: #000;
}
.competition_content .score_left {
  text-align: right;
  padding: 0;
}
.competition_content .score_right {
  text-align: left;
  padding: 0;
}
.competition_content .dl_left {
  margin-left: -30px;
}
.competition_content .img_contain {
  height: 384px;
  background-image: url("/img/football.jpg");
}
.competition_content .img_contain .formatField {
  position: relative;
  padding: 0;
  height: 334px;
  margin: 25px;
}
.competition_content .img_contain .formatField .teamMember {
  position: absolute;
}
.competition_content .team_logo {
  width: 120px;
  height: 120px;
  border: solid 1px #ccc;
}
.competition_content .team_member_logo {
  width: 40px;
  height: 40px;
}
.competition_content .teamMember[draggable=true] {
  cursor: move;
}
.side .dl_detail_row {
  min-width: 300px;
  min-height: 35px;
  font-size: 12px;
  margin-bottom: 5px;
}
.side .dl_detail_row .dl_detail_label {
  min-width: 70px;
  padding: 5px 10px;
  background-color: #f1f6fa;
  float: left;
}
.side .dl_detail_row .dl_detail_detail {
  padding: 5px 10px;
  min-width: 200px;
  max-width: 480px;
  width: 200px;
  float: left;
  word-break: break-all;
  white-space: normal;
}
