.signup_row {
  padding-top: 120px;
}
.block_left {
  margin-top: 50px;
  width: 340px;
  float: left;
}
.block_left h1 {
  font-family: "KaiTi", "STKaiti", "BiauKai";
  font-size: 50px;
  margin-bottom: 40px;
}
.block_right {
  width: 360px;
  margin-left: 200px;
  float: left;
}
.btn_submit {
  width: 100%;
  height: 40px !important;
}
#province,
#city,
#region {
  width: 85px;
}
#lindline_areacodes {
  width: 70px;
}
#lindline_number {
  width: 90px;
}
#lindline_extension {
  width: 70px;
}
#email_host {
  width: 142px;
}
#email_domain {
  width: 100px;
}
.apply_info h2 {
  font-weight: normal;
}
.apply_info p {
  color: #808080;
}
.btn_return {
  margin-top: 30px;
  width: 140px;
  border: none;
  padding: 10px;
}
.invite_block {
  width: 480px;
  padding-top: 50px;
}
.invite_block .add_domain {
  margin-top: 50px;
}
.invite_block .add_domain .add_domain_div {
  margin: 5px;
}
.invite_block .index_link {
  margin-top: 15px;
}
.label_left {
  width: 95px;
  float: left;
  text-align: right;
}
.input_right {
  width: 260px;
  float: left;
  margin-left: 10px;
}
.arecode_container {
  width: 60px;
  float: left;
}
.number_container {
  width: 90px;
  float: left;
}
.-container {
  width: 14px;
  float: left;
  margin-left: 5px;
}
body {
  background-image: url("/img/sign_bg.jpg");
  background-size: cover;
}
