.signup_row {
  padding-top: 95px;
}
.signup_row .block {
  width: 455px;
  float: left;
}
.signup_row .block .signup_title {
  font-size: 28px;
  font-size: 28px;
  margin-bottom: 43px;
  line-height: 1;
}
.signup_row .block .signup_tips {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1;
}
.signup_row .block .signup_tips .tip_number {
  font-size: 24px;
}
.signup_row .block .personal_title {
  color: #3ca2e0;
}
.signup_row .block_left {
  margin-right: 50px;
}
.signup_row .notification_block {
  width: 270px;
}
.signup_row .signup_block {
  border-radius: 8px;
  border: 2px solid #f48361;
  padding: 38px;
}
.signup_row .signup_block .company_title {
  color: #f48361;
}
.signup_row .signup_block .dl_sm_group .dl_row {
  min-height: 45px;
  padding: 5px 0;
}
.signup_row .signup_block .dl_sm_group .label_left {
  width: 84px;
  float: left;
  text-align: right;
  min-height: 20px;
}
.signup_row .signup_block .dl_sm_group .input_right {
  width: 290px;
  float: left;
  margin-left: 15px;
}
.signup_row .signup_block .dl_sm_group .input_right .department_select_width {
  width: 127px;
}
.signup_row .signup_block .dl_sm_group .input_right .input_email {
  width: 45%;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right .select_domain {
  width: 45%;
  float: right;
}
.signup_row .signup_block .dl_sm_group .input_right .at {
  padding: 9px 5px;
  font-size: 14px;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right inputf {
  width: 100%;
}
.signup_row .signup_block .dl_sm_group .input_right .arecode_container {
  width: 60px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right .number_container {
  width: 140px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right .extention_container {
  width: 70px;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box {
  width: 90px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box select {
  width: 90px;
  outline: 0;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box[last_child] {
  margin-right: 0;
}
.signup_row .signup_block .dl_sm_group .service_tip {
  margin-left: 15px;
  float: left;
  height: 62px;
  padding: 25px 0 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .service_tip a {
  color: #f48361;
}
.signup_row .signup_block .dl_sm_group .btn_submit {
  width: 100%;
  height: 40px !important;
  background-color: #f48361;
}
.signup_row .signup_block .dl_sm_group .dl_tip {
  position: relative;
}
.signup_row .signup_block .dl_sm_group .center_container {
  width: 350px;
  text-align: center;
}
.signup_row .signup_block .dl_sm_group .center_container .center_content {
  margin: 0 auto;
  width: 150px;
}
.signup_row .signup_block .dl_sm_group .email_tip {
  float: right;
  text-align: right;
}
.signup_row .signup_block .dl_sm_group #email_host {
  width: 142px;
}
.signup_row .signup_block .dl_sm_group #email_domain {
  width: 100px;
}
.signup_row .signup_block .dl_sm_group .apply_info h2 {
  font-weight: normal;
}
.signup_row .signup_block .dl_sm_group .apply_info p {
  color: #808080;
}
.signup_row .signup_block .dl_sm_group .btn_return {
  margin-top: 30px;
  width: 140px;
  border: none;
  padding: 10px;
}
.signup_row .signup_block .dl_sm_group .invite_block {
  width: 480px;
  padding-top: 50px;
}
.signup_row .signup_block .dl_sm_group .invite_block .add_domain {
  margin-top: 50px;
}
.signup_row .signup_block .dl_sm_group .invite_block .add_domain .add_domain_div {
  margin: 5px;
}
.signup_row .signup_block .dl_sm_group .invite_block .index_link {
  margin-top: 15px;
}
.signup_row .personal_signup {
  border: 2px solid #3ca2e0;
}
.signup_row .personal_signup .signup_tips {
  margin-top: -7px;
}
