.rich_comment .component_head {
  background-color: #97d7c6 !important;
  padding-right: 15px !important;
}
.rich_comment .component_head .head_button {
  width: 100px !important;
  background-color: #74baa7;
}
.rich_comment .component_head .head_button .head_button_icon {
  margin-right: 9px;
  height: 14px;
}
.rich_comment .component_body {
  padding: 0 !important;
}
.rich_comment .component_body .rich_comment_form {
  padding: 20px;
  padding-top: 40px;
  border-bottom: 1px solid #eee;
}
.rich_comment .component_body .rich_comment_form .comment_control {
  display: flex;
  display: -webkit-flex;
}
.rich_comment .component_body .rich_comment_form .comment_control .user_photo {
  width: 30px;
  height: 30px;
}
.rich_comment .component_body .rich_comment_form .comment_control .content {
  padding: 6px 10px;
  height: 30px;
  color: #ccc;
  background-color: #f3fcff;
  border: solid 1px #d3dbe6;
  font-size: 14px;
  margin-left: 10px;
  flex: 1;
}
.rich_comment .component_body .rich_comment_form .comment_control .img_selector {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #d2e1f1;
  text-align: center;
}
.rich_comment .component_body .rich_comment_form .comment_control .img_selector .upload_img {
  margin-top: 7px;
  width: 20px;
}
.rich_comment .component_body .rich_comment_form .comment_control .publish {
  margin-left: 5px;
  padding: 0;
  width: 70px;
  height: 30px;
  color: #fff;
  background-color: #73a5dd;
  font-size: 14px;
  line-height: 30px;
}
.rich_comment .component_body .rich_comment_form .comment_control .publish[disabled] {
  opacity: 0.65;
}
.rich_comment .component_body .rich_comment_form .preview_box {
  display: flex;
  display: -webkit-flex;
  margin-top: 5px;
  padding-left: 40px;
}
.rich_comment .component_body .rich_comment_form .preview_box .preview_img_wrap {
  position: relative;
  margin-right: 5px;
}
.rich_comment .component_body .rich_comment_form .preview_box .preview_img_wrap .close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.rich_comment .component_body .rich_comment_form .preview_box .preview_img_wrap:hover .close {
  display: block;
}
.rich_comment .component_body .comment {
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  display: -webkit-flex;
}
.rich_comment .component_body .comment .user_name {
  text-decoration: none;
  color: #b1c6d2;
}
.rich_comment .component_body .comment .comment_user_info {
  padding-top: 3px;
  width: 40px;
}
.rich_comment .component_body .comment .comment_user_info .user_photo {
  width: 30px;
  height: 30px;
}
.rich_comment .component_body .comment .comment_content_panel {
  flex: 1;
  -webkit-flex: 1;
}
.rich_comment .component_body .comment .comment_content_panel .comment_content {
  word-break: break-all;
  overflow: hidden;
  margin-bottom: 4px;
}
.rich_comment .component_body .comment .comment_content_panel .comment_content .image_box {
  margin-top: 5px;
}
.rich_comment .component_body .comment .comment_content_panel .comment_footer .text {
  font-size: 12px;
}
.rich_comment .component_body .comment .comment_content_panel .comment_footer .operator .text {
  margin-left: 10px;
}
.rich_comment .component_body .comment .comment_content_panel .comment_footer .operator .reply {
  color: #73a5dd;
}
.rich_comment .component_body .comment .comment_content_panel .comment_footer .operator .reply_icon {
  margin-right: 7px;
  height: 12px;
}
.rich_comment .component_body .comment .comment_content_panel .replies {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f7f7;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply_form {
  margin-bottom: 15px;
  display: flex;
  display: -webkit-flex;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply_form .reply_input {
  flex: 1;
  -webkit-flex: 1;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply_form .dl_btn_submit {
  background-color: #73a5dd;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply {
  margin: 8px 0;
  word-break: break-all;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply:before,
.rich_comment .component_body .comment .comment_content_panel .replies .reply:after {
  display: table;
  content: " ";
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply:after {
  clear: both;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply .user_name {
  margin-right: 10px;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply .reply_date {
  margin-left: 10px;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply .reply_date {
  font-size: 12px;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply .operator {
  float: right;
}
.rich_comment .component_body .comment .comment_content_panel .replies .reply .operator .text {
  margin-left: 5px;
  font-size: 12px;
}
.rich_comment .component_body .pager {
  margin: 0;
  padding: 20px;
}
.rich_comment .component_body .pager .pagination {
  margin: 0;
}
.rich_comment .component_body .pager .novisible {
  opacity: 0;
}
.rich_comment .component_body .pager li>a {
  border-radius: 0;
}
.simple_comment .component_body .comment_more a {
  color: #3498db;
  text-align: center;
}
.simple_comment .component_body .rich_comment_form .comment_control .content {
  margin: 0;
  background-color: #fbfbfb;
}
.simple_comment .component_body .rich_comment_form .comment_control .img_selector {
  margin: 0;
}
.simple_comment .component_body .rich_comment_form .comment_control .publish {
  margin: 0;
  background-color: #3ca2e0;
}
.simple_comment .component_body .rich_comment_form .preview_box {
  display: block;
}
.simple_comment .component_body .rich_comment_form .preview_box .remind {
  display: block;
}
.simple_comment .component_body .rich_comment_form .preview_box .preview_img_wrap {
  float: left;
  width: 48px;
  height: 48px;
}
.simple_comment .component_body .comment {
  padding: 10px;
  clear: both;
}
.simple_comment .component_body .comment .comment_user_info {
  margin-right: 10px;
  width: 30px;
}
.simple_comment .component_body .comment .comment_content_panel p {
  margin: 0;
}
.simple_comment .component_body .comment .comment_content_panel .comment_content .user_name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.simple_comment .component_body .comment .comment_content_panel .comment_content .image_box .thumb {
  width: 200px;
}
.simple_comment .component_body .comment .comment_content_panel .comment_content .image_box .thumb .multi {
  width: 60px;
  height: 60px;
}
.simple_comment .component_body .comment .comment_content_panel .replies .reply_form {
  margin-bottom: 0;
}
.score_board .component_head {
  background-color: #333 !important;
}
.score_board .component_body {
  padding: 20px 10px 5px !important;
}
.score_board .score_board_body {
  display: flex;
  display: -webkit-flex;
  padding: 0 20px;
}
.score_board .score_board_body .playing_team_0 {
  order: 1;
  -webkit-order: 1;
}
.score_board .score_board_body .playing_team_1 {
  order: 3;
  -webkit-order: 3;
}
.score_board .score_board_body .playing_team {
  width: 69px;
  text-align: center;
}
.score_board .score_board_body .playing_team .team_logo {
  width: 69px;
  height: 69px;
}
.score_board .score_board_body .playing_team .team_name {
  font-size: 12px !important;
  white-space: nowrap;
  margin: 5px 0 !important;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.score_board .score_board_body .playing_team .show_score {
  display: flex;
  display: -webkit-flex;
  color: #fff;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.score_board .score_board_body .playing_team .show_score .score,
.score_board .score_board_body .playing_team .show_score .result {
  background-color: #999;
}
.score_board .score_board_body .playing_team .show_score .score {
  flex: 1;
  -webkit-flex: 1;
}
.score_board .score_board_body .playing_team .show_score .result {
  flex: 1;
  -webkit-flex: 1;
  margin-left: 1px;
}
.score_board .score_board_body .playing_team .show_score.active .score,
.score_board .score_board_body .playing_team .show_score.active .result {
  background-color: #ec6a6a;
}
.score_board .score_board_body .playing_team .editing .score {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  color: #ccc;
  background-color: #fbfbfb;
  border: solid 1px #ccc;
}
.score_board .score_board_body .playing_team .editing .results:before,
.score_board .score_board_body .playing_team .editing .results:after {
  display: table;
  content: " ";
}
.score_board .score_board_body .playing_team .editing .results:after {
  clear: both;
}
.score_board .score_board_body .playing_team .editing .results .result {
  display: block;
  float: left;
  padding: 0;
  width: 23px;
  height: 20px;
  background-color: #999;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.score_board .score_board_body .playing_team .editing .results .result.active {
  background-color: #ec6a6a;
}
.score_board .score_board_body .vs {
  flex: 1;
  -webkit-flex: 1;
  order: 2;
  -webkit-order: 2;
  padding-top: 25px;
  text-align: center;
  font-size: 28px;
  color: #ec6a6a;
}
.score_board .score_board_operator {
  margin-top: 20px;
  padding-right: 20px;
}
.score_board .score_board_operator:before,
.score_board .score_board_operator:after {
  display: table;
  content: " ";
}
.score_board .score_board_operator:after {
  clear: both;
}
.score_board .score_board_operator .operator {
  float: right;
  margin-left: 5px;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: #3ca2e0;
  font-size: 14px;
  text-align: center;
}
.score_board .score_board_operator .cancel {
  background-color: #ccc;
}
.score_board .score_board_footer {
  color: #ccc;
  margin-top: 20px;
}
.score_board .score_board_footer:before,
.score_board .score_board_footer:after {
  display: table;
  content: " ";
}
.score_board .score_board_footer:after {
  clear: both;
}
.score_board .score_board_footer .remind_text {
  float: left;
}
.score_board .score_board_footer .getlog {
  float: right;
  cursor: pointer;
}
.score_board .logs .log {
  border-top: solid 1px #ccc;
}
.score_board .logs .log .title {
  margin: 0;
  margin-top: 5px;
  color: #ccc;
  font-size: 12px;
  line-height: 12px;
}
.score_board .logs .log .content {
  margin: 5px 0;
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
}
.image_box .remind {
  color: #73a5dd;
  cursor: pointer;
}
.image_box .thumb {
  width: 350px;
}
.image_box .thumb:before,
.image_box .thumb:after {
  display: table;
  content: " ";
}
.image_box .thumb:after {
  clear: both;
}
.image_box .thumb .multi {
  display: block;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 100px;
  height: 100px;
}
.image_box .preview {
  padding: 10px;
  background-color: #f4f4f4;
  overflow: hidden;
}
.image_box .preview .operator_nav {
  padding-bottom: 10px;
}
.image_box .preview .operator_nav:before,
.image_box .preview .operator_nav:after {
  display: table;
  content: " ";
}
.image_box .preview .operator_nav:after {
  clear: both;
}
.image_box .preview .operator_nav .dl_close {
  font-size: 15px;
}
.image_box .preview .operator_nav .dl_close .icon_close {
  width: 15px;
  height: 15px;
}
.image_box .preview .image_container {
  position: relative;
}
.image_box .preview .image_container .preview_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.image_box .preview .image_container .operator_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  z-index: 1;
}
.image_box .preview .image_container .operator_wrap .img_pre {
  -webkit-flex: 1;
  flex: 1;
}
.image_box .preview .image_container .operator_wrap .img_small {
  -webkit-flex: 2;
  flex: 2;
}
.image_box .preview .image_container .operator_wrap .img_next {
  -webkit-flex: 1;
  flex: 1;
}
.image_box .preview .image_nav {
  display: -webkit-flex-;
  display: flex;
  margin-top: 10px;
}
.image_box .preview .image_nav .prev,
.image_box .preview .image_nav .next {
  width: 20px;
  height: 60px;
  color: #fff;
  background-color: #73a5dd;
}
.image_box .preview .image_nav .prev:disabled,
.image_box .preview .image_nav .next:disabled {
  background-color: #ccc;
}
.image_box .preview .image_nav .thumb_box {
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner {
  width: 6000px;
  height: 60px;
  transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -webkit-transition: margin-left 1s;
  -o-transition: margin-left 1s;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner:before,
.image_box .preview .image_nav .thumb_box .thumb_box_inner:after {
  display: table;
  content: " ";
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner:after {
  clear: both;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner .border {
  display: block;
  text-align: center;
  white-space: nowrap;
  float: left;
  width: 60px;
  height: 60px;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner .border:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: " ";
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner .border img {
  vertical-align: middle;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner .border:hover {
  border: 1px solid #3498db;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner .border .nav_thumb {
  width: 56px;
  height: 56px;
}
.image_box .preview .image_nav .thumb_box .thumb_box_inner .border.active {
  border: 1px solid #3498db;
}
