.cal-day-inmonth span[data-cal-date] {
  opacity: 1;
}
.cal-day-weekend span[data-cal-date] {
  opacity: 0.5;
}
.cal-day-outmonth span[data-cal-date] {
  opacity: 1;
  color: #aaa;
}
.cal-cell1 small span {
  margin-right: 0;
}
.events-list {
  max-height: 60px;
  overflow: hidden;
}
.events-list .event.event-info {
  background: none;
  width: 27px;
  height: 27px;
  box-shadow: none;
  border-radius: none;
  border: none;
}
#cal-slide-content .custom_calendar_li {
  margin-bottom: 5px;
}
