.calendar_box {
  margin-top: 20px;
}
.calendar_title {
  margin-top: 5px;
}
.cal-day-inmonth span[data-cal-date] {
  opacity: 1;
}
.cal-day-weekend span[data-cal-date] {
  opacity: 0.5;
}
.cal-day-outmonth span[data-cal-date] {
  opacity: 1;
  color: #aaa;
}
.cal-cell1 small span {
  margin-right: 0;
}
.events-list {
  max-height: 60px;
  overflow: hidden;
}
.events-list .event.event-info {
  background: none;
  width: 27px;
  height: 27px;
  box-shadow: none;
  border-radius: none;
  border: none;
}
#cal-slide-content .custom_calendar_li {
  margin-bottom: 5px;
}
.cal-month-day .join_sign {
  margin-top: 5px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}
.cal-month-day .day {
  margin-top: 5px;
  margin-right: 5px;
}
.cal-month-day .month {
  margin-top: 5px;
  margin-right: 5px;
}
#cal-slide-content .event-item {
  position: relative;
}
#cal-slide-content .event-item .join_sign {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 16px;
  height: 16px;
}
#cal-slide-content .event_list_logo {
  margin-left: 24px;
}
.view_type a,
.view_type span {
  margin-left: 3px;
  font-size: 20px;
}
.schedule_type {
  margin-top: 3px;
  margin-left: 24px;
}
.schedule_type a,
.schedule_type span {
  margin-left: 3px;
}
.schedule_type .active {
  color: #aaa;
}
.calendar_nav {
  margin-top: 3px;
}
.calendar_nav a {
  margin-left: 5px;
}
