@require('variables')

html, body
  height 100%

html
  font-size 62.5%

body
  font-family "Microsoft YaHei",STHeiti,MingLiu
  font-size 12px
  line-height 1
  color fontColor
  background-color backgroundColor

a
  color linkColor
li
  list-style none


.dl_word_break
  word-break: break-all;
.dl_message
  border-left 2px solid #f7f7f7
  margin-left 25px
  background-color #f7f7f7
.dl_message_container
  padding 5px 0
  margin 10px auto
.dl_row
  min-height 34px
.content
  width 100%
  min-height 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-top 0px
  padding-bottom footerHeight
.head
  font-size 24px
.subtitle
  font-size 14px
.padding_0
  padding-left 0
  padding-right 0
.dl_btn
  border-radius 0 0 5px 5px
  box-shadow 0 2px buttonHoverColor
  color #fff
  background-color buttonColor
  border-color buttonColor
  border-style solid
  line-height 1
  position relative
  font-size 12px
  border-radius 2px
.dl_btn_small
  padding 1px 10px
.dl_btn:hover
  background-color buttonColor
  border-color buttonHoverColor
  top 1px
.dl_btn:active
  box-shadow 0 0 buttonHoverColor
  top 2px
.close_btn
  background-color closeButtonColor
  border-color closeButtonColor
  border-radius 0 0 5px 5px
  box-shadow 0 4px closeButtonHoverColor
  color #fff
  border-style solid
  line-height 1
  position relative
  padding 1px 2px
  font-size 12px
  border-radius 1px
.close_btn:hover
  background-color closeButtonColor
  border-color closeButtonHoverColor
  top 1px
.close_btn:active
  box-shadow 0 0 closeButtonHoverColor
  top 2px
.dl_input.editToggle[disabled='disabled']
  background-color inherit
  border 0px solid
  box-shadow none
  cursor default
  font-size 12px
.info_border
  padding 5px
  border-style solid  
  border-width 1px
  border-color buttonColor
.baseInfo
  padding-top 30px
  padding-bottom 15px
  background-color rgb(248,248,243)
.margin_5
  margin 5px
.margin_15
  margin 15px
.margin-top_10
  margin-top 10px
.margin_top_15
  margin-top 15px
.margin_top_20
  margin-top 20px
.margin_top_30
  margin-top 30px
.margin_top_50
  margin-top 50px
.margin_top_100
  margin-top 100px
.margin_top_123
  margin-top 123px
.margin_left_20
  margin-left 20px
.size_family
  height 300px
  width 800px
.size_400
  height 210px
  width 210px
.size_210
  height 210px
  width 210px
.size_140
  height 140px
  width 140px
.size_128
  height 128px
  width 128px
.size_90
  height 90px
  width 90px
.size_80
  height 80px
  width 80px
.size_56
  height 56px
  width 56px
.height_400
  height 400px
.img_contain
  background-size contain
.full_parent
  height 100%
  width 100%
.info_label
  padding 7px 12px
  font-size 12px
.info_radio
  margin-left 12px
.dl_sm_group, .dl_lg_group
  .control-label
    padding-left 0
    padding-top 0 !important
    padding-right 0
    font-weight normal
  .dl_checkbox, .dl_radio
    input
      height 14px
      margin-right 3px
    font-weight normal
    color rgb(179, 178, 175)

.dl_sm_group
  margin-bottom 5px
  .control-label
    line-height 30px
    font-size 15px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 30px
    padding-top 0
    padding-bottom 0

.dl_lg_group
  .control-label
    line-height 35px
    font-size 17px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 35px

input[type="number"]
   padding-right 0
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0
.dl_form_control, .dl_full_control
  display inline-block

.dl_full_control
  width 100%
.dl_nav
  min-height 70px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor
  border-radius 0px
  margin-bottom 0px
  ul li a
    padding-top 25px
    padding-bottom 25px
    color #fff !important
  .logo
    margin-top 5px
.navbar
  border none
.navbar-inverse 
  .navbar-brand
    padding 8px 0
.dl_navbar-toggle
  position relative
  float right
  margin-right 15px
  margin-top 8px
  margin-bottom 8px
  padding 9px 10px
  background-color transparent
  background-image none
  border 1px solid transparent
  border-radius 2px
  .icon-bar
    display block
    width 22px
    height 2px
    border-radius 1px
    background-color #FFFFFF
  .icon-bar + .icon-bar
    margin-top 4px
@media (min-width: 768px)
  .dl_navbar-toggle 
    display none
.wrap
  min-height: 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-bottom footerHeight

.dl_footer
  background-color #2c3e50
  height footerHeight
  width 100%
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  .text_icp
    text-align center
    line-height footerHeight
.dl_form-Control
  display block
  width 100%
  min-height 34px
  height auto
  padding 6px 5px
  font-size 12px
  line-height 1.42857143
  color #FFFFF
  background-color #FFFFFF
  background-image none
  border 1px solid #CCCCCC
  border-radius 2px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
          transition border-color ease-in-out .15s, box-shadow ease-in-out .15s

.dl_err
  color red
.dl_doc
  padding 0
  background-image url('/img/dl_doc_bg.png')
  background-repeat repeat-x
  width 100%
  .promo
    width 100%
    height 460px
    background url('/img/dl_doc_promo_bg.jpg') center center no-repeat
   .overview
     height 460px
     background-image url('/img/dl_doc_overview.png')
     background-repeat no-repeat
     .regmomo
       
       height 460px
     .regbox
      height 460px
      width 547px
      .reginfo
        height 160px
        width 547px
        display block
        background url('/img/dl_doc_reg.png') no-repeat
        text-indent -9999em
      .btn_reg
        width 367px
        height 80px
        margin-left 180px
        display block
        background url('/img/dl_doc_reg.png') -180px -160px no-repeat
        text-indent -9999em
      .appinfo
        width 367px
        height 192px
        margin-left 180px
        display block
        background url('/img/dl_doc_reg.png') -180px -240px no-repeat
        text-indent -9999em
  .about
    height 239px
    background url('/img/dl_doc_about_bg.png') top center
    .about_card
      padding 0
      .card 
        display block
        width 230px
        height 189px
        .title
          font-size 20px;
          display inline-block
          padding 38px 0 18px 46px
          line-height 22px
        p
          line-height 18px
          display inline-block
          width 300px
          color #b7b7b7
          height 60px
        .btn 
          width 160px
          margin-top 5px
          margin-left 140px
      .card_1
        width 354px
        background url('/img/dl_doc_about_card1.gif')
        margin-left 20px
        margin-right 0

      .card_2
        width 384px
        background url('/img/dl_doc_about_card2.gif') -10px 0px
        .title
          padding-left 36px
        p
          width 350px
          padding-left 0px
        .btn 
          margin-left 180px
      .card_3
        width 350px
        background url('/img/dl_doc_about_card3.gif')
        margin-left 20px
        p
          width 350px
          padding-left 10px
        .btn 
          margin-left 180px
  .function
    
    height 340px
    background url('/img/dl_doc_func_bg.png') center center no-repeat
    background-color #ecf0f1
    .container
      background none
    .func_title
      text-indent -9999em
    .func_card
      p 
        display block
        padding-top 188px
        line-height 18px
        color #b7b7b7
        .title
          display block
          text-align center
          font-size 20px
          line-height 22px
          width 90%
          color #2c3e50
  .contact
    background-color #ecf0f1
    height 100px
    a
      color #999999
    li 
      line-height 18px
      color #999999

.dl-top-login 
  width 480px
  padding 17px 11px 0 0
  .form-control
    width 50%
    display inline-block
    border-radius 0px
  .btn
    border-radius 0px
input.ng-invalid.ng-dirty
  border-color pink
.tooltip.right
  width 100px
  .tooltip-inner
    background-color #ba5a5c
  .tooltip-arrow
    border-right-color #ba5a5c
