@require('variables')

html, body
  height 100%

html
  font-size 62.5%

body
  font-family "Microsoft YaHei",STHeiti,MingLiu
  font-size 12px
  line-height 18px
  color fontColor
  background-color backgroundColor

a
  color linkColor
li
  list-style none
.dl_head
  margin auto
  width 960px

.dl_block
  display block

.dl_form-control
  display block
  width 100%
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color #555
  background-color #fff
  background-image none
  border 1px solid #ccc
  border-radius 0px
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

.dl_tip
  float left
  position absolute
  margin-left 10px
  margin-top 8px
  height 10px
  width 200px


.dl-modal
  position relative
  background-color #fff
  //border-top 3px solid
  //border-top-color #cd270d
  border 1px solid
  background-clip padding-box
  outline 0
  border-radius 0
  box-shadow 0
  webkit-box-shadow 0
  width 640px
  padding 20px
.dl-modal-header 
  min-height 16.42857143px
  margin-bottom 40px
  &:close
    margin-top -2px
.dl-modal-body
  position relative
.dl-modal-footer
  text-align left
.dl_modal_input
  border-radius 0
  margin-bottom 15px
  font-size 12px
.dl_modal_container
  width 600px
  float left
.dl_modal_half_container
  width 280px
  float left
  margin-right 20px
.dl_modal_quarter_container
  width 150px
  float left
.dl_modal_input_container
  width 530px
  float left
.dl_modal_button_container
  width 70px
  height 33px
  float right
  padding 8px 0 4px 2px

.dl_container
  width 960px
  min-width 960px
  margin 0 auto
  padding-top 15px
  .main
    width 660px
    float left
    margin-right 40px
    .score_container
      margin-right 20px
      float left
  .side
    width 260px
    float left
  .aside
    width 140px
    margin-right 20px
    float left
.index_container
  width 100%
  min-width 1280px
  margin 0 auto
.header_container
  width 1280px
  margin auto
.dl_detail_container
  width 960px
  min-width 960px
  margin 0 auto
  padding-top 30px
  .dl_detail_main
    width 640px
    float left
    margin-right 30px
    .dl_detail_content
      width 500px
      float left
    .dl_detail_aside
      width 140px
      float right
    .dl_detail_photo
      width 660px
      float left
      background-color #fbfbfb
      margin 20px -20px
      padding 10px 20px
  .dl_detail_side
    width 290px
    float right
.tab_style
  min-width 145px
  text-align center
  font-weight bold
.no_radius
  border-radius 0 !important
.baseInfo
  padding-top 30px
  padding-bottom 30px
  background-color rgb(248,248,243)
  width 100%
  height 240px
  margin 0 auto
.dl_messagebox
  padding-top 10px
  .message_side
    width 90px
    float left
  .messagebox_content
    width 540px
    float left
    margin-left 30px
    position relative
  .message_row
    padding 5px 0
.dl_word_break
  word-break: break-all;
.dl_message
  border-left 2px solid #f7f7f7
  background-color #f7f7f7
.dl_message_container
  padding 0 5px
  margin 10px auto
.dl_message_label
  padding 5px 0
  margin 10px 10px
.dl_row
  min-height 34px
  padding 5px 0
.content
  width 100%
  min-height 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-top 0px
  padding-bottom footerHeight
.head
  font-size 24px
.subtitle
  font-size 14px
  font-weight bold
.padding_0
  padding-left 0
  padding-right 0
  padding-bottom 0

.dl_btn
  color #fff
  background-color buttonColor
  border-color buttonColor
  border-style solid
  line-height 1
  position relative
  font-size 12px
  text-align center
  vertical-align middle
  padding 5px 0
  display inline-block
  &:hover
    background-color buttonHoverColor
    border-color buttonHoverColor
  &:disabled
    opacity .65
.dl_btn_medium
  width 120px
  height 30px
.dl_btn_small
  padding 5px 19px
.dl_btn_large
  width 150px
  height 30px
  font-size 14px
.dl_btn_detail
  width 180px
  height 40px
.dl_btn_submit
  width 80px
  height 25px
.map_btn
  background-color #cd270d
  border-color #cd270d
  border-style solid
  line-height 1
  position relative
  font-size 12px
  width 60px
  height 25px
  color white
.cancel_btn
  background-color #e5e5e5
  border-color #e5e5e5
  border-style solid
  line-height 1
  position relative
.close_btn
  background-color closeButtonColor
  border-color closeButtonColor
  color #fff
  border-style solid
  line-height 1
  position relative
  font-size 12px
  border-radius 1px
  &:hover
    background-color closeButtonHoverColor
    border-color closeButtonHoverColor
.dl_input.editToggle[disabled='disabled']
  background-color inherit
  border 0px solid
  box-shadow none
  cursor default
  font-size 12px
.info_border
  padding 5px
  border-style solid  
  border-width 1px
  border-color buttonColor
.info_right_border
  padding 5px
  border-style solid
  border-width 1px 1px 1px 0
  border-color buttonColor
.margin_0
  margin 0
.margin_5
  margin 5px
.margin_15
  margin 15px
.margin_top_5
  margin-top 5px
.margin_top_6
  margin-top 6px
.margin_top_10
  margin-top 10px
.margin_top_15
  margin-top 15px
.margin_top_20
  margin-top 20px
.margin_top_30
  margin-top 30px
.margin_top_50
  margin-top 50px
.margin_top_100
  margin-top 100px
.margin_top_123
  margin-top 123px
.margin_left_20
  margin-left 20px
.margin_left_50
  margin-left 50px
.margin_bottom_20
  margin-bottom 20px
.size_family
  height 300px
  width 800px
.size_400
  height 210px
  width 210px
.size_210
  height 210px
  width 210px
.size_140
  height 140px
  width 140px
.size_128
  height 128px
  width 128px
.size_90
  height 90px
  width 90px
.size_80
  height 80px
  width 80px
.size_56
  height 56px
  width 56px
.size_20
  height 20px
  width 20px
.size_map
  width 265px
  height 140px
.detail_photo
  height 50px
  width 50px
  border-top 5px
.height_400
  height 400px
.img_contain
  background-size contain
.full_parent
  height 100%
  width 100%
.info_label
  padding 7px 7px
  font-size 12px
  color #999999
.info_side
  min-width 115px
  min-height 34px
  padding 7px 0
  float left
.info_detail
  min-width 100px
  float left
  padding-right 20px
.m_l_5
  margin-left 5px
.info_radio
  margin-left 12px
.dl_sm_group, .dl_lg_group
  .control-label
    padding-left 0
    padding-top 0 !important
    padding-right 0
    font-weight normal
  .dl_checkbox, .dl_radio
    input
      height 14px
      margin-right 3px
    font-weight normal
    color rgb(179, 178, 175)

.dl_sm_group
  margin-bottom 5px
  .control-label
    line-height 30px
    font-size 15px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 30px
    padding-top 0
    padding-bottom 0

.dl_lg_group
  .control-label
    line-height 35px
    font-size 17px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 35px

input[type="number"]
   padding-right 0
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0
.dl_form_control, .dl_full_control
  display inline-block

.dl_full_control
  width 100%

.dl_menu
  background #3498DB
  padding-top 0
  padding-bottom 0
  .dl_menu_a
    &:hover
      background-color:#558CB1
    padding-top 5px
    padding-bottom 5px
    color #fff !important

.dl_nav
  min-height 60px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor
  border-radius 0px
  margin-bottom 0px
  ul li
    a:focus
      background-color #558CB1 !important
  ul li a
    padding-top 20px
    padding-bottom 20px
    color #fff !important
  .logo
    margin-top 5px

.navbar
  border none
.navbar-inverse
  .navbar-brand
    padding 8px 0
.dl_navbar-toggle
  position relative
  float right
  margin-right 15px
  margin-top 8px
  margin-bottom 8px
  padding 9px 10px
  background-color transparent
  background-image none
  border 1px solid transparent
  border-radius 2px
  .icon-bar
    display block
    width 22px
    height 2px
    border-radius 1px
    background-color #FFFFFF
  .icon-bar + .icon-bar
    margin-top 4px
@media (min-width: 768px)
  .dl_navbar-toggle 
    display none
.wrap
  min-height 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-bottom footerHeight
  min-width 960px
  position relative
.dl_footer
  background-color #2c3e50
  height footerHeight
  min-width 960px
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  .text_icp
    line-height footerHeight
.index_footer
  min-width 1280px
.dl_form-Control
  display block
  width 100%
  min-height 34px
  height auto
  padding 6px 5px
  font-size 12px
  line-height 1.42857143
  color #FFFFFF
  background-color #FFFFFF
  background-image none
  border 1px solid #CCCCCC
  border-radius 2px
  color #999999
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
          transition border-color ease-in-out .15s, box-shadow ease-in-out .15s

.dl_err
  color red
.dl_doc
  padding 0
  background-image url('/img/dl_doc_bg.png')
  background-repeat repeat-x
  width 100%
  min-width 1280px
  .promo
    width 1280px
    height 460px
    margin 0 auto
    background url('/img/dl_doc_promo_bg.jpg') center center no-repeat
   .overview
     height 460px
     background-image url('/img/dl_doc_overview.png')
     background-repeat no-repeat
     .regmomo
       height 460px
     .regbox
      height 460px
      width 547px
      .reginfo
        height 160px
        width 547px
        display block
        background url('/img/dl_doc_reg.png') no-repeat
        text-indent -9999em
      .btn_reg
        width 367px
        height 80px
        margin-left 180px
        display block
        background url('/img/dl_doc_reg.png') -180px -160px no-repeat
        text-indent -9999em
      .appinfo
        width 367px
        height 192px
        margin-left 180px
        display block
        background url('/img/dl_doc_reg.png') -180px -240px no-repeat
        text-indent -9999em
  .about
    width 1280px
    margin auto
    height 239px
    background url('/img/dl_doc_about_bg.png') top center
    .about_card
      padding 0
      float left
      .card 
        display block
        width 230px
        height 189px
        .title
          font-size 20px;
          display inline-block
          padding 38px 0 18px 46px
          line-height 22px
        p
          line-height 18px
          display inline-block
          width 300px
          color #b7b7b7
          height 60px
        .btn 
          width 160px
          margin-top 5px
          margin-left 140px
      .card_1
        width 354px
        background url('/img/dl_doc_about_card1.gif')
        margin-left 20px
        margin-right 0

      .card_2
        width 384px
        background url('/img/dl_doc_about_card2.gif') -10px 0px
        .title
          padding-left 36px
        p
          width 350px
          padding-left 0px
        .btn 
          margin-left 180px
      .card_3
        width 350px
        background url('/img/dl_doc_about_card3.gif')
        margin-left 20px
        p
          width 350px
          padding-left 10px
        .btn 
          margin-left 180px
  .function
    width 1280px
    margin auto
    height 340px
    background url('/img/dl_doc_func_bg.png') center center no-repeat
    background-color #ecf0f1
    .container
      background none
    .func_title
      text-indent -9999em
    .func_card
      width 320px
      float left
      p 
        display block
        padding-top 188px
        line-height 18px
        color #b7b7b7
        .title
          display block
          text-align center
          font-size 20px
          line-height 22px
          width 90%
          color #2c3e50
          padding-bottom 10px
  .contact
    width 1280px
    margin auto
    background-color #ecf0f1
    height 50px
    a
      color footerFontColor
    li 
      line-height 18px
      color footerFontColor

.dl-top-login 
  width 480px
  padding 15px 0 0 0
  .form-control
    display inline-block
    border-radius 0px
  .btn
    border-radius 0px
  .btn-signin-link
    color linkColor
  .input-group-btn>.btn+.btn-submit
    margin-left 14px
input.ng-invalid.ng-dirty
  border-color pink
.tooltip.right
  width 300px
  .tooltip-inner
    background-color #ba5a5c
  .tooltip-arrow
    border-right-color #ba5a5c
.tooltip.top
  .tooltip-inner
    background-color #ba5a5c
  .tooltip-arrow
    border-top-color #ba5a5c
.clearLinkUnderline
  &:hover
    text-decoration none
    color white
