.img_frame {
  width: 150px;
  height: 150px;
  border: solid 1px #808080;
  box-sizing: content-box;
  vertical-align: middle;
  display: table-cell;
}
.img_frame .jcrop_img {
  max-height: 100%;
}
.img_frame .jcrop-holder {
  margin-left: auto;
  margin-right: auto;
}
.logo_panel {
  float: left;
}
.logo_big {
  width: 150px;
}
.logo_big .preview {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.logo_middle {
  margin-left: 40px;
  padding-top: 100px;
  width: 70px;
}
.logo_middle .preview {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.logo_small {
  margin-left: 30px;
  padding-top: 123px;
  width: 70px;
}
.logo_small .preview {
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.preview {
  border: solid 1px #808080;
}
.high_light_title {
  color: #5d5d75;
  font-size: 16px;
}
.text {
  color: #9a9a9a;
}
.size_text {
  margin-top: 10px;
}
.right_aside {
  margin-top: 30px;
  padding-top: 70px;
  padding-left: 50px;
  border-left: solid 1px #e6e6e6;
  height: 600px;
}
label.dl_btn {
  margin-bottom: 0;
}
