.teampage:before,
.teampage:after {
  display: table;
  content: " ";
}
.teampage:after {
  clear: both;
}
.teampage .main_panel {
  float: left;
  padding-top: 4px;
  width: 860px;
}
.teampage .side_panel {
  float: right;
  width: 60px;
}
.teampage .team_row {
  margin-bottom: 20px;
}
.teampage .team_row:before,
.teampage .team_row:after {
  display: table;
  content: " ";
}
.teampage .team_row:after {
  clear: both;
}
.teampage .team_row .team_col {
  float: left;
  width: 420px;
}
.teampage .team_row .team_col:last-child {
  margin-left: 20px;
}
.teampage .card {
  background-color: #fff;
  box-shadow: 3px 3px 3px #ddd;
}
.teampage .info_card {
  height: 230px;
}
.teampage .info_card .team_info {
  height: 160px;
  padding-top: 20px;
}
.teampage .info_card .team_info:before,
.teampage .info_card .team_info:after {
  display: table;
  content: " ";
}
.teampage .info_card .team_info:after {
  clear: both;
}
.teampage .info_card .team_info .logo_box {
  float: left;
  width: 160px;
}
.teampage .info_card .team_info .logo_box .logo {
  width: 120px;
  height: 120px;
  margin-left: 20px;
}
.teampage .info_card .team_info .info_box {
  float: left;
  width: 260px;
  padding-right: 10px;
}
.teampage .info_card .team_info .info_box .main_text {
  color: #999;
}
.teampage .info_card .team_info .info_box .text {
  color: #ccc;
}
.teampage .info_card .team_info .info_box .name {
  margin: 0;
  font-size: 16px;
  color: #666;
}
.teampage .info_card .team_info .info_box .team_type {
  margin: 0;
  margin-top: 14px;
}
.teampage .info_card .team_info .info_box .create_time {
  margin: 0;
}
.teampage .info_card .team_info .info_box .intro {
  margin: 0;
  margin-top: 6px;
  height: 51px;
  overflow: hidden;
  font-size: 12px;
  line-height: 17px;
}
.teampage .info_card .operator {
  height: 70px;
  padding: 20px 0;
  border-top: 1px solid #efefef;
}
.teampage .info_card .operator .op_button {
  width: 92px;
  height: 30px;
  padding: 0;
  color: #fff;
  background-color: #3498db;
  font-size: 14px;
  line-height: 30px;
}
.teampage .info_card .operator .button_blue {
  background-color: #3ca2e0;
}
.teampage .info_card .operator .button_red {
  background-color: #f48361;
}
.teampage .info_card .operator .button_gray {
  background-color: #ccc;
}
.teampage .info_card .operator .one_button {
  text-align: center;
}
.teampage .info_card .operator .one_button .op_button {
  width: 190px;
}
.teampage .info_card .operator .two_button {
  text-align: center;
}
.teampage .info_card .operator .two_button .op_button:last-child {
  margin-left: 10px;
}
.teampage .info_card .operator .four_button:before,
.teampage .info_card .operator .four_button:after {
  display: table;
  content: " ";
}
.teampage .info_card .operator .four_button:after {
  clear: both;
}
.teampage .info_card .operator .four_button .op_button {
  display: block;
  float: left;
  margin-left: 8px;
}
.teampage .info_card .operator .four_button .op_button:first-child {
  margin-left: 20px;
}
.teampage .member_card {
  height: 100px;
  margin-top: 10px;
}
.teampage .member_card .members:before,
.teampage .member_card .members:after {
  display: table;
  content: " ";
}
.teampage .member_card .members:after {
  clear: both;
}
.teampage .member_card .members .member {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
}
.teampage .home_court_card {
  height: 260px;
  overflow: hidden;
}
.teampage .home_court_card .map_size {
  display: block;
  max-width: 100%;
}
.teampage .calendar_card {
  height: 260px;
  overflow: hidden;
}
