/***
Timeline UI Base
***/
.timeline {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* The line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ccc;
  left: 20%;
  margin-left: 8px;
}
.timeline > li {
  position: relative;
}
/* The date/time */
.timeline > li .timeline-time {
  display: block;
  width: 15%;
  position: absolute;
}
.timeline > li .timeline-time span {
  display: block;
  text-align: right;
}
.timeline > li .timeline-time span.date {
  font-size: 11px;
  color: #2c3e50;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}
.timeline > li .timeline-time span.time {
  font-weight: 300;
  font-size: 20px;
  color: #2c3e50;
}
/* Right content */
.timeline > li .timeline-body {
  background: #f6f6f6;
  margin: 0 0 15px 25%;
  padding: 10px 10px 10px 20px;
  font-weight: 100;
  position: relative;
}
.timeline li.timeline .timeline-body: after {
  border-right-color: #f6f6f6;
}
.timeline > li .timeline-body .subtitle {
  margin-top: 8px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}
.timeline > li .timeline-content {
  font-size: 12px;
}
.ie8 .timeline > li .timeline-body .subtitle {
  border-bottom: 1px solid #eee;
}
.timeline > li .timeline-body img.timeline-img {
  width: 75px;
  height: 75px;
  margin: 0 10px 0 0;
}
.timeline > li .timeline-body img.pull-right {
  margin-left: 10px;
}
.timeline > li .timeline-body a.nav-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  padding: 0px;
  text-align: left;
  text-decoration: none;
}
.timeline > li .timeline-body a.nav-linkhover {
  opacity: 0.5;
}
.timeline > li .timeline-body .btn {
  margin-top: 10px;
}
/* The triangle */
.timeline > li .timeline-body: after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 19px;
}
.timeline > li .timeline-content: after,
.timeline > li .timeline-content: before {
  display: table;
  line-height: 0;
  content: "";
}
.timeline > li .timeline-content: after {
  clear: both;
}
.timeline >li .timeline-footer: after,
.timeline >li .timeline-footer: before {
  content: "";
  display: table;
  line-height: 0;
}
.timeline >li .timeline-footer: after {
  clear: both;
}
/* The icons */
.timeline > li .timeline-icon {
  width: 12px;
  height: 12px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #aaa;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #ccc;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 23px 0 0 4px;
  padding-bottom: 3px;
  padding-right: 1px;
  padding-left: 2px;
}
.timeline > li .timeline-icon -webkit-border-radius 30px -moz-border-radius 30px {
  border-radius: 30px !important;
}
@media (max-width: 767px) {
  timeline > li .timeline-time span.time {
    font-size: 18px;
  }
  .timelinebefore {
    display: none;
  }
  .timeline > li .timeline-time {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .timeline > li .timeline-time span {
    text-align: left;
  }
  .timeline > li .timeline-body {
    margin: 0 0 30px 0;
    padding: 1em;
  }
  .timeline > li .timeline-body: after {
    right: auto;
    left: 20px;
    top: -20px;
  }
  .timeline > li .timeline-icon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
.timeline-content p {
  margin-top: 5px;
/*colors*/
}
.timeline-content p .timeline li.timeline .timeline-body: after {
  border-right-color: transparent;
  border-bottom-color: #f6f6f6;
}
.dl_timeline {
  width: 660px;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  padding-top: 20px;
}
.dl_timeline:hover .timeline_element {
  opacity: 1;
}
.dl_timeline .spine {
  position: absolute;
  top: 30px;
  bottom: 100%;
  width: 4px;
  border-radius: 2px;
  transition: bottom 0.5s linear;
  left: 75px;
  margin-left: -2px;
  background-color: #ccc;
  height: 100%;
}
.dl_timeline .column .timeline_element {
  background-color: #fff;
  border: 1px solid #ddd;
  text-shadow: none;
  width: 545px;
  position: relative;
  margin: 10px 0px;
  clear: both;
  border-radius: 0px;
  padding: 10px;
  color: #888;
  -moz-box-shadow: 1px 1px 3px #ccc;
/* 老的 Firefox */
  box-shadow: 1px 1px 3px #ccc;
}
.dl_timeline .column .timeline_element:hover {
  cursor: pointer;
  opacity: 1;
  -moz-box-shadow: 3px 3px 3px #ccc;
/* 老的 Firefox */
  box-shadow: 3px 3px 3px #ccc;
}
.dl_timeline .column .timeline_element:before {
  content: '';
  position: absolute;
  display: block;
  width: 26px;
  height: 0px;
  border-top: 1px dashed #ccc;
}
.dl_timeline .column .timeline_element:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #bbb;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.dl_timeline .column_left {
  float: left;
}
.dl_timeline .column_left .timeline_element {
  float: right;
  margin-right: 30px;
}
.dl_timeline .column_left .timeline_element:before {
  top: 13px;
  right: -27px;
}
.dl_timeline .column_left .timeline_element:after {
  top: 10px;
  right: -34px;
}
.dl_timeline .column_right {
  float: left;
  margin-top: 32px;
  margin-left: 75px;
}
.dl_timeline .column_right .timeline_element {
  float: left;
  margin-left: 30px;
}
.dl_timeline .column_right .timeline_element:before {
  top: 13px;
  left: -27px;
}
.dl_timeline .column_right .timeline_element:after {
  top: 10px;
  left: -34px;
}
.dl_timeline .date_separator {
  clear: both;
  text-align: center;
  height: 40px;
  position: relative;
}
.dl_timeline .date_separator .span {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 0px;
  border: 1px solid #bbb;
  background-color: #fff;
  color: #666;
  cursor: pointer;
}
.emptiem {
  width: 660px;
  height: 124px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0;
}
.user_timeline {
  width: 865px;
}
.user_timeline .dl_timeline {
  width: 100%;
}
.user_timeline .dl_timeline .spine {
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
.user_timeline .dl_timeline .full_column {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  text-shadow: none;
  position: relative;
  margin: 10px 0px;
  clear: both;
  border-radius: 0px;
  padding: 10px;
  color: #888;
  margin: 0;
  text-align: center;
}
.user_timeline .dl_timeline .column {
  width: 50%;
}
.user_timeline .dl_timeline .column .timeline_element {
  width: 400px;
  padding: 0;
  border: none;
}
.user_timeline .dl_timeline .column .timeline_element:before {
  content: initial;
}
.user_timeline .dl_timeline .column .timeline_element:after {
  border: none;
  background-color: #999;
}
.user_timeline .dl_timeline .column_right {
  margin-left: 0;
}
.user_timeline .dl_timeline .date_separator .span {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  background-color: #ccc;
  color: #fff;
  border-radius: 10px;
  border: none;
}
