themeColor = rgb(52, 152, 219)
navbarLinearColor = rgb(52, 152, 219)
navbarFontColor = #fff
footerFontColor = #999

titleColor = #5c6174
fontColor = #666
backgroundColor = #f7f7f7
linkColor = #28689b
buttonColor = #3bbee8
buttonHoverColor = #3abde7
inputBlackgroundColor = rgb(250, 250, 250)
inputPlaceholderColor = rgb(177, 177, 177)

buttonHeight = 30px
footerHeight = 60px