themeColor = rgb(52, 152, 219)
navbarLinearColor = rgb(52, 152, 219)
navbarFontColor = #fff
footerFontColor = #999

titleColor = #5c6174
fontColor = #666
backgroundColor = #ffffff
linkColor = #28689b
buttonColor = #3498DB
buttonHoverColor = #2980B9
closeButtonColor = #FF8C00
closeButtonHoverColor = #CE760A
inputBlackgroundColor = rgb(250, 250, 250)
inputPlaceholderColor = rgb(177, 177, 177)

buttonHeight = 30px
footerHeight = 60px

maxPageWidth = 1280px
miniPageWidth = 960px