.dl_aside_inner
  //- h2(ng-bind="company.name")
  .media.user-media
    //- .user-media-toggleHover
    //-   span.fa.fa-user
    .user-wrapper
      a.user-link
        img.media-object.img-thumbnail.user-img(alt="User Picture" ng-src="{{company.logo}}/50/50")
        //- span.label.label-danger.user-label 16
      .media-body
        h5.media-heading {{company.shortName}}
        //- ul.list-unstyled.user-info
        //-   li
        //-     a(href="") #{name}
          //- li Last Access:
          //-   br
          //-   small
          //-     i.fa.fa-calendar 16 Mar 16:32
  ul#menu
    li.nav-header 活动体系
    li: a(ui-sref="statistics") 统计报告
    li: a(ui-sref="teamList")  小队管理
    li: a(ui-sref="campaigns") 活动管理

    li.nav-divider
    li.nav-header 成员管理
    li: a(ui-sref="inviteMembers") 邀请
    li: a(ui-sref="activeMembers") 激活
    li: a(ui-sref="inactiveMembers") 屏蔽
    li: a(ui-sref="allMembers") 所有成员

    li.nav-divider
    li.nav-header 公司管理
    li: a(ui-sref="companyInfo") 公司资料
    li: a 部门
    li: a(ui-sref="accountSetting") 账号设置

