.campaigns_page
  section.content-header
    h1
      |活动日程
      a.btn.btn-primary.pull-right(ui-sref="manager.createCampaign") 发活动
  section.content
    .box.box-primary
      .box-body.no-padding
        .fc.fc-ltr.fc-unthemed
          .fc-toolbar.clearfix
            .fc-left
              .btn-group#calendar_nav
                button.btn.btn-default(data-calendar-nav="prev" href="javascript:void(0)")
                  i.fa.fa-chevron-left
                button.btn.btn-default(data-calendar-nav="next" href="javascript:void(0)")
                  i.fa.fa-chevron-right
                button.btn.btn-default(data-calendar-nav="today" href="javascript:void(0)") 今天
            .fc-center
              span#calendar_title
            .campaign_type.pull-right
              .circle.inactive 
              .type-label 关闭活动            
            .campaign_type.pull-right
              .circle.team 
              .type-label 小队活动
            .campaign_type.pull-right
              .circle.company 
              .type-label 公司活动
          .fc-view-container#calendar

    .row
      .col-xs-12
        .box.box-primary
          .box-header.with-border
            h3.box-title 活动
            .num_of_page
              select.form-control.input-sm(ng-model="number" ng-options="number.num for number in numbers" ng-change="selectNumOfPage()")
          .box-body
            .table-content
              .row
                .col-xs-12
              table.table.table-striped.dl_table.dataTable
                thead
                  tr
                    //- th.center 序号
                    th.center Logo
                    th.center 活动主题
                    th.center(ng-class="{sorting: true, sorting_asc: sortJson[0].asc, sorting_desc: sortJson[0].desc}" ng-click="onColumnHeaderClick(0)") 开始时间
                    th.center(ng-class="{sorting: true, sorting_asc: sortJson[1].asc, sorting_desc: sortJson[1].desc}" ng-click="onColumnHeaderClick(1)") 结束时间
                    th.center(ng-class="{sorting: true, sorting_asc: sortJson[2].asc, sorting_desc: sortJson[2].desc}" ng-click="onColumnHeaderClick(2)") 人数
                    th.center 状态
                      .btn-group
                        .btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                          span.caret
                        ul.dropdown-menu
                          li 
                            a(ng-click="onCampaignStatusChange(0)") 全部
                          li 
                            a(ng-click="onCampaignStatusChange(1)") 未开始
                          li 
                            a(ng-click="onCampaignStatusChange(2)") 进行中
                          li 
                            a(ng-click="onCampaignStatusChange(3)") 已结束
                          li 
                            a(ng-click="onCampaignStatusChange(4)") 已关闭
                    th.center 操作
                tbody
                  tr(bindonce="campaigns" ng-repeat="campaign in campaigns")
                    //- td.center(ng-cloak) {{$index+1}}
                    td.center
                      img(bo-src="campaign.logo + '/40/40'")
                    td.center.theme(bo-bind="campaign.theme")
                    td.center
                      span(bo-bind="campaign.startTime | date:'MM-dd HH:mm'")
                    td.center
                      span(bo-bind="campaign.endTime | date:'MM-dd HH:mm'")
                    td.center(bo-bind="campaign.memberNumber")
                    td.center(bo-bind="campaign.active ? campaign.status : '已关闭'")
                    td.center(ng-cloak) 
                      a(href="" edit-campaign campaign-id="campaign._id") 详情
                      button.dl_btn.close_btn(ng-if="campaign.active && (campaign.status==='未开始'||campaign.status==='进行中')" ng-click="closeCampaign(campaign)") 关闭
              .row
                .col-xs-12
                  .data-table-paginate
                    ul.pagination
                      li(ng-class="{disabled:nowPage<=0}" ng-click="getPage('pre')" ng-cloak)
                        a.page(href="") 上一页
                      li(ng-repeat="page in pages" ng-click="getPage(null,$index)" ng-class="{active:$index===nowPage}" ng-cloak)
                        a.page(href="") {{$index+1}}
                      li(ng-if="hasNext" ng-class="{disabled:!hasNext}" ng-click="getPage('next')" ng-cloak)
                        a.page(href="") 下一页

//- sponsor-campaign(data="data")
