.campaigns_page
  section.content-header
    h1 
      |活动管理
      a.btn.btn-primary.pull-right(ui-sref="manager.createCampaign") 发活动
  section.content
    .row
      .col-xs-12
        .box.box_success.box-solid
          .box-header.with-border
            h3.box-title 选择小队
          .box-body.clearfix.team_filter_box
            .group_filters
              .group_filter(ng-repeat="group in groups" ng-class="{'selected':nowGroup.gid===group.gid}" ng-click="selectGroup(group)") {{group.groupType}}
            .team_list
              .team_card(ng-repeat="team in nowGroup.teams" ng-class="{'selected':currentTeamId===team._id}" ng-click="selectTeam(team._id)")
                .dl_info_box
                  .info_box_icon
                    img(ng-src="{{team.logo}}/90/90")
                  .info_box_content
                    .info_box_text(ng-cloak) {{team.name}}
    .row
      .col-xs-12
        .box.box-primary
          .box-header
            h3.box-title 活动
            .date_range_select
              .date_range_start
                .input-group.date#startTime
                  span.input-group-addon.date_range_label 开始
                  input.date_form_control(type="text" ng-model="start_time" name="startTime" placeholder="开始时间" data-date-format="YYYY-MM-DD" readonly required)
                  span.input-group-addon.date_range_label
                    span.glyphicon.glyphicon-calendar
              .date_range_end
                .input-group.date#endTime
                  span.input-group-addon.date_range_label 结束
                  input.date_form_control(type="text" ng-model="end_time" name="endTime" placeholder="结束时间" data-date-format="YYYY-MM-DD" readonly required)
                  span.input-group-addon.date_range_label
                    span.glyphicon.glyphicon-calendar
              .search_time_button
                button.btn.btn-sm.bg-olive(ng-click="searchCampaignByTime()") 查询
                button.btn.btn-sm.bg-maroon(ng-click="quitSearchCampaignByTime()") 清除
            .num_of_page
              select.form-control.input-sm(ng-model="number" ng-options="number.num for number in numbers" ng-change="selectNumOfPage()")
          .box-body
            .table-content
              table.table.table-striped.dl_table.dataTable
                thead
                  tr
                    //- th.center 序号
                    th.center Logo
                    th.center 主题
                    th.center(ng-class="{sorting: true, sorting_asc: sortJson[0].asc, sorting_desc: sortJson[0].desc}" ng-click="onColumnHeaderClick(0)") 开始时间
                    th.center(ng-class="{sorting: true, sorting_asc: sortJson[1].asc, sorting_desc: sortJson[1].desc}" ng-click="onColumnHeaderClick(1)") 结束时间
                    th.center(ng-class="{sorting: true, sorting_asc: sortJson[2].asc, sorting_desc: sortJson[2].desc}" ng-click="onColumnHeaderClick(2)") 人数
                    th.center 状态
                      .btn-group
                        .btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                          span.caret
                        ul.dropdown-menu
                          li 
                            a(ng-click="onCampaignStatusChange(0)") 全部
                          li 
                            a(ng-click="onCampaignStatusChange(1)") 未开始
                          li 
                            a(ng-click="onCampaignStatusChange(2)") 进行中
                          li 
                            a(ng-click="onCampaignStatusChange(3)") 已结束
                    th.center 详情
                    th.center 操作
                tbody
                  tr(bindonce="campaigns" ng-repeat="campaign in campaigns")
                    //- td.center(ng-cloak) {{$index+1}}
                    td.center
                      img(bo-src="campaign.logo/40/40")
                    td.center.theme(bo-bind="campaign.theme")
                    td.center 
                      p(bo-bind="campaign.startTime | date:'yyyy-MM-dd'")
                      p(bo-bind="campaign.startTime | date:'HH:mm'")
                    td.center
                      p(bo-bind="campaign.endTime | date:'yyyy-MM-dd'")
                      p(bo-bind="campaign.endTime | date:'HH:mm'")
                    td.center(bo-bind="campaign.memberNumber")
                    td.center(bo-bind="campaign.status")
                    td.center
                      //- a(ng-click="goDetail(campaign._id)" href="") 详情
                      a(href="" edit-campaign campaign-id="campaign._id") 详情
                      //- edit-campaign(campaign-id="campaign._id")
                    td.center
                      button.dl_btn.close_btn(ng-if="campaign.status==='未开始'||campaign.status==='已开始'" ng-disabled="!campaign.active" ng-click="closeCampaign(campaign)" ng-cloak) {{campaign.active? '关闭': '已关闭'}}
              .row
                .col-xs-12
                  .data-table-paginate
                    ul.pagination
                      li(ng-class="{disabled:nowPage<=0}" ng-click="getPage('pre')" ng-cloak)
                        a.page(href="") 上一页
                      li(ng-repeat="page in pages" ng-click="getPage(null,$index)" ng-class="{active:$index===nowPage}" ng-cloak)
                        a.page(href="") {{$index+1}}
                      li(ng-if="hasNext" ng-class="{disabled:!hasNext}" ng-click="getPage('next')" ng-cloak)
                        a.page(href="") 下一页
//- sponsor-campaign(data="data")
//- edit-campaign(campaign-id="campaignId")