.campaigns_page
  section.content-header
    h1 
      |活动管理
      a.btn.btn-primary.pull-right(href="" type="button" data-toggle="modal" data-target="#sponsorCampaignModel") 发活动
  .row.content
      .box.box-success.box-solid
        .box-header.with-border
          h3.box-title 选择小队
        .box-body.clearfix
          .team-card(ng-repeat="team in data.teams" ng-class="{'selected':currentTeamId===team._id}" ng-click="selectTeam(team._id)")
            .info-box
              .info-box-icon
                img(ng-src="{{team.logo}}/40/40")
              .info-box-content
                .info-box-text(ng-cloak) {{team.name}}
                .info-box-text(ng-cloak) {{team.groupType}}
  .content.clearfix
    .box.box-primary
      .box-header
        h3.box-title 活动
      .box-body
        .table-content
          .row
            .col-xs-6
              .col-xs-2
                select.form-control.input-sm(ng-model="number" ng-options="number.num for number in numbers" ng-change="selectNumOfPage()")
              .col-xs-8
                .col-xs-6
                  .input-group.date.form_datetime#startTime
                    span.input-group-addon.no_radius 开始
                    input.dl_form_control.dl_modal_input(type="text" ng-model="start_time" name="startTime" placeholder="选择活动开始时间" data-date-format="YYYY-MM-DD HH:mm" readonly required)
                    span.input-group-addon.no_radius
                      span.glyphicon.glyphicon-calendar
                .col-xs-6
                  .input-group.date.form_datetime#endTime
                    span.input-group-addon.no_radius 结束
                    input.dl_form_control.dl_modal_input(type="text" ng-model="end_time" name="endTime" placeholder="选择活动结束时间" data-date-format="YYYY-MM-DD HH:mm" readonly required)
                    span.input-group-addon.no_radius
                      span.glyphicon.glyphicon-calendar
                .search-time-button
                  button.btn.bg-olive(ng-click="searchCampaignByTime()") 确定
                  button.btn.bg-maroon(ng-click="quitSearchCampaignByTime()") 取消

              //- select.form-control.input-sm(ng-model="number" ng-options="number.num for number in numbers" ng-change="selectNumOfPage()")
            .col-xs-6
                .input-group.margin.search
                  input.form-control(type="text" placeholder="Search...")
                  span.input-group-btn
                    button.btn.btn-info.btn-flat(ng-click="searchCampaign()") 搜索
          table.table.table-striped.dl_table
            thead
              tr
                th.center 序号
                th.center Logo
                th.center 主题
                th.center 开始时间
                th.center 结束时间
                th.center 人数
                th.center 状态
                th.center 操作
            tbody
              tr(ng-repeat="campaign in campaigns")
                td.center(ng-cloak) {{$index+1}}
                td.center(ng-cloak)
                  img(ng-src="{{campaign.logo}}/40/40")
                td.center.theme(ng-cloak) {{campaign.theme}}
                td.center(ng-cloak) 
                  p {{campaign.startTime | date:'yyyy-MM-dd'}}
                  p {{campaign.startTime | date:'HH:mm'}}
                td.center(ng-cloak)
                  p {{campaign.endTime | date:'yyyy-MM-dd'}}
                  p {{campaign.endTime | date:'HH:mm'}}
                td.center(ng-cloak) {{campaign.memberNumber}}
                td.center(ng-cloak) {{campaign.status}}
                td.center(ng-cloak) 
                  a(ng-click="goDetail(campaign._id)" href="") 查看详情
                  button.dl_btn.close_btn(ng-if="campaign.status==='未开始'||campaign.status==='已开始'" ng-disabled="!campaign.active" ng-click="closeCampaign(campaign)") {{campaign.active? '关闭活动': '已经关闭'}}
          .row
            .col-xs-6
              .data-table-info
              //- | Showing 1 to 10 of 57 entries
            .col-xs-6
              .data-table-paginate
                ul.pagination
                  li(ng-class="{disabled:nowPage<=0}" ng-click="getPage('pre')" ng-cloak)
                    a.page(href="") 上一页
                  //- li(ng-repeat="page in pages" ng-click="getPage(null,$index)" ng-class="{active:$index===nowPage}" ng-cloak)
                  //-   a.page(href="") {{$index+1}}
                  li(ng-if="hasNext" ng-class="{disabled:!hasNext}" ng-click="getPage('next')" ng-cloak)
                    a.page(href="") 下一页
sponsor-campaign(data="data")
edit-campaign(campaign-id="campaignId")