.campaigns_page
  section.content-header
    h1
      |活动日程
      a.btn.btn-primary.pull-right(ui-sref="manager.createCampaign") 发活动
  section.content
    .box.box-primary
      .box-body.no-padding
        .fc.fc-ltr.fc-unthemed
          .fc-toolbar.clearfix
            .fc-left
              .btn-group#calendar_nav
                button.btn.btn-default(data-calendar-nav="prev" href="javascript:void(0)")
                  i.fa.fa-chevron-left
                button.btn.btn-default(data-calendar-nav="next" href="javascript:void(0)")
                  i.fa.fa-chevron-right
                button.btn.btn-default(data-calendar-nav="today" href="javascript:void(0)") 今天
            .campaign-type.pull-right
              .circle.team 
              .type-label 小队活动
            .campaign-type.pull-right
              .circle.company 
              .type-label 公司活动
          .fc-view-container#calendar

    .row
      .col-xs-12
        .box.box-primary
          .box-header
            h3.box-title 活动
          .box-body
            .table-content
              .row
                .col-xs-12
                  .num-of-page
                    select.form-control.input-sm(ng-model="number" ng-options="number.num for number in numbers" ng-change="selectNumOfPage()")
              table.table.table-striped.dl_table
                thead
                  tr
                    th.center 序号
                    th.center Logo
                    th.center 主题
                    th.center 开始时间
                    th.center 结束时间
                    th.center 人数
                    th.center 状态
                    th.center 操作
                tbody
                  tr(ng-repeat="campaign in campaigns")
                    td.center(ng-cloak) {{$index+1}}
                    td.center(ng-cloak)
                      img(ng-src="{{campaign.logo}}/40/40")
                    td.center.theme(ng-cloak) {{campaign.theme}}
                    td.center(ng-cloak) 
                      p {{campaign.startTime | date:'yyyy-MM-dd'}}
                      p {{campaign.startTime | date:'HH:mm'}}
                    td.center(ng-cloak)
                      p {{campaign.endTime | date:'yyyy-MM-dd'}}
                      p {{campaign.endTime | date:'HH:mm'}}
                    td.center(ng-cloak) {{campaign.memberNumber}}
                    td.center(ng-cloak) {{campaign.status}}
                    td.center(ng-cloak) 
                      a(href="" edit-campaign campaign-id="campaign._id") 详情
                      button.dl_btn.close_btn(ng-if="campaign.status==='未开始'||campaign.status==='已开始'" ng-disabled="!campaign.active" ng-click="closeCampaign(campaign)") {{campaign.active? '关闭': '已关闭'}}
              .row
                .col-xs-12
                  .data-table-paginate
                    ul.pagination
                      li(ng-class="{disabled:nowPage<=0}" ng-click="getPage('pre')" ng-cloak)
                        a.page(href="") 上一页
                      li(ng-repeat="page in pages" ng-click="getPage(null,$index)" ng-class="{active:$index===nowPage}" ng-cloak)
                        a.page(href="") {{$index+1}}
                      li(ng-if="hasNext" ng-class="{disabled:!hasNext}" ng-click="getPage('next')" ng-cloak)
                        a.page(href="") 下一页

sponsor-campaign(data="data")
