.create_campaign_page
  section.content-header
    h1
      | 发活动
  section.content
    .row
      .col-sm-6
        .box.box-warning
          .box-header.with-border
            h3.box-title 发活动
          .box-body.no-padding
            .cp_tabs
              .cp_tab(ng-click="selectType('company')" ng-class="{'active': campaignType === 'company'}") 公司活动
              .cp_tab_divider
              .cp_tab(ng-click="selectType('team')" ng-class="{'active': campaignType === 'team'}") 小队活动
            form.create_cp_form(name="createCampaignForm")
              .cp_form_group(ng-if="campaignType === 'team'")
                label.cp_form_label 选择小队
                .cp_form_control
                  .cp_team_list.clearfix
                    .cp_team(ng-repeat="team in teamList" ng-click="toggleSelectTeam(team)" ng-class="{'selected': team.selected}")
                      i.fa.fa-fw(ng-class="{'fa-square-o': !team.selected, 'fa-check-square-o': team.selected}")
                      span.cp_team_name(ng-bind="team.name")
              .cp_form_group
                label.cp_form_label 活动名称
                input.cp_form_control(type="text" placeholder="请填写活动名称" ng-model="formData.theme" required)
              .cp_form_group
                label.cp_form_label 开始时间
                input.cp_form_control(type="text")
              .cp_form_group
                label.cp_form_label 结束时间
                input.cp_form_control(type="text")
              .cp_form_group
                label.cp_form_label 地点
                input.cp_form_control(type="text" placeholder="请填写活动地点")
              .cp_form_group
                label.cp_form_label 报名截止时间
                input.cp_form_control(type="text")
              .cp_form_group
                label.cp_form_label 报名人数上限
                input.cp_form_control(type="number" ng-model="formData.member_max")
              .cp_form_group
                label.cp_form_label 最少人数
                input.cp_form_control(type="number" ng-model="formData.member_min")
              .cp_form_group
                label.cp_form_label 简介
                textarea.cp_form_control(type="text" placeholder="请填写活动简介" ng-model="formData.content")
              .cp_form_group_no_flex.clearfix
                button.btn.btn-default.btn-flat.pull-right(ng-disabled="createCampaignForm.$invalid") 发布
