.create_campaign_page
  section.content-header
    h1
      | 发活动
  section.content
    .row
      .col-sm-6
        .box.box-warning
          .box-header.with-border
            h3.box-title 发活动
          .box-body
            p todo