.inner.department_page
  h4 部门管理
  hr
  .dl_department
    .tree.company_tree
      ul
        li(ng-include="'node.html'" ng-class="hasChild(node)")

script(type="text/ng-template" id="node.html")
  .self.inline.dropdown
    span(data-toggle="dropdown")
      i.glyphicon(ng-class="node.toggle ? node.toggle : 'glyphicon-minus'" ng-if="node.department && node.department.length > 0" ng-click="toggleTree(node, $event)")
      .inline(ng-if="!node.is_editing") &nbsp;{{node.name}}
      .inline.manager_list(ng-if="node.manager && node.manager.length>0 && !node.is_editing")
        | 管理员:&nbsp;
        a.manager(ng-repeat="manager in node.manager" ng-href="/users/home/{{manager._id}}")
          img.manager_photo(tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="{{manager.nickname}}" ng-src="{{manager.photo}}")
      .inline(ng-if="node.is_creating")
        input(type="text" ng-model="node.edit_name")
        button.dl_btn.dl_btn_small(ng-click="confirmCreate(node)") 确定
        button.cancel_btn.dl_btn_small(ng-click="cancelCreate(node)") 取消
      .inline(ng-if="node.is_editing")
        input(type="text" ng-model="node.temp_name")
        button.dl_btn.dl_btn_small(ng-click="confirmEdit(node)") 确定
        button.cancel_btn.dl_btn_small(ng-click="cancelEdit(node)") 取消
    ul.dropdown-menu(ng-show="!node.is_creating && !node.is_editing" role="menu")
      li(role="presentation" ng-if="!node.is_company"): a(role="menu-item" tabindex="-1" href="/department/home/{{ node._id }}") 进入部门主页
      li(role="presentation" ng-if="!node.is_company"): a(role="menu-item" tabindex="-1" href="javascript:void(0)" ng-click="getNode(node)") 任命管理员
      li(role="presentation"): a(role="menu-item" tabindex="-1" href="javascript:void(0)" ng-click="addNode(node)" ng-if="node.level < 3") 创建子部门
      li(role="presentation" ng-if="!node.is_company"): a(role="menu-item" tabindex="-1" href="javascript:void(0)" ng-click="editNode(node)") 修改部门名字
      li(role="presentation" ng-if="!node.is_company"): a(role="menu-item" tabindex="-1" href="javascript:void(0)" ng-click="deleteNode(node)") 删除该部门
  ul(ng-if="!node.hideChild")
    li(ng-repeat="node in node.department" ng-include="'node.html'" ng-class="hasChild(node)")