.inner
  .head
    span.title 公司信息
  .dl_company_info
    form(name="editInfoForm")
      div
        label 官方简称
        input(type="text" name="name" ng-model="formData.name" ng-maxlength=20 required)
        p(ng-if="editInfoForm.name.$error.required" ng-cloak) 请输入简称
        p(ng-if="editInfoForm.name.$error.maxlength" ng-cloak) 请输入长度不超过20个字符的简称
      div
        label 地址
        input(type="text" name="address" ng-model="formData.address" ng-maxlength=120 required)
        p(ng-if="editInfoForm.address.$error.required" ng-cloak) 请输入地址
        p(ng-if="editInfoForm.address.$error.maxlength" ng-cloak) 请输入长度不超过120个字符的地址
      div
        label 企业电话
        input(type="text" name="tel" ng-model="formData.tel" ng-maxlength=10 required)
        p(ng-if="editInfoForm.tel.$error.required" ng-cloak) 请输入企业电话号码
        p(ng-if="editInfoForm.tel.$error.maxlength" ng-cloak) 请输入长度不超过10位的电话号码
      div
        label 联系人
        input(type="text" name="contacts" ng-model="formData.contacts" ng-maxlength=40 required)
        p(ng-if="editInfoForm.contacts.$error.required" ng-cloak) 请输入企业联系人
        p(ng-if="editInfoForm.contacts.$error.maxlength" ng-cloak) 请输入长度不超过40个字符的联系人姓名
      button(type="submit" ng-click="edit()" ng-disabled="editInfoForm.$invalid") 修改

    hr
    span.title 修改头像
    button.dl_btn.dl_btn_small(ng-click="selectLogo()") 选择图片
    .cropper#image_cropper(ng-show="isUploading")
      .cropit-image-preview-container
        .cropit-image-preview
      .operator
        span.glyphicon.glyphicon-picture.icon_small
        input.cropit-image-zoom-input(type="range")
        span.glyphicon.glyphicon-picture.icon_large
        button(type="button" ng-click="editLogo()") 确定
      input.cropit-image-input#cropit_image_input(type="file")