.home_page
  section.content
    .row
      .col-xs-4
        .small-box.bg-green
          .inner
            h3
              span(ng-bind="noLeaderTeams")
              sup.sup_text 个小队
            p 没有任命队长
          .icon
            i.fa.fa-flag
          a.small-box-footer(ui-sref="teamList") 任命队长&nbsp;
            i.fa.fa-arrow-circle-right

      .col-xs-4
        .small-box.bg-aqua
          .inner
            h3 活动
            p &nbsp;
          .icon
            i.fa.fa-table
          .small-box-footer.clearfix
            a.pull-left.box_footer_link(ui-sref="campaigns")
              i.fa.fa-plus
              | &nbsp;发活动
            a.pull-right.box_footer_link(ui-sref="campaigns") 管理活动&nbsp;
              i.fa.fa-arrow-circle-right

      .col-xs-4
        .small-box.bg-yellow
          .inner
            h3
              span(ng-bind="unActivatedUsers")
              sup.sup_text 名员工
            p 等待审核
          .icon
            i.fa.fa-users
          .small-box-footer.clearfix
            a.pull-left.box_footer_link(ui-sref="inviteMembers")
              i.fa.fa-plus
              | &nbsp;邀请
            a.pull-right.box_footer_link(ui-sref="activeMembers") 审核&nbsp;
              i.fa.fa-arrow-circle-right

    //- .home_table
    //-   .home_box.home_box_1
    //-     .row
    //-       span 活动情况
    //-     .row
    //-       a.btn.btn-sm.btn-primary(ui-sref="campaigns") 发活动
    //-       a.btn.btn-sm.btn-primary(ui-sref="campaigns") 管理活动
    //-   .home_box.home_box_2(ng-if="noLeaderTeams")
    //-     .row
    //-       span 您还有{{noLeaderTeams}}个小队未任命队长
    //-     .row
    //-       a.btn.btn-sm.btn-warning(ui-sref="teamList") 任命队长
    //-   .home_box.home_box_3
    //-     .row
    //-       span 您还有{{unActivatedUsers}}名员工等待
    //-     .row
    //-       a.btn.btn-sm.btn-info(ui-sref="activeMembers") 审核
    //-       a.btn.btn-sm.btn-success(ui-sref="inviteMembers") 邀请
