.home_page
  section.content
    .row
      .col-xs-4
        .small-box.bg-green
          .inner
            h3
              span(ng-bind="noLeaderTeams")
              sup.sup_text 个小队
            p 没有任命队长
          .icon
            i.fa.fa-flag.fa-fw
          a.small-box-footer(ui-sref="teamList") 任命队长&nbsp;
            i.fa.fa-arrow-circle-right

      .col-xs-4
        .small-box.bg-aqua
          .inner
            h3 活动
            p &nbsp;
          .icon
            i.fa.fa-table.fa-fw
          .small-box-footer.clearfix
            a.pull-left.box_footer_link(ui-sref="campaigns")
              i.fa.fa-plus
              | &nbsp;发活动
            a.pull-right.box_footer_link(ui-sref="campaigns") 管理活动&nbsp;
              i.fa.fa-arrow-circle-right

      .col-xs-4
        .small-box.bg-yellow
          .inner
            h3
              span(ng-bind="unActivatedUsers")
              sup.sup_text 名员工
            p 等待审核
          .icon
            i.fa.fa-user-plus.fa-fw
          .small-box-footer.clearfix
            a.pull-left.box_footer_link(ui-sref="inviteMembers")
              i.fa.fa-plus
              | &nbsp;邀请
            a.pull-right.box_footer_link(ui-sref="activeMembers") 审核&nbsp;
              i.fa.fa-arrow-circle-right

    .row
      .col-md-6
        .box.box-warning
          .box-header.with-border
            h3.box-title 新成员
          .box-body.no-padding
            .users-list.clearfix
              li(ng-repeat="user in latestUserList")
                img(ng-src="{{user.photo}}/64/64")
                a.users-list-name(href="#" ng-bind="user.nickname")
                span.users-list-date(ng-bind-template="{{user.register_date | date:'yyyy-MM-dd'}}")
          .box-footer.text-center
            a(ui-sref="allMembers") 所有成员
      .col-md-6
        .box.box-primary
          .box-header.with-border
            h3.box-title 近期活动
            .box-tools.pull-right
              a.btn.btn-box-tool(ui-sref="campaigns") 更多&nbsp;
                i.fa.fa-angle-double-right
          .box-body
            .dl_campaign_list(ng-if="latestCampaignList")
              .dl_campaign_item(ng-repeat="campaign in latestCampaignList")
                p.dl_cp_card_date(ng-if="needShowTime($index)" ng-bind-template="{{campaign.start_time | date:'yyyy年M月d日'}}")
                .dl_cp_card
                  .cp_logos(class="cp_logos_{{campaign.campaign_unit.length}}")
                    img.team_logo(ng-repeat="campaign_unit in campaign.campaign_unit" ng-src="{{(campaign_unit.team.logo || campaign_unit.company.logo)}}/60/60")
                    .provoke_label(ng-if="campaign.campaign_type===4 || campaign.campaign_type===5")
                      span 挑战
                    .fellowship_label(ng-if="campaign.campaign_type===7")
                      span 联谊
                  .cp_texts
                    h4.cp_theme(ng-bind="campaign.theme")
                    p.cp_time
                      i.fa.fa-clock-o
                      | &nbsp;
                      span(ng-bind-template="{{campaign.start_time | date:'HH:mm'}}")
                    p.cp_address
                      i.fa.fa-map-marker
                      | &nbsp;
                      span(ng-bind="campaign.location.name")
                  .cp_member_count.text-center
                    span.count_number(ng-bind-template="{{campaign.members_count || 0}}")
                    span.count_text 报名
