.home_page
  section.content
    .row
      .col-xs-4
        .small-box.bg-green
          .inner
            h3
              span(ng-bind="noLeaderTeams")
              sup.sup_text 个小队
            p 没有任命队长
          .icon
            i.fa.fa-flag
          a.small-box-footer(ui-sref="teamList") 任命队长&nbsp;
            i.fa.fa-arrow-circle-right

      .col-xs-4
        .small-box.bg-aqua
          .inner
            h3 活动
            p &nbsp;
          .icon
            i.fa.fa-table
          .small-box-footer.clearfix
            a.pull-left.box_footer_link(ui-sref="campaigns")
              i.fa.fa-plus
              | &nbsp;发活动
            a.pull-right.box_footer_link(ui-sref="campaigns") 管理活动&nbsp;
              i.fa.fa-arrow-circle-right

      .col-xs-4
        .small-box.bg-yellow
          .inner
            h3
              span(ng-bind="unActivatedUsers")
              sup.sup_text 名员工
            p 等待审核
          .icon
            i.fa.fa-users
          .small-box-footer.clearfix
            a.pull-left.box_footer_link(ui-sref="inviteMembers")
              i.fa.fa-plus
              | &nbsp;邀请
            a.pull-right.box_footer_link(ui-sref="activeMembers") 审核&nbsp;
              i.fa.fa-arrow-circle-right

    .row
      .col-md-4
        .box.box-warning
          .box-header.with-border
            h3.box-title 新成员
          .box-body.no-padding
            .users-list.clearfix
              li(ng-repeat="user in latestUserList")
                img(ng-src="{{user.photo}}/64/64")
                a.users-list-name(href="#" ng-bind="user.nickname")
                span.users-list-date(ng-bind-template="{{user.register_date | date:'yyyy-MM-dd'}}")
          .box-footer.text-center
            a(ui-sref="allMembers") 所有成员
      .col-md-8
