.inner.members
  .dl_panel
    .dl_block_head
      span.title 待激活成员
      span.pull-right(ng-cloak) {{unClosedMembers.length}}人待激活
    .table_block
      div(ng-show="unClosedMembers.length")
        span.table_title 待激活成员
        table.team_table.table.table-striped.dl_table
          thead
            tr
              th 
              th.center 邮箱
              th.center 注册时间
              th.center 操作
          tbody
            tr(ng-repeat="member in unClosedMembers")
              td {{$index+1}}
              td.center {{member.username}}
              td.center {{member.register_date | date:'yyyy-MM-dd HH:mm'}}
              //- td.center 
              //-   button 查看详情
              td.center
                button.btn.btn-primary(ng-click="active(member._id)") 激活
      div(ng-show="closedMembers.length")
        span.table_title 被屏蔽成员
        table.team_table.table.table-striped.dl_table
          thead
            tr
              th 
              th.center 邮箱
              th.center 昵称
              th.center 操作
          tbody
            tr(ng-repeat="member in closedMembers")
              td {{$index+1}}
              td.center {{member.username}}
              td.center {{member.nickname}}
              //- td.center 
              //-   button 查看详情
              td.center
                button.btn.btn-primary(ng-click="active(member._id)") 取消屏蔽