.members
  section.content-header
    h1
      | 待激活成员
      small(ng-bind-template="{{unClosedMembers.length}}人待激活")
  section.content
    .box.box-primary(ng-show="unClosedMembers.length")
      .box-header
        h3.box-title 待激活成员
      .box-body.no-padding
        table.table.table-striped
          thead
            tr
              th
              th 邮箱
              th 注册时间
              th 操作
          tbody
            tr(ng-repeat="member in unClosedMembers")
              td {{$index+1}}
              td {{member.username}}
              td {{member.register_date | date:'yyyy-MM-dd HH:mm'}}
              //- td
              //-   button 查看详情
              td
                button.btn.btn-primary.btn-xs.btn-flat(ng-click="active(member._id)") 激活
    .box.box-primary(ng-show="closedMembers.length")
      .box-header
        h3.box-title 被屏蔽成员
      .box-body.no-padding
        table.table.table-striped
          thead
            tr
              th
              th 邮箱
              th 昵称
              th 操作
          tbody
            tr(ng-repeat="member in closedMembers")
              td {{$index+1}}
              td {{member.username}}
              td {{member.nickname}}
              //- td
              //-   button 查看详情
              td
                button.btn.btn-primary.btn-xs.btn-flat(ng-click="active(member._id)") 取消屏蔽