.members
  //- section.content-header
  //-   h1
  //-     | 所有成员
      //- small(ng-bind-template="共{{companyMembers.length}}人")
      //-这个人数不对 有bug -M
  section.content
    .row
      .col-md-6.col-sm-6.col-xs-12
        a.info-box(ui-sref="manager.inviteMembers")
          .info-box-icon.bg-blue
            i.fa.fa-group
          .info-box-content
            .info-box-text 邀请
      .col-md-6.col-sm-6.col-xs-12
        a.info-box(ui-sref="manager.activeMembers")
          .info-box-icon.bg-green
            i.fa.fa-child
          .info-box-content
            .info-box-text 等待审核
            .info-box-number(ng-cloak) {{inactiveMemberLength}}人
    .box.box-primary
      .box-header.with-border
        h3.box-title 所有成员
        .box-tools.pull-right
          ul.pagination.pagination-sm.inline
            li(ng-class="{disabled:nowPage<=1}" ng-click="lastPage()" ng-cloak)
              a.page(href="") 上一页
            li(ng-repeat="page in AllcompanyMembers track by $index" ng-if="$index>nowPage-7 &&$index<nowPage+5" ng-click="getPage($index+1)" ng-class="{active:$index+1===nowPage}" ng-cloak)
              a.page(href="") {{$index+1}}
            li(ng-class="{disabled:maxPage<=nowPage}" ng-click="nextPage()" ng-cloak)
              a.page(href="") 下一页
      .box-body.no-padding
        table.table.table-striped
          thead
            tr
              th
              th.center 头像
              th.center 邮箱
              th.center 真实姓名
              th.center 部门
              th.center 参加小队
              th.center 参加活动
              th.center 活跃度
              //- td 查看详情
              th.center 状态
              th.center 编辑
          tbody
            tr(ng-repeat="member in companyMembers" ng-cloak)
              td {{$index+1}}
              td: img.memer_logo(ng-src="{{member.photo}}/40/40")
              td {{member.username}}
              td.center {{member.realname || '-'}}
              td.center {{member.department.name || '-'}}
              td.center {{member.team.length}}
              td.center {{member.campaignCount}}
              td.center {{member.score.total}}
              //- td
              //-   button 查看详情
              td.center
                {{member.active? '正常' : member.mail_active ? '屏蔽中' : '未激活'}}
              td.center
                i.fa.fa-edit(edit-member now-user="member")
script(type="text/ng-template" id="editUserModal.html")
  include ../member/editMember
//- script(type="text/ng-template" id="node.html")
//-     .self.inline
//-       span(ng-click="selectNode(node)" ng-class="{'selected': node.selected}")
//-         .inline &nbsp;{{node.name}}
//-     ul(ng-if="!node.hideChild")
//-       li(ng-repeat="node in node.department" ng-include="'node.html'" ng-class="hasChild(node)")

