.inner
  .head
    span.title 邀请成员
  form
    div
      label 输入邮箱:
      input(type="email" name="email" ng-model="email" required)
    button(ng-click="invite()") 发送邀请信
  div
    label 邀请链接:{{company.inviteUrl}}
    #inviteKeyQrCode
    a#saveInviteKeyQrCode 下载邀请专用二维码