.inner.members
  .dl_panel
    .dl_block_head
      span.title 所有成员
      span.pull-right(ng-cloak) 共{{companyMembers.length}}人
    .table_block
      span.table_title 
      table.team_table.table.table-striped.dl_table
        thead
          tr
            th 
            th 头像
            th.center 邮箱
            th.center 真实姓名
            th.center 部门
            th.center 参加小队数
            th.center 参加活动数
            th.center 积分
            //- td.center 查看详情
            th.center 操作
        tbody
          tr(ng-repeat="member in companyMembers")
            td {{$index+1}}
            td: img.memer_logo(ng-src="{{member.photo}}")
            td.center {{member.username}}
            td.center {{member.realname}}
            td.center {{member.department.name}}
            td.center {{member.team.length}}
            td.center {{member.campaignCount}}
            td.center {{member.score.total}}
            //- td.center 
            //-   button 查看详情
            td.center
              button(ng-click="editUser($index)") 编辑
script(type="text/ng-template" id="editUserModal.html")
  .modal-header
    h3.modal-title  编辑
  .modal-body
    .info_detail
        .tree.select_tree
          ul
            li(ng-include="'node.html'" ng-class="hasChild(node)")
  .modal-footer
    button.btn.btn-primary(ng-click="save()") 确定
    button.btn.btn-default(ng-click="close()") 关闭
script(type="text/ng-template" id="node.html")
    .self.inline
      span(ng-click="selectNode(node)" ng-class="{'selected': node.selected}")
        .inline &nbsp;{{node.name}}
    ul(ng-if="!node.hideChild")
      li(ng-repeat="node in node.department" ng-include="'node.html'" ng-class="hasChild(node)")

