.members
  //- section.content-header
  //-   h1
  //-     | 所有成员
      //- small(ng-bind-template="共{{companyMembers.length}}人")
      //-这个人数不对 有bug -M
  section.content
    .row
      .col-md-6.col-sm-6.col-xs-12
        a.info-box(ui-sref="manager.inviteMembers")
          .info-box-icon.bg-blue
            i.fa.fa-group
          .info-box-content
            .info-box-text 邀请
      .col-md-6.col-sm-6.col-xs-12
        a.info-box(ui-sref="manager.activeMembers")
          .info-box-icon.bg-green
            i.fa.fa-child
          .info-box-content
            .info-box-text 等待审核
            .info-box-number(ng-cloak) {{inactiveMemberLength}}人
    .box.box-primary
      .box-header.with-border
        h3.box-title 所有成员
        //- .box-tools.pull-right
        //-   ul.pagination.pagination-sm.inline
        //-     li(ng-class="{disabled:nowPage<=1}" ng-click="lastPage()" ng-cloak)
        //-       a.page(href="") 上一页
        //-     li(ng-repeat="page in AllcompanyMembers track by $index" ng-if="$index>nowPage-7 &&$index<nowPage+5" ng-click="getPage($index+1)" ng-class="{active:$index+1===nowPage}" ng-cloak)
        //-       a.page(href="") {{$index+1}}
        //-     li(ng-class="{disabled:maxPage<=nowPage}" ng-click="nextPage()" ng-cloak)
        //-       a.page(href="") 下一页
      .box-body.no-padding
        table(datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs").table.table-striped
          thead
            tr
              th
              th.center 头像
              th.center 邮箱
              th.center 真实姓名
              th.center 部门
              th.center 参加小队
              th.center 参加活动
              th.center 活跃度
              td.center 查看详情
              th.center 状态
                //- select.form-control.input-sm(ng-model="" ng-options="" ng-change="selectNumOfPage()")
                .btn-group
                  .btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
                    span.caret
                  ul.dropdown-menu
                    li 
                      a(ng-click="showStatus(0)") 全部
                    li 
                      a(ng-click="showStatus(1)") 正常
                    li 
                      a(ng-click="showStatus(2)") 屏蔽中
                    li 
                      a(ng-click="showStatus(3)") 未激活
              th.center 编辑
          tbody
            tr(bindonce="companyMembers" ng-repeat="member in companyMembers" ng-cloak)
              td(bo-bind="$index+1")
              td: img.memer_logo(bo-src="member.photo + '/40/40'")
              td(bo-bind="member.username")
              td.center(bo-bind="member.realname || '-'")
              td.center(bo-bind="member.department.name || '-'")
              td.center(bo-bind="member.team.length")
              td.center(bo-bind="member.campaignCount")
              td.center(bo-bind="member.score.total")
              td.center
                button.btn.btn-link(member-detail now-user-id="member._id") 查看详情
              td.center(bo-bind="member.active? '正常' : member.mail_active ? '屏蔽中' : '未激活'")
              td.center
                i.fa.fa-edit(member-edit now-user-id="member._id")



