.members(bindonce="unClosedMembers")
  section.content-header
    h1
      | 待激活成员
      small(bo-bind="unClosedMembers.length + '人待激活'")
  section.content
    .box.box-primary(bo-show="unClosedMembers.length")
      .box-header
        h3.box-title 待激活成员
      .box-body.no-padding
        table(datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs").table.table-striped
          thead
            tr
              th
              th 邮箱
              th 注册时间
              th 操作
          tbody
            tr(ng-repeat="member in unClosedMembers")
              td(bo-bind="$index+1") {{}}
              td(bo-bind="member.username") {{}}
              td(bo-bind="member.register_date | date:'yyyy-MM-dd HH:mm'")
              //- td
              //-   button 查看详情
              td
                button.btn.btn-primary.btn-xs.btn-flat(ng-click="active(member._id)") 激活
    .box.box-primary(bindonce="closedMembers" bo-show="closedMembers.length")
      .box-header
        h3.box-title 被屏蔽成员
      .box-body.no-padding
        table(datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs").table.table-striped
          thead
            tr
              th
              th 邮箱
              th 昵称
              th 操作
          tbody
            tr(ng-repeat="member in closedMembers")
              td(bo-bind="$index+1")
              td(bo-bind="member.username")
              td(bo-bind="member.nickname")
              //- td
              //-   button 查看详情
              td
                button.btn.btn-primary.btn-xs.btn-flat(ng-click="active(member._id)") 取消屏蔽