.new_company_page
  section.content
    .todo_box_list.clearfix#todo_box

      .todo_box(ng-if="hasCompleteInfo === false" ng-cloak)
        .small-box.bg-primary
          .inner
            h3 您还没有完善公司资料
            p &nbsp;
          .icon
            i.fa.fa-info.fa-fw
          a.small-box-footer(ui-sref="companyInfo") 去完善&nbsp;
            i.fa.fa-arrow-circle-right

      .todo_box(ng-if="hasTeam === false" ng-cloak)
        .small-box.bg-green
          .inner
            h3 您还没有小队
            p &nbsp;
          .icon
            i.fa.fa-flag.fa-fw
          a.small-box-footer(ui-sref="createTeam") 建小队&nbsp;
            i.fa.fa-arrow-circle-right

      .todo_box(ng-if="hasLeader === false" ng-cloak)
        .small-box.bg-green
          .inner
            h3 您还没有设队长
            p &nbsp;
          .icon
            i.fa.fa-users.fa-fw
          a.small-box-footer(ui-sref="teamList") 设队长&nbsp;
            i.fa.fa-arrow-circle-right

      .todo_box(ng-if="hasMember === false" ng-cloak)
        .small-box.bg-yellow
          .inner
            h3 您还没有成员
            p &nbsp;
          .icon
            i.fa.fa-user-plus.fa-fw
          a.small-box-footer(ui-sref="inviteMembers") 邀请&nbsp;
            i.fa.fa-arrow-circle-right
