.inner
  .head 
    span.title 任命队长
  .point_leader
    .now_leader(ng-if="team.leaders.length>0")
      span 现任队长:
      img.member_logo(ng-src="{{team.leaders[0].photo}}")
      span(ng-bind="team.leaders[0].nickname")
    h2 选择队长：
    button(ng-click="toggleMember()" ng-bind="showTeamMemberTitle") 
    form.choose_leader
      .members
        .member(ng-repeat="member in members" ng-class="{'active':newLeader._id==member._id}" ng-click="changeLeader($index)")
          input(type="radio" name="leader" ng-model="newLeader" ng-value="member")
          img.member_logo(ng-src="{{member.photo}}")
          span {{member.nickname}}
      .operator
        button.btn.btn-primary(ng-disabled="!newLeader" ng-click="save()") 确定
        button.btn.btn-warning(ng-click="cancel()") 取消