.team_edit
  section.content-header
    h1
      | 编辑小队信息
    ol.breadcrumb
      li: a(ui-sref="manager.teamList") 小队管理
      li.active 编辑小队
  section.content
    .row
      .col-sm-8.col-sm-offset-2.team_edit_container
        .row
          .col-sm-6.col-sm-offset-3.team_edit_form
            form.team_info_form(name="editInfoForm")
              .form-group
                label 小队名
                input.form-control(type="text" name="name" ng-model="formData.name" ng-maxlength=20 required)
                p.text-danger(ng-if="editInfoForm.name.$error.required" ng-cloak) 请输入小队名称
                p.text-danger(ng-if="editInfoForm.name.$error.maxlength" ng-cloak) 请输入长度不超过20个字符
              .form-group
                label 修改小队封面
                .edit_family_container
                  .cropper#image_cropper
                    .cropit-image-preview-container(ng-show="team.logo" ng-style="{'background-image': 'url(' + team.logo + '/256/256)'}")
                      .cropit-image-preview
                    .operator_slider(ng-show="isUploading")
                      span.glyphicon.glyphicon-picture.icon_small
                      input.cropit-image-zoom-input(type="range")
                      span.glyphicon.glyphicon-picture.icon_large
                    .operator_button.text-center
                      .btn-group
                        button.btn.btn-default(ng-click="selectLogo()") 选择图片
                        button.btn.btn-primary(type="button" ng-click="editLogo()" ng-if="isUploading") 确定
                    input.cropit-image-input#cropit_image_input(type="file")
              .form-group.text-center.operator
                a.btn.btn-default(ui-sref="manager.teamList") 取消
                button.btn.btn-success(type="button" ng-click="edit()") 确定
                button.btn.btn-danger(ng-if="team && team.active" ng-click="closeTeam(team._id)") 关闭小队
                button.btn.btn-primary(ng-if="team && !team.active" ng-click="openTeam(team._id)") 打开小队