.inner
  .dl_panel
    .dl_block_head
      span.title 小队管理
      span.pull-right {{teams.length}}个小队
      a.header_button.pull-right(ui-sref="createTeam") 新建小队
    .table_block
      span.table_title 无队长的小队
      table.team_table.table.table-striped.dl_table
        thead
          tr
            th 名称
            th.center 人数
            th.center 上月活动数
            th.center 总活动数
            th.center.center 积分
            th.center 编辑
            th.center 任命
        tbody
          tr(ng-repeat="team in noLeaderTeams")
            td {{team.name}}
            td.center {{team.memberCount}}
            td.center {{team.count.last_month_campaign}}
            td.center {{team.count.total_campaign}}
            td.center {{team.score.total}}
            td.center
              button(ng-click="editTeam('noLeaderTeams', $index)") 编辑
            td.center
              a(ui-sref="pointTeamLeader({teamId:team._id})") 任命队长
      hr
      //-分页todo
      table.team_table.table.table-striped.dl_table
        thead
          tr
            th 名称
            th.center 队长
            th.center 人数
            th.center 上月活动数
            th.center 总活动数
            th.center 积分
            th.center 编辑
            th.center 任命
        tbody
          tr(ng-repeat="team in leaderTeams")
            td {{team.name}}
            td.center {{team.leaders[0].nickname}}
            td.center {{team.memberCount}}
            td.center {{team.count.last_month_campaign}}
            td.center {{team.count.total_campaign}}
            td.center {{team.score.total}}
            td.center
              button(ng-click="editTeam('leaderTeams', $index)") 编辑
            td.center
              a(ui-sref="pointTeamLeader({teamId:team._id})") 任命队长
script(type="text/ng-template" id="editTeamModal.html")
  .modal-header
    h3.modal-title 编辑小队信息
  .modal-body
    .team_edit
      label 名称:
      input(type="text" ng-model="team.name")
    button(ng-if="team.active" ng-click="closeTeam(team._id)") 关闭小队
    button(ng-if="!team.active" ng-click="openTeam(team._id)") 打开小队
  .modal-footer
    button.btn.btn-primary(ng-click="save()") 确定
    button.btn.btn-warning(ng-click="cancel()") 取消
