.team_list_page
  section.content-header
    h1
      | 小队管理
      small(ng-bind-template="{{teams.length}}个小队")
  section.content
    .row.operate_row
      .col-md-2.col-sm-4.col-xs-12.text-center
        a.btn.btn-primary(ui-sref="manager.createTeam") 新建群组
      .col-md-10.col-sm-8.col-xs-12(ng-if="noLeaderTeams.length>0")
        .row
          .col-md-3.col-sm-6.col-xs-12.team(ng-repeat="team in noLeaderTeams")
            p {{team.name}},还没有群主
            a.btn.btn-primary.edit_btn(ui-sref="manager.editTeam({teamId:team._id})") 编辑
            a.btn.btn-primary(ui-sref="manager.pointTeamLeader({teamId:team._id})") 任命群主
    .row
      .col-xs-12
        .box.box-primary(bindonce="teams")
          .box-header
            h3.box-title 全部群组
          .box-body.no-padding
            table(datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs").table.table-striped
              thead
                tr
                  th.center 名称
                  th.center 队长
                  th.center 人数
                  //- th 上月活动数
                  //- th 总活动数
                  th.center 积分
                  //- th 活跃度
                  th.center 需验证
                  th.center 等级
                  th.center 详情
                  th.center 编辑
                  th.center 任命
              tbody
                tr(ng-repeat="team in teams")
                  td.center(bo-bind="team.name")
                  td.center(bo-bind="team.leader.nickname")
                  td.center(bo-bind="team.member.length")
                  //- td(bo-bind="team.count.last_month_campaign")
                  //- td(bo-bind="team.count.total_campaign")
                  //- td(bo-bind="team.score_rank.score")
                  td.center(bo-bind="team.score.total")
                  td.center(bo-bind="team.hasValidate ? '是' : '否' ")
                  td.center(bo-bind="team.level === 1 ? '官方': '非官方'")
                  td.center
                    button.btn.btn-xs.btn-link(ng-click="detail('teams', $index)") 详情
                  td.center
                    a(ui-sref="manager.editTeam({teamId:team._id})") 编辑
                  td.center
                    a(ui-sref="manager.pointTeamLeader({teamId:team._id})") 任命队长

script(type="text/ng-template" id="teamDetailModal.html")
  .modal-header
    button.close(type="button" data-dismiss="modal" aria-label="Close" ng-click="cancel()")
      span(aria-hidden="true") &times;
    h4.modal-title 小队详情
  .modal-body
    .team_detail_modal(bindonce="team")
      .row
        .col-md-2 队名
        .col-md-10(bo-bind="team.name")
      .row
        .col-md-2 公司名
        .col-md-10(bo-bind="team.cname")
      .row
        .col-md-2 积分
        .col-md-10(bo-bind="team.score.total")
      .row
        .col-md-2 等级
        .col-md-10(bo-bind="team.level")
      .row
        .col-md-2 简介
        .col-md-10(bo-bind="team.brief")
      .row
        .col-md-2 队长
        //- .col-md-2.user(ng-repeat="leader in team.leaders")
        .col-md-2.user
          img.user_logo(bo-if="team.leader" bo-src="team.leader.photo + '/40/40'")
          .user_name(bo-if="team.leader" bo-bind="team.leader.nickname")
      .row
        .col-md-2 成员
        .col-md-10
          .row
            .col-md-2.user(ng-repeat="member in team.member")
              img.user_logo(bo-src="member.photo + '/40/40'")
              .user_name(bo-bind="member.nickname")

      //- .row
      //-   .col-md-2 近期活动
      //-   .col-md-10(bo-bind="team.lastCampaign?team.lastCampaign.theme :'无'")
  .modal-footer
    button.btn.btn-primary(ng-click="cancel()") 确定
