.team_create_page
  section.content-header
    .create_team_label 新建群组
      //- small 请选择要增加的企业兴趣小队类型
    //- ol.breadcrumb
    //-   li: a(ui-sref="manager.teamList") 小队管理
    //-   li.active 新建小队
  section.content
    .team_page
      .box.box-success
        .box-header.with-border.team_header
        form(name="newgroup_form")
          //- .groups.clearfix
          //-   .group(ng-repeat='group in groups' ng-class="{'active':newTeam._id==group._id}" ng-click="changeType($index)")
          //-     .img_contain(class='group_'+'{{group._id}}' )
          //-     input.hidden(type='radio' name='group' id='{{group._id}}' value='{{group._id}}' ng-model='newTeam._id' required)
          //-     label(for='{{group._id}}') {{group.groupType}}
          .team_name_group.clearfix
            span.team_name 输入群组名
            input.form-control.team_input(type='text' name='name' ng-model='newTeam.name' ng-maxlength=20)
            .team_validate
              span.tip 是否需要入群验证
              input(type='checkbox' name='hasValidate' ng-model='newTeam.hasValidate')
            button.btn.pull-right.team_button(ng-disabled="newgroup_form.$invalid" ng-click="save()") 确定