<div class="cal-event-time">
  <span class="date"><%= time.date %></span>
  <span class="time"><%= time.time %></span>
  <span class="pull-right title"><%= events.length %>个活动 </span>
</div>
<div id="cal-slide-content" class="cal-event-list">
  <ul class="unstyled list-unstyled">
    <% _.each(events, function(event) { %>
      <li class="custom_calendar_li">
        <!-- <span class="pull-left event <%= event['class'] %>"></span>&nbsp; -->
        <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" target="_blank"
          data-event-class="<%= event['class'] %>" class="event-item clearLinkUnderline">
          <div class="campaign_content">
            <div class="info_left">
              <% _.each(event.campaignUnit, function(unit) { %>
                <img class="team_logo" src="<%= unit.logo %>"/>
              <% }) %>
              <p class="campaign_info <%= event.start_flag?'campaign_start' : ''%>">
                <span class="content_text"><%= event.formatTime%></span>
              </p>
            </div>
            <div class="info_right">
              <p class="campaign_head">
                 <span class="content_text"><%= event.campaignUnit[0].name %> </span>
                <% if ( event.campaignUnit.length>1) {%>
                  <span class="campaign_vs">VS</span>
                  <span class="content_text"><%= event.campaignUnit[1].name %> </span>
                <% } %>
              </p>
              <p class="campaign_info">
                <span>主题:</span>
                <span class="content_text"><%= event.title %></span>
              </p>
              <p class="campaign_info">
                <span>开始:</span>
                <span class="content_text"><%= moment(new Date(event.start)).format('YYYY-MM-DD HH:mm') %></span>
              </p>
              <p class="campaign_info">
                <span>结束:</span>
                <span class="content_text"><%= moment(new Date(event.end)).format('YYYY-MM-DD HH:mm') %></span>
              </p>
              <p class="campaign_info">
                <span>地点:</span>
                <span class="content_text"><%=event.location.name%></span>
              </p>
            </div>

          </div>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
