<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li class="custom_calendar_li">
				<!-- <span class="pull-left event <%= event['class'] %>"></span>&nbsp; -->
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" target="_blank"
					data-event-class="<%= event['class'] %>" class="event-item">
					<% if (event.is_joined) { %>
						<img class="join_sign" src="/img/icons/joined_campaign.ico"/>
					<% } %>
					<img class="event_list_logo" src="<%= event.logo %>"/>
					<span>&nbsp;&nbsp;开始: <%= moment(new Date(event.start)).format('hh:mm') %>&nbsp;&nbsp;主题: <%= event.title %></span>
				</a>
			</li>
		<% }) %>
	</ul>
</div>
