hr
.dl_modal_container
  .dl_row(style="height:93px" ng-repeat="company_message in company_messages")
    .dl_message_head
      img.dl_message_head_size(ng-src="default")
    .dl_message_body.margin_left_5
      .row
        .dl_message_caption
          h7 {{company_message.caption}}
        .dl_message_date
          h7 {{company_message.date | date:'yyyy-MM-dd HH:mm'}}
        .dl_message_status
          a.dl_btn_small {{company_message.status}}
      .row
        .dl_md_12
          h5 {{company_message.content}}