.loading_div(ng-show = 'loading')
div(ng-show = '!loading')
  hr
  .dl_modal_container
    .dl_row(style="height:93px" ng-repeat="company_message in company_messages" ng-if="$index >= page_company.up && $index <= page_company.down")
      .dl_message_head.dl_message_body_font(ng-switch="company_message.message_type")
        span.glyphicon.glyphicon-home(ng-switch-when="3")
      .dl_message_body.margin_left_5
        .row
          .dl_message_caption
            h7 {{company_message.caption}}
          .dl_message_date
            h7 {{company_message.date | date:'yyyy-MM-dd HH:mm'}}
        .row
          .dl_md_12(ng-switch="company_message.message_type")
            h5(ng-switch-when="3")
              您的公司给您发了
              a(id='pop_message_{{$index}}' ng-click="showPop($index);setToRead($index)")
                一条私信
          .dl_md_1.pull-right.dl_message_rightcorner
            button.dl_btn.pull-right(ng-click="setToDelete($index)") X
            label.pull-right |
            button.dl_btn.pull-right(ng-click="setToRead($index)" ng-disabled="company_message.status=='read'") {{statusHandle(company_message.status)}}
    .dl_row.dl_center(ng-if="company_messages.length > 10")
      button.dl_btn.dl_btn_small(ng-disabled="page_company.arrow == 'right' || page_company.arrow == 'none' " ng-click="pageOperate('left')") <<
      button.dl_btn.dl_btn_small(ng-disabled="page_company.arrow == 'left' || page_company.arrow == 'none' " ng-click="pageOperate('right')") >>
    .dl_row
      hr
      button.dl_btn.dl_btn_small.margin_left_5(ng-click="setAllStatus('read')" ng-if="company_length > 0") 全部设为已读
      button.dl_btn.dl_btn_small.margin_left_5(ng-click="setAllStatus('delete')" ng-if="company_messages.length > 0") 全部删除