hr
.dl_modal_container
  .dl_row(style="height:93px" ng-repeat="private_message in private_messages")
    .dl_message_head
      img.dl_message_head_size
    .dl_message_body.margin_left_5
      .row
        .dl_message_caption
          h7 {{private_message.caption}}
        .dl_message_date
          h7 {{private_message.date | date:'yyyy-MM-dd HH:mm'}}
      .row
        .dl_md_12
          h5
            a.pop(ng-click="setToRead($index)" data-toggle="popover" data-placement="top" data-content="{{private_message.detail}}" ng-if="private_message.direct_show"){{private_message.content}}
        .dl_md_1.pull-right.dl_message_rightcorner
          button.dl_btn.pull-right(ng-click="setToDelete($index)") X
          label.pull-right |
          button.dl_btn.pull-right(ng-disabled='true') {{statusHandle(private_message.status)}}