hr
.dl_modal_container
  .dl_row(style="height:93px" ng-repeat="team_message in team_messages")
    .dl_message_head
      img.dl_message_head_size(ng-src="default")
    .dl_message_body.margin_left_5
      .row
        .dl_message_caption
          h7 {{team_message.caption}}
        .dl_message_date
          h7 {{team_message.date | date:'yyyy-MM-dd HH:mm'}}
        .dl_message_status
          a.dl_btn_small {{team_message.status}}
      .row
        .dl_md_12
          h5
            a(href="{{team_message.url}}" ng-click="setToRead($index)"){{team_message.content}}