//- .modal.fade#events-modal
//-   .modal-header
//-     h3 1111
//-   .modal-body
//-     h3 1111
//-     .schedulebox
//-       .clearfix.schedule_operator
//-         p.pull-left.schedule_type
//-           a(ng-if="campaignsType!=='joined'" ng-click="getCampaigns('joined')" href="javascript:void(0)") 已参加
//-           span.active(ng-if="campaignsType==='joined'") 已参加
//-           span |
//-           a(ng-if="campaignsType!=='unjoin'" ng-click="getCampaigns('unjoin')" href="javascript:void(0)") 未参加
//-           span.active(ng-if="campaignsType==='unjoin'") 未参加
//-           span |
//-           a(ng-if="campaignsType!=='all'" ng-click="getCampaigns('all')" href="javascript:void(0)") 所有
//-           span.active(ng-if="campaignsType==='all'") 所有
//-         p.pull-right.calendar_nav#calendar_nav(ng-show="isCalendar")
//-           a(data-calendar-nav="prev" href="javascript:void(0)") &lt;&lt;
//-           a(data-calendar-nav="today" href="javascript:void(0)") 今天
//-           a(data-calendar-nav="next" href="javascript:void(0)") &gt;&gt;
//-       .calendar_box
//-         #calendar_view_modal(ng-show="isCalendar")
//-           .clearfix
//-             h5#calendar_title_modal.calendar_title.pull-left
//-             a.pull-right(data-calendar-view="weeks" href="javascript:void(0)" ng-show="isDayView") 返回日历
//-           #calendar_modal
//-   .modal-footer
//-   a.btn(href="#" data-dismiss="modal") Close
.modal.fade#events-modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .dl-modal
      .dl-modal-header
        span 日历
        button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          img(ng-src='/img/icons/icon_close.png')
      .dl-modal-body
        .clearfix.schedule_operator
          p.pull-left.schedule_type
            a(ng-if="campaignsType!=='joined'" ng-click="getCampaigns('joined','modal')" href="javascript:void(0)") 已参加
            span.active(ng-if="campaignsType==='joined'") 已参加
            span |
            a(ng-if="campaignsType!=='unjoin'" ng-click="getCampaigns('unjoin','modal')" href="javascript:void(0)") 未参加
            span.active(ng-if="campaignsType==='unjoin'") 未参加
            span |
            a(ng-if="campaignsType!=='all'" ng-click="getCampaigns('all','modal')" href="javascript:void(0)") 所有
            span.active(ng-if="campaignsType==='all'") 所有
          p.pull-right.calendar_nav#calendar_nav_modal(ng-show="isCalendar")
            a(data-calendar-nav="prev" href="javascript:void(0)") &lt;&lt;
            a(data-calendar-nav="today" href="javascript:void(0)") 今天
            a(data-calendar-nav="next" href="javascript:void(0)") &gt;&gt;
        .calendar_box
          #calendar_view_modal(ng-show="isCalendar")
            .clearfix
              h5#calendar_title_modal.calendar_title.pull-left
              a.pull-right(data-calendar-view="weeks" href="javascript:void(0)" ng-show="isDayView") 返回日历
            #calendar_modal
        .calendar_event_box#cal-modal-event-box