.modal.fade#events-modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .dl-modal
      .dl-modal-header
        .tabs.clearfix
          .tab(ng-disabled="campaignsType=='joined'" ng-class="{'active': campaignsType=='joined'}" ng-click="getCampaigns('joined','modal')") 已参加
            .active_triangle
          .tab(ng-disabled="campaignsType=='unjoin'" ng-class="{'active': campaignsType=='unjoin'}" ng-click="getCampaigns('unjoin','modal')") 未参加
            .active_triangle
          .tab(ng-disabled="campaignsType=='all'" ng-class="{'active': campaignsType=='all'}" ng-click="getCampaigns('all','modal')") 所有
            .active_triangle
        button.dl_close(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
      .dl-modal-body.schedulebox
        .calendar_box
          //- p.pull-left.schedule_type
          //-   button.schedule_btn.join() 已参加
          //-   button.schedule_btn.unjoin() 未参加
          //-   button.schedule_btn.all() 所有
          p.calendar_nav#calendar_nav_modal
            a.clearLinkUnderline.pull-right(data-calendar-nav="today" href="javascript:void(0)") 今天
            a.clearLinkUnderline.pull-right(data-calendar-nav="next" href="javascript:void(0)") &gt;
            span.icon_calendar
            a.clearLinkUnderline.pull-left(data-calendar-nav="prev" href="javascript:void(0)") &lt;
            a.clearLinkUnderline.calendar_title
              span#calendar_title_modal
          #calendar_view_modal.calendar_view_modal(ng-show="isCalendar")
            //- .clearfix
            //-   a.pull-right(data-calendar-view="weeks" href="javascript:void(0)" ng-show="isDayView") 返回日历
            #calendar_modal
            .calendar_tips(ng-show="isCalendar")
              .calendar_tip
                span.join_sign.length_3
                label.campaign_label 活动
        .calendar_event_box#cal-modal-event-box