.row.margin_top_15(ng-if="company")
  if (role!=='HR')
    .btn-group.pull-right
      button.btn.dl_btn.dropdown-toggle(data-toggle="dropdown") {{"CAMPAIGN_SELECT"|translate}}
      ul.dropdown-menu(role="menu")
        li
          a(ng-click="selectCampaign(0)") {{"COMPANY_CAMPAIGN"|translate}}
        li
          a(ng-click="selectCampaign(1)") {{"SELECTED_TEAM"|translate}}
        li
          a(ng-click="selectCampaign(2)") {{"UNSELECTED_TEAM"|translate}}
.row.campaigns_list
  .margin_15(ng-repeat="campaign_item in campaigns" )
    .row.campaign_panel
      a.invisible_link(ng-href="/group/{{ !campaign_item.provoke.active ? 'campaign/'+campaign_item.id : 'competition/'+campaign_item.provoke.competition_id }}")
      .col-xs-3.col-sm-2.col-md-3
        p.text-right {{ campaign_item.start_time | date:'yyyy-MM-dd HH:mm'}}
        p.text-right {{ campaign_item.start_time | date:'EEEE' }}
      .col-xs-6.col-sm-6.col-md-6.col-md-offset-1
        .row
          a.dl_message_label(ng-if="!campaign_item.provoke.active" ng-href="/group/campaign/{{ campaign_item.id }}") {{ campaign_item.content }}
          a.dl_message_label(ng-if="campaign_item.provoke.active" ng-href="/group/competition/{{campaign_item.provoke.competition_id}}") {{ campaign_item.content }}
          if (role==='HR'&&provider==='company' || role==='LEADER'&& provider ==='group')
            button.close_btn.operator_btn(ng-if="!campaign_item.over" ng-click="cancel(campaign_item.id)") {{ campaign_item.active ? '&times;&nbsp;关闭':'打开'}}
        .row.margin_top_15
          span.dl_message_label {{"TYPE"|translate}}: {{ campaign_item.gid[0] !== '0' ? campaign_item.group_type[0] : '公司活动' }}
          //- span.message_label 参加活动人数：{{ campaign_item.member_length }}
          span.dl_message_label(ng-if="campaign_item.provoke.active") {{"FORMATION"|translate}}: {{ campaign_item.provoke.competition_format }}
          span.dl_message_label {{"LOCATION"|translate}}: {{ campaign_item.location }}
          span.dl_message_label {{"DEADLINE"|translate}}: {{ campaign_item.end_time | date:'yyyy-MM-dd'}}
      .col-xs-3.col-sm-3.col-md-2
        if (role==='EMPLOYEE' || role==='OWNER' || role ==='LEADER' || role ==='MEMBER')
          div(ng-if="campaign_item.active && !campaign_item.over")
            input.dl_btn.dl_btn_small.margin_5.operator_btn(type = "button" value = "退出" ng-click="quit(campaign_item.id,$index)" ng-if="campaign_item.join")
            input.dl_btn.dl_btn_small.margin_5.operator_btn(type = "button" value = "参加" ng-click="join(campaign_item.id,$index)" ng-if="!campaign_item.join")
    hr
