.campaigns_list
  .margin_15(ng-repeat="campaign_item in campaigns")
    .row
      .col-xs-3.col-sm-2
        p.text-right {{ campaign_item.start_time | date:'yyyy-MM-dd HH:mm'}}
        p.text-right {{ campaign_item.start_time | date:'EEEE' }}
      .col-xs-7.col-sm-7
        .row
          a.message_label(href="#") {{ campaign_item.content }}
          if (role==='HR'&&provider==='company' || role==='LEADER'&& provider ==='group')
            button.dl_btn.dl_btn_close(ng-click="cancel(campaign_item.id)") {{ campaign_item.active ? '&times;&nbsp;关闭':'打开'}}
        .row.margin_top_15
          span.message_label 类型: {{ campaign_item.group_type[0] }}
          //- span.message_label 参加活动人数：{{ campaign_item.member_length }}
          span.message_label 赛制: {{ campaign_item.provoke.competition_format }}
          span.message_label 地点: {{ campaign_item.location }}
          span.message_label 截止时间: {{ campaign_item.end_time | date:'yyyy-MM-dd'}}
      .col-xs-2.col-sm-3
        if (role==='EMPLOYEE' || role==='OWNER' || role ==='LEADER' || role ==='MEMBER')
          div(ng-if="campaign_item.active")
            input.btn.dl_btn.dl_btn_small.margin_5(type = "button" value = "退出" ng-click="quit(campaign_item.id)" ng-if="campaign_item.join")
            input.btn.dl_btn.dl_btn_small.margin_5(type = "button" value = "参加" ng-click="join(campaign_item.id)" ng-if="!campaign_item.join")
        a.btn.dl_btn.margin_5(ng-if="campaign_item.provoke.active" ng-href="/group/competition/{{campaign_item.provoke.competition_id}}") 详情