.modal-dialog
  .dl-modal
    form(name="campaign_form" novalidate)
      .dl-modal-header
        button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          img(ng-src='/img/icons/icon_close.png')
        .head#myModalLabel {{"SPONSOR"|translate}}{{"CAMPAIGN"|translate}}
      .dl-modal-body
        .dl_modal_container
            label.subtitle {{"CAMPAIGN"|translate}}{{"THEME"|translate}}
            input.dl_modal_input.form-control(type="text" name="theme" ng-model="$parent.theme" placeholder="活动简单描述，请控制在14字以内。" tooltip="{{campaign_form.theme.$invalid ? '活动简单描述，请控制在14字以内':''}}" required)
        .dl_modal_container
            label.subtitle {{"CAMPAIGN"|translate}}{{"BRIEF"|translate}}
            textarea.dl_modal_input.form-control(rows="4" name="content" ng-model="$parent.content" ng-change="judge()" placeholder="请控制在40字以内。" tooltip="{{campaign_form.content.$invalid ? '请输入活动内容':''}}" required)
        .dl_modal_container
          .dl_modal_half_container
            .dl_modal_half_container
              label.subtitle {{"CAMPAIGN"|translate}}{{"START_TIME"|translate}}
            .input-group.date.dl_modal_input#start_time(data-date-format="YYYY-MM-DD HH:mm" )
              span.input-group-addon.no_radius
                img(ng-src='/img/icons/icon_date.png')
              input.dl_form-Control(type="text" ng-model="$parent.start_time" name="startTime" placeholder="Date" tooltip="{{campaign_form.startTime.$invalid ? '请选择活动活动开始时间':''}}" required)
          .dl_modal_half_container(ng-class="{'has-error':start_time >= end_time}")
            .dl_modal_half_container
              label.subtitle {{"CAMPAIGN"|translate}}{{"END_TIME"|translate}}
            .input-group.date.dl_modal_input#end_time(data-date-format="YYYY-MM-DD HH:mm" )
              span.input-group-addon.no_radius
                img(ng-src='/img/icons/icon_date.png')
              input.dl_form-Control(type="text" ng-model="$parent.end_time" name="endTime" placeholder="Date" tooltip="{{campaign_form.endTime.$invalid ? '请选择活动活动结束时间':''}}" required)
        .dl_modal_container
          .dl_modal_container
            label.subtitle {{"CAMPAIGN"|translate}}{{"LOCATION"|translate}}
          .dl_modal_map_container
            input.dl_modal_input(type="text" class="form-control" name="location" ng-model="$parent.location" placeholder="请输入活动场地的详细地址，并点击后方的“地图”链接进行具体地点标注" tooltip="{{campaign_form.location.$invalid? '请输入活动地点':''}}" required)
          .dl_modal_button_container
            a.clearLinkUnderline.map_btn.dl_btn_small {{"MAP"|translate}}
      .dl-modal-footer
        button.dl_btn.dl_btn_large(ng-click='sponsor()' data-dismiss="modal" ng-disabled="campaign_form.$invalid") {{"IMMEDIATE"|translate}}{{"SPONSOR"|translate}}
        button.cancel_btn.dl_btn_large(data-dismiss="modal" style="margin-left:30px") {{"CANCEL"|translate}}
  script.
    $(function() {
      $('#start_time').datetimepicker({
        pickSeconds: false
      });
      $('#end_time').datetimepicker({
        pickSeconds: false
      });
    });
