.loading_div(ng-show = 'loading')
.dl_campaign_list(ng-show = '!loading')
  if provider=='company'
    .dl_row
      .btn-group.pull-right
        button.dl_btn.dl_btn_small.dropdown-toggle(data-toggle="dropdown") {{campaign_type}}
        ul.dropdown-menu(role="menu")
          li
            a(ng-click="selectCampaign(0)") #{__("COMPANY_CAMPAIGN")}
          li(ng-if="role==='EMPLOYEE'")
            a(ng-click="selectCampaign(1)") #{__("SELECTED_TEAM")}
          li(ng-if="role==='EMPLOYEE'")
            a(ng-click="selectCampaign(2)") #{__("UNSELECTED_TEAM")}
          li(ng-if="role!=='EMPLOYEE'")
            a(ng-click="selectCampaign(3)") 小组活动
          li
            a(ng-click="selectCampaign(4)") 部门活动
          li
            a(ng-click="selectCampaign(5)") 全部活动

            
  table.table.table-hover.campaign_table
    tr(ng-repeat="campaign_item in campaigns")
      td.emp_col
        p
      td.time_col
        p(ng-if="judgeYear($index)").year {{campaign_item.start_time  | date:'yyyy'}}
      td.time_col
        p.text-right.day {{ campaign_item.start_time  | day }}
        p.text-right.time {{ campaign_item.start_time | date:'HH:mm' }}
      td.logo_col.text-center
        a(ng-href="{{campaign_item.link}}")
          img.campaign_logo(ng-if="campaign_item.type==='teamcampaign'" ng-src="{{campaign_item.logo}}/64/64")
          img.campaign_logo(ng-if="campaign_item.type!=='teamcampaign'" ng-src="{{campaign_item.logo}}/64/64")
      td.content_col
        p 主题:
          a.theme_text(ng-href="/{{(campaign_item.type=='provoke'?'competition/':'campaign/detail/')+campaign_item._id}}") {{campaign_item.theme}}
        p 内容:
          span.content_text {{campaign_item.content}}
        p #{__("LOCATION")}:
          span.content_text {{campaign_item.location.name}}
      td.operator_col
        button.cancel_btn.dl_btn_small.operator_btn(ng-if="campaign_item.close_flag" ng-click="cancel(campaign_item._id)") 关闭活动
  .text-center(ng-if="campaigns.length>0")
    button.btn.dl_btn(ng-if="loadMore_flag" ng-click="loadMore()") 加载更多
    span(ng-if="loadOver_flag") 已经加载了所有的活动
  .text-center(ng-if="campaigns.length==0")
    span 目前没有新的活动
  ul.pager(ng-if="nextPage_flag")
    li
      a(ng-if="lastPage_flag" ng-click="changePage(-1)") 上一页
    li
      a(ng-if="nextPage_flag" ng-click="changePage(1)") 下一页
