if provider=='company'
  .row
    .btn-group.pull-right
      button.dl_btn.dl_btn_small.dropdown-toggle(data-toggle="dropdown") {{"CAMPAIGN_SELECT"|translate}}
      ul.dropdown-menu(role="menu")
        li
          a(ng-click="selectCampaign(0)") {{"COMPANY_CAMPAIGN"|translate}}
        if (Global.role==='EMPLOYEE')
          li
            a(ng-click="selectCampaign(1)") {{"SELECTED_TEAM"|translate}}
          li
            a(ng-click="selectCampaign(2)") {{"UNSELECTED_TEAM"|translate}}
        else
          li
            a(ng-click="selectCampaign(3)") 小组活动
        li
          a(ng-click="selectCampaign(4)") 全部活动
.campaigns_list(ng-repeat="campaign_item in campaigns" )
  .campaign_panel.clearfix
    .aside
      p.text-right {{ campaign_item.start_time  | date:'yyyy-MM-dd HH:mm' | dateView}}
      p.text-right {{ campaign_item.start_time | week }}
    .campaign_container
      .campaign_logo
        a(ng-href="{{campaign_item.link}}")
          img.size_56.img_contain(ng-src="{{campaign_item.logo}}")
      .campaign_right
        .message_row
            span.message_label 主题:
              a(ng-href="/group/{{(campaign_item.type=='provoke'?'competition/':'campaign/')+campaign_item._id}}"){{campaign_item.theme}}
          .message_row
            span.message_label 内容: {{campaign_item.content}}
          .message_row
            span.message_label {{"LOCATION"|translate}}: {{campaign_item.location.name}}
            span.message_label 开始{{"TIME"|translate}}: {{campaign_item.start_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label(ng-if="campaign_item.member_max>0") 报名人数上限: {{campaign_item.member_max}}
          .message_row
            span.message_label 报名人数: {{campaign_item.member_num }}
  hr
.text-center(ng-if="campaigns.length>0")
  button(ng-if="loadMore_flag" ng-click="loadMore()") 加载更多
  span(ng-if="loadOver_flag") 已经加载了所有的活动
ul.pager
  li
    a(ng-if="lastPage_flag" ng-click="changePage(-1)") 上一页
  li
    a(ng-if="nextPage_flag" ng-click="changePage(1)") 下一页
