.modal-dialog
  .modal-content
    form(name="campaign_form")
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
        h4.modal-title#myModalLabel 发起活动
      .modal-body
          .row
            .col-md-6
              label 活动内容
              input(type="text" class="form-control" name="content" ng-model="content" ng-change="judge()" required)
            .col-md-6
              label 活动地点
              input(type="text" class="form-control" name="location" ng-model="location" required)
          .row
            .col-md-6
              label 开始时间
                .form-group
                  .row
                    .col-md-6
                      input.form-control(type="text" ng-model="start_time" name="date" date-format="yy/MM/dd" data-autoclose="1" data-min-date="today" data-max-date="{{end_time}}" placeholder="Date" bs-datepicker required)
                    .col-md-6
                      input.form-control(type="text" ng-model="start_time" name="time" data-autoclose="1" placeholder="Time" bs-timepicker required)
            .col-md-6
              label 结束时间
                .form-group
                  .row
                    .col-md-6
                      input.form-control(type="text" ng-model="end_time" name="date" date-format="yy/MM/dd" data-autoclose="1" data-min-date="{{start_time || 'today'}}" placeholder="Date" bs-datepicker required)
                    .col-md-6
                      input.form-control(type="text" ng-model="end_time" name="time" data-autoclose="1" placeholder="Time" bs-timepicker required)
      .modal-footer
        button(class="btn dl_btn"  data-dismiss="modal") 取消
        button(class="btn dl_btn" ng-click='sponsor()' data-dismiss="modal" ng-disabled="campaign_form.$invalid") 确定
