.dl_comment_area
  .dl_modal_container.margin_top_5
    .dl_md_8
      input.dl_modal_input.form-control(type="text" name="new_comment" ng-model="new_comment[$index].text")
    .dl_md_1
      a.clearLinkUnderline.dl_btn_right(ng-click="comment($index)") 发表
  hr
  .dl_modal_container(ng-if="group_message.comments.length > 0")
    .dl_row(style="height:93px" ng-repeat="comment in group_message.comments")
      .dl_md_1
        img.size_56(ng-src="{{comment.poster.photo}}")
      .dl_md_8.margin_left_5
        .dl_row.aaaaaa
          .dl_md_name.name
            h7 {{comment.poster.nickname}}
          .dl_md_time.time
            h7 {{comment.create_date | date:'yyyy-MM-dd HH:mm'}}
        .dl_row
          .dl_md_12.content
            p {{comment.content}}
          .dl_md_3.pull-right.index
            h5.pull-right.margin_right_20 # {{comment.index}}