.company_manager_box
  .link_box
    a.link(href="#/company_info")
      img.logo(ng-src="/img/company_manager_info.png/40/40")
      span.text 公司资料
    a.link(href="#/department")
      img.logo(ng-src="/img/company_manager_department.png/40/40")
      span.text 部门管理
    a.link(href="#/company_member/{{cid}}")
      img.logo(ng-src="/img/company_manager_members.png/40/40")
      span.text 成员管理