footer.dl_footer
  .dl_container.padding_top_0
    .dl_row.padding_top_0
      .text_icp
        a(href="http://www.miitbeian.gov.cn/" title="沪ICP备14016548号" target="_blank") 沪ICP备14016548号
        span  Copyright &copy; Donler 2014. All Rights Reserved 
        a(href="/about#about") 关于我们
        a(href="/about#law") 法律声明
        a(href="/about#privacy") 隐私政策
        a(href="/about#question") 问题反馈
        //-li: a(href="/plan") 商务合作
        a(href="/about#contact") 联系我们
        span.yun_icon
