footer.dl_footer
  hr
  .container
    .row
      .col-xs-12.col-sm-6
        p.pull-left 沪ICP备14016548号
        p.pull-left Copyright &copy; Donler 2004. All Rights Reserved
      .col-xs-12.col-sm-6
        p.yun_icon
