footer.dl_footer
  .dl_container(style="padding-top:0")
    .dl_row(style="padding-top:0")
      .text_icp
        span 沪ICP备14016548号
        span  Copyright &copy; Donler 2004. All Rights Reserved
        a.margin_left_50(href="/about") 关于我们
        a.margin_left_50(href="/law") 法律声明
        a.margin_left_50(href="/privacy") 隐私政策
        a.margin_left_50(href="/question") 问题反馈
        //-li: a(href="/plan") 商务合作
        a.margin_left_50(href="/contact") 联系我们
        span.margin_left_50.yun_icon
