footer.dl_footer
  .container
    .row
      .col-xs-12.col-sm-8.col-md-offset-2.text_icp
        span 沪ICP备14016548号
        span  Copyright &copy; Donler 2004. All Rights Reserved
      .col-xs-12.col-sm-2
        p.yun_icon
