.popover_img
  a(href="/group/page/#{companyGroup._id}")
    img.size_80(src="#{companyGroup.logo}")
.popover_content
  p: a(href="/group/page/#{companyGroup._id}")
    = companyGroup.name
.popover_brief
  p
    span 最新活动:
    a(href="/campaign/detail/#{campaign_id}")= message_theme
