nav.main-navbar.navbar.navbar-inverse.dl_nav(data-role="navigation")
  .container
    ul.navbar-nav.navbar-brand.nav
      li
        a.navbar-brand(href="/"): img.logo(src="/img/logo_w.png")
    .navbar-nav.nav.pull-right.dl-top-login
      form.signin.form-horizontal.ng-pristine.ng-valid(action="/users/session" method="post")
        .input-group.input-group-sm
          .input-group-btn
            input#email.form-control.input-sm.email(type="email" name="username" placeholder="Email地址" required="")
          .input-group-btn
            input#password.form-control.input-sm.password(type="password" name="password" placeholder="密码" required="")
          .input-group-btn
            a.btn.btn-default.btn-sm(href="/users/forgetPwd" title="忘记密码") ?
            button.btn.btn-primary.btn-sm.btn-submit 登录动梨
            a.btn.btn-link.btn-sm.btn-signin-link 企业登录
