doctype html
html
  head
    style(type='text/css').
      .container {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 0.1px;
        border-color: #DCDCDC;
        border-style: solid;
      }
      .head {
        padding: 10px;
      }
      .logo {
        background-size: contain;
        width: 100px;
      }
      .title{
        float: right;
      }
      .link {
        float: left;
      }
      .hi_content {
        color: #008000;
      }
      .color_gred {
        color: #DCDCDC;
      }
      .h2{
      font-size: 24px;
      }
      .instrction {
        margin-top: 40px;
      }
      .instrction_head {
        color: #3bbee8;
      }
      .home_link {
        padding: 20px;
      }
      .dl_link {
        background-color: #FF4500;
        color: #ffffff;
        padding: 10px;
      }
      a {
        text-decoration: none;
        word-break: break-all;
      }
      .link_content {
        background-color: #DCDCDC;
      }
      .link_content div {
        width: 25%;
        padding: 10px 0;
        display: inline-block;
      }
      .mail_link {
        background:url(http://localhost:3000/img/icons/kefu.png) no-repeat left center;
      }
      .weibo_link {
        background:url(http://localhost:3000/img/icons/sina.png) no-repeat left center;
      }
      .weixin_link {
        background:url(http://localhost:3000/img/icons/wx.png) no-repeat left center;
      }
      .lable_head{
        height:40px;
        line-height:40px;
        padding-left:40px;
        background:url(http://localhost:3000/img/icons/1_03.png) no-repeat left center;
        background-size: 40px;
      }
      .row_1 {
        background:url(http://localhost:3000/img/icons/ico_01.png) no-repeat left center;
      }
      .row_2 {
        background:url(http://localhost:3000/img/icons/ico_03.png) no-repeat left center;
      }
      .row_3 {
        background:url(http://localhost:3000/img/icons/ico_02.png) no-repeat left center;
      }
      .row_4 {
        background:url(http://localhost:3000/img/icons/ico_04.png) no-repeat left center;
      }
      .lable_info{
        height:30px;
        line-height:30px;
        padding-left:30px !important;
        background-size: 30px;
      }
      .container strong,span {
        padding: 5px;
      }
  body
    .container
      .head
        img.logo(src='http://localhost:3000/img/icons/logo_blue.png')
        span.title.color_gred.h2= title
      p.hi_content
        span.h2 Hi,
        span= who
      hr
      div!= content
      .instrction
        p.instrction_head.lable_head
          span.h2 动力 “活动管理”
        p.row_1.lable_info
          strong 快速建组
          span 在线完成公司内部或外部活动的创建和报名，移动客户端数据同步
        p.row_2.lable_info
          strong 参与跟踪
          span 员工一键活动报名，方便快捷跟踪参与，随时了解活动动态，随时了解活动动态
        p.row_3.lable_info
          strong 随时分享
          span 活动支持相册上传，活动结束后手机端快速分享，随时记录
        p.row_4.lable_info
          strong 日程管理
          span 日程、提醒、双重辅助，员工公司内部活动事物井井有条
      .home_link
        a.dl_link(href='http://localhost:3000') 立即访问dongler.com
      hr
      p 觉得donler没有任何帮助？ 请点击
        a(href="#") 意见反馈
      p.color_gred 本邮件由系统自动发出，请勿回复
      p.color_gred Copyright 国内第一家企业级员工活动管理平台 donler.com
    .link_content.container
      .mail_link.lable_info
        span service@donler.com
      .weibo_link.lable_info
        span @donler动梨
      .weixin_link.lable_info
        span 微信号： donler
