div
  p.subtitle {{"SUM"|translate}}：{{members.length}}
  span.subtitle(ng-if="!company") {{"TEAM_LEADER"|translate}}
  .row(ng-if="!company")
    .col-md-2(ng-repeat="leader in leaders")
      img.center-block.size_56(ng-src='{{leader.photo}}')
      p.text-center {{leader.realname}}
  span.subtitle {{company ? '成' : '队'}} 员
  .row
    .col-md-2(ng-repeat="member in members")
      span(ng-if="company")
        img.center-block.size_56(ng-click="userDetail($index)" ng-src='{{member.photo}}' data-toggle="modal" data-target="#sponsorUserDetailModel")
      span(ng-if="company")
        a.center-block(ng-click="userDetail($index)" data-toggle="modal" data-target="#sponsorUserDetailModel") {{member.realname}}
      span(ng-if="!company")
        img.center-block.size_56(ng-src='{{member.photo}}')
      span(ng-if="!company")
        a.center-block {{member.nickname}}
div(class="modal fade" id="sponsorUserDetailModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  include user_detail_modal