extends ../layouts/manager

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")

block baseInfo
  .dl_container.clearfix {{test}}
block panel
  div
    ul.nav.nav-tabs
      if (Global.role !=='GUESTHR' && Global.role !=='GUEST' && Global.role !=='GUESTLEADER')
        if (Global.role !== 'HR')
          li.tab_style(ng-class="{'active':nowTab=='private'}")
            a.subtitle.no_radius(href="#/private" ng-click="addactive('private')") 私信({{private_length}})
          li.tab_style(ng-class="{'active':nowTab=='team'}")
            a.subtitle.no_radius(href="#/team" ng-click="addactive('team')") 小道消息({{team_length}})
          li.tab_style(ng-class="{'active':nowTab=='company'}")
            a.subtitle.no_radius(href="#/company" ng-click="addactive('company')") 全公司消息({{company_length}})
    .tab-content.margin_top_20
      .tab-pane.active
        div(ng-view)
block aside


append footExt