.dl_messagebox.clearfix(ng-repeat="group_message in group_messages")
  //若是公司动态
  div.clearfix
    .message_side
      img.size_90(ng-src='{{group_message.team.length===0 ? group_message.company[0].logo : group_message.team[group_message.camp_flag ? group_message.camp_flag : 0 ].logo}}')
    .messagebox_content(ng-switch="group_message.message_type")
      span(ng-switch-when="0") 您的公司
        a(ng-href="{{'/company/home/'+group_message.company[0].cid}}") {{group_message.company[0].name}}
        {{"NEW_MESSAGE"|translate}}
      span(ng-switch-when="1") 您的小队
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        {{"NEW_MESSAGE"|translate}}
      span(ng-switch-when="2") 您的公司
        a(ng-href="{{'/company/home/'+group_message.company[0].cid}}") {{group_message.company[0].name}}
        关闭了活动
      span(ng-switch-when="3") 您的小队
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        关闭了活动
      span(ng-switch-when="4") {{!group_message.camp_flag ? "您的小队":""}}
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        {{!group_message.camp_flag ? "向" :"向您的小队"}}
        a(ng-href="{{'/group/home/'+group_message.team[1].teamid}}") {{group_message.team[1].name}}
        发出了挑战
      span(ng-switch-when="5")  {{!group_message.camp_flag ? "您的小队":""}}
        a(ng-href="{{'/group/home/'+group_message.team[1].teamid}}") {{group_message.team[1].name}}
        {{!group_message.camp_flag ? "接受了" :"接受了您的小队"}}
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        发出的挑战
      span(ng-switch-when="6") {{!group_message.camp_flag ? "您的小队":""}}
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        {{!group_message.camp_flag ? "与" :"与您的小队"}}
        a(ng-href="{{'/group/home/'+group_message.team[1].teamid}}") {{group_message.team[1].name}}
        的比赛结果已经确认
      span(ng-switch-when="7") 您的公司
        a(ng-href="{{'/company/home/'+group_message.company[0].cid}}") {{group_message.company[0].name}}
        有新成员加入
      span(ng-switch-when="8") 您的小队
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        有新成员加入
      span(ng-switch-default)
      .dl_message
        .triangle
        .dl_message_container
          .message_row
            span.message_label {{"TYPE"|translate}}: {{"COMPANY_CAMPAIGN"|translate}}
            span.message_label {{"LOCATION"|translate}}: {{group_message.location.name}}
            span.message_label 开始{{"TIME"|translate}}: {{group_message.start_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 结束{{"TIME"|translate}}: {{group_message.end_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 报名截止{{"TIME"|translate}}: {{group_message.deadline | date:'yyyy-MM-dd HH:mm'}}
          .message_row
            p.message_label {{group_message.content}}
  hr