.dl_messagebox.clearfix(ng-repeat="group_message in group_messages")
  //若是公司动态
  div.clearfix
    .message_side
      img.size_90(ng-src='{{group_message.logo}}')
    .messagebox_content(ng-switch="group_message.message_type")
      span(ng-switch-when="0") 您的公司
        a(ng-href="{{'/company/home/'+group_message.company[0].cid}}") {{group_message.company[0].name}}
        {{"NEW_MESSAGE"|translate}}
      span(ng-switch-when="1") 您的小队
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        {{"NEW_MESSAGE"|translate}}
      span(ng-switch-when="2") 您的公司
        a(ng-href="{{'/company/home/'+group_message.company[0].cid}}") {{group_message.company[0].name}}
        span 关闭了活动
      span(ng-switch-when="3") 您的小队
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        span 关闭了活动示
      span(ng-switch-when="4") {{!group_message.camp_flag ? "您的小队":""}}
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        {{!group_message.camp_flag ? "向" :"向您的小队"}}
        a(ng-href="{{'/group/home/'+group_message.team[1].teamid}}") {{group_message.team[1].name}}
        span 发出了挑战
      span(ng-switch-when="5")  {{group_message.camp_flag ? "您的小队":""}}
        a(ng-href="{{'/group/home/'+group_message.team[1].teamid}}") {{group_message.team[1].name}}
        {{group_message.camp_flag ? "接受了" :"接受了您的小队"}}
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        span 发出的挑战
      span(ng-switch-when="6") {{!group_message.camp_flag ? "您的小队":""}}
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        {{!group_message.camp_flag ? "与" :"与您的小队"}}
        a(ng-href="{{'/group/home/'+group_message.team[1].teamid}}") {{group_message.team[1].name}}
        span 的比赛结果已经确认
      span(ng-switch-when="7") 您的公司
        a(ng-href="{{'/company/home/'+group_message.company[0].cid}}") {{group_message.company[0].name}}
        span 有新成员加入
      span(ng-switch-when="8") 您的小队
        a(ng-href="{{'/group/home/'+group_message.team[0].teamid}}") {{group_message.team[0].name}}
        span 有新成员加入
      span(ng-switch-default)
      .dl_message
        .triangle
        .dl_message_container(ng-if="group_message.message_type>=0 && group_message.message_type<7 ")
          .message_row
            span.message_label 主题:
              a(ng-if="group_message.message_type!=4 && group_message.message_type!=5 " ng-href="/group/campaign/{{group_message.campaign._id}}"){{group_message.campaign.theme}}
              a(ng-if="group_message.campaign.camp[1].start_confirm==true" ng-href="/group/competition/{{group_message.campaign._id}}"){{group_message.campaign.theme}}
              span(ng-if="group_message.message_type==4 && group_message.campaign.camp[1].start_confirm==false"){{group_message.campaign.theme}}
          .message_row
            span.message_label 内容: {{group_message.campaign.content}}
          .message_row
            span.message_label {{"LOCATION"|translate}}: {{group_message.campaign.location.name}}
            span.message_label 开始{{"TIME"|translate}}: {{group_message.campaign.start_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label(ng-if="group_message.campaign.member_max>0") 报名人数上限: {{group_message.campaign.member_max}}
          .message_row
            span(ng-if="group_message.message_type==4 && group_message.campaign.camp[1].start_confirm==false && group_message.vote_flag !=undefined")
              button.dl_btn(ng-click="vote(group_message.campaign._id,true,$index)") {{group_message.vote_flag == 1 ? "CANCEL" : "POSITIVE"|translate}} {{group_message.campaign.camp[group_message.camp_flag].vote.positive}}
              button.dl_btn(ng-click="vote(group_message.campaign._id,false,$index)") {{group_message.vote_flag == -1 ? "CANCEL" : "NEGATIVE"|translate}} {{group_message.campaign.camp[group_message.camp_flag].vote.negative}}
              button.dl_btn(ng-click="responseProvoke(group_message.campaign.camp[1].id,group_message.campaign._id)" ng-if="group_message.response_flag") {{"FACE"|translate}}
            span.pull-right(ng-if="group_message.join_flag!=undefined")
             btn.cancel_btn.dl_btn_small.operator_btn(ng-click="quit(group_message.campaign._id,$index)" ng-if="group_message.join_flag") {{"QUIT"|translate}}
             btn.dl_btn.dl_btn_small.operator_btn(ng-click="join(group_message.campaign._id,$index)" ng-if="!group_message.join_flag") {{"JOIN"|translate}}
        .dl_message_container(ng-if="group_message.message_type ==7 || group_message.message_type==8 ")
          .message_row
            span.message_label
            a(ng-href="/users/home/{{group_message.user.user_id}}") {{group_message.user.name}}

            span.message_label  加入时间 {{group_message.create_time | date:'yyyy-MM-dd HH:mm' | dateView}}
      .message_row(ng-if="group_message.message_type>=0 && group_message.message_type<7 ")
        span.message_label {{group_message.create_time | date:'yyyy-MM-dd HH:mm'}}
        span.message_label 报名截止{{"TIME"|translate}}: {{group_message.campaign.deadline | date:'yyyy-MM-dd HH:mm'}}
        label.pull-right(ng-if="message_role==='group'")
          a(ng-click="toggleOperate($index);getComment($index)") 留言 {{group_message.campaign.comment_sum}}
      .message_row(ng-if="toggle[$index] && message_role==='group'")
        .dl_comment_area
          .dl_modal_container.margin_top_5
            .dl_md_8
              input.dl_modal_input.form-control(type="text" name="new_comment" ng-model="new_comment[$index].text")
            .dl_md_1
              a.clearLinkUnderline.dl_btn_right(ng-click="comment($index)") 发表
          hr
          .dl_modal_container(ng-if="group_message.comments.length > 0")
            .dl_row(style="height:93px" ng-repeat="comment in group_message.comments")
              .dl_md_1
                img.size_56(ng-src="{{comment.poster.photo}}")
              .dl_md_8.margin_left_5
                .row
                  .dl_md_name
                    h7 {{comment.poster.nickname}}
                  .dl_md_time
                    h7 {{comment.create_date | date:'yyyy-MM-dd HH:mm'}}
                .row
                  .dl_md_12
                    h5 {{comment.content}}
                  .dl_md_3.pull-right
                    h5.pull-right.margin_right_20 # {{comment.index}}