.modal.fade#photoModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .dl-modal
      .dl-modal-header
        button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          img(ng-src='/img/icons/icon_close.png')
      .dl-modal-body.clearfix
        .dl_modal_container
          .photos
            .last(ng-if="showedIndex>0" ng-click="changePhoto(-1)")
              span <
            .photo(ng-if="showedPhotos")
              img(ng-src="{{showedPhotos[showedIndex].uri+'/400/400'}}")
            .next(ng-if="showedIndex<showedPhotos.length-1" ng-click="changePhoto(1)")
              span >