.modal-dialog
  .dl-modal
    .modal-header
      button(class="close" data-dismiss="modal" aria-hidden="true") X
      h4.modal-title {{"EDIT"|translate}}{{"TEAM_INFO"|translate}}
    .modal-body
      .row
        .col-md-2
          label.info_label.control-label {{"TEAM_NAME"|translate}}
        .col-md-8
          input.dl_input.form-control.editToggle(type="text" name ="name" ng-model="team.name")
      hr
      .row
        .col-md-4
          label.info_label.control-label {{"APPOINT_LEADER"|translate}}
          li(ng-repeat= "user in users")
            a(ng-click="appointLeader(user._id,user.nickname,user.photo)" data-dismiss="modal") {{user.nickname}}
    .modal-footer
      button.dl_btn(ng-click="saveGroupInfo(team._id,team.name)") {{"CONFIRM"|translate}}
