.modal-dialog
  .dl-modal
    .dl-modal-header
      button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true")
        img(ng-src='/img/icons/icon_close.png')
      .head#myModalLabel 任命部门管理员
    .dl-modal-body.clearfix
      .dl_modal_container
        .dl_row.clearfix
          //- span.subtitle 任命管理员
          span.info_label 点选新成员任命管理员后,现任管理员自动解职
          a(ng-click="showOriginalUser()" ng-if="search_flag" ng-cloak) 显示部门成员
          .search_form.pull-right
            form(name="manager_form" novalidate)
              .search_input
                input(placeholder="搜索成员" type="text" ng-model="member_search_department" required)
              .search_icon(type='submit' ng-click="search()" ng-disabled="manager_form.$invalid")
      .dl_modal_container
        .groups(bs-popover)
          p(ng-if="message" ng-cloak) {{message}}
          .group(ng-repeat="user in department_users")
            .dl_row
              a(ng-if="user.leader" ng-click="appointReady($index)" ng-disabled="true")
                img.img_user.dl_cover.size_48r(ng-src="{{user.photo}}" ng-Mouseenter="showUserCard(user._id,user._id)" id='pop{{user._id}}')
              a(ng-if="!user.leader" ng-click="appointReady($index)" ng-disabled="true")
                img.size_48.img_user(ng-src="{{user.photo}}" ng-Mouseenter="showUserCard(user._id,user._id)" id='pop{{user._id}}')
            .dl_row.users
              span.user_name {{user.nickname}}
    .dl-modal-footer
      button.cancel_btn.dl_btn_large(data-dismiss="modal") 取消
      button.dl_btn.dl_btn_large(data-dismiss="modal" ng-click="appointManager()") #{__("APPOINT")}