.modal-dialog
  .modal-content
    .modal-header
      button(class="close" data-dismiss="modal" aria-hidden="true") X
      h4.modal-title#myModalLabel 发起挑战
    .modal-body
      .row
        .col-md-4
          label 内容
          input(type="text" class="form-control" name="content" ng-model="content")
        .col-md-4
          label 赛制
          input(type="text" class="form-control" name="competition_format" ng-model="competition_format")
        .col-md-4
          label 备注
          input(type="text" class="form-control" name="remark" ng-model="remark")
      .row.margin_top_15
        .col-md-4
          label 地点
          input(type="text" class="form-control" name="location" ng-model="location")
        .col-md-4
          label 人数
          input(type="text" class="form-control" name="number" ng-model="number")
      .row.margin_top_15
        .col-md-6
          label 开始时间
            .form-group.margin_top_5
              .row
                .col-md-6
                  input.form-control(type="text" ng-model="competition_date" name="date" date-format="yy/MM/dd" data-autoclose="1" data-min-date="today" data-max-date="{{deadline}}" placeholder="Date" bs-datepicker)
                .col-md-6
                  input.form-control(type="text" ng-model="competition_date" name="time" data-autoclose="1" placeholder="Time" bs-timepicker)
        .col-md-6
          label 结束时间
            .form-group.margin_top_5
              .row
                .col-md-6
                  input.form-control(type="text" ng-model="deadline" name="date" date-format="yy/MM/dd" data-autoclose="1" data-min-date="{{competition_date}}" placeholder="Date" bs-datepicker)
                .col-md-6
                  input.form-control(type="text" ng-model="deadline" name="time" data-autoclose="1" placeholder="Time" bs-timepicker)
      .row.margin_top_15
        select(data-placeholder="Choose a Company..." class="form-control chzn-select" tabindex="2" ng-model="company_selected" ng-options="company.name for company in companies" ng-change="getTeam(company_selected._id)")
          option(value="") 请选择公司
        select(data-placeholder="Choose a Team..." class="form-control chzn-select" tabindex="2" ng-model="team_selected" ng-options="team.name for team in teams" ng-change="provoke_select(team_selected)")
          option(value="") 请选择小队
        //- li(ng-repeat="company in companies")
        //-   hr
        //-   p 公司名: {{company.name}}
        //-   button.btn.dl_btn(ng-click="getTeam(company._id)") 列出小组
        //-   li(ng-repeat="team in teams")
        //-     a(ng-click="provoke_select(team)") {{team.name}}
    .modal-footer
      button(class="btn dl_btn" data-dismiss="modal") 取消
      button(class="btn dl_btn" ng-click='provoke()' data-dismiss="modal") 确定