.modal-dialog
  .dl-modal
    form(name="provoke_form")
      .modal-header
        button(class="close" data-dismiss="modal" aria-hidden="true") X
        h4.modal-title#myModalLabel 第二步: {{"SPONSOR"|translate}}{{"PROVOKE"|translate}}
      .modal-body
        .row.margin_top_20
          .col-md-12
            label {{"CONTENT"|translate}}
            input.dl_form-control(type="text" name="content" ng-model="content"  tooltip="{{provoke_form.content.$invalid ? '请输入挑战内容':''}}" required)
        .row.margin_top_20
          .col-md-12
            label {{"FORMATION"|translate}}
            input.dl_form-control(type="text" name="competition_format" ng-model="competition_format" tooltip="{{provoke_form.competition_format.$invalid ? '请输入赛制':''}}" provoke_formrequired)
        .row.margin_top_20
          .col-md-12
            label {{"REMARK"|translate}}
            input.dl_form-control(type="text" name="remark" ng-model="remark" tooltip="{{provoke_form.remark.$invalid ? '请输入备注':''}}" required)
        .row.margin_top_20
          .col-md-12
            label {{"LOCATION"|translate}}
            input.dl_form-control(type="text" name="location" ng-model="location" tooltip="{{provoke_form.location.$invalid ? '请输入比赛地点':''}}" required)
        .row.margin_top_20
          .col-md-12
            label {{"SUM"|translate}}
            input.dl_form-control(type="number" name="number" ng-model="number" tooltip="{{provoke_form.number.$invalid ? '请输入比赛人数':''}}" required)
        .row.margin_top_20
          .col-md-6
            label {{"START_TIME"|translate}}
            .input-group.date.form-group.margin_top_20#competition_start_time(data-date-format="YYYY-MM-DD HH:mm" )
              input.dl_modal_input.form-control(type="text" ng-model="$parent.competition_date" name="startTime" placeholder="Date" tooltip="{{provoke_form.startTime.$invalid ? '请输入比赛开始时间':''}}" required)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .col-md-6
            label {{"END_TIME"|translate}}
            .input-group.date.form-group.margin_top_20#competition_end_time(data-date-format="YYYY-MM-DD HH:mm" )
              input.dl_modal_input.form-control(type="text" ng-model="$parent.deadline" name="endTime" placeholder="Date" tooltip="{{provoke_form.endTime.$invalid ? '请输入比赛结束时间':''}}" required)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
      .modal-footer
        button.btn.dl_btn.dl_btn_large(ng-click='provoke()' ng-disabled="provoke_form.$invalid" data-dismiss="modal") {{"CONFIRM"|translate}}
        button.btn.dl_btn.cancel_btn.dl_btn_large(data-dismiss="modal") {{"CANCEL"|translate}}
  script.
    $(function() {
      $('#competition_start_time').datetimepicker({
        pickSeconds: false
      });
      $('#competition_end_time').datetimepicker({
        pickSeconds: false
      });
    });