.schedulebox(ng-init="isCalendar=true;")
  .clearfix.schedule_operator
    if role === 'OWNER'
      //- p.pull-left.view_type
      //-   a(ng-if="!isCalendar" ng-click="calendar(true)" href="javascript:void(0)") 日历
      //-   span.active(ng-if="isCalendar") 日历
      //-   span |
      //-   a(ng-if="isCalendar" ng-click="calendar(false)" href="javascript:void(0)") 列表
      //-   span.active(ng-if="!isCalendar") 列表
      //- p.pull-left.schedule_type
        //- a(ng-if="campaignsType!=='joined'" ng-click="getCampaigns('joined')" href="javascript:void(0)") 已参加
        //- span.active(ng-if="campaignsType==='joined'") 已参加
        //- span |
        //- a(ng-if="campaignsType!=='unjoin'" ng-click="getCampaigns('unjoin')" href="javascript:void(0)") 未参加
        //- span.active(ng-if="campaignsType==='unjoin'") 未参加
        //- span |
        //- a(ng-if="campaignsType!=='all'" ng-click="getCampaigns('all')" href="javascript:void(0)") 所有
        //- span.active(ng-if="campaignsType==='all'") 所有
    p.calendar_nav#calendar_nav
      span(ng-class="{'icon_fold':isCalendar,'icon_unfold':!isCalendar}" ng-click="isCalendar=!isCalendar;" ng-cloak)
      a.pull-right(data-calendar-nav="next" href="javascript:void(0)") &gt;
      span.icon_calendar
      a.pull-left(data-calendar-nav="prev" href="javascript:void(0)") &lt;
      a.calendar_title(data-calendar-nav="today" href="javascript:void(0)") 
        span#calendar_title
  .calendar_box.calendar_box_small
    #calendar_view(ng-show="isCalendar")
      //- .clearfix
        //- h5#calendar_title.calendar_title.pull-left
        //- a.pull-right(data-calendar-view="weeks" href="javascript:void(0)" ng-show="isDayView") 返回日历
      #calendar
  .calendar_tips(ng-show="isCalendar")
    span.join_sign.length_1
    label.campaign_label 没有活动
    span.join_sign.length_2
    label.campaign_label 2个及以下
    span.join_sign.length_3
    label.campaign_label 2个以上
