.modal-dialog
  .dl-modal
    form(name="manager_form" novalidate)
      .dl-modal-header
        button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times
        .head#myModalLabel 选择部门
      .dl-modal-body
        .dl_modal_container
          .dl_md_1.dl_vertical
            label.subtitle 选择部门
          .dl_md_8.dl_vertical
            select(data-placeholder="选择部门" tabindex="2" ng-model="main_department" ng-options="d.name for d in departments" ng-change="select_department()" ng-disabled="departments.length == 0")
        .dl_modal_container
          .dl_row
            .dl_md_12
              input.dl_modal_input.form-control(placeholder="如果部门太多,您可以搜索一下" type="text" ng-model="search_department" required)
            .dl_md_1
              button.clearLinkUnderline.dl_btn_right(ng-click="search()" ng-disabled="manager_form.$invalid") 搜索
        .dl_modal_container
          .groups.row
            .group(style="float:left;padding-left:20px;padding-bottom:5px" ng-repeat="department in select_departments")
              .dl_row
                a(ng-if="department.selected" ng-click="selectReady($index)" ng-disabled="true")
                  img.size_80.dl_cover_department(ng-src="{{department.team.logo}}" ng-if="department.selected")
                a(ng-if="!department.selected" ng-click="selectReady($index)" ng-disabled="true")
                  img.size_80(ng-src="{{department.team.logo}}")
              .dl_row(style="width:80px;text-align:center")
                label {{department.name}}
      .dl-modal-footer
        button.dl_btn.dl_btn_large(data-dismiss="modal" ng-click="showCampaignSponsor()") 发起