.modal-dialog
  .dl-modal
    form(name="dOt_form" novalidate)
      .dl-modal-header
        button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          img(ng-src='/img/icons/icon_close.png')
        .head#myModalLabel 发起多小队活动
      .dl-modal-body
        .dl_modal_container
          .dl_row
            p.subtitle 请选择您需要发多活动的小队
          .dl_row
            input(type="radio" ng-model="multi_campaign_type.value" value="1")
            span 每小队的独立活动
            span &nbsp;&nbsp;&nbsp;
            input(type="radio" ng-model="multi_campaign_type.value" value="0")
            span 多小队的联谊活动
        .dl_modal_container
          .groups
            .dOt_group(ng-repeat="dOt in dOts" ng-if="dOt.active")
              .dl_row(title="{{dOt.name}}")
                a(ng-if="dOt.selected" ng-click="selectReady($index)")
                  img.size_48.dl_cover_department(ng-src="{{dOt.team ? dOt.team.logo : dOt.logo}}/48/48")
                a(ng-click="selectReady($index)")
                  img.size_48(ng-if="!dOt.selected" ng-src="{{dOt.team ? dOt.team.logo : dOt.logo}}/48/48")
              .dl_row
                label.search_area_head {{dOt.name}}
      .dl-modal-footer
        button.dl_btn.dl_btn_large(data-dismiss="modal" ng-click="showCampaignSponsor()" ng-disabled="!sponsor_permission") 发起