.modal-dialog
  .dl-modal
    form(name="dOt_form" novalidate)
      .dl-modal-header
        button.head(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          img(ng-src='/img/icons/icon_close.png')
        .head#myModalLabel 发起多小队活动
      .dl-modal-body
        .dl_modal_container
          .dl_row
            .dl_md_12
              p 请选择您需要发多活动的小队
          .dl_row
            hr
        .dl_modal_container
          .groups.row
            .group(ng-repeat="dOt in dOts")
              .dl_row
                .dl_cover_department(ng-if="dOt.selected" ng-click="selectReady($index)")
                a(ng-click="selectReady($index)")
                  img.size_48(ng-src="{{dOt.team ? dOt.team.logo : dOt.logo}}")
              .dl_row.search_area_head
                label {{dOt.name}}
      .dl-modal-footer
        button.dl_btn.dl_btn_large(data-dismiss="modal" ng-click="showCampaignSponsor()" ng-disabled="!sponsor_permission") 发起