.loading_div(ng-show = 'loading')
div(ng-show = '!loading')

  .team_family_box
    div(ng-if="family_photos.select_count !== 0")
      .team_photo
        ul.ng-cloak(rn-carousel rn-carousel-indicator="true" rn-carousel-auto-slide="2" rn-carousel-swipe="false" rn-carousel-index="slide.index")
          li(ng-repeat="photo in family_photos | filter: {select: true}")
            .carousel-img-container
              img.center-block(ng-src="{{ photo.uri }}/500/270")
      .slider_nav
        .up(ng-click="prevPhoto()" ng-if="slide.index !== 0 && family_photos.select_count > 3")
          span.glyphicon.glyphicon-chevron-up
        .down(ng-click="nextPhoto()" ng-if="slide.index < family_photos.select_count-1 && family_photos.select_count > 3")
          span.glyphicon.glyphicon-chevron-down
        div.carousel_thumbs.ng-cloak(height="90" count="3" scroll-index="slide.index" scroll-thumbs)
          div(ng-repeat="photo in family_photos | filter: {select: true}" ng-class="{'active': ($parent.slide.index==$index)}" ng-click="$parent.slide.index=$index")
            img(ng-src="{{ photo.uri }}/160/90")
    div(ng-if="family_photos.select_count === 0")
      .team_photo
        ul.ng-cloak(rn-carousel rn-carousel-indicator="true" rn-carousel-auto-slide="2" rn-carousel-swipe="false" rn-carousel-index="slide.index")
          li(ng-repeat="photo in default_family")
            .carousel-img-container
              img.center-block(ng-src="{{photo.uri}}/500/270")
      .slider_nav
        div.carousel_thumbs.ng-cloak(height="90" count="3" scroll-index="slide.index" scroll-thumbs)
          div(ng-repeat="photo in default_family" ng-class="{'active': ($parent.slide.index==$index)}" ng-click="$parent.slide.index=$index")
            img.center-block(ng-src="{{photo.uri}}/160/90")

  .team_calendar_box.clearfix
    .dl_row.clearfix
      #calendar_view.pull-left
        //-span.calendar_back.pull-left.glyphicon.glyphicon-chevron-left(data-calendar-view="weeks" href="javascript:void(0)" ng-show="isDayView")
        span#calendar_title.calendar_title.pull-left
      #calendar_nav.pull-right.calendar_nav
        a(data-calendar-nav="prev" href="javascript:void(0)") &lt;&lt;
        a(data-calendar-nav="today" href="javascript:void(0)") 今天
        a(data-calendar-nav="next" href="javascript:void(0)") &gt;&gt;
    #calendar

  .team_member_box.clearfix

    .dl_row.clearfix
      h5.pull-left 成员信息
    hr.margin_top_6
    .dl_row
      span.subtitle.margin_left_15 #{__("TEAM_LEADER")}
    .dl_row.clearfix
      .dl_companygroup_container
        .groups
          .group(ng-repeat="leader in team.leader")
            div(ng-if="role!=='GUESTHR'&&role!=='GUEST'&&role!=='GUESTLEADER'")
              .dl_row(bs-popover)
                a(href="/users/home/{{leader._id}}")
                  img.size_56.img_user(ng-src="{{leader.photo}}" ng-Mouseover='showUserCard(leader._id,leader._id)' id='pop{{leader._id}}')
              .dl_row
                a.user_name(href="/users/home/{{leader._id}}") {{leader.nickname}}
            div(ng-if="role==='GUESTHR'||role==='GUEST'||role==='GUESTLEADER'")
              .dl_row
                img.size_56.img_user(ng-src="{{leader.photo}}")
              .dl_row
                span.user_name {{leader.nickname}}
            .dl_row(ng-if="role==='GUESTHR'|| role === 'GUEST'")
              img.size_56.img_user(ng-src="{{leader.photo}}")
    .dl_row.clearfix
      span.subtitle.margin_left_15 #{__("MEMBER")}
    .dl_row.clearfix
      .dl_companygroup_container
        .groups
          .group(ng-repeat="member in members")
            div(ng-if="role!=='GUESTHR'&&role!=='GUEST'&&role!=='GUESTLEADER'")
              .dl_row(bs-popover)
                a(href="/users/home/{{member._id}}")
                  img.size_56.img_user(ng-src="{{member.photo}}" ng-Mouseenter='showUserCard(member._id,member._id)' id='pop{{member._id}}')
              .dl_row
                a.user_name(href="/users/home/{{member._id}}") {{member.nickname}}
            div(ng-if="role==='GUESTHR'||role==='GUEST'||role==='GUESTLEADER'")
              .dl_row
                img.size_56.img_user(ng-src="{{member.photo}}")
              .dl_row
                span.user_name {{member.nickname}}
            .dl_row(ng-if="role==='GUESTHR'|| role === 'GUEST'")
              img.size_56.img_user(ng-src="{{member.photo}}")


#upload_modal.modal.fade(ng-show="role==='LEADER'||role==='HR'" tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal")
          span(aria-hidden="true") &times;
        h4.modal-title 点击图片可切换选中状态，点击图片右上方的按钮可删除该图片
      .modal-body
        #family_preview_container.clearfix.family_preview_container
          .family_photo_preview_cell.img-thumbnail(ng-repeat="photo in family_photos" ng-class="selected(photo)")
            img.img-responsive(ng-src="{{ photo.uri }}" ng-click="toggleSelect(photo._id)")
            button.remove(ng-click="deletePhoto(photo._id)"): span.glyphicon.glyphicon-remove
            button.ok(ng-if="photo.select"): span.glyphicon.glyphicon-ok
          .clearfix
          button.dl_btn.dl_btn_small.pull-right.add_picture_btn(ng-click="next()") 添加图片
        #family_jcrop_container.jcrop
          #jcrop_img_container
            img.jcrop_img.img-responsive
          form#upload_family_form.upload_family_form.clearfix(action="{{ '/group/' + teamId + '/family' }}" method="post" enctype="multipart/form-data")
            input#w(type="hidden" name="width" value="320")
            input#h(type="hidden" name="height" value="180")
            input#x(type="hidden" name="x" value="0")
            input#y(type="hidden" name="y" value="0")
            input#upload_input.hidden(type="file" name="family" accept="image/*" required)
            //-input.remark(type="text" name="remark" placeholder="备注")
            .upload_operator.pull-right
              label.dl_btn.dl_btn_small(for="upload_input") 选择图片
              button#upload_button.dl_btn.dl_btn_small(type="submit" disabled) 上传
              button.dl_btn_small.cancel_btn(type="button" ng-click="back()") 返回
          p {{ remind }}
