.row
  .dl_timeline( ng-repeat="years in newTimeLines")
    .spine
    .date_separator(id='year' + "{{years.left[0].year}}")
      span.span {{years.left[0].year}}
    .column.column_left
        .timeline_element(ng-repeat="item in years.left")
          .title
            a(href="/campaign/detail/{{item.id}}",target="_blank")
              img.timeline-logo.pull-left.size_20(ng-src="{{item.logo ? item.logo :'/img/icons/default_company_logo.png'}}")
              span.head {{item.head}}
              span.date {{item.start_time |date:'MM/DD'}}
              .img_scroll
                  img.photo(ng-repeat="imgs in item.photo_list" ng-src="{{imgs.thumbnail_uri}}")
          .content
            a(href="/campaign/detail/{{item.id}}",target="_blank")
              p {{item.content}}
    .column.column_right
      .timeline_element(ng-repeat="item in years.right")
        .title
          a(href="/campaign/detail/{{item.id}",target="_blank")
            img.timeline-logo.pull-left.size_20(ng-src="{{item.logo ? item.logo :'/img/icons/default_company_logo.png'}}")
            span.head {{item.head}}
            span.date {{item.start_time |date:'MM/DD'}}
            .img_scroll
                img.photo(ng-repeat="imgs in item.photo_list" ng-src="{{imgs.thumbnail_uri}")
        .content
          a(href="/campaign/detail/{{item.id}}",target="_blank")
            p {{item.content}}
span.emptiem(ng-if="newTimeLines.length===0") #{__("NO_CAMPAIGN")}
