nav.navbar.navbar-inverse.navbar-static-top.dl_nav(role="navigation")
  .container
    if role !== 'HR'
      .navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/logo_w.png")
        button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#personal_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.in#personal_nav
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/company/home") {{"COMPANY_HOME"|translate}}
          li
            a(href="/users/home") {{"PERSONAL_HOME"|translate}}
          li
            a(href="/users/home#/personal") {{"PERSONAL_INFO"|translate}}
          li
            a(href="/users/signout") {{"LOGOUT"|translate}}
          li
            a(href="#" data-toggle="dropdown") {{"L_CHANGE"|translate}}
            ul.dropdown-menu(role="menu")
              li
                a(href="#" ng-click="changeLanguage('zh-CN')") {{"L_ZH"|translate}}
              li
                a(href="#" ng-click="changeLanguage('jp-JP')") {{"L_JP"|translate}}
    if role === 'HR'
      .navbar-header  
        a.navbar-brand(href="/")
          img.logo(src="/img/logo_w.png")
        button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#HR_nav") 
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.in#HR_nav
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/company/home") {{"COMPANY_HOME"|translate}}
          li
            a(href="/company/home#/company_info") {{"COMPANY_INFO"|translate}}
          li
            a(href="/company/signout") {{"LOGOUT"|translate}}
          li
            a(href="#" data-toggle="dropdown") {{"L_CHANGE"|translate}}
            ul.dropdown-menu(role="menu")
              li
                a(href="#" ng-click="changeLanguage('zh-CN')") {{"L_ZH"|translate}}
              li
                a(href="#" ng-click="changeLanguage('jp-JP')") {{"L_JP"|translate}}
