nav.navbar.navbar-inverse.navbar-static-top.dl_nav(role="navigation")
  .dl_head
    if Global.role !== 'HR'
      //.navbar-header
      a.navbar-brand(href="/")
        img.logo(src="/img/logo_w.png")
      //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#personal_nav")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //.collapse.navbar-collapse#personal_nav
      ul.nav.navbar-nav.pull-right
        li
          a(href="/company/home") {{"COMPANY_HOME"|translate}}
        li
          a(href="/users/home")
            span
              img.size_20(ng-src="#{Global.nav_logo}")
            span.m_l_5 #{Global.nav_name}

        li
          a(href="#" data-toggle="dropdown")
            span.glyphicon.glyphicon-cog
          ul.dl_menu.dropdown-menu(role="menu")
            li
              a.dl_menu_a(href="/users/home") {{"PERSONAL_HOME"|translate}}
            li
              a.dl_menu_a(href="/users/home#/personal") {{"PERSONAL_INFO"|translate}}
            li
              a.dl_menu_a(href="/users/signout") {{"LOGOUT"|translate}}
            //- li(ng-repeat="language in languages")
            //-   a.dl_menu_a(ng-click="changeLanguage(language.key)") {{language.language|translate}}
    if Global.role === 'HR'
      //.navbar-header
      a.navbar-brand(href="/")
        img.logo(src="/img/logo_w.png")
      //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#HR_nav")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //.collapse.navbar-collapse#HR_nav
      ul.nav.navbar-nav.pull-right
        li
          a(href="/company/home")
            span
              img.size_20(ng-src="#{Global.nav_logo}")
            span.m_l_5 #{Global.nav_name}
        li
          a(href="#" data-toggle="dropdown")
            span.glyphicon.glyphicon-cog.m_l_5
          ul.dl_menu.dropdown-menu(role="menu")
            li
              a.dl_menu_a(href="/company/home#/company_info") {{"COMPANY_INFO"|translate}}
            li
              a.dl_menu_a(href="/company/signout") {{"LOGOUT"|translate}}
            //- li(ng-repeat="language in languages")
            //-   a.dl_menu_a(ng-click="changeLanguage(language.key)") {{language.language|translate}}
