nav.navbar.navbar-inverse.navbar-static-top.dl_nav(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="/")
        img.logo(src="/img/logo_w.png")
    if(false)
      .collapse.navbar-collapse#personal_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home") 公司主页
          li
            a(href="/users/home") 个人主页
          li
            a(href="/users/home#/personal") 个人资料
          li
            a(href="/users/signout") 注销
    else
      .collapse.navbar-collapse#HR_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home") 公司主页
          li
            a(href="/company/home#/company_info") 公司资料
          li
            a(href="/company/signout") 注销