nav.navbar.navbar-inverse.navbar-static-top.dl_nav(role="navigation")
  .dl_head
    if role !== 'HR'
        //.navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/logo_w.png")
        //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#personal_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //.collapse.navbar-collapse#personal_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home") {{"COMPANY_HOME"|translate}}
          li
            a(href="/users/home") {{"PERSONAL_HOME"|translate}}
          li
            a.dl_nav(href="#" data-toggle="dropdown")
              span
                img.size_20(ng-src="#{photo}")
              span.m_l_5 #{realname}
            ul.dropdown-menu.dl_menu(role="menu")
              li
                a(href="/users/home#/personal") {{"PERSONAL_INFO"|translate}}
              li
                a(href="/users/signout") {{"LOGOUT"|translate}}
          li
            select.dl_form-control.chzn-select.dl_nav_padding(tabindex="2" ng-model="team_selected" ng-options="item.language for item in languages" ng-change="changeLanguage(team_selected.key)" required)
              option(value="") {{"L_CHANGE"|translate}}
    if role === 'HR'
        //.navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/logo_w.png")
        //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#HR_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //.collapse.navbar-collapse#HR_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home") {{"COMPANY_HOME"|translate}}
          li
            a.dl_nav(href="#" data-toggle="dropdown")
              span
                img.size_20(ng-src="#{logo}")
              span.m_l_5 #{cname}
            ul.dropdown-menu.dl_menu(role="menu")
              li
                a(href="/company/home#/company_info") {{"COMPANY_INFO"|translate}}
              li
                a(href="/company/signout") {{"LOGOUT"|translate}}
          li
            select.dl_form-control.chzn-select.dl_nav_padding(tabindex="2" ng-model="team_selected" ng-options="item.language for item in languages" ng-change="changeLanguage(team_selected.key)" required)
              option(value="") {{"L_CHANGE"|translate}}
