extends ../layouts/base

block content
  .header
    img.logo(src="/img/dl_logol.png")
  .app_download
    if weixin
    .tip_container
      img.weixin_tip(src="/img/weixin_tip.png")
    p.download_title.text-center 动梨活动助理下载
    p.download_filter 按操作系统下载
    ul.download_list
      li.list
        | 安卓版
        .pull-right
          a(href="/Donler.apk") 免费下载
      li.list
        | iPhone版
        .pull-right
          a(target="_blank" href="https://itunes.apple.com/cn/app/id916162839?mt=8") 免费下载
  footer.phone_footer
    span  Copyright &copy; Donler 2014. All Rights Reserved

