div
  form.form-horizontal(name="accountForm")
    .dl_row
      h5.pull-left {{"INFO" | translate}}
      if(role!=='PARTNER')
        button.dl_btn.dl_btn_small.pull-right(ng-click="baseEditToggle()" ng-bind="baseButtonStatus")
    hr.margin_top_6
    .aside
      img.img-responsive.size_128.img-thumbnail(ng-src="{{user.photo ? user.photo :'/img/icons/default_user_photo.png'}}")
    if(role!=='PARTNER')
      .dl_row
        a.clearLinkUnderline.dl_btn.dl_btn_medium.margin_top_15(href="/users/editPhoto"){{"CHANGE" | translate}}{{"AVATAR"|translate}}
      .dl_row
        a(href="#/changePassword")
          button.dl_btn.dl_btn_medium.margin_top_15 {{"CHANGE" | translate}}{{"PASSWORD" | translate}}
    .dl_row
    .dl_row.clearfix
      .info_side
        span.info_label {{"LOGIN_EMAIL" | translate}}
      .info_side
        span.info_label(ng-bind="user.email")
    .dl_row.clearfix
      .info_side
        span.info_label {{"NICKNAME" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="text" name ="nickname" ng-model="user.nickname" ng-disabled="baseUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"REALNAME" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="text" name="realname" ng-model="user.realname" ng-disabled="baseUnEdit")
    .dl_row.clearfix
      .info_side  
        span.info_label {{"COMPANY" | translate}}
      .info_side
        span.info_label {{user.cname}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"POSITION" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="text" name="position" ng-model="user.position" ng-disabled="baseUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"LOCATION" | translate}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"GENDER" | translate}}
      .info_side(ng-if="baseUnEdit")
        span.info_label {{user.sex}}
      if(role!=='PARTNER')
        .info_detail(ng-if="!baseUnEdit")
          span.radio.info_radio.info_label
            input(type="radio" name="sex" value="男" ng-model="user.sex" ng-disabled="baseUnEdit")
            | {{"MALE" | translate}}
          span.radio.info_radio.info_label
            input(type="radio" name="sex" value="女" ng-model="user.sex" ng-disabled="baseUnEdit")
            | {{"FEMALE" | translate}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"BIRTHDAY" | translate}}
      .info_detail(ng-if="!baseUnEdit" )
        input.dl_input.dl_form-Control.editToggle(type="text" ng-model="user.birthday" name="date" data-autoclose="1" data-max-date="today" data-start-view="2" placeholder="Date" bs-datepicker)
      .info_side(ng-if="baseUnEdit")  
        span.info_label {{user.birthday |date:'yyyy-MM-dd'}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"BLOODTYPE" | translate}}
      .info_side(ng-if="baseUnEdit")
        span.info_label {{user.bloodType}}
      if(role!=='PARTNER')
        .info_detail(ng-if="!baseUnEdit")
          select.dl_input.dl_form-Control.editToggle(type="text" name="bloodType" ng-model ="user.bloodType" style="height:34px")
            option(ng-select="user.bloodType === 'A'") A
            option(ng-select="user.bloodType === 'B'") B
            option(ng-select="user.bloodType === 'O'") O
            option(ng-select="user.bloodType === 'AB'") AB
    .dl_row.clearfix
      .info_side
        span.info_label {{"BRIEF" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="text" name="introduce" ng-model="user.introduce" ng-disabled="baseUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"REGISTER_DATE" | translate}}
      .info_side
        span.info_label {{user.register_date | date:'yyyy-MM-dd HH:mm:ss'}}
  form.form-horizontal(name="linkForm")
    .dl_row
      h5.pull-left {{"CONTACT" | translate}}
      if(role!=='PARTNER')
        button.dl_btn.dl_btn_small.pull-right(ng-click="linkEditToggle()" ng-bind="linkButtonStatus")
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label {{"PHONE" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="text" name="phone" ng-model="user.phone" ng-disabled="linkUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"EMAIL" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="email" name="email" ng-model="user.email" ng-disabled="linkUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"QQ" | translate}}
      .info_detail
        input.dl_input.dl_form-Control.editToggle(type="text" name="qq" ng-model="user.qq" ng-disabled="linkUnEdit")
