extends ../layouts/manager

block baseInfo
  .row.margin_top_15
    .col-md-2.col-sm-3.col-xs-4
      //用户头像
      img.size_140.img_contain(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
    .col-md-8.col-sm-6.col-xs-6.margin_left_20
      //人名
      .row
        label.head= realname
      //公司名
      .row.margin_top_10
        p.subtitle= cname
      //个性签名
      .row.margin_top_15
        p.subtitle= sign

block panel
  ul.nav.nav-tabs
    if(role==='OWNER')
      li(ng-class="{'active':nowTab=='group_message'}")
        a.subtitle(href="#/group_message" ng-click="addactive('group_message')") {{"PERSONAL_MESSAGE"|translate}}
    li(ng-class="{'active':nowTab=='schedule'}")
      a.subtitle(href="#/schedule" ng-click="addactive('schedule')") {{"CAMPAIGN"|translate}}
    li(ng-class="{'active':nowTab=='timeLine'}")
      a.subtitle(href="#/timeLine" ng-click="addactive('timeLine')") {{"TIME_LINE"|translate}}
  .tab-content
    .tab-pane.active
      div(ng-view)

block aside
  if role !== 'HR'
    include ../partials/group_thumbnail
    +group_thumbnail(selected_teams,'active',"{{'MY'|translate}}{{'TEAM'|translate}}")
    +group_thumbnail(unselected_teams,'inactive',"{{'UNSELECTED_TEAM'|translate}}")

append footExt
  script(src="/js/controllers/tabviewUser.js")
