extends ../layouts/manager

block baseInfo
  .row.margin_top_15
    .col-md-2
      //用户头像
      img.size_140.img_contain(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
    .col-md-8.margin_left_20
      //人名
      .row
        label.head= realname
      //公司名
      .row.margin_top_10
        p.subtitle= cname
      //个性签名
      .row.margin_top_15
        p.subtitle= sign

block panel
  div(ng-app="tabViewUser")
    ul.nav.nav-tabs
      if(role==='OWNER')
        li(ng-class="{'active':nowTab=='group_message'}")
          a.subtitle(href="#/group_message" ng-click="addactive('group_message')") 我的动态
      li(ng-class="{'active':nowTab=='schedule'}")
        a.subtitle(href="#/schedule" ng-click="addactive('schedule')") 日程列表
      li(ng-class="{'active':nowTab=='timeLine'}")
        a.subtitle(href="#/timeLine" ng-click="addactive('timeLine')") 活动足迹
    .tab-content
      .tab-pane.active
        div(ng-view)

block aside
  if role !== 'HR'
    include ../partials/group_thumbnail
    +group_thumbnail(selected_teams,'active','我的小队')
    +group_thumbnail(unselected_teams,'inactive','我未添加的小队')

append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/js/controllers/tabviewUser.js")
