extends ../layouts/register

append headExt
  link(rel="stylesheet" href="/css/company_signup.css")

block contentExt
  .dl_container.clearfix
    .signup_row
      .block.activation
        .signup_title.personal_title
          span 个人注册
        .signup_tips
          p= message
          a(href='/') 点此回到主页
