.dl_company_info
  h2 公司信息
  form(name="editInfoForm")
    div
      label 官方简称
      input(type="text" name="name" ng-model="formData.name")
    div
      label 地址
      input(type="text" name="address" ng-model="formData.address")
    div
      label 企业电话
      input(type="text" name="tel" ng-model="formData.tel")
    div
      label 联系人
      input(type="text" name="contacts" ng-model="formData.contacts")
    button(type="submit" ng-click="edit()") 修改