.signup_row {
  padding-top: 95px;
}
.signup_row .center {
  width: 775px;
  margin: auto;
}
.signup_row .center .invite_block {
  width: 480px;
  padding-top: 50px;
}
.signup_row .center .invite_block .add_domain {
  margin-top: 50px;
}
.signup_row .center .invite_block .add_domain .add_domain_div {
  margin: 5px;
}
.signup_row .center .invite_block .index_link {
  margin-top: 15px;
}
.signup_row .block {
  width: 455px;
  float: left;
}
.signup_row .block .signup_title {
  font-size: 28px;
  font-size: 28px;
  margin-bottom: 43px;
  line-height: 1;
}
.signup_row .block .signup_tips {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1;
}
.signup_row .block .signup_tips .tip_number {
  font-size: 24px;
}
.signup_row .block .signup_tips .tip_large {
  font-size: 20px;
  color: #3498db;
}
.signup_row .block .signup_tips a {
  color: #3ca2e0;
  text-decoration: underline;
}
.signup_row .block .personal_title {
  color: #3ca2e0;
}
.signup_row .block .company_title {
  color: #f48361;
}
.signup_row .block .dl_tip {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  width: 400px;
  color: #f00;
}
.signup_row .block_left {
  margin-right: 50px;
}
.signup_row .notification_block {
  width: 270px;
}
.signup_row .signup_block {
  border-radius: 8px;
  border: 2px solid #f48361;
  padding: 38px;
}
.signup_row .signup_block .form-group.has-error input.ng-invalid {
  box-shadow: 0 0px 1px 1px #ffc0cb;
}
.signup_row .signup_block .dl_sm_group .dl_row {
  min-height: 45px;
  padding: 5px 0;
}
.signup_row .signup_block .dl_sm_group .label_left {
  width: 84px;
  float: left;
  text-align: right;
  min-height: 20px;
  color: #a1a1a1;
}
.signup_row .signup_block .dl_sm_group .input_right {
  width: 290px;
  float: left;
  margin-left: 15px;
}
.signup_row .signup_block .dl_sm_group .input_right .dl-form-control {
  border: 0;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 -1px 1px #d9d9d9;
}
.signup_row .signup_block .dl_sm_group .input_right .department_select_width {
  width: 127px;
}
.signup_row .signup_block .dl_sm_group .input_right .input_email {
  width: 45%;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right .select_domain {
  width: 45%;
  float: right;
}
.signup_row .signup_block .dl_sm_group .input_right .at {
  padding: 9px 5px;
  font-size: 14px;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right .arecode_container {
  width: 60px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right .number_container {
  width: 140px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right .extention_container {
  width: 70px;
  float: left;
}
.signup_row .signup_block .dl_sm_group .email_check {
  width: 250px;
}
.signup_row .signup_block .dl_sm_group .email_check .pass {
  border: 1px solid #3ca2e0;
}
.signup_row .signup_block .dl_sm_group .email_check .error {
  border: 1px solid #f48361;
}
.signup_row .signup_block .dl_sm_group .email_tips {
  float: left;
  width: 50px;
}
.signup_row .signup_block .dl_sm_group .email_tips .inactive {
  color: #f48361;
  padding: 8px 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .email_tips .active {
  color: #3ca2e0;
  padding: 8px 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box,
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box {
  width: 90px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box select,
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box select {
  width: 90px;
  outline: 0;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box[last_child],
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box[last_child] {
  margin-right: 0;
}
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box {
  width: 140px;
}
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box select {
  width: 140px;
}
.signup_row .signup_block .dl_sm_group .service_tip {
  margin-left: 15px;
  float: left;
  height: 62px;
  padding: 25px 0 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .service_tip a {
  color: #f48361;
}
.signup_row .signup_block .dl_sm_group .btn_submit {
  width: 100%;
  height: 40px !important;
  background-color: #f48361;
}
.signup_row .signup_block .dl_sm_group .center_container {
  width: 350px;
  text-align: center;
}
.signup_row .signup_block .dl_sm_group .center_container .center_content {
  margin: 0 auto;
  width: 150px;
}
.signup_row .signup_block .dl_sm_group .email_tip {
  float: right;
  text-align: right;
}
.signup_row .signup_block .dl_sm_group #email_host {
  width: 142px;
}
.signup_row .signup_block .dl_sm_group #email_domain {
  width: 100px;
}
.signup_row .signup_block .dl_sm_group .apply_info h2 {
  font-weight: normal;
}
.signup_row .signup_block .dl_sm_group .apply_info p {
  color: #808080;
}
.signup_row .signup_block .dl_sm_group .btn_return {
  margin-top: 30px;
  width: 140px;
  border: none;
  padding: 10px;
}
.signup_row .personal_signup {
  border: 2px solid #3ca2e0;
}
.signup_row .personal_signup .signup_tips {
  margin-top: -7px;
}
.signup_row .personal_signup .search_companies {
  position: relative;
}
.signup_row .personal_signup .search_companies .search_input {
  border: 1px solid #3ca2e0;
  border-radius: 5px !important;
}
.signup_row .personal_signup .search_companies .search_button {
  position: absolute;
  right: 0;
  top: 4px;
  color: #3ca2e0;
  font-size: 20px;
  background-color: transparent;
}
.signup_row .personal_signup .search_companies .dl_tip {
  margin-left: 0;
  color: #999;
}
.signup_row .personal_signup .select_companies {
  line-height: 1;
  margin-top: 30px;
  color: #a1a1a1;
}
.signup_row .personal_signup .select_companies a {
  color: #f48361;
}
.signup_row .personal_signup .select_companies .companies {
  margin: 20px 0 30px;
}
.signup_row .personal_signup .select_companies .companies .select_company {
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #3ca2e0;
  color: #3ca2e0;
  background-color: #fff;
}
.signup_row .personal_signup .select_companies .companies .select_company:hover {
  background-color: #3ca2e0;
  color: #fff;
}
.signup_row .personal_signup .dl_sm_group .btn_submit {
  background-color: #3ca2e0;
}
.signup_row .personal_signup a {
  color: #3ca2e0;
}
.signup_row .block.activation {
  width: 700px;
}
.signup_row .block.activation .invite_key_container {
  margin-top: 160px;
  width: 300px;
}
.signup_row .block.activation .invite_key_container .invite_key {
  height: 50px;
  width: 270px;
  border: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 -1px 1px #d9d9d9;
  text-align: center;
  font-size: 18px;
}
.signup_row .block.activation .invite_key_container .invite_button {
  width: 270px;
  height: 50px;
  margin-top: 25px;
  border-radius: 3px;
  background-color: #3ca2e0;
  color: #fff;
  box-shadow: 0px 3px 3px 3px #e0e0e0;
  font-size: 20px;
}
.signup_row .block.activation .invite_key_container .invite_button:hover {
  box-shadow: 0 0 0 0;
}
.signup_row .signin .control-label {
  text-align: right;
}
.signup_row .signin .show_signup,
.signup_row .signin .reset_pwd {
  margin-left: 5px;
}
.signup_phone {
  height: 100%;
}
.signup_phone .signup_step_one {
  width: 100%;
  min-height: 100%;
  background-image: url("/img/signup_page1.png");
  background-size: cover;
}
.signup_phone .signup_step_one .input_box {
  width: 60%;
  padding-top: 69%;
  margin: auto;
}
.signup_phone .signup_step_one .input_box input {
  border-radius: 5px;
  width: 100%;
  height: 28px;
  border: 1px solid #eee;
}
.signup_phone .signup_step_one .input_box .next_step {
  width: 70px;
  height: 25px;
  float: right;
  margin-top: 25px;
  background-color: transparent;
}
