.signup_row {
  padding-top: 95px;
}
.signup_row .center {
  width: 775px;
  margin: auto;
}
.signup_row .center .invite_block {
  width: 480px;
  padding-top: 50px;
}
.signup_row .center .invite_block .add_domain {
  margin-top: 50px;
}
.signup_row .center .invite_block .add_domain .add_domain_div {
  margin: 5px;
}
.signup_row .center .invite_block .index_link {
  margin-top: 15px;
}
.signup_row .block {
  width: 455px;
  float: left;
}
.signup_row .block .signup_title {
  font-size: 28px;
  font-size: 28px;
  margin-bottom: 43px;
  line-height: 1;
}
.signup_row .block .signup_tips {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1;
}
.signup_row .block .signup_tips .tip_number {
  font-size: 24px;
}
.signup_row .block .signup_tips .tip_large {
  font-size: 20px;
  color: #3498db;
}
.signup_row .block .signup_tips a {
  color: #3ca2e0;
  text-decoration: underline;
}
.signup_row .block .personal_title {
  color: #3ca2e0;
}
.signup_row .block .company_title {
  color: #f48361;
}
.signup_row .block .dl_tip {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  width: 400px;
  color: #f00;
}
.signup_row .block_left {
  margin-right: 50px;
}
.signup_row .notification_block {
  width: 270px;
}
.signup_row .signup_block {
  border-radius: 8px;
  border: 2px solid #f48361;
  padding: 38px;
}
.signup_row .signup_block .form-group.has-error input.ng-invalid {
  box-shadow: 0 0px 1px 1px #ffc0cb;
}
.signup_row .signup_block .dl_sm_group .dl_row {
  min-height: 45px;
  padding: 5px 0;
}
.signup_row .signup_block .dl_sm_group .label_left {
  width: 84px;
  float: left;
  text-align: right;
  min-height: 20px;
  color: #a1a1a1;
}
.signup_row .signup_block .dl_sm_group .input_right {
  width: 290px;
  float: left;
  margin-left: 15px;
}
.signup_row .signup_block .dl_sm_group .input_right .dl-form-control {
  border: 0;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 -1px 1px #d9d9d9;
}
.signup_row .signup_block .dl_sm_group .input_right .department_select_width {
  width: 127px;
}
.signup_row .signup_block .dl_sm_group .input_right .input_email {
  width: 45%;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right .select_domain {
  width: 45%;
  float: right;
}
.signup_row .signup_block .dl_sm_group .input_right .at {
  padding: 9px 5px;
  font-size: 14px;
  float: left;
}
.signup_row .signup_block .dl_sm_group .input_right .arecode_container {
  width: 60px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right .number_container {
  width: 140px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right .extention_container {
  width: 70px;
  float: left;
}
.signup_row .signup_block .dl_sm_group .email_check {
  width: 250px;
}
.signup_row .signup_block .dl_sm_group .email_check .pass {
  border: 1px solid #3ca2e0;
}
.signup_row .signup_block .dl_sm_group .email_check .error {
  border: 1px solid #f48361;
}
.signup_row .signup_block .dl_sm_group .email_tips {
  float: left;
  width: 50px;
}
.signup_row .signup_block .dl_sm_group .email_tips .inactive {
  color: #f48361;
  padding: 8px 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .email_tips .active {
  color: #3ca2e0;
  padding: 8px 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box,
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box {
  width: 90px;
  float: left;
  margin-right: 10px;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box select,
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box select {
  width: 90px;
  outline: 0;
}
.signup_row .signup_block .dl_sm_group .input_right.select_right .select_box[last_child],
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box[last_child] {
  margin-right: 0;
}
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box {
  width: 140px;
}
.signup_row .signup_block .dl_sm_group .select_right_2 .select_box select {
  width: 140px;
}
.signup_row .signup_block .dl_sm_group .service_tip {
  margin-left: 15px;
  float: left;
  height: 62px;
  padding: 25px 0 15px;
  font-size: 14px;
}
.signup_row .signup_block .dl_sm_group .service_tip a {
  color: #f48361;
}
.signup_row .signup_block .dl_sm_group .btn_submit {
  width: 100%;
  height: 40px !important;
  background-color: #f48361;
}
.signup_row .signup_block .dl_sm_group .center_container {
  width: 350px;
  text-align: center;
}
.signup_row .signup_block .dl_sm_group .center_container .center_content {
  margin: 0 auto;
  width: 150px;
}
.signup_row .signup_block .dl_sm_group .email_tip {
  float: right;
  text-align: right;
}
.signup_row .signup_block .dl_sm_group #email_host {
  width: 142px;
}
.signup_row .signup_block .dl_sm_group #email_domain {
  width: 100px;
}
.signup_row .signup_block .dl_sm_group .apply_info h2 {
  font-weight: normal;
}
.signup_row .signup_block .dl_sm_group .apply_info p {
  color: #808080;
}
.signup_row .signup_block .dl_sm_group .btn_return {
  margin-top: 30px;
  width: 140px;
  border: none;
  padding: 10px;
}
.signup_row .personal_signup {
  border: 2px solid #3ca2e0;
}
.signup_row .personal_signup .signup_tips {
  margin-top: -7px;
}
.signup_row .personal_signup .search_companies {
  position: relative;
}
.signup_row .personal_signup .search_companies .search_input {
  border: 1px solid #3ca2e0;
  border-radius: 5px !important;
}
.signup_row .personal_signup .search_companies .search_button {
  position: absolute;
  right: 0;
  top: 4px;
  color: #3ca2e0;
  font-size: 20px;
  background-color: transparent;
}
.signup_row .personal_signup .search_companies .dl_tip {
  margin-left: 0;
  color: #999;
}
.signup_row .personal_signup .select_companies {
  line-height: 1;
  margin-top: 30px;
  color: #a1a1a1;
}
.signup_row .personal_signup .select_companies a {
  color: #f48361;
}
.signup_row .personal_signup .select_companies .companies {
  margin: 20px 0 30px;
}
.signup_row .personal_signup .select_companies .select_company,
.signup_row .personal_signup .select_companies .change_page {
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #3ca2e0;
  color: #3ca2e0;
  background-color: #fff;
}
.signup_row .personal_signup .select_companies .select_company:hover,
.signup_row .personal_signup .select_companies .change_page:hover {
  background-color: #3ca2e0;
  color: #fff;
}
.signup_row .personal_signup .select_companies .select_company {
  margin-right: 2px;
}
.signup_row .personal_signup .select_companies .change_page {
  margin-bottom: 10px;
}
.signup_row .personal_signup .dl_sm_group .btn_submit {
  background-color: #3ca2e0;
}
.signup_row .personal_signup a {
  color: #3ca2e0;
}
.signup_row .block.activation {
  width: 700px;
}
.signup_row .block.activation .invite_key_container {
  margin-top: 160px;
  width: 300px;
}
.signup_row .block.activation .invite_key_container .invite_key {
  height: 50px;
  width: 270px;
  border: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 -1px 1px #d9d9d9;
  text-align: center;
  font-size: 18px;
}
.signup_row .block.activation .invite_key_container .invite_button {
  width: 270px;
  height: 50px;
  margin-top: 25px;
  border-radius: 3px;
  background-color: #3ca2e0;
  color: #fff;
  box-shadow: 0px 3px 3px 3px #e0e0e0;
  font-size: 20px;
}
.signup_row .block.activation .invite_key_container .invite_button:hover {
  box-shadow: 0 0 0 0;
}
.signup_row .signin .control-label {
  text-align: right;
}
.signup_row .signin .show_signup,
.signup_row .signin .reset_pwd {
  margin-left: 5px;
}
.signup_phone {
  min-height: 100%;
  background-color: #46aaf5;
}
.signup_phone .signup_header {
  width: 100%;
  padding: 5px 10px;
}
.signup_phone .signup_header .logo {
  width: 70%;
  margin-left: 10%;
  margin-top: 20px;
  max-width: 337px;
}
.signup_phone .signup_step_one,
.signup_phone .signup_step_three {
  width: 100%;
  min-height: 80%;
}
.signup_phone .signup_step_one .input_box,
.signup_phone .signup_step_three .input_box {
  width: 100%;
  margin: 5% auto 0;
  padding: 0 5%;
  max-width: 539px;
}
.signup_phone .signup_step_one .input_box .board,
.signup_phone .signup_step_three .input_box .board {
  background-image: url("/img/signup/dl_signup_board.gif");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 32% 10%;
}
.signup_phone .signup_step_one .input_box .board input,
.signup_phone .signup_step_three .input_box .board input {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  display: block;
  margin: auto;
  border: 1px solid #eee;
  font-size: 14px;
  padding: 2px 10px;
  color: #b2b2b2;
}
.signup_phone .signup_step_one .input_box .board .search,
.signup_phone .signup_step_three .input_box .board .search {
  width: 90px;
  height: 34px;
  float: right;
  margin-right: 5%;
  background-image: url("/img/signup/dl_signup_search.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 7%;
}
.signup_phone .signup_step_one .signup_bottom,
.signup_phone .signup_step_three .signup_bottom {
  width: 100%;
  min-height: 265px;
  margin-top: 5%;
}
.signup_phone .signup_step_one .signup_bottom .signup_cloud,
.signup_phone .signup_step_three .signup_bottom .signup_cloud {
  width: 55%;
  max-width: 367px;
  float: right;
  margin-right: 5%;
}
.signup_phone.step_1 {
  background-image: url("/img/signup/dl_signup_man.gif");
  background-size: 128px 234.5px;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.signup_phone.step_2,
.signup_phone.step_8 {
  background-color: #ffd54b;
}
.signup_phone .signup_step_two,
.signup_phone .signup_step_eight {
  width: 100%;
  min-height: 450px;
  background-image: url("/img/signup/dl_signup_paper.gif");
  background-size: 241.5px 338.5px;
  background-repeat: no-repeat;
  background-position-y: 25px;
  background-position-x: center;
}
.signup_phone .signup_step_two .board,
.signup_phone .signup_step_eight .board {
  width: 241.5px;
  padding: 50px 15px 0;
  margin: auto;
}
.signup_phone .signup_step_two .board .fa-reply,
.signup_phone .signup_step_eight .board .fa-reply {
  margin-left: 30px;
  position: absolute;
  color: #fff;
  font-size: 20px;
}
.signup_phone .signup_step_two .signup_bottom_2,
.signup_phone .signup_step_eight .signup_bottom_2,
.signup_phone .signup_step_two .signup_bottom_3,
.signup_phone .signup_step_eight .signup_bottom_3 {
  background-image: url("/img/signup/dl_signup_bg_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 161px;
  width: 293.5px;
  margin: auto;
  padding-top: 10px;
}
.signup_phone .signup_step_two .signup_bottom_2 .notfound,
.signup_phone .signup_step_eight .signup_bottom_2 .notfound,
.signup_phone .signup_step_two .signup_bottom_3 .notfound,
.signup_phone .signup_step_eight .signup_bottom_3 .notfound {
  width: 116px;
  margin-left: 53px;
  margin-top: 13px;
}
.signup_phone .signup_step_two .signup_bottom_2 .organize,
.signup_phone .signup_step_eight .signup_bottom_2 .organize,
.signup_phone .signup_step_two .signup_bottom_3 .organize,
.signup_phone .signup_step_eight .signup_bottom_3 .organize {
  width: 120px;
  height: 40px;
  float: right;
  background-color: transparent;
}
.signup_phone .signup_step_two .board .search_title {
  width: 121.5px;
}
.signup_phone .signup_step_two .board .companies {
  margin-top: 30px;
  height: 200px;
  position: relative;
}
.signup_phone .signup_step_two .board .companies .company {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #666;
  font-size: 14px;
}
.signup_phone .signup_step_two .board .companies .company .cname {
  float: left;
  width: 92%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.signup_phone .signup_step_two .board .companies .company .fa {
  color: #ccc;
  margin-top: 3px;
}
.signup_phone .signup_step_two .board .companies .company .text {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.signup_phone .signup_step_two .board .companies .prePage,
.signup_phone .signup_step_two .board .companies .nextPage {
  color: #fff;
  position: absolute;
  bottom: 0;
}
.signup_phone .signup_step_two .board .companies .nextPage {
  right: 0;
}
.signup_phone.step_3 {
  background-color: #ef6767;
  background-image: url("/img/signup/dl_signup_bg_3.gif");
  background-size: 320px 568px;
  background-repeat: repeat;
}
.signup_phone.step_3 .signup_step_three .input_box {
  margin: auto;
  padding: 0 8%;
}
.signup_phone.step_3 .signup_step_three .input_box .board {
  background-image: url("/img/signup/dl_signup_board_2.gif");
  padding: 40% 10%;
}
.signup_phone.step_3 .signup_step_three .input_box .board form {
  background-color: #fff;
}
.signup_phone.step_3 .signup_step_three .input_box .board input {
  background-image: none;
  margin-bottom: 6%;
  background-color: #f2f5ea;
}
.signup_phone.step_3 .signup_step_three .input_box .board p {
  width: 90%;
  margin: auto;
}
.signup_phone.step_3 .signup_step_three .input_box .board .email {
  background-color: #eee;
}
.signup_phone.step_3 .signup_step_three .input_box .board .form-group {
  width: 90%;
  margin: 0 auto 6%;
}
.signup_phone.step_3 .signup_step_three .input_box .board .form-group .select_cover {
  width: 32%;
  background-image: url("/img/signup/dl_select_triangle.png");
  background-size: 10.5px 9px;
  background-position-x: 93%;
  background-position-y: 12px;
  background-repeat: no-repeat;
  background-color: #f2f5ea;
  margin-right: 1.5%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #eee;
  float: left;
  height: 34px;
}
.signup_phone.step_3 .signup_step_three .input_box .board .form-group .select_cover select {
  width: 120%;
  height: 34px;
  border: 0;
  background-image: none;
  background-color: transparent;
  color: #b2b2b2;
}
.signup_phone.step_3 .signup_step_three .input_box .board .form-group .select_cover[last-child] {
  margin-right: 0;
}
.signup_phone.step_3 .signup_step_three .input_box .board .form-group button {
  border-radius: 5px;
  padding: 7px 10px;
  width: 48%;
}
.signup_phone.step_3 .signup_step_three .input_box .board .next_step {
  float: right;
  margin-right: 5%;
  width: 85px;
  height: 34px;
  border-radius: 5px;
}
.signup_phone.step_3 .signup_step_three .signup_bottom {
  background-image: url("/img/signup/dl_signup_woman.gif");
  background-size: 200.5px 208.5px;
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-top: -10%;
}
.signup_phone.step_3 .signup_step_three.isAndroid .input_box .board .form-group .select_cover {
  padding: 8px 0 8px 8px;
  height: auto;
}
.signup_phone.step_3 .signup_step_three.isQQBrowser .input_box .board .form-group .select_cover {
  padding: 0;
  border: 0;
}
.signup_phone.step_3 .signup_step_three.isQQBrowser .input_box .board .form-group .select_cover select {
  width: 100%;
}
.signup_phone.step_4 {
  background-image: url("/img/signup/dl_signup_paper_plane.gif");
  background-size: 118.5px 77.5px;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 10px;
}
.signup_phone .select_line {
  margin-top: 5px;
}
.signup_phone .select_line .left {
  float: left;
  width: 5%;
  height: 3px;
  background-color: #fff;
}
.signup_phone .select_line .middle {
  margin-top: 1px;
  float: left;
  width: 90%;
  height: 1px;
  background-color: #fff;
}
.signup_phone .select_line .right {
  float: right;
  width: 5%;
  height: 3px;
  background-color: #fff;
}
.signup_phone .signup_step_four {
  width: 100%;
}
.signup_phone .signup_step_four .board {
  margin: 30px 10%;
}
.signup_phone .signup_step_four .board .fa-hand-o-right {
  color: #fff;
  float: left;
  font-size: 16px;
  margin-right: 5px;
}
.signup_phone .signup_step_four .board .select_label {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.signup_phone .signup_step_four .board .signup_button {
  clear: both;
}
.signup_phone .signup_step_four .board .signup_button .sinup_team_button {
  float: right;
  width: 64px;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 2px 16px;
  background-color: #94cd3e;
  color: #fff;
}
.signup_phone .signup_step_four .board .groups {
  width: 256px;
  clear: both;
  margin: 0px auto;
}
.signup_phone .signup_step_four .board .groups .group {
  float: left;
  text-align: center;
  cursor: pointer;
}
.signup_phone .signup_step_four .board .groups .group .img_contain {
  width: 50px;
  height: 50px;
  background-image: url("/img/signup/dl_signup_groups.png");
  background-repeat: no-repeat;
  background-size: 240px 240px;
  margin: 10px 7px;
  padding: 0px;
}
.signup_phone .signup_step_four .board .groups .group .group_1 {
  background-position: 9px 8px;
}
.signup_phone .signup_step_four .board .groups .group .group_2 {
  background-position: -51px 8px;
}
.signup_phone .signup_step_four .board .groups .group .group_3 {
  background-position: -111px 8px;
}
.signup_phone .signup_step_four .board .groups .group .group_4 {
  background-position: -171px 8px;
}
.signup_phone .signup_step_four .board .groups .group .group_5 {
  background-position: 9px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_6 {
  background-position: -51px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_7 {
  background-position: -111px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_8 {
  background-position: -171px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_9 {
  background-position: 9px -112px;
}
.signup_phone .signup_step_four .board .groups .group .group_10 {
  background-position: -51px -112px;
}
.signup_phone .signup_step_four .board .groups .group .group_11 {
  background-position: -111px -112px;
}
.signup_phone .signup_step_four .board .groups .group .group_12 {
  background-position: -171px -112px;
}
.signup_phone .signup_step_four .board .groups .group .group_13 {
  background-position: 9px -172px;
}
.signup_phone .signup_step_four .board .groups .group .group_14 {
  background-position: -51px -172px;
}
.signup_phone .signup_step_four .board .groups .group .group_15 {
  background-position: -111px -172px;
}
.signup_phone .signup_step_four .board .groups .group .group_16 {
  background-position: -171px -172px;
}
.signup_phone .signup_step_four .board .groups .group .group_17 {
  background-position: 9px -232px;
}
.signup_phone .signup_step_four .board .groups .group .group_3 {
  background-position: -111px 10px;
}
.signup_phone .signup_step_four .board .groups .group .group_5 {
  background-position: 3px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_4 {
  background-position: -177px 10px;
}
.signup_phone .signup_step_four .board .groups .group .group_6 {
  background-position: -53px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_8 {
  background-position: -168px -52px;
}
.signup_phone .signup_step_four .board .groups .group .group_9 {
  background-position: 3px -108px;
}
.signup_phone .signup_step_four .board .groups .group .group_15 {
  background-position: -113px -172px;
}
.signup_phone .signup_step_four .board .groups .group .shadow {
  margin: -10px auto 0px;
  width: 35px;
  height: 5px;
  background: #3788c7;
  border-radius: 100%;
}
.signup_phone .signup_step_four .board .groups .group .shadow.active {
  background: #46aaf5;
}
.signup_phone .signup_step_four .board .groups .group label {
  color: #fff;
  font-size: 12px;
}
.signup_phone .signup_step_four .board .groups .group.active {
  color: #94cd3e;
}
.signup_phone .signup_step_four .board .groups .group.active .img_contain {
  border: 1px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.signup_phone .signup_step_four .board .sinup_team_button {
  float: right;
  margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 2px 16px;
  background-color: #94cd3e;
  color: #fff;
}
.signup_phone.step_6 {
  background-color: #fe8915;
}
.signup_phone.step_6 .signup_step_six .board {
  width: 100%;
  max-width: 585px;
  padding-bottom: 75%;
  background-image: url("/img/signup/dl_signup_graph.gif");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 10%;
  padding-left: 20%;
}
.signup_phone.step_6 .signup_step_six .board .board_content {
  padding: 26% 10px 30px 65px;
  text-align: center;
}
.signup_phone.step_6 .signup_step_six .board .board_content img {
  width: 100%;
  display: block;
  margin: auto;
}
.signup_phone.step_6 .signup_step_six .board .board_content .signin {
  max-width: 345px;
}
.signup_phone.step_6 .signup_step_six .board .board_content .nomail {
  max-width: 220px;
}
.signup_phone.step_6 .signup_step_six .board .board_content .resend {
  width: 50%;
  max-width: 80px;
  margin-top: 10px;
}
.signup_phone.step_5 {
  background-image: url("/img/signup/dl_signup_bg_5.png");
  background-size: cover;
  background-color: #32bde5;
}
.signup_phone.step_5 .signup_step_five {
  width: 100%;
}
.signup_phone.step_5 .signup_step_five .board {
  margin: 45px auto;
  width: 240px;
  height: 280px;
  background-image: url("/img/signup/dl_signup_box_5.png");
  background-size: 240px 280px;
  background-repeat: no-repeat;
}
.signup_phone.step_5 .signup_step_five .board .board_content {
  width: 100%;
  padding: 20px 20%;
  height: 100%;
  font-size: 16px;
  text-align: center;
}
.signup_phone.step_5 .signup_step_five .board .board_content .email_tip {
  text-align: center;
  color: #666;
  padding: 10px 0;
  margin: 0;
}
.signup_phone.step_5 .signup_step_five .board .board_content .signup_success {
  width: 100%;
}
.signup_phone.step_5 .signup_step_five .board .board_content .email_link {
  display: inline-block;
  background-color: #f5c421;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  box-shadow: 2px 2px 2px #999;
}
.signup_phone.step_5 .signup_step_five .board .board_content .email_link .fa {
  float: right;
  line-height: 40px;
  padding-right: 10px;
}
.signup_phone.step_7 {
  background-color: #2cc3c7;
  background-image: url("/img/signup/dl_signup_sun.gif");
  background-repeat: no-repeat;
  background-size: 212.5px 78.5px;
  background-position: 90% 30px;
}
.signup_phone .signup_step_seven {
  width: 100%;
}
.signup_phone .signup_step_seven .board {
  margin: 14px auto 0;
  width: 95%;
  min-width: 305px;
  min-height: 430px;
  padding: 10% 0 20%;
  background-image: url("/img/signup/dl_signup_input_box.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.signup_phone .signup_step_seven .board .company_input_box {
  width: 50%;
  min-width: 260px;
  max-width: 370px;
  margin: auto;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container {
  margin-top: 3%;
  clear: both;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_label {
  width: 30%;
  padding: 6px;
  float: left;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_label label {
  float: right;
  font-size: 14px;
  color: #ccc;
  font-weight: 100;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_company_name,
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_company_email {
  float: right;
  padding: 7px 0px;
  font-size: 14px;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_input {
  float: right;
  width: 70%;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_input input {
  border-radius: 5px;
  width: 90%;
  height: 34px;
  display: block;
  border: 1px solid #eee;
  font-size: 14px;
  background-color: #f3f7eb;
  padding: 0px 5px;
  color: #b2b2b2;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_input a {
  color: #2cc3c7;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_input .signup_button {
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: #2cc3c7;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .sinup_input .signup_button:disabled {
  opacity: 0.65;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .key_tips {
  float: right;
  position: relative;
  margin-right: 25px;
  margin-top: -25px;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .key_tips .active {
  color: #3ca2e0;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container .key_tips .inactive {
  color: #f48361;
}
.signup_phone .signup_step_seven .board .company_input_box .signup_container.company_name {
  margin-top: 5px;
  line-height: 1;
}
.signup_phone .signup_step_seven .signup_bottom {
  background-image: url("/img/signup/dl_signup_dog.gif");
  min-height: 120px;
  width: 60%;
  min-width: 320px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
.signup_phone .signup_step_eight .board {
  text-align: center;
}
.signup_phone .signup_step_eight .board .fa-reply {
  float: right;
  margin-right: 40px;
  position: initial;
}
.signup_phone .signup_step_eight .board .board_content {
  height: 140px;
  width: 100%;
  margin-top: 40px;
  float: left;
}
.signup_phone .signup_step_eight .board .board_content .not_found {
  color: #fff;
  font-size: 16px;
  margin: auto;
  margin-bottom: 15px;
}
.signup_phone .signup_step_eight .board .board_content .select_line {
  margin: auto;
}
.signup_phone .signup_step_eight .board .board_content .organize_btn {
  border-radius: 5px;
  width: 80%;
  height: 42px;
  margin: auto;
  font-size: 18px;
  margin-top: 15px;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  background-color: #94cd3e;
}
.signup_phone .signup_step_eight .signup_bottom_3 {
  background-image: url("/img/signup/dl_signup_bg_4.png");
  width: 299.5px;
  height: 199.5px;
}
.active_success,
.active_success_phone {
  width: 556px;
  height: 600px;
  border: 3px solid #f5ab95;
  border-radius: 10px;
  margin: 70px auto;
  padding: 60px 40px;
}
.active_success .active_success_info,
.active_success_phone .active_success_info {
  font-size: 24px;
}
.active_success .active_success_info span,
.active_success_phone .active_success_info span {
  float: left;
}
.active_success .active_success_info i,
.active_success_phone .active_success_info i {
  float: left;
  margin-left: 16px;
  font-size: 80px;
  color: #f5ab95;
  margin-top: -40px;
}
.active_success .active_success_operator,
.active_success_phone .active_success_operator {
  height: 2px;
  margin: 12px 0 27px;
  background-color: #f5ab95;
}
.active_success .active_success_download_info,
.active_success_phone .active_success_download_info {
  position: relative;
  margin-top: 17px;
  font-size: 24px;
}
.active_success .active_success_download_qrcodes,
.active_success_phone .active_success_download_qrcodes {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  box-shadow: 0px 0px 5px rgba(1,1,1,0.5);
}
.active_success .active_success_button,
.active_success_phone .active_success_button {
  width: 300px;
  height: 45px;
  margin: 20px auto;
  font-size: 24px;
  background-color: #f48361;
  color: #fff;
  border-radius: 5px;
  display: block;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(1,1,1,0.3);
}
.active_success_phone {
  width: 95%;
  height: 500px;
  margin: 20px auto;
  padding: 40px 20px;
}
.active_success_phone .active_success_info {
  font-size: 18px;
}
.active_success_phone .active_success_download_info {
  font-size: 18px;
}
.active_success_phone .active_success_download_qrcodes {
  width: 250px;
  height: 250px;
  margin: 20px auto;
}
.active_success_phone .active_success_download_qrcodes img {
  width: 250px;
  height: 250px;
  padding: 2px;
}
.active_success_phone .active_success_button {
  width: 250px;
}
