.alertify {
  border-radius: 0;
  border: solid 1px #e5e5e5;
  box-shadow: none;
}
.alertify-buttons .alertify-button-ok {
  margin: 0;
  border: none;
  border-radius: 0;
  line-height: 1;
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #fff;
  background-color: #3498db;
}
.alertify-buttons .alertify-button-ok:disabled {
  opacity: 0.65;
}
.alertify-buttons .alertify-button-ok:hover {
  background-color: #2980b9;
}
.alertify-buttons .alertify-button-cancel {
  margin: 0;
  border: none;
  border-radius: 0;
  line-height: 1;
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #000;
  background-color: #e5e5e5;
}
.alertify-buttons .alertify-button-cancel:disabled {
  opacity: 0.65;
}
.alertify-buttons .alertify-button-cancel:hover {
  color: #fff;
  background-color: #ea6060;
}
