.group_head {
  margin-top: 50px;
  margin-bottom: 24px;
}
.group {
  padding: 0;
}
.group .group {
  cursor: pointer;
}
.group input {
  display: none;
}
.group .leader {
  cursor: pointer;
}
.group .img_div {
  position: relative;
  width: 48px;
  height: 48px;
}
.group .img_div .img {
  position: absolute;
  left: 0;
  top: 0;
}
.text_container .text {
  color: #9a9a9a;
}
.select_div {
  background-color: #fff;
  margin: 80px 80px;
}
.select_div row {
  margin: 0;
}
.field {
  padding: 0;
  margin: 0;
}
.formatField {
  position: relative;
}
.formatField .teamMember {
  position: absolute;
  z-index: 100;
}
.message_content {
  background-color: #f7f7f7;
}
.triangle {
  position: absolute;
  top: 50%;
  height: 0px;
  width: 0px;
  margin-left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #f7f7f7 transparent transparent;
}
.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
}
.datepicker.dropdown-menu button {
  outline: 0;
  border: 0;
  border-radius: 4px !important;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu .datepicker-mode-1 tbody button,
.datepicker.dropdown-menu .datepicker-mode-2 tbody button {
  height: 65px;
}
.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: 0;
  border: 0;
  border-radius: 4px !important;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}
.group {
  font-size: 16px;
  cursor: pointer;
}
.group.active {
  color: #3ca2e0;
}
.group .img_contain {
  width: 50px;
  height: 50px;
  background-image: url("/img/icons/groups_new.png");
  background-repeat: no-repeat;
  background-size: 600px 1500px;
  margin: 10px 0 30px;
  padding-top: 60px;
}
.group .group_1 {
  background-position: 0px 0px;
}
.group .group_2 {
  background-position: -100px 0px;
}
.group .group_3 {
  background-position: -200px 0px;
}
.group .group_4 {
  background-position: -300px 0px;
}
.group .group_5 {
  background-position: -400px 0px;
}
.group .group_6 {
  background-position: -500px 0px;
}
.group .group_7 {
  background-position: 0px -100px;
}
.group .group_8 {
  background-position: -100px -100px;
}
.group .group_9 {
  background-position: -200px -100px;
}
.group .group_10 {
  background-position: -300px -100px;
}
.group .group_11 {
  background-position: -400px -100px;
}
.group .group_12 {
  background-position: -500px -100px;
}
.group .group_13 {
  background-position: 0px -200px;
}
.group .group_14 {
  background-position: -100px -200px;
}
.group .group_15 {
  background-position: -200px -200px;
}
.group .group_16 {
  background-position: -300px -200px;
}
.group .group_17 {
  background-position: -400px -200px;
}
