.dl_message_box {
  padding: 0 5px;
  background-color: #fff;
  line-height: 21px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
.dl_message_box:after {
  display: block;
  line-height: 0;
  content: "";
  border: 0;
}
.dl_message_box:before {
  display: block;
  line-height: 0;
  content: "";
}
.dl_message_box .message_panel {
  min-height: 71px;
  padding-top: 30px;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
  height: 100%;
}
.dl_message_box .message_panel:hover {
  cursor: pointer;
  background-color: #f8f8f3;
}
.dl_message_box .message_panel .dl_message_head {
  width: 50px;
  margin-left: 50px;
  float: left;
  min-height: 71px;
  font-size: 48px;
  color: #3498db;
  height: 100%;
}
.dl_message_box .message_panel .dl_message_body {
  width: 550px;
  float: left;
  padding-left: 30px;
  min-height: 71px;
  height: 100%;
}
.dl_message_box .message_panel .dl_message_body .message_row {
  height: 100%;
  padding: 2px 0;
}
.dl_message_box .message_panel .dl_message_body .dl_message_rightcorner {
  margin-right: 20px !important;
  margin-top: 5px !important;
}
.dl_message_box .message_panel .dl_message_tail {
  width: 200px;
  margin-right: 50px;
  float: right;
}
.dl_message_box .message_panel .dl_message_tail .dl_message_date {
  width: 150px;
  margin-left: 5px;
  float: left;
}
.dl_message_box .comment_form {
  margin-top: 20px;
  margin-left: 30px;
}
.dl_message_box .comment_form .dl_message_send {
  width: 21%;
  margin-left: 5px;
  float: left;
}
.message_detail {
  width: 364px;
  max-height: 140px;
  word-break: break-all;
  overflow: hidden;
}
.dl_message_caption {
  width: 85%;
  margin-left: 5px;
  float: left;
}
.dl_message_head_size {
  width: 48px;
  height: 48px;
}
.dl_message_status {
  width: 1%;
  float: left;
}
.line_left {
  margin-left: 5px !important;
}
.dl_message_slide {
  margin-bottom: 100px;
  margin-left: 120px;
  margin-top: 50px;
  width: 800px;
}
.dl_message_slide .dl_message_item {
  max-width: 100px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  margin-left: 5px;
  width: 100px;
  float: left;
}
.send_caption {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #e6e6e6;
  margin-top: 80px;
}
.send_caption .send_text {
  margin-left: 35px;
  font-size: 15px;
  color: #bbb;
}
.dl_message_send_area {
  margin-top: 40px !important;
}
