.photo_album .breadcrumb {
  background-color: #f4f4f4;
}
.photo_album .header_logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
.photo_album .relative {
  position: relative;
}
.photo_album .right_down {
  position: absolute;
  right: 0;
  bottom: 0;
}
.photo_album .text {
  color: #9a9a9a;
}
.photo_album .operator {
  padding-top: 15px;
}
.photo_album .photo {
  position: relative;
  float: left;
  margin-left: 53px;
  margin-bottom: 53px;
  background: url("/img/loading.gif") center center no-repeat;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
  line-height: 198px;
}
.photo_album .photo:nth-child(4n+1) {
  margin-left: 0;
}
.photo_album .photo:hover .photo_name {
  opacity: 0.8;
}
.photo_album .photo img {
  background-color: #fff;
  max-width: 100%;
  max-height: 100%;
}
.photo_album .photo .photo_name {
  opacity: 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  line-height: 2;
  padding: 0 7px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.photo_album .left {
  position: absolute;
  top: 0;
  left: 0;
}
.photo_album .right {
  position: absolute;
  top: 0;
  right: 0;
}
.photo_album .tag:after {
  content: 'ã€';
}
.photo_album .tag:last-child:after {
  content: '';
}
.photo_album .comment_panel {
  margin-top: 20px;
}
.photo_album .comment_textarea {
  height: 60px;
  background-color: #fbfbfb;
  border-color: #ededed;
  border-radius: 0;
}
.photo_album .comment {
  position: relative;
  margin-top: 20px;
}
.photo_album .comment .comment_user_info {
  float: left;
  width: 50px;
}
.photo_album .comment .comment_user_info .user_photo {
  width: 50px;
  height: 50px;
}
.photo_album .comment .comment_user_info .user_name {
  display: inline-block;
  max-width: 50px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.photo_album .comment .comment_content_panel {
  float: left;
  margin-left: 20px;
}
.photo_album .comment .comment_content_panel .comment_content {
  padding: 10px;
  background-color: #fbfbfb;
  border: solid 1px #ededed;
  width: 560px;
  min-height: 50px;
}
.photo_album .triangle {
  position: absolute;
  top: 16px;
  height: 0px;
  width: 0px;
  margin-left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fbfbfb transparent transparent;
}
.photo_album .triangle_border {
  position: absolute;
  top: 15px;
  height: 0px;
  width: 0px;
  margin-left: -21px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent #ededed transparent transparent;
}
.photo_album .photo_operator_form {
  margin-bottom: 5px;
}
.photo_album .photo_operator_form .edit_photo_input {
  margin-bottom: 5px;
  background-color: #fbfbfb;
  border-color: #ededed;
  border-radius: 0;
}
.photo_album .photo_detail_container {
  margin-bottom: 30px;
}
.photo_album .photo_ori {
  max-height: 500px;
}
.photo_album .pager .pagination {
  margin: 0;
}
.photo_album .pager .novisible {
  opacity: 0;
}
.photo_album .pager li>a {
  border-radius: 0;
}
.photo_album .photo_album_panel {
  display: block;
  width: 230px;
  height: 316px;
  border: solid 1px #ededed;
  text-decoration: none;
  background-color: #fff;
  padding: 12px 12px 6px;
}
.photo_album .photo_album_panel .album_title {
  padding-top: 10px;
}
.photo_album .photo_album_panel .img_container {
  position: relative;
}
.photo_album .photo_album_panel .img_container:hover .img_number {
  opacity: 0.6;
}
.photo_album .photo_album_panel .img_number {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  padding: 2px;
  text-align: center;
  color: #fff;
}
.photo_album .update_info {
  width: 202px;
  margin-top: 10px;
}
.photo_album .update_info .update_user_photo {
  float: left;
  width: 36px;
  height: 36px;
  margin-left: 5px;
  margin-right: 10px;
}
.photo_album .update_info .update_user_name {
  display: block;
  color: #5b6272;
  margin-bottom: 1px;
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.photo_album .create_form {
  margin-top: 30px;
}
.photo_album .photo_album_list_wrap,
.photo_album .photo_album_container {
  margin-bottom: 16px;
}
.photo_album .photo_album_list_wrap .photo_album_thumbnail,
.photo_album .photo_album_container .photo_album_thumbnail {
  width: 204px;
  height: 204px;
}
.photo_album .photo_album_list_wrap .photo_album_name,
.photo_album .photo_album_container .photo_album_name {
  max-width: 204px;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.photo_album .thumbnail_cell {
  display: inline-block;
  width: 120px;
  height: 140px;
}
.photo_album .thumbnail_cell:nth-child(2n) {
  margin-left: 20px;
}
.photo_album .thumbnail_cell .thumbnail_img {
  width: 120px;
  height: 120px;
}
.photo_album .thumbnail_cell .thumbnail_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  line-height: 20px;
}
.family_photo_album .photo {
  display: block;
  width: 180px;
  height: 145px;
  position: relative;
  margin-left: 15px;
  box-shadow: 3px 3px 3px #ddd;
}
.family_photo_album .photo:nth-child(4n+1) {
  margin-left: 15px;
}
.family_photo_album .photo:nth-child(5n+1) {
  margin-left: 0 !important;
}
.family_photo_album .photo:hover {
  border: 2px solid #3498db;
}
.family_photo_album .photo:hover .star,
.family_photo_album .photo:hover .delete {
  opacity: 1 !important;
}
.family_photo_album .photo .photo_img {
  display: block;
  width: 180px;
  height: 145px;
}
.family_photo_album .photo .button_group {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 45px;
}
.family_photo_album .photo .button_group .star,
.family_photo_album .photo .button_group .delete {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: 0;
  font-size: 14px;
  padding-left: 4px;
}
.family_photo_album .photo .button_group .star {
  background-color: #fff;
  color: #3ca2df;
}
.family_photo_album .photo .button_group .star:hover {
  background-color: #3ca2df;
  color: #fff;
}
.family_photo_album .photo .button_group .delete {
  margin-top: 5px;
  background-color: #f6f6f6;
  color: #a4a4a4;
}
.family_photo_album .photo .button_group .delete:hover {
  background-color: #e7e8e8;
}
.family_photo_album .photo.active {
  border: 2px solid #3498db;
}
.family_photo_album .photo.active .star {
  opacity: 1;
  background-color: #3ca2df;
  color: #fff;
}
.family_photo_album .cropper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 420px;
  padding: 30px 90px 50px;
  overflow: hidden;
}
.family_photo_album .cropit-image-preview {
  width: 420px;
  height: 340px;
}
.family_photo_album .cropit-image-background {
  opacity: 0.2;
}
.family_photo_album .cropit-image-input {
  visibility: hidden;
}
.family_photo_album .operator {
  position: relative;
  text-align: center;
}
.family_photo_album .operator .cropit-image-zoom-input {
  display: inline-block;
  margin: 0 10px;
  line-height: 26px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
.family_photo_album .operator .button_sure {
  margin-left: 10px;
}
.family_photo_album .operator .icon_small,
.family_photo_album .operator .icon_large {
  vertical-align: middle;
}
.family_photo_album .operator .icon_large {
  font-size: 17px;
}
