.quick_signup_website_page {
  background: transparent;
}
.quick_signup_website_page .register_box {
  margin-top: 95px;
  border: 2px solid #3ca2e0;
  border-radius: 8px;
  padding: 40px;
}
.quick_signup_website_page .rg_title {
  margin: 0;
  font-size: 28px;
  line-height: 1;
  color: #3ca2e0;
}
.quick_signup_website_page .rg_description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1;
}
.quick_signup_website_page .rg_link {
  cursor: pointer;
  color: #f48361;
}
.quick_signup_website_page .rg_form_control {
  display: block;
  width: 100%;
  min-height: 34px;
  height: auto;
  padding: 6px 5px;
  font-size: 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #999;
}
.quick_signup_website_page .step_search .rg_form {
  position: relative;
  margin-top: 40px;
}
.quick_signup_website_page .step_search .rg_search_input {
  border: 1px solid #3ca2e0;
  border-radius: 5px;
}
.quick_signup_website_page .step_search .rg_search_btn {
  position: absolute;
  right: 0;
  top: 4px;
  color: #3ca2e0;
  font-size: 20px;
  background-color: transparent;
}
.quick_signup_website_page .step_select .rg_res_com_list {
  margin-top: 40px;
  list-style: none;
  padding: 0;
}
.quick_signup_website_page .step_select .rg_res_com {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #3ca2e0;
  color: #3ca2e0;
  background-color: #fff;
  cursor: pointer;
}
.quick_signup_website_page .step_select .rg_res_com:hover {
  color: #fff;
  background-color: #3ca2e0;
}
.quick_signup_website_page .step_select .rg_no_res_description {
  margin-top: 40px;
  font-size: 12px;
  line-height: 1;
}
.quick_signup_website_page .step_select .rg_no_res:last-child {
  margin-bottom: 0;
}
.quick_signup_website_page .step_select .rg_pager {
  margin: 10px 0;
}
.quick_signup_website_page .step_select .rg_pre_page,
.quick_signup_website_page .step_select .rg_next_page {
  cursor: pointer;
  color: #3ca2e0;
}
