.quick_signup_website_page {
  width: 75%;
  margin: 36px auto;
}
.quick_signup_website_page .debug_tools {
  position: absolute;
  top: 50px;
}
.quick_signup_website_page .register_box {
  width: 75%;
  margin: 0 auto 36px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  padding: 4rem;
  border: 1px solid #e8e8e8;
  min-height: 300px;
}
.quick_signup_website_page .register_box h1 {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -1px;
  font-weight: 700;
  margin: 0 0 18px;
}
.quick_signup_website_page .register_box p {
  font-size: 18px;
  margin: 0 0 18px;
}
.quick_signup_website_page .rg_title {
  margin: 0;
  font-size: 28px;
  line-height: 1;
  color: #3ca2e0;
}
.quick_signup_website_page .rg_description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1;
}
.quick_signup_website_page .rg_link {
  cursor: pointer;
  color: #3ca2e0;
}
.quick_signup_website_page .rg_form {
  margin-top: 40px;
  width: 400px;
}
.quick_signup_website_page .rg_form_group {
  padding: 5px 0;
}
.quick_signup_website_page .rg_form_control {
  display: block;
  width: 100%;
  min-height: 34px;
  height: auto;
  padding: 6px 5px;
  font-size: 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  color: #999;
  border: 0;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 -1px 1px #d9d9d9;
}
.quick_signup_website_page .rg_btn_block {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #3ca2e0;
  border: none;
  line-height: 40px;
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.quick_signup_website_page .rg_btn_block:disabled {
  opacity: 0.65;
}
.quick_signup_website_page .step_select .rg_res_com {
  cursor: pointer;
}
.quick_signup_website_page .step_select .rg_res_com:hover {
  color: #fff;
  background-color: #3ca2e0;
}
.quick_signup_website_page .step_select .pager a {
  color: #3ca2e0;
}
.quick_signup_website_page .step_select .rg_no_res_description {
  margin-top: 40px;
  font-size: 12px;
  line-height: 1;
}
.quick_signup_website_page .step_select .rg_no_res {
  margin-bottom: 0;
}
.quick_signup_website_page .step_personal .rg_form_left {
  display: block;
  float: left;
  margin: 0;
  padding-right: 10px;
  text-align: right;
  width: 100px;
  font-size: 14px;
  font-weight: normal;
  line-height: 34px;
  min-height: 1px;
  color: #a1a1a1;
}
.quick_signup_website_page .step_personal .rg_error .rg_form_left {
  color: #a94442;
}
.quick_signup_website_page .step_personal .rg_error .rg_form_control {
  border: 1px solid #ffc0cb;
}
.quick_signup_website_page .step_personal .rg_form_right {
  display: block;
  float: left;
  width: 300px;
}
.quick_signup_website_page .step_personal .rg_form_right_text {
  font-size: 14px;
  line-height: 34px;
}
.quick_signup_website_page .step_personal .rg_access_text {
  margin-top: 5px;
}
.quick_signup_website_page .step_personal .rg_link {
  color: #3ca2e0;
}
.quick_signup_website_page .step_personal .rg_tips {
  float: left;
  width: 34px;
  text-align: center;
  font-size: 14px;
  line-height: 34px;
}
.quick_signup_website_page .step_personal .rg_tips .valid {
  color: #3ca2e0;
}
.quick_signup_website_page .step_personal .rg_tips .invalid {
  color: #f48361;
}
.quick_signup_website_page .step_company .rg_remind {
  margin-top: 15px;
}
.quick_signup_website_page .step_company .rg_remind_op {
  margin-top: 15px;
}
.quick_signup_website_page .step_company .rg_remind_op .rg_btn_block {
  width: 100px;
  font-size: 14px;
  line-height: 34px;
  height: 34px;
}
.quick_signup_website_page .step_company .rg_remind_op .rg_btn_first {
  margin-right: 10px;
}
.quick_signup_website_page .step_company .rg_select_group .rg_form_control {
  float: left;
  width: 124px;
  height: 34px;
  padding: 0;
  margin-right: 14px;
}
.quick_signup_website_page .step_company .rg_select_group .rg_form_control:last-child {
  margin-right: 0;
}
.quick_signup_website_page .step_company .rg_next_group {
  margin-top: 40px;
}
.quick_signup_website_page .step_select_group .groups {
  margin-top: 40px;
}
.quick_signup_website_page .step_select_group .group {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.quick_signup_website_page .step_select_group .group.active .img_contain {
  border: 1px solid #3ca2e0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.quick_signup_website_page .step_select_group .img_contain {
  width: 50px;
  height: 50px;
  background-image: url("/img/signup/dl_signup_groups.png");
  background-repeat: no-repeat;
  background-size: 240px 240px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0px;
}
.quick_signup_website_page .step_select_group .group_1 {
  background-position: 9px 8px;
}
.quick_signup_website_page .step_select_group .group_2 {
  background-position: -51px 8px;
}
.quick_signup_website_page .step_select_group .group_3 {
  background-position: -111px 8px;
}
.quick_signup_website_page .step_select_group .group_4 {
  background-position: -171px 8px;
}
.quick_signup_website_page .step_select_group .group_5 {
  background-position: 9px -52px;
}
.quick_signup_website_page .step_select_group .group_6 {
  background-position: -51px -52px;
}
.quick_signup_website_page .step_select_group .group_7 {
  background-position: -111px -52px;
}
.quick_signup_website_page .step_select_group .group_8 {
  background-position: -171px -52px;
}
.quick_signup_website_page .step_select_group .group_9 {
  background-position: 9px -112px;
}
.quick_signup_website_page .step_select_group .group_10 {
  background-position: -51px -112px;
}
.quick_signup_website_page .step_select_group .group_11 {
  background-position: -111px -112px;
}
.quick_signup_website_page .step_select_group .group_12 {
  background-position: -171px -112px;
}
.quick_signup_website_page .step_select_group .group_13 {
  background-position: 9px -172px;
}
.quick_signup_website_page .step_select_group .group_14 {
  background-position: -51px -172px;
}
.quick_signup_website_page .step_select_group .group_15 {
  background-position: -111px -172px;
}
.quick_signup_website_page .step_select_group .group_16 {
  background-position: -171px -172px;
}
.quick_signup_website_page .step_select_group .group_17 {
  background-position: 9px -232px;
}
.quick_signup_website_page .step_select_group .group_3 {
  background-position: -111px 10px;
}
.quick_signup_website_page .step_select_group .group_5 {
  background-position: 3px -52px;
}
.quick_signup_website_page .step_select_group .group_4 {
  background-position: -177px 10px;
}
.quick_signup_website_page .step_select_group .group_6 {
  background-position: -53px -52px;
}
.quick_signup_website_page .step_select_group .group_8 {
  background-position: -168px -52px;
}
.quick_signup_website_page .step_select_group .group_9 {
  background-position: 3px -108px;
}
.quick_signup_website_page .step_select_group .group_15 {
  background-position: -113px -172px;
}
.quick_signup_website_page .step_select_group .shadow {
  margin: -10px auto 0px;
  width: 35px;
  height: 5px;
  background: #3788c7;
  background-color: #aaa;
  border-radius: 100%;
}
.quick_signup_website_page .step_select_group .shadow.active {
  background: #46aaf5;
  background-color: #808080;
}
.quick_signup_website_page .step_select_group .group_type {
  margin-top: 10px;
  margin-bottom: 0;
}
.quick_signup_website_page .step_select_group .rg_finish_btn {
  margin-top: 40px;
  width: 100px;
}
.quick_signup_website_page .step_has_register .resend {
  margin-left: 30px;
  cursor: pointer;
}
.quick_signup_website_page .step_success .go_to_email {
  display: block;
  float: left;
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #f48361;
  transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
}
.quick_signup_website_page .step_success .go_to_email:hover {
  margin-left: 6px;
}
