.search_opponents {
  color: #999;
  box-shadow: 0px 1px 3px 3px #e7e7e7;
}
.search_opponents .button {
  height: 30px;
  width: 100px;
  color: #fff;
  text-align: center;
  background-color: #3ca2e0;
  padding: 10px;
  line-height: 1;
  box-shadow: 1px 1px 2px #c8cac7;
}
.search_opponents .button:hover {
  background-color: #398ec4;
  box-shadow: 0 0 0;
}
.search_opponents .button.btn_small {
  width: 60px;
}
.search_opponents .button.btn_red {
  background-color: #f48361;
}
.search_opponents .button.btn_red:hover {
  background-color: #da775a;
}
.search_opponents .button.btn_gray {
  background-color: #ccc;
}
.search_opponents .button.largerFont {
  font-size: 14px;
  padding: 9px;
}
.search_opponents .head_container {
  background-color: #fff;
  border-bottom: 0;
}
.search_opponents .head_container .headline {
  height: 30px;
  width: 100%;
  background-color: #f48361;
  color: #fff;
  line-height: 1;
  font-size: 14px;
  padding: 10px 20px;
}
.search_opponents .head_container .headline .icon_binoculars {
  margin-right: 10px;
  margin-top: -1px;
}
.search_opponents .head_container .my_teams {
  margin: 20px;
  margin-bottom: 30px;
}
.search_opponents .head_container .my_teams .select {
  margin-bottom: 15px;
  font-size: 14px;
}
.search_opponents .head_container .my_teams .units {
  background-color: #fbfbfb;
  max-height: 300px;
  padding: 20px;
  overflow: auto;
}
.search_opponents .head_container .my_teams .units .unit.leader {
  border: 1px solid #f48361;
}
.search_opponents .head_container .my_teams .units .unit.leader:hover .button {
  background-color: #f48361;
}
.search_opponents .head_container .my_teams .units .unit.right {
  margin-right: 0;
}
.search_opponents .head_container .my_teams .units .unit {
  float: left;
  width: 200px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  background-color: #edebec;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #3ca2e0;
  box-shadow: 1px 1px 3px #c8cac7;
}
.search_opponents .head_container .my_teams .units .unit:hover {
  box-shadow: 0 0 0;
}
.search_opponents .head_container .my_teams .units .unit:hover .button {
  background-color: #3ca2e0;
}
.search_opponents .head_container .my_teams .units .unit .logo {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.search_opponents .head_container .my_teams .units .unit .text {
  float: left;
}
.search_opponents .head_container .my_teams .units .unit .text .title {
  width: 118px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  line-height: 1;
  float: left;
}
.search_opponents .head_container .my_teams .units .unit .button {
  width: 118px;
  height: 25px;
  padding: 8px;
  background-color: #ccc;
  box-shadow: 0 0 0;
}
.search_opponents .head_container .selected_team {
  padding: 10px 20px;
  line-height: 1;
}
.search_opponents .head_container .selected_team .my_team .logo {
  width: 50px;
  height: 50px;
  float: left;
}
.search_opponents .head_container .selected_team .my_team .text {
  width: 700px;
  padding-left: 20px;
  float: left;
}
.search_opponents .head_container .selected_team .my_team .text .tname {
  width: 100%;
  height: 25px;
  float: left;
}
.search_opponents .head_container .selected_team .my_team .text .type {
  float: left;
  width: 70px;
  color: #666;
}
.search_opponents .head_container .selected_team .my_team .text .leader {
  float: left;
}
.search_opponents .head_container .selected_team .my_team .button {
  float: right;
  margin-top: 10px;
}
.search_opponents .tab_view {
  width: 100%;
  background-color: #fff;
}
.search_opponents .tab_view .opponent_tab_style {
  width: 320px;
  height: 40px;
  color: #fff;
  float: left;
  text-align: center;
}
.search_opponents .tab_view .opponent_tab_style a {
  color: #fff;
  font-size: 16px;
  height: 100%;
}
.search_opponents .tab_view .opponent_tab_style a span {
  vertical-align: top;
}
.search_opponents .tab_view .opponent_tab_style .nav_img {
  width: 23px;
  height: 20px;
  margin-right: 20px;
}
.search_opponents .tab_view .nearbyTeam .nav_img {
  width: 16px;
}
.search_opponents .tab_view .search {
  padding: 5px;
}
.search_opponents .tab_view .search a {
  padding: 0;
}
.search_opponents .tab_view .search .searchOpponentInput {
  height: 30px;
  width: 280px;
  border-radius: 5px;
  border: 0;
  padding: 8px 10px;
  color: #fff;
}
.search_opponents .tab_view .search .search_button {
  height: 25px;
  width: 28px;
  position: absolute;
  right: 20px;
  top: 2px;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
}
.search_opponents .tab_view.unactive .opponent_tab_style {
  background-color: #ccc !important;
}
.search_opponents .tab_view.unactive .opponent_tab_style a:hover {
  background-color: #ccc;
}
.search_opponents .tab_view.unactive .opponent_tab_style.nearbyTeam {
  background-color: #afafaf !important;
}
.search_opponents .tab_view.unactive .opponent_tab_style.nearbyTeam a:hover {
  background-color: #afafaf;
}
.search_opponents .tab_view.unactive .search .searchOpponentInput {
  background-color: #afafaf;
}
.search_opponents .tab_view.unactive .result {
  background-color: #fbfbfb !important;
  padding: 20px;
}
.search_opponents .tab_view.unactive .result .confused {
  float: left;
  margin-right: 20px;
}
.search_opponents .tab_view.unactive .result .text {
  float: left;
  font-size: 14px;
  color: #c4c4c4;
  margin: 12px 0;
}
.search_opponents .tab_view.active .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -9px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0;
}
.search_opponents .tab_view.active .sameCity {
  background-color: #fec053;
}
.search_opponents .tab_view.active .sameCity a:hover {
  background-color: #e6b050;
}
.search_opponents .tab_view.active .nearbyTeam {
  background-color: #3ca2e0;
}
.search_opponents .tab_view.active .nearbyTeam a:hover {
  background-color: #398ec4;
}
.search_opponents .tab_view.active .search {
  background-color: #43d3dc;
}
.search_opponents .tab_view.active .search a:hover {
  background-color: #43d3dc;
}
.search_opponents .tab_view.active .search .searchOpponentInput {
  background-color: #19bdc7;
}
.search_opponents .tab_view.active .sameCity.active:hover .arrow {
  border-top-color: #e6b050;
}
.search_opponents .tab_view.active .sameCity.active .arrow {
  border-top-color: #fec053;
}
.search_opponents .tab_view.active .nearbyTeam.active .arrow {
  border-top-color: #3ca2e0;
}
.search_opponents .tab_view.active .nearbyTeam.active:hover .arrow {
  border-top-color: #398ec4;
}
.search_opponents .tab_view.active .search.active .arrow {
  border-top-color: #43d3dc;
}
.search_opponents .tab_content .result {
  margin: 20px;
  background-color: #fff;
  min-height: 400px;
}
.search_opponents .tab_content .result .text {
  float: left;
}
.search_opponents .tab_content .result .text .title {
  font-size: 14px;
  color: #666;
  width: 100%;
  float: left;
  line-height: 1;
}
.search_opponents .tab_content .result .text .content {
  width: 100%;
  float: left;
}
.search_opponents .tab_content .result .homecourt {
  padding-bottom: 10px;
}
.search_opponents .tab_content .result .homecourt .text {
  width: 200px;
}
.search_opponents .tab_content .result .homecourt .text .title {
  color: #999;
  cursor: pointer;
  padding-bottom: 10px;
}
.search_opponents .tab_content .result .homecourt .text .title.active {
  color: #666;
}
.search_opponents .tab_content .result .homecourt .button {
  float: right;
  margin-top: 10px;
}
.search_opponents .tab_content .result .homecourtSetting .title {
  font-size: 14px;
  margin-bottom: 25px;
}
.search_opponents .tab_content .result .homecourtSetting .court {
  width: 100%;
}
.search_opponents .tab_content .result .homecourtSetting .court .text {
  width: 60px;
}
.search_opponents .tab_content .result .homecourtSetting .court .input {
  float: left;
  width: 790px;
}
.search_opponents .tab_content .result .homecourtSetting .court .input input {
  padding: 0 10px;
  width: 100%;
  height: 30px;
  color: #ccc;
  background-color: #fbfbfb;
  border: 1px solid #d3dbe6;
  font-size: 14px;
}
.search_opponents .tab_content .result .homecourtSetting .court .input .homecourtMap {
  width: 100%;
  height: 200px;
  margin: 20px 0;
}
.search_opponents .tab_content .result .slide {
  width: 920px;
  overflow: hidden;
}
.search_opponents .tab_content .result .slide #slides {
  width: 1490px;
}
.search_opponents .tab_content .result .slide #slides .map {
  float: left;
}
.search_opponents .tab_content .result .slide #slides .map .fullMap {
  width: 570px;
  height: 620px;
}
.search_opponents .tab_content .result .slide #slides .teamlist {
  background-color: #efefef;
  float: left;
  width: 350px;
  height: 620px;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams {
  height: 560px;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .map_head {
  height: 30px;
  background-color: #ccc;
  width: 100%;
  padding: 10px 20px;
  line-height: 1;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .map_head span {
  cursor: pointer;
  color: #fff;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .headline {
  height: 50px;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 1;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .team.selected {
  background-color: #fbfbfb;
  border-left: 1px solid #efefef;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .team {
  width: 100%;
  float: left;
  padding: 10px 20px;
  height: 50px;
  cursor: pointer;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .team .logo {
  width: 30px;
  height: 30px;
  float: left;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .team .text {
  width: 245px;
  padding: 0 10px;
}
.search_opponents .tab_content .result .slide #slides .teamlist .teams .team .text .title {
  margin-bottom: 3px;
}
.search_opponents .tab_content .result .slide #slides .teamlist .page_nav {
  width: 350px;
  padding: 17px 20px;
  border-top: 1px solid #ccc;
}
.search_opponents .tab_content .result .slide #slides .teamlist .page_nav ul {
  float: right;
}
.search_opponents .tab_content .result .slide #slides .teamlist .page_nav ul li {
  float: left;
}
.search_opponents .tab_content .result .slide #slides .teamlist .page_nav ul li a {
  color: #999;
  padding: 0 5px;
}
.search_opponents .tab_content .result .slide #slides .teamlist .page_nav ul li a i {
  font-size: 16px;
}
.search_opponents .tab_content .result .slide #slides .teamlist .page_nav ul .active>a {
  color: #3ca2e0;
}
.search_opponents .tab_content .result .slide #slides .detail {
  background-color: #fbfbfb;
  padding: 20px;
  float: left;
  width: 570px;
  height: 620px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead {
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead .logo {
  float: left;
  width: 70px;
  height: 70px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead .text {
  max-width: 300px;
  padding: 0 20px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead .text .title {
  margin-bottom: 10px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead .text .content {
  margin-bottom: 6px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead .buttons {
  float: right;
  width: 60px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailHead .buttons .button {
  margin-bottom: 10px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent {
  width: 100%;
  margin-left: 12%;
  padding: 20px;
  line-height: 1;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent .block {
  margin-bottom: 30px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent .block .dl_icons {
  margin-right: 10px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent .block .title {
  float: left;
  color: #666;
  width: 100px;
  font-size: 14px;
  margin-bottom: 7px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent .block .text {
  width: 270px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent .block .text .content {
  margin-bottom: 7px;
}
.search_opponents .tab_content .result .slide #slides .detail .detailContent .block .text .content.lastline {
  margin-bottom: 0;
}
