.header {
  width: 100%;
  background-color: #3498db;
  height: 40px;
  padding: 5px 10px;
}
.app_download {
  background-color: #fff;
}
.app_download .tip_container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.8;
  background-color: #fff;
}
.app_download .tip_container .weixin_tip {
  width: 100%;
}
.app_download .download_title {
  padding: 15px 0;
  font-size: 2rem;
  margin: 0;
}
.app_download .download_filter {
  background-color: #ededed;
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
}
.app_download .download_list {
  margin: 0;
  padding: 0;
}
.app_download .download_list a {
  text-decoration: none;
  color: #28689b;
}
.app_download .download_list .list {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
  padding: 5px 10px;
  font-size: 1.5rem;
}
.registerpage_phone {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}
.registerpage_phone .signup_title {
  text-align: center;
  font-size: 2rem;
  color: #3498db;
  border-bottom: 2px solid #3498db;
  height: 30px;
}
.registerpage_phone .btn_submit {
  width: 100%;
}
.registerpage_phone .dl_select {
  border-radius: 4px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.registerpage_phone .select_right .select_box {
  float: left;
  width: 33%;
}
.registerpage_phone .select_right .select_box .dl_select {
  width: 100%;
}
.registerpage_phone .email_row .email_row_email {
  display: inline-block;
  width: 47%;
}
.registerpage_phone .email_row .email_row_split {
  display: inline-block;
  width: 4%;
  text-align: center;
}
.phone_footer {
  padding: 10px;
  text-align: center;
}
