.result.clearfix
  if pleaseSelect
    img()
    span 请先选择队伍再进行搜索
  else
    //- 主场信息(若点详情则向左收)
    .homecourt(ng-show="myTeam.home_court")
      p.text(ng-class="{'active':homecourtIndex===1}" ng-click="homecourtIndex=1") 主场一: {{myTeam.home_court[0].name}}
      p.text(ng-class="{'active':homecourtIndex===2}" ng-show="myTeam.home_court.length===2" ng-click="homecourtIndex=2") 主场二: {{myTeam.home_court[1].name}}
      button(ng-if="myTeam.isLeader") 更换主场
    //- 主场设置
    .homecourtSetting(ng-show="!myTeam.home_court")
      .court(ng-show="myTeam.isLeader")
        .text
          span 主场一:
        .input
          input(ng-model="myTeam.home_court[0].name")
          #homecourt1.homecourtMap
      .cout(ng-show="myTeam.isLeader")
        .text
          span 主场二:
        .input
          input(ng-model="myTeam.home_court[1].name")
          #homecourt2.homecourtMap
          button 完成
      span(ng-show="!myTeam.isLeader") 请提醒您的队长去添加小队主场吧~

    //- 附近小队地图
    .map(ng-show="isShowMap")
      #map.fullMap
    //- 搜索出的小队列表
    .teamlist
      a(ng-show="isShowMap") <地图
      span.headline {{headline}}
      .team(ng-repeat="team in resultTeams track by $index" ng-class="{'selected':$index==selectedIndex}" ng-click="getOpponentInfo({{team._id}})")
        span(ng-if="isShowMap") {{engDict[$index]}}
        img.logo(src="team.logo")
        .text
          span.title {{team.name}}
          span.cname {{team.cname}}
      .nav
        ul.pagination
          li(ng-show="currentPage!==1")
            a(ng-click="loadPage(1)") &laquo;
          li(ng-show="currentPage!==1")
            a(ng-click="loadPage({{currentPage}}-1)") &lt;
          li(ng-repeat="page in pages" ng-class="{'active':page===currentPage}")
            a(ng-click="loadPage({{page}})") {{page}}
          li(ng-show="currentPage!==pages.length")
            a(ng-click="loadPage({{currentPage}}+1)") &gt;
          li(ng-show="currentPage!==pages.length")
            a(ng-click="loadPage(pages.length)") &raquo;
    //-详情
    .detail(ng-show="!isShowMap")
      .detailHead
        img.logo(ng-src="opponent.logo")
        .text
          p.title {{opponent.name}}
          p.content {{opponent.cname}}
          p.content 成员:{{opponent.memberNumber}}人
          p.content 成立时间:{{opponent.create_time}}
        .buttons
          button(ng-click="provoke()") 挑战
          a(ng-href="/group/page/{{opponent._id}}") 查看
      .detailContent(ng-cloak)
        .content(ng-if="opponent.home_court.length")
          .title
            img
            span 小队主场
          .text
            p 主场一:{{opponent.home_court[0].name}}
            p(ng-if="opponent.home_court.length>1") 主场二:{{opponent.home_court[1].name}}
        .content
          .title
            img
            span 最新活动
          .text
            p 开始时间:{{opponent.newestCampaign.start_time}}
            p 结束时间:{{opponent.newestCampaign.eng_time}}
            p 活动主题:{{opponent.newestCampaign.theme}}
            p 参加人数:{{opponent.newestCampaign.memberNumber}}
            p 活动地点:{{opponent.newestCampaign.location.name}}
        .content
          .title
            img
            span 小队队长
          .text
            p {{opponent.leader.nickname}}
        .content
          .title
            img
            span 小队简介
          .text
            p {{opponent.brief}}
