messageBackgroundColor = #F7F7F7

.group_head
	margin-top 50px
	margin-bottom 50px
.group
	padding 0
	.group
		cursor pointer
	input
		display none
.field
	padding 0
	margin 0
.formatField
	position relative
	.teamMember
		position absolute
		z-index 100
.message_content
	background-color messageBackgroundColor
.triangle
	position absolute
	top 50%
	height 0px
	width 0px
	margin-left -20px
	border-width 10px
	border-style solid
	border-color transparent messageBackgroundColor transparent transparent
.message_label
	margin 10px
.datepicker.dropdown-menu
	width 250px
	height 270px
	button
		outline 0
		border 0
		border-radius 4px !important
	tbody
		height 180px
		button
			padding 6px
	.datepicker-mode-1 tbody button,.datepicker-mode-2 tbody button
		height 65px
.timepicker.dropdown-menu
	padding:0 4px
	button
		outline 0
		border 0
		border-radius 4px !important
	tbody button
		padding 6px
.group.inactive
	.group_1
		background-image url('/img/icons/group/Badminton_off.png')
	.group_2
		background-image url('/img/icons/group/Basketball_off.png')
	.group_3
		background-image url('/img/icons/group/Reading_off.png')
	.group_4
		background-image url('/img/icons/group/Bicycle_off.png')
	.group_5
		background-image url('/img/icons/group/Billiards_off.png')
	.group_6
		background-image url('/img/icons/group/Fishing_off.png')
	.group_7
		background-image url('/img/icons/group/Football_off.png')
	.group_8
		background-image url('/img/icons/group/KTV_off.png')
	.group_9
		background-image url('/img/icons/group/Outdoor_off.png')
	.group_10
		background-image url('/img/icons/group/PingPong_off.png')
	.group_11
		background-image url('/img/icons/group/Running_off.png')
	.group_12
		background-image url('/img/icons/group/Swimming_off.png')
.group.active
	.group_1
		background-image url('/img/icons/group/Badminton_on.png')
	.group_2
		background-image url('/img/icons/group/Basketball_on.png')
	.group_3
		background-image url('/img/icons/group/Reading_on.png')
	.group_4
		background-image url('/img/icons/group/Bicycle_on.png')
	.group_5
		background-image url('/img/icons/group/Billiards_on.png')
	.group_6
		background-image url('/img/icons/group/Fishing_on.png')
	.group_7
		background-image url('/img/icons/group/Football_on.png')
	.group_8
		background-image url('/img/icons/group/KTV_on.png')
	.group_9
		background-image url('/img/icons/group/Outdoor_on.png')
	.group_10
		background-image url('/img/icons/group/PingPong_on.png')
	.group_11
		background-image url('/img/icons/group/Running_on.png')
	.group_12
		background-image url('/img/icons/group/Swimming_on.png')