.relative {
  position: relative;
}
.right_down {
  position: absolute;
  right: 0;
  bottom: 0;
}
.text {
  color: #9a9a9a;
}
.photo_panel {
  margin-top: -35px;
}
.photo {
  position: relative;
  float: left;
  margin-left: 53px;
  margin-top: 53px;
  width: 200px;
  height: 200px;
}
.photo:nth-child(4n+1) {
  margin-left: 0;
}
.photo_name {
  position: absolute;
  bottom: 0;
  margin: 0;
  line-height: 2;
  padding: 0 7px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-decoration: none;
}
.left {
  position: absolute;
  top: 0;
  left: 0;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
}
.tag:after {
  content: '、';
}
.tag:last-child:after {
  content: '';
}
.btn_padding {
  padding-left: 20px;
  padding-right: 20px;
}
.comment_textarea {
  height: 60px;
  background-color: #fbfbfb;
  border-color: #ededed;
  border-radius: 0;
}
.comment {
  position: relative;
  margin-top: 20px;
}
.comment .comment_user_info {
  float: left;
}
.comment .comment_user_info .user_photo {
  width: 50px;
  height: 50px;
}
.comment .comment_user_info .user_name {
  text-decoration: none;
}
.comment .comment_content_panel {
  float: left;
  margin-left: 20px;
}
.comment .comment_content_panel .comment_content {
  padding: 10px;
  background-color: #fbfbfb;
  border: solid 1px #ededed;
  width: 450px;
  min-height: 50px;
}
.triangle {
  position: absolute;
  top: 16px;
  height: 0px;
  width: 0px;
  margin-left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fbfbfb transparent transparent;
}
.triangle_border {
  position: absolute;
  top: 15px;
  height: 0px;
  width: 0px;
  margin-left: -21px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent #ededed transparent transparent;
}
.tags_input {
  background-color: #fbfbfb;
  border-color: #ededed;
  border-radius: 0;
}
.photo_detail_container {
  margin-bottom: 30px;
}
.btn_create {
  padding-left: 10px;
  padding-right: 10px;
}
.photo_album_panel {
  display: block;
  width: 202px;
  border: solid 1px #ededed;
}
.update_info {
  width: 202px;
}
.update_info .update_user_photo {
  float: left;
  width: 36px;
  height: 36px;
  margin-left: 5px;
  margin-right: 10px;
}
.update_info .update_user_name {
  display: block;
  color: #5b6272;
  margin-bottom: 1px;
}
.photo_album_container {
  margin-bottom: 40px;
}
