div(ng-app="tabViewGroup" ng-controller="infoController")
  form.form-horizontal(name="infoForm")
    .row
      h5.pull-left {{"INFO" | translate}}
      if(role==='HR' ||role ==='LEADER')
        a.btn.dl_btn.pull-right(ng-click="editToggle()" ng-bind="buttonStatus")
    hr
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label.form-vertical {{"TEAM_NAME" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        input.dl_input.editToggle.dl_form-Control(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"COMPANY" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label {{companyname}}
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"SUM" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label {{members.length}}
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"TEAM_LOGO" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        if(role==='HR' ||role ==='LEADER')
          a.btn.dl_btn(href="/group/editLogo") {{"EDIT" | translate}}
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"HOME_COURT" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_1" ng-model="home_court_1" ng-disabled="unEdit")
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.col-md-2.control-label
      .col-md-5.col-sm-10.col-xs-10
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_2" ng-model="home_court_2" ng-disabled="unEdit")
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"BRIEF" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        input.dl_input.editToggle.dl_form-Control(type="textarea" rows="10" name ="brief" ng-model="brief" ng-disabled="unEdit")
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"BUILD_TIME" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label {{create_time | date:'yyyy-MM-dd HH:mm:ss'}}
    .row.dl_row
      span.pull-left {{"COMPETITION_INFO" | translate}}
    hr
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"COMPETITION_SEQ" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label 0
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"WIN_RATE" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label 0
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"SCORE" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label 0
    .row.dl_row
      .col-md-2.col-sm-2.col-xs-2
        span.info_label.control-label {{"RATE" | translate}}
      .col-md-5.col-sm-10.col-xs-10
        span.info_label 0
    .row.dl_row
      span.pull-left {{"FAMILY" | translate}}
    hr
    img.img-responsive.img-thumbnail.size_family.img_contain(src="")
