div(ng-controller="infoController")
  form.form-horizontal(name="infoForm")
    .dl_row
      h5.pull-left {{"INFO" | translate}}
      if (Global.role ==='HR' || Global.role === 'LEADER')
        button.dl_btn.dl_btn_small.pull-right(ng-click="editToggle()" ng-bind="buttonStatus")
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label {{"TEAM_NAME" | translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"COMPANY" | translate}}
      .info_side
        span.info_label {{companyname}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"SUM" | translate}}
      .info_side
        span.info_label {{members.length}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"TEAM_LOGO" | translate}}
      .info_side
        if (Global.role=== 'HR' || Global.role ==='LEADER')
          a.clearLinkUnderline.close_btn.dl_btn_small(href="/group/editLogo") {{"CHANGE" | translate}}LOGO
    .dl_row.clearfix
      .info_side
        span.info_label {{"HOME_COURT" | translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_1" ng-model="home_court_1" ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label.col-md-2.control-label
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_2" ng-model="home_court_2" ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"BRIEF" | translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="textarea" rows="10" name ="brief" ng-model="brief" ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"BUILD_TIME" | translate}}
      .info_side
        span.info_label {{create_time | date:'yyyy-MM-dd HH:mm:ss'}}
    .dl_row.clearfix
      h5.pull-left 成员信息
    hr.margin_top_6

    .row
      span.subtitle.margin_left_15 {{"TEAM_LEADER"|translate}}
    .row
      .dl_modal_container.margin_left_10
        .groups.row
          .group(style="float:left;padding-left:20px;padding-bottom:5px" ng-repeat="leader in leaders")
            .dl_row
              a(href="/users/home/{{leader._id}}")
                img.size_80(ng-src="{{leader.photo}}")
            .dl_row(style="width:80px;text-align:center")
              label {{leader.nickname}}
    .row
      span.subtitle.margin_left_15 {{"MEMBER"|translate}}
    .row
      .dl_modal_container.margin_left_10
        .groups.row
          .group(style="float:left;padding-left:20px;padding-bottom:5px" ng-repeat="member in members")
            .dl_row
              a(href="/users/home/{{member._id}}")
                img.size_80(ng-src="{{member.photo}}")
            .dl_row(style="width:80px;text-align:center")
              label {{member.nickname}}
    //- 此部分逻辑未做 暂时隐藏
    //- .row.dl_row
    //-   h5.pull-left {{"COMPETITION_INFO" | translate}}
    //- hr
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"COMPETITION_SEQ" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"WIN_RATE" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"SCORE" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"RATE" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    .dl_row.clearfix
      h5.pull-left {{"FAMILY" | translate}}
    hr.margin_top_6
    img.img-responsive.img-thumbnail.size_family.img_contain(src="")
