.dl_messagebox.clearfix(ng-repeat="group_message in group_messages")
  //若是公司动态
  div.clearfix(ng-if="!group_message.provoke.active && group_message.group.gid[0] =='0'")
    .message_side
      img.size_90(ng-src='{{companyLogo}}')
    .messagebox_content
      span {{"OWN_COMPANY"|translate}}{{group_message.poster.cname}} {{"NEW_MESSAGE"|translate}}
      .dl_message
        .triangle
        .dl_message_container
          .message_row
            span.message_label {{"TYPE"|translate}}: {{"COMPANY_CAMPAIGN"|translate}}
            span.message_label {{"LOCATION"|translate}}: {{group_message.location.name}}
            span.message_label 开始{{"TIME"|translate}}: {{group_message.start_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 结束{{"TIME"|translate}}: {{group_message.end_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 报名截止{{"TIME"|translate}}: {{group_message.deadline | date:'yyyy-MM-dd HH:mm'}}
          .message_row
            p.message_label {{group_message.content}}

  div.clearfix(ng-if="group_message.group.gid[0] !='0'")
    .message_side
      img.size_90(ng-src='{{group_message.logo}}')
    //若是小组动态
    .messagebox_content(ng-if="!group_message.provoke.active && group_message.group.gid[0] !='0'")
      span {{"OWN_TEAM"|translate}}{{group_message.poster.tname}} {{"NEW_MESSAGE"|translate}}
      .dl_message
        .triangle
        .dl_message_container
          .message_row
            span.message_label {{"TYPE"|translate}}: {{group_message.group.group_type[0]}}
            span.message_label {{"LOCATION"|translate}}: {{group_message.location.name}}
            span.message_label 开始{{"TIME"|translate}}: {{group_message.start_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 结束{{"TIME"|translate}}: {{group_message.end_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 报名截止{{"TIME"|translate}}: {{group_message.deadline | date:'yyyy-MM-dd HH:mm'}}
          .message_row
            p.message_label {{group_message.content}}
    //若是挑战
    .messagebox_content(ng-if="group_message.provoke.active")
      div.clearfix(ng-if="!group_message.host")
        a {{group_message.provoke.camp[0].tname}}
        span {{"OPPOSITE_FOR_TEAM"|translate}}
        a {{group_message.provoke.camp[1].tname}}
        span {{"SPONSOR"|translate}} {{group_message.provoke.start_confirm ? '的挑战已经生效' : '了挑战'}}
      div.clearfix(ng-if="group_message.host")
        span {{"OWN_TEAM"|translate}}
        a {{group_message.provoke.camp[0].tname}}
        span {{"TOWARDS"|translate}}
        a {{group_message.provoke.camp[1].tname}}
        span {{"SPONSOR"|translate}} {{group_message.provoke.start_confirm ? '的挑战已经生效' : '了挑战'}}
      .dl_message
        .triangle
        .dl_message_container
          .message_row
            span.message_label {{"TYPE"|translate}}: {{group_message.group.group_type[0]}}
            span.message_label {{"FORMATION"|translate}}: {{group_message.provoke.competition_format}}
            span.message_label {{"LOCATION"|translate}}: {{group_message.location.name}}
            span.message_label 开始{{"TIME"|translate}}: {{group_message.start_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 结束{{"TIME"|translate}}: {{group_message.end_time | date:'yyyy-MM-dd HH:mm'}}
            span.message_label 报名截止{{"TIME"|translate}}: {{group_message.deadline | date:'yyyy-MM-dd HH:mm'}}
          .message_row
            span.message_label {{group_message.content}}
            span.pull-right(ng-if="group_message.provoke.active && role=='OWNER' && !group_message.provoke.start_confirm")
              button.dl_btn(ng-click="vote(group_message._id,true,$index)") {{group_message.positive == 1 ? "CANCEL" : "POSITIVE"|translate}} {{group_message.positive}}
              button.dl_btn(ng-click="vote(group_message._id,false,$index)") {{group_message.negative == 1 ? "CANCEL" : "NEGATIVE"|translate}} {{group_message.negative}}
              button.dl_btn(ng-click="responseProvoke(group_message._id)" ng-if="!group_message.host") {{"FACE"|translate}}
    .dl_area(ng-if="message_role==='group'")
      .row
        label.pull-right
          a(ng-click="toggleOperate($index);getComment($index)") 留言 {{group_message.comment_sum}}
      .row(ng-if="toggle[$index]")
        .dl_comment_area
          .dl_modal_container.margin_top_5
            .dl_md_8
              input.dl_modal_input.form-control(type="text" name="new_comment" ng-model="new_comment[$index].text")
            .dl_md_1
              a.clearLinkUnderline.dl_btn_right(ng-click="comment($index)") 发表
          hr
          .dl_modal_container(ng-if="group_message.comments.length > 0")
            .dl_row(style="height:93px" ng-repeat="comment in group_message.comments")
              .dl_md_1
                img.size_56(ng-src="{{comment.poster.photo}}")
              .dl_md_8.margin_left_5
                .row
                  .dl_md_name
                    h7 {{comment.poster.nickname}}
                  .dl_md_time
                    h7 {{comment.create_date | date:'yyyy-MM-dd HH:mm'}}
                .row
                  .dl_md_12
                    h5 {{comment.content}}
                  .dl_md_3.pull-right
                    h5.pull-right.margin_right_20 # {{comment.index}}
  hr