div.margin_15(ng-repeat="group_message in group_messages")
  //若是公司动态
  div(ng-if="!group_message.provoke.active && group_message.group.gid[0] =='0'") 
    .row
      .col-md-2
        img.size_90(ng-src='{{companyLogo}}')
      .col-md-10
        span 您的公司 有了新动态
        div.dl_message
          .triangle
          div.dl_message_container.margin_top_15
            span.message_label 类型: 公司活动
            span.message_label 地点: {{group_message.location}}
            span.message_label 时间: {{group_message.start_time | date:'yyyy-MM-dd HH:mm:ss'}}
            p.message_label {{group_message.content}}

  div(ng-if="group_message.group.gid[0] !='0'") 
    .row
      .col-md-2
        img.size_90(ng-src='{{group_message.logo}}')
      //若是小组动态
      .col-md-10(ng-if="!group_message.provoke.active && group_message.group.gid[0] !='0'")
        span 您的小组 有了新动态
        div.dl_message
          .triangle
          div.dl_message_container.margin_top_15
            span.message_label 类型: {{group_message.group.group_type[0]}}
            span.message_label 地点: {{group_message.location}}
            span.message_label 时间: {{group_message.start_time | date:'yyyy-MM-dd HH:mm:ss'}}
            p.message_label {{group_message.content}}
      //若是挑战
      .col-md-10(ng-if="group_message.provoke.active")
        div(ng-if="!group_message.host")
          a {{group_message.provoke.camp[0].tname}}
          span 对您的小组
          a {{group_message.provoke.camp[1].tname}}
          span 发起{{group_message.provoke.start_confirm ? '的挑战已经生效' : '了挑战'}}
          .row
            .col-md-8
              p.message_label {{group_message.content}}
            .col-md-4
              div.message_label(ng-if="group_message.provoke.active && role=='OWNER'")
                .row(ng-if="!group_message.provoke.start_confirm")
                  button.dl_btn(ng-click="vote(group_message._id,true,$index)") 赞成{{group_message.positive}}
                  button.dl_btn(ng-click="vote(group_message._id,false,$index)") 反对{{group_message.negative}}
              div.message_label(ng-if="group_message.provoke_accept")
                .row
                  button.dl_btn(ng-click="responseProvoke(group_message._id)") 应战        
         div(ng-if="group_message.host") 
          span 您的小组
          a {{group_message.provoke.camp[0].tname}}
          span 对
          a {{group_message.provoke.camp[1].tname}}
          span 发起 {{group_message.provoke.start_confirm ? '的挑战已经生效' : '了挑战'}}
          div.dl_message
            .triangle
            div.dl_message_container.margin_top_15
              span.message_label 类型: {{group_message.group.group_type[0]}}
              span.message_label 赛制: {{group_message.provoke.competition_format}}
              span.message_label 地点: {{group_message.location}}
              span.message_label 时间: {{group_message.start_time | date:'yyyy-MM-dd HH:mm:ss'}}
              .row
                .col-md-8
                  p.message_label {{group_message.content}}
                .col-md-4
                  div.message_label(ng-if="group_message.provoke.active && role=='OWNER'")
                    .row(ng-if="!group_message.provoke.start_confirm")
                      button.dl_btn(ng-click="vote(group_message._id,true,$index)") 赞成{{group_message.positive}}
                      button.dl_btn(ng-click="vote(group_message._id,false,$index)") 反对{{group_message.negative}}
