fdiv(ng-controller="infoController")
  form.form-horizontal.tab-info-form(name="infoForm")
    .dl_row
      h5.pull-left {{"INFO" | translate}}
      if (Global.role ==='HR' || Global.role === 'LEADER')
        button.dl_btn.dl_btn_small.pull-right(ng-click="editToggle()" ng-bind="buttonStatus")
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label {{"TEAM_NAME" | translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"COMPANY" | translate}}
      .info_detail
        span.info_label {{team.cname}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"SUM" | translate}}
      .info_detail
        span.info_label {{team.member.length}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"TEAM_LOGO" | translate}}
      .info_detail
        if (Global.role=== 'HR' || Global.role ==='LEADER')
          a.clearLinkUnderline.close_btn.dl_btn_small(href="/group/editLogo") {{"CHANGE" | translate}}LOGO
    .dl_row.clearfix(ng-if="entity.home_court[0]!=undefined || !unEdit")
      .info_side
        span.info_label {{"HOME_COURT" | translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_1" ng-model="entity.home_court[0]" ng-disabled="unEdit")
    .dl_row.clearfix(ng-if="entity.home_court[1]!=undefined || !unEdit")
      .info_side
        span.info_label.col-md-2.control-label
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_2" ng-model="entity.home_court[1]" ng-disabled="unEdit")
    .dl_row.clearfix(ng-if="team.brief!=undefined || !unEdit")
      .info_side
        span.info_label {{"BRIEF" | translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="textarea" rows="10" name ="brief" ng-model="team.brief" ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"BUILD_TIME" | translate}}
      .info_detail
        span.info_label {{team.create_time | date:'yyyy-MM-dd HH:mm:ss'}}
    .dl_row.clearfix
      h5.pull-left 成员信息
    hr.margin_top_6

    .dl_row
      span.subtitle.margin_left_15 {{"TEAM_LEADER"|translate}}
    .dl_row.clearfix
      .dl_companygroup_container
        .groups
          .group( ng-repeat="leader in team.leader")
            .dl_row(bs-popover)
              a(href="/users/home/{{leader._id}}" ng-Mouseover='showUserCard(leader._id,leader._id)' id='pop{{leader._id}}' rel='popover')
                img.size_56(ng-src="{{leader.photo}}")
            .dl_row
              label {{leader.nickname}}
    .dl_row.clearfix
      span.subtitle.margin_left_15 {{"MEMBER"|translate}}
    .dl_row.clearfix
      .dl_companygroup_container
        .groups
          .group(ng-repeat="member in members")
            .dl_row(bs-popover)
              a(href="/users/home/{{member._id}}" ng-Mouseenter='showUserCard(member._id,member._id)' id='pop{{member._id}}' rel='popover')
                img.size_56(ng-src="{{member.photo}}")
            .dl_row
              label.user_name {{member.nickname}}

    //- 此部分逻辑未做 暂时隐藏
    //- .row.dl_row
    //-   h5.pull-left {{"COMPETITION_INFO" | translate}}
    //- hr
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"COMPETITION_SEQ" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"WIN_RATE" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"SCORE" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label {{"RATE" | translate}}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    .dl_row.clearfix
      h5.pull-left {{"FAMILY" | translate}}
    hr.margin_top_6
    img.img-responsive.img-thumbnail.size_family.img_contain(src="")