extends ../layouts/user_base

block contentExt
  .teampage.dl_container(report-contain ng-controller="TeamPageController")
    #data(data-id="#{teamId}" data-gid="#{groupId}")

    .main_panel

      .base_info
        .team_row
          .team_col
            .card.info_card#info_card
              .team_info
                .logo_box
                  img.logo(ng-src="{{team.logo}}")
                  a.edit(ng-if="allow.editTeam" ng-href="/group/{{team._id}}/editLogo" title="修改logo"): span.dl_icons.icon_edit_half
                form.info_box(name="infoForm")
                  h3.name(ng-cloak ng-if="!isEditingInfo") {{team.name}}
                    span.dl_icons.info_edit_blue.edit(ng-if="allow.editTeam" ng-click="editInfo()" title="修改小队信息" ng-cloak)
                  input.input_name(name="name" ng-cloak ng-if="isEditingInfo" ng-model="teamInfo.name" required)
                  a.save(ng-cloak ng-if="isEditingInfo && infoForm.$valid" ng-click="saveInfo()") 保存
                  a.cancel(ng-cloak ng-if="isEditingInfo" ng-click="cancelEditInfo()") 取消
                  p.main_text.team_type(ng-cloak) 小队类型：{{team.groupType}}
                  p.main_text.create_time(ng-cloak) 成立时间：{{team.createTime | date:'yyyy-MM-dd'}}
                  p.text.brief(ng-cloak ng-if="!isEditingInfo") {{team.brief}}
                  textarea.input_brief(name="brief" ng-cloak ng-if="isEditingInfo" ng-model="teamInfo.brief" mix-maxlength="280")
                  p.error(ng-if="infoForm.brief.$invalid" ng-cloak) 小队简介不能超过140个字。
              .operator
                .team_leader.four_button(ng-if="role==='LEADER'" ng-cloak)
                  button.op_button.button_blue(ng-if="allow.sponsorCampaign" data-toggle="modal" data-target="#sponsorCampaignModel" ng-cloak) 发起活动
                  a.op_button.button_red(ng-if="allow.sponsorProvoke" ng-href="/users/searchOpponents#/sameCity/{{teamId}}" ng-cloak) 找对手
                  a.op_button.button_blue(ng-if="allow.publishTeamMessage" ng-href="/message/home/{{team._id}}#/send" ng-cloak) 发站内信
                  button.op_button.button_gray(ng-if="allow.quitTeam" ng-click="quitTeam()" ng-cloak) 退出小队
                .team_member.one_button(ng-if="role==='MEMBER'" ng-cloak)
                  button.op_button.button_gray(ng-if="allow.quitTeam" ng-click="quitTeam()" ng-cloak) 退出小队
                .company_member.one_button(ng-if="role==='PARTNER'" ng-cloak)
                  button.op_button.button_blue(ng-if="allow.joinTeam" ng-click="joinTeam()" ng-cloak) 加入小队
                .company_hr.four_button(ng-if="role==='HR'" ng-cloak)
                  button.op_button.button_blue(ng-if="allow.sponsorCampaign" data-toggle="modal" data-target="#sponsorCampaignModel" ng-cloak) 发起活动
                  //- a.op_button.button_red(ng-if="allow.sponsorProvoke" ng-href="/users/searchOpponents#/sameCity/{{teamId}}" ng-cloak) 找对手
                  a.op_button.button_blue(ng-if="allow.publishTeamMessage" ng-href="/message/home/{{team._id}}#/send" ng-cloak) 发站内信
                  button.op_button.button_gray(ng-if="allow.closeTeam" ng-cloak) 关闭小队
                .other_company_hr.one_button(ng-if="role==='GUESTHR' || role==='GUESTLEADER'" ng-cloak)
                  button.op_button.button_red(data-toggle="modal" data-target="#sponsorProvokeModel" ng-cloak) 发起挑战

            .card.member_card#member_card
              .header
                span.dl_icons.icon_team.icon
                h3.title 队员
                span.count(ng-click="openMemberModal()" ng-cloak title="查看全部队员") {{team.memberCount}}
                  i.fa.fa-angle-right
              .members(bs-popover ng-if="role==='LEADER' || role==='MEMBER' || role==='PARTNER' || role==='HR'")
                .leader_box(ng-if="team.leaders.length > 0")
                  img.member(ng-repeat="leader in team.leaders" ng-src="{{leader.photo}}/50/50" ng-Mouseenter="showUserCard(leader._id, leader._id + 'member_card')" id="pop{{leader._id}}member_card" rel="popover")
                .member_box
                  img.member(ng-repeat="member in team.members" ng-src="{{member.photo}}/50/50" ng-Mouseenter="showUserCard(member._id, member._id + 'member_card')" id="pop{{member._id}}member_card" rel="popover")
              .members(ng-if="role==='GUESTHR' || role==='GUESTLEADER' || role==='GUEST'")
                .leader_box(ng-if="team.leaders.length > 0")
                  img.member(ng-repeat="leader in team.leaders" ng-src="{{leader.photo}}/50/50")
                .member_box
                  img.member(ng-repeat="member in team.members" ng-src="{{member.photo}}/50/50")

          .team_col
            .card.family_card#family_card(ng-class="{'no_family': team.familyPhotos.length===0, 'no_upload': !allow.editTeamFamily && team.familyPhotos.length===0}")
              carousel(interval="5000" ng-if="team.familyPhotos.length > 0" ng-cloak)
                slide(ng-repeat="photo in team.familyPhotos")
                  a(ng-href="/photoAlbum/family/{{team._id}}" title="点击进入全家福相册"): img(ng-src="{{photo.uri}}/420/340")
              a.edit(ng-if="allow.editTeamFamily && team.familyPhotos.length > 0" ng-href="/photoAlbum/family/{{team._id}}" title="修改全家福"): span.dl_icons.icon_edit_half
              a.upload(ng-if="allow.editTeamFamily && team.familyPhotos.length === 0" ng-href="/photoAlbum/family/{{team._id}}" ng-cloak) 上传小队全家福
              .remind(ng-if="!allow.editTeamFamily && team.familyPhotos.length === 0" ng-cloak)
                .remind_triangle
                .remind_triangle_border
                .remind_text 小队没有上传全家福

        .team_row
          .team_col(ng-if="isShowHomeCourts")
            .card.home_court_card#home_court_card(ng-if="isShowHomeCourts")
              .home_court_nav
                i.fa.fa-map-marker.fa-lg.icon
                .tabs(ng-init="courtIndex=0;")
                  .tab(ng-click="courtIndex=0;" ng-class="{'active': courtIndex==0}") 主场一
                  .tab(ng-click="courtIndex=1;" ng-class="{'active': courtIndex==1}") 主场二
                span.dl_icons.info_edit_blue.edit(ng-if="allow.editTeam" src="/img/pencil_diagonal_outline_symbol_on_a_line.png" data-toggle="modal" data-target="#homeCourtModal" ng-cloak title="修改主场")
              .home_court(ng-repeat="homeCourt in team.homeCourts" ng-if="courtIndex===$index")
                p(ng-cloak ng-if="homeCourt.name&&homeCourt.loc.coordinates.length!==2") {{homeCourt.name}}
                a(ng-cloak ng-if="homeCourt.loc.coordinates.length===2" ng-href="http://mo.amap.com/?q={{homeCourt.loc.coordinates[1]}},{{homeCourt.loc.coordinates[0]}}&name={{homeCourt.name}}" target="_blank")
                  img.map_size(ng-src="http://restapi.amap.com/v3/staticmap?location={{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&zoom=15&size=420*230&markers=mid,,A:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&labels={{homeCourt.name}},2,0,12,0xffffff,0x3498db:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&key=077eff0a89079f77e2893d6735c2f044")
                img.map_size(ng-if="homeCourt.defaultImg" ng-src="{{homeCourt.defaultImg}}/420/230")

          .team_col
            .card.calendar_card#calendar_card
              #calendar_nav.calendar_nav
                span.dl_icons.icon_calendar_red.icon
                .title
                  a.prev(data-calendar-nav="prev" href="javascript:void(0)") &lt;
                  span.calendar_date.calendar_title#calendar_title
                  a.next(data-calendar-nav="next" href="javascript:void(0)") &gt;
              #calendar.calendar_body(ng-class="{'no_pointer': role==='GUESTHR' || role==='GUESTLEADER' || role==='GUEST'}")
              .calendar_footer
                .instruction
                  .item
                    span.circle.circle_no_campaign
                    span.text 没有活动
                  .item
                    span.circle.circle_few_campaign
                    span.text 2个及以下
                  .item
                    span.circle.circle_many_campaign
                    span.text 2个以上

      .user_timeline.team_timeline(ng-if="role!=='GUESTHR' && role!=='GUESTLEADER' && role!=='GUEST'" when-scrolled="loadMore" select-class="date_separator")
        .dl_timeline(campaign-card-container)
          .spine
          .year(ng-repeat ="years in timelines")
            .month(ng-repeat ="month in years.month")
              .date_separator(id='{{years.year}}_{{month.month}}' data-load="{{month.campaigns.length}}")
                span.span(ng-click="scrollTo(years.year+'_'+month.month)") {{years.year}}-{{month.month}}
              .timeline_loading(ng-if="month.loading")
              .column.column_left
                campaign-card(ng-repeat="campaign in month.campaigns" ng-if="$index%2===0" item="campaign" role="{{role}}" cid="{{team.cid}}" tid="{{team._id}}")
              .column.column_right
                campaign-card(ng-repeat="campaign in month.campaigns" ng-if="$index%2===1" item="campaign" role="{{role}}" cid="{{team.cid}}" tid="{{team._id}}")
          .date_separator(id='timeline1_0' data-load='0')
            span.span 最初
            .full_column
              span {{team.createTime | date:'yyyy-MM-dd'}} 成立


    .side_panel
      .timeline_control(ng-init="nowYear='timeline0'")
        .control_year(ng-if="role!=='GUESTHR' && role!=='GUESTLEADER' && role!=='GUEST'")
          span.year(ng-class="{'active_year':nowYear=='timeline0'}" ng-click="scrollTo('timeline0_0')") 概况
        .control_year(ng-if="role!=='GUESTHR' && role!=='GUESTLEADER' && role!=='GUEST'" ng-repeat ="years in timelines" ng-cloak)
          span.year(ng-click="scrollTo(years.year+'_'+years.month[0].month)" ng-class="{'active_year':nowYear==years.year}") {{years.year}}
          div(ng-if="nowYear==years.year" ng-class="{'active_year_months': nowYear==years.year}")
            a.month(ng-repeat ="month in years.month" ng-class="{'active_month':nowMonth==month.month}" ng-click="scrollTo(years.year+'_'+month.month)") {{month.month | monthPrefixZero}}月
        .control_year(ng-if="role!=='GUESTHR' && role!=='GUESTLEADER' && role!=='GUEST'")
          span.year(ng-class="{'active_year':nowYear=='timeline1'}" ng-click="scrollTo('timeline1_0')") 最初
        .button_group
          .icon_button(ng-click="anchorTo('home_court_card')" title="主场"): i.fa.fa-map-marker.fa-lg.icon
          .icon_button(ng-click="anchorTo('calendar_card')" title="日历"): span.dl_icons.icon_calendar_red.icon
          .icon_button(ng-click="anchorTo('member_card')" title="成员"): span.dl_icons.icon_team.icon
          a.icon_button(ng-if="role!=='GUESTHR' && role!=='GUESTLEADER' && role!=='GUEST'" ng-href="/photoAlbum/team/{{team._id}}/listView" title="相册"): i.fa.fa-image.fa-lg.icon

    .modal.fade#sponsorCampaignModel(ng-controller="SponsorController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../campaign/campaign_modal_base
    .modal.fade#sponsorProvokeModel(ng-controller="ProvokeController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../campaign/provoke_modal_base

    .member_list_modal.modal.fade#memberListModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal_header
            span.dl_icons.icon_team.icon
            h3.title 队员
            span.subtitle ({{teamMembers.length}})
            button.close.dl_close(data-dismiss="modal" aria-hidden="true") &times;
          .modal_body(ng-if="role==='LEADER' || role==='MEMBER' || role==='PARTNER' || role==='HR'" bs-popover ng-class="{'loading': loadingMembers}")
            .member(ng-repeat="member in teamMembers" ng-Mouseenter="showUserCard(member._id, member._id + 'member_modal')" id="pop{{member._id}}member_modal" rel="popover")
              img.photo(ng-src="{{member.photo}}")
              p.nickname(title="{{member.nickname}}") {{member.nickname}}
          .modal_body(ng-if="role==='GUESTHR' || role==='GUESTLEADER' || role==='GUEST'" ng-class="{'loading': loadingMembers}")
            .member(ng-repeat="member in teamMembers")
              img.photo(ng-src="{{member.photo}}")
              p.nickname(title="{{member.nickname}}") {{member.nickname}}

    .home_court_modal.modal.fade#homeCourtModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal_header
            span.dl_icons.icon_homecourt.icon
            h3.title 主场
            button.close.dl_close(data-dismiss="modal" aria-hidden="true") &times;
          .modal_body
            form(name="homeCourtForm")
              .home_court
                .control
                  label.title 主场一：
                  input.address(type="text" name ="home_court_1" ng-change='changeLocation1()' ng-maxlength=40 tooltip="{{homeCourtForm.home_court_1.$invalid? '主场最长字数40字':'请认真填写主场地址，动梨将根此给您推荐可挑战的周边小队。'}}" ng-model="homeCourt[0].name" tooltip-placement="right")
                .map_container(ng-show='showMap1')
                  .map#courtMap1
              .home_court
                .control
                  label.title 主场二：
                  input.address(type="text" name ="home_court_2" ng-change='changeLocation2()' ng-maxlength=40 tooltip="{{homeCourtForm.home_court_2.$invalid? '主场最长字数40字':'请认真填写主场地址，动梨将根此给您推荐可挑战的周边小队。'}}" ng-model="homeCourt[1].name" tooltip-placement="right")
                .map_container(ng-show='showMap2')
                  .map#courtMap2
              button.finish.dl_btn.dl_btn_small(type="button" ng-click="saveHomeCourt()") 完成

    .calendar_modal.modal.fade#events-modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal_header.clearfix
            .tabs.clearfix
              .tab(ng-click="getCalendarCampaigns('playing')" ng-class="{'active': calStatus==='playing'}") 正在进行
                .active_triangle
              .tab(ng-click="getCalendarCampaigns('future')" ng-class="{'active': calStatus==='future'}") 即将开始
                .active_triangle
              .tab(ng-click="getCalendarCampaigns('end')" ng-class="{'active': calStatus==='end'}") 已经结束
                .active_triangle
              .tab(ng-click="getCalendarCampaigns('all')" ng-class="{'active': calStatus==='all'}") 所有
                .active_triangle
            button.close.dl_close(data-dismiss="modal" aria-hidden="true") &times;
          .modal_body.clearfix.schedulebox
            .calendar_box
              .calendar_nav#calendar_nav_modal
                a.clearLinkUnderline.calendar_nav_today(data-calendar-nav="today" href="javascript:void(0)") 今天
                span.dl_icons.icon_calendar
                .calendar_nav_container
                  a.clearLinkUnderline(data-calendar-nav="prev" href="javascript:void(0)") &lt;
                  a.clearLinkUnderline.calendar_title
                    span#calendar_title_modal
                  a.clearLinkUnderline(data-calendar-nav="next" href="javascript:void(0)") &gt;
              #calendar_view_modal.calendar_view_modal
                #modal_calendar
                .calendar_tips
                  .calendar_tip
                    span.join_sign.length_3
                    label.campaign_label 活动
            .calendar_event_box#cal-modal-event-box
    report-modal

append footExt
  script(src="/js/controllers/timeline.js")
  script(src="/js/controllers/team.js")
