@require '../custom-lib/admin-template/main.min.css'
@require '../custom-lib/admin-template/theme.css'
@require '../bower-lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
@require '../bower-lib/pen/src/pen.css'
@require '../custom-lib/font-awesome/font-awesome.css'

// 辅助类
.clearfix
  &:before, &:after
    display table
    content " "
  &:after
    clear both

// 全局样式
body
  margin-bottom 0

#top > .navbar
  padding 0 15px
// 整体布局
.dl_main_container
  display flex
  display -webkit-flex
  #left
    .dl_aside_inner
      .media-body
        width auto
      #menu
        li.nav-header
          padding 8px 15px !important
  #content
    .outer
      padding 5px
      .inner
        border-width 5px
        padding 0
        .dl_panel
          margin 10px 20px
          border 1px solid #99cff3
          border-top-left-radius 3px
          border-top-right-radius 3px
          .dl_block_head
            background-color #99cff3
            padding 5px 15px
            height 30px
            .header_button
              background-color #dfeefc
              color black
              margin-right 10px
              padding 0 10px
              text-decoration none
          .table_block
            margin 10px
            .table_title
              margin-left 15px
            .dl_table
              margin-top 10px
              border 1px solid #ddd
              .center
                text-align center

  .dl_content
    flex 1
    -webkit-flex 1
//- 通用属性
button
  border none
  outline none
input
  outline none
textarea
  outline none
textarea
  resize none
::-webkit-input-placeholder /* WebKit browsers */
  color #ccc
:-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color #ccc
::-moz-placeholder /* Mozilla Firefox 19+ */
  color #ccc
:-ms-input-placeholder /* Internet Explorer 10+ */
  color #ccc

input:focus::-webkit-input-placeholder /* WebKit browsers */
  color transparent !important
input:focus::-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color transparent !important
input:focus::-moz-placeholder /* Mozilla Firefox 19+ */
  color transparent !important
input:focus:-ms-input-placeholder /* Internet Explorer 10+ */
  color transparent !important

// view stylus 应该放在最后
@require 'view_stylus/*'
@require 'campaign/*'