


// 辅助类
.clearfix
  &:before, &:after
    display table
    content " "
  &:after
    clear both


// 整体布局
.dl_main_container
  display flex
  display -webkit-flex
  #left
    .dl_aside_inner
      .media-body
        width auto
      #menu
        li.nav-header
          padding 8px 15px !important
  #content
    .outer
      padding 5px
      .inner
        border-width 5px
        padding 0
        .dl_panel
          margin 10px 20px
          border 1px solid #99cff3
          border-top-left-radius 3px
          border-top-right-radius 3px
          .dl_block_head
            background-color #99cff3
            padding 5px 15px
            height 30px
            .header_button
              background-color #dfeefc
              color black
              margin-right 10px
              padding 0 10px
          .table_block
            margin 10px
            .table_title
              margin-left 15px
            .dl_table
              margin-top 10px
              border 1px solid #ddd
              .center
                text-align center

  .dl_content
    flex 1
    -webkit-flex 1


// view stylus 应该放在最后
@require 'view_stylus/*'