doctype html
html
  head
    title donler company manager
    link(rel="stylesheet" href="/company_client/css/donler.min.css")
  body
    div#wrap(ng-if="company" ng-cloak)
      nav.dl_nav#top(ng-include="'/company/manager/templates/views/nav.html'")
      .dl_main_container
        aside.dl_aside#left(ng-include="'/company/manager/templates/views/aside.html'")
        .dl_content#content
          .outer(ui-view="content")
    .dl_wrap(ui-view="" ng-if="!company" ng-cloak)

    script(data-main="/company_client/js/donler" src="/company_client/js/require.js")