doctype html
html
  head
    title donler company manager
    link(rel="stylesheet" href="/company_client/css/donler.min.css")
  body.skin-blue
    .wrapper(ng-if="company" ng-cloak)
      header.main-header
        a.logo(ui-sref="home")
          b Donler企业管理面板
        nav.navbar.navbar-static-top(role="navigation")
          a.sidebar-toggle(data-toggle='offcanvas' role='button')
            span.sr-only 切换导航
      aside.main-sidebar
        section.sidebar
          .user-panel
            .pull-left.image
              img.img-circle(ng-src="{{company.logo}}/50/50")
            .pull-left.info
              p(ng-bind="company.shortName")
          form.sidebar-form
            .input-group
              input.form-control(type='text' name='q' placeholder='搜索')
              span.input-group-btn
                button#search-btn.btn.btn-flat(type='submit' name='search')
                  i.fa.fa-search
          ul.sidebar-menu
            li.header 活动体系
            li(ui-sref-active="active")
              a(ui-sref="statistics")
                span 统计报告
            li(ui-sref-active="active")
              a(ui-sref="teamList")
                span 小队管理
            li(ui-sref-active="active")
              a(ui-sref="campaigns")
                span 活动管理
            li.header 成员管理
            li(ui-sref-active="active")
              a(ui-sref="inviteMembers")
                span 邀请
            li(ui-sref-active="active")
              a(ui-sref="activeMembers")
                span 激活
            li(ui-sref-active="active")
              a(ui-sref="inactiveMembers")
                span 屏蔽
            li(ui-sref-active="active")
              a(ui-sref="allMembers")
                span 所有成员
            li.header 公司管理
            li(ui-sref-active="active")
              a(ui-sref="companyInfo")
                span 公司资料
            li(ui-sref-active="active")
              a(ui-sref="departments")
                span 部门
            li(ui-sref-active="active")
              a(ui-sref="accountSetting")
                span 账号设置

      .content-wrapper
        // TODO 这个也许用得着，先注释
        //- section.content-header
        //-   h1
        //-     | Page Header
        //-     small Optional description
        //-   ol.breadcrumb
        //-     li
        //-       a(href='#')
        //-         i.fa.fa-dashboard
        //-         |  Level
        //-     li.active Here

        section.content
          div(ui-view="content")
      footer.main-footer
        .pull-right.hidden-xs
          a.footer_link(href="/about#about") 关于我们
          a.footer_link(href="/about#law") 法律声明
          a.footer_link(href="/about#privacy") 隐私政策
          a.footer_link(href="/about#question") 问题反馈
          a.footer_link(href="/about#contact") 联系我们
        strong
          a(href="http://www.miitbeian.gov.cn/" title="沪ICP备14016548号" target="_blank") 沪ICP备14016548号
          | &nbsp;Copyright&nbsp;&copy;&nbsp;2014&nbsp;&nbsp;
          a(href='/') Donler
          | .
        |  All rights reserved.

    .wrapper(ui-view="" ng-if="!company" ng-cloak)

    script(data-main="/company_client/js/donler" src="/company_client/js/require.js")