doctype html
html
  head
    title donler company manager
  body
    nav(ui-view="nav")
    aside(ui-view="aside")
    .content(ui-view="content")
    div(ui-view="")

    script(data-main="/company/manager/dist/donler" src="/company/manager/custom-lib/require.js")