html
  font-family STHeiti,"Microsoft YaHei",MingLiu,"Helvetica Neue",Helvetica,Arial,sans-serif
html, body
  height 100%

.layout-boxed
  background-image none
  background-color #d2d6de

.dl_wrapper
  height 100%

.login_page
  height 100%
  .wrap
    height 100%
    position relative
    background-color #f4f4f4
    padding-bottom 60px
  .logo
    background-color #3c8dbc !important
  // content 样式
  .login_row
    margin-top 123px
    .dl-form-control
      display block
      width 100%
      min-height 34px
      height auto
      padding 6px 5px
      font-size 12px
      line-height 1.42857143
      background-color #fff
      background-image none
      border 1px solid #ccc
      border-radius 5px
      color #999
      float left
    .show_signup, .reset_pwd
      margin-left 10px
  .text-right
    text-align right
  // footer 样式
  .dl_container
    margin 0 auto
    padding-top 15px
  .dl_footer
    position absolute
    bottom 0
    width 100%
    background-color #f0f0f0
    height 60px
    color #999
    .text_icp
      a
        color #999
        margin-left 25px
        font-size 12px
        &:first-child
          margin-left 0
    .dl_container
      padding-top 0
    .dl_row
      min-height 34px
      padding 0
    .text_icp
      line-height 60px
      height 60px
      text-align center
      overflow hidden