extends ../layouts/register

append headExt
  link(rel="stylesheet" href="/css/company_signup.css")

block contentExt
  .dl_container.clearfix
    .signup_row
      .block.activation
        .signup_title.company_title
          span 企业已注册成功
        .signup_tips
          p 感谢您申请加入动梨，我们将在2个工作日内与您联系，谢谢配合。
          a(href="/") 返回首页
