extends ../layouts/register

append headExt
  link(rel="stylesheet" href="/css/company_signup.css")

block contentExt
  .dl_container.clearfix
    .signup_row
      .block
        .signup_title.company_title
          span 企业注册
        .signup_tips
          p 验证错误
        if (message && message.length)
          .signup_tips= message