div
  form.form-horizontal(name="accountForm")
    .dl_row
      h5.pull-left {{"ACCOUNT"|translate}}
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label {{"LOGIN_EMAIL"|translate}}
      .info_side
        span.info_label(ng-bind="company.login_email")
      if(role ==='HR')
        .info_side
          a(href="#/changePassword") {{"CHANGE_PASS"|translate}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"REGISTER_DATE"|translate}}
      .info_side
        span.info_label {{company.register_date | date:'yyyy-MM-dd HH:mm:ss'}}
    if(role==='HR')
      .dl_row.clearfix
        .info_side
          span.info_label {{"INVATE_LINK"|translate}}
        .info_side
          button.dl_btn.dl_btn_small(ng-click="inviteUrlToggle()" ng-bind="inviteUrlStatus ? '隐藏':'显示'")
        .info_side
          span.info_label.dl_word_break(ng-if="inviteUrlStatus") {{company.inviteUrl}}
  form.form-horizontal(name="infoForm")
    .dl_row.clearfix
      h5.pull-left {{"ENTERPRISE_INFO"|translate}}
      if(role==='HR')
        button.dl_btn.dl_btn_small.pull-right(ng-click="infoEditToggle()" ng-bind="infoButtonStatus")
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label {{"OFFICIAL_NAME"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="username" ng-model="info.official_name" ng-disabled="infoUnEdit")
      if(role ==='HR')
        .info_side
          a.clearLinkUnderline.dl_btn.dl_btn_small.pull-right(href="/company/editLogo") {{"CHANGE_LOGO"|translate}}
    .dl_row.clearfix
      .info_side
        span.info_label {{"ENTERPRISE_FULL_NAME"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="infoname" ng-model="info.name" ng-disabled="infoUnEdit")
    .dl_row.clearfix#location(data-src="/region" data-select="province city district" data-init="{{linkage_init_location.province}} {{linkage_init_location.city}} {{linkage_init_location.district}}")
      .info_side
        span.info_label {{"LOCATION"|translate}}
      .info_detail
        select.dl_input.editToggle.dl_form-Control.no_radius(type="text" name ="province" ng-model="info.city.province" ng-disabled="infoUnEdit" style="height:34px")
      .info_detail
        select.dl_input.editToggle.dl_form-Control.no_radius(type="text" name ="city" ng-model="info.city.city" ng-disabled="infoUnEdit" style="height:34px")
      .info_detail
        select.dl_input.editToggle.dl_form-Control.no_radius(type="text" name ="district" ng-model="info.city.district" ng-disabled="infoUnEdit" style="height:34px")
    .dl_row.clearfix
      .info_side
        span.info_label {{"ADDRESS"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="address" ng-model="info.address" ng-disabled="infoUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"LINK_MAN"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="linkman" ng-model="info.linkman" ng-disabled="infoUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"ENTERPRISE_PHONE"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="number" name ="areacode" ng-model="info.lindline.areacode" ng-disabled="infoUnEdit")
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="number" name ="number" ng-model="info.lindline.number" ng-disabled="infoUnEdit")
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="number" name ="extension" ng-model="info.lindline.extension" ng-disabled="infoUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"PHONE"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="number" name ="phone" ng-model="info.phone" ng-disabled="infoUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"EMAIL"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="email" name ="email" ng-model="info.email" ng-disabled="infoUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label {{"BRIEF"|translate}}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="textarea" name ="brief" ng-model="info.brief" ng-disabled="infoUnEdit")
  //-小组信息
  form.form-horizontal(name="companyGroup")
    .dl_row.clearfix
      h5.pull-left {{"TEAM_INFO"|translate}}
      if(role ==='HR')
        a.dl_btn.dl_btn_small.pull-right(href="#/addGroup") {{"ADD_TEAM"|translate}}
    hr.margin_top_6
    .dl_row(ng-repeat="team in team_lists")
      .dl_row.clearfix(ng-if="team.active")
        //所有人可见active的team
        .aside
          a(href="/group/home/{{team._id}}")
            img.img-responsive.img-thumbnail.img_contain(ng-src="{{team.logo}}" width="128px")
        .dl_row
          span.info_label {{"TEAM_NAME"|translate}}
          span.info_label {{team.name}}
          if(role ==='HR')
            button.dl_btn.dl_btn_small.pull-right(ng-click="setGroupId(team._id,team.gid,$index)" data-toggle="modal" data-target="#appointLeaderModel") {{"EDIT"|translate}}{{"TEAM"|translate}}
        .dl_row
          span.info_label {{"TYPE"|translate}}
          span.info_label {{team.group_type}}
        .dl_row
          span.info_label {{"TEAM_LEADER"|translate}}
          span(ng-repeat="l in team.leader")
            span.info_label {{l.nickname}}
        .dl_row
          span.info_label {{"SUM"|translate}}
          span.info_label {{team.member.length}}
          if(role === 'HR')
              button.dl_btn.dl_btn_small.pull-right(ng-click="activateGroup(false,team._id)") {{"CLOSE"|translate}}
          if(role === 'EMPLOYEE')
              //不属于显示加组按钮
              button.dl_btn.dl_btn_small.pull-right(ng-if='!team.belong' ng-click="joinGroup(team._id)") {{"JOIN_GROUP"|translate}}
              //属于则显示退组按钮
              button.dl_btn.dl_btn_small.pull-right(ng-if='team.belong' ng-click="quitGroup(team._id)") {{"QUIT_GROUP"|translate}}
        hr
      //只有HR可见inactive的team 并可打开
      .dl_row.clearfix(ng-if="!team.active")
        if(role ==='HR')
          .aside
            a(href="/group/home/{{team._id}}")
              img.size_128.img-thumbnail.img_contain(ng-src="{{team.logo}}")
          .dl_row
            span.info_label {{"TEAM_NAME"|translate}}
            span.info_label {{team.name}}
            if(role ==='HR')
              button.dl_btn.dl_btn_small.pull-right(ng-click="setGroupId(team._id,team.gid,$index)" data-toggle="modal" data-target="#appointLeaderModel") {{"EDIT"|translate}}{{"TEAM"|translate}}
          .dl_row
            span.info_label {{"TYPE"|translate}}
            span.info_label {{team.group_type}}
          .dl_row
            span.info_label {{"TEAM_LEADER"|translate}}
            .info_side(ng-repeat="l in team.leader")
              span.info_label {{l.nickname}}
          .dl_row
            span.info_label {{"SUM"|translate}}
            span.info_label {{team.member.length}}
            button.dl_btn.dl_btn_small.pull-right(ng-click="activateGroup(true,team._id)") {{"OPEN"|translate}}
          hr
  if(role ==='HR' || role ==='LEADER')
    div(class="modal fade" id="appointLeaderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/pointleader_modal.jade
