div
  form.form-horizontal(name="accountForm")
    .infoHead.row
      h5.pull-left 账户信息
    hr
    .form-group
      label.info_label.col-md-2.control-label 登录邮箱
      .col-md-4
        label.info_label(ng-bind="company.login_email")
      if(role ==='HR')
        a.col-md-2(href="#/changePassword") 修改密码
    .form-group
      label.info_label.col-md-2.control-label 注册时间
      .col-md-8
        label.info_label {{company.register_date | date:'yyyy-MM-dd HH:mm:ss'}}
  form.form-horizontal(name="infoForm")
    .infoHead.row
      h5.pull-left 企业信息
      if(role==='HR')
        button.dl_btn.pull-right(ng-click="infoEditToggle()" ng-bind="infoButtonStatus")
    hr
    .form-group
      label.info_label.col-md-2.control-label 官方用户名
      .col-md-5
        input.dl_input.form-control.editToggle(type="text" name ="username" ng-model="info.official_name" ng-disabled="infoUnEdit")
      if(role ==='HR')
        a.btn.dl_btn.pull-right(href="/company/editLogo") 修改图标
    .form-group
      label.info_label.col-md-2.control-label 企业全称
      .col-md-5
        input.dl_input.form-control.editToggle(type="text" name ="infoname" ng-model="info.name" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 所在地
      .col-md-5
        input.dl_input.form-control.editToggle(type="text" name ="province" ng-model="info.city.province" ng-disabled="infoUnEdit")
      .col-md-5
        input.dl_input.form-control.editToggle(type="text" name ="city" ng-model="info.city.city" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 地址
      .col-md-5
        input.dl_input.form-control.editToggle(type="text" name ="address" ng-model="info.address" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 联系人
      .col-md-5
        input.dl_input.form-control.editToggle(type="text" name ="linkman" ng-model="info.linkman" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 公司电话
      .col-md-2
        input.dl_input.form-control.editToggle(type="number" name ="areacode" ng-model="info.lindline.areacode" ng-disabled="infoUnEdit")
      .col-md-6
        input.dl_input.form-control.editToggle(type="number" name ="number" ng-model="info.lindline.number" ng-disabled="infoUnEdit")
      .col-md-2
        input.dl_input.form-control.editToggle(type="number" name ="extension" ng-model="info.lindline.extension" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 手机号码
      .col-md-5
        input.dl_input.form-control.editToggle(type="number" name ="phone" ng-model="info.phone" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 电子邮箱
      .col-md-5
        input.dl_input.form-control.editToggle(type="email" name ="email" ng-model="info.email" ng-disabled="infoUnEdit")
    .form-group
      label.info_label.col-md-2.control-label 简介
      .col-md-5
        input.dl_input.form-control.editToggle(type="textarea" name ="brief" ng-model="info.brief" ng-disabled="infoUnEdit")
  form.form-horizontal(name="companyGroup")
    .infoHead.row
      h5.pull-left 小组信息
      if(role ==='HR')
        a.btn.dl_btn.pull-right(href="#/addGroup") 增加小组
    hr
    .row(ng-repeat="team in team_lists")
      .col-md-2
        a(href="/group/home/{{team._id}}")
          img.img-responsive.img-thumbnail.img_contain(src="#{logo ? logo :'/img/icons/default_group_logo.png'}" width="128px")
      .col-md-10
        .row
          .col-md-2
            label.info_label.control-label 队名
          .col-md-8
            input.dl_input.form-control.editToggle(type="text" name ="name" ng-model="team.name" ng-disabled="groupInfoUnEdit")
          if(role ==='HR')
            button.btn.dl_btn.pull-right(ng-click="groupEditToggle()" ng-bind="groupInfoButtonStatus")
        .row
          .col-md-2
            label.info_label.control-label 类型
          .col-md-4
            label.info_label.control-label {{team.group_type}}
        .row
          .col-md-2
            label.info_label.control-label 队长
          .col-md-2(ng-repeat="l in team.leader")
            label.info_label {{l.nickname}}
          if(role ==='HR')
            a.btn.button.dl_btn.pull-right(ng-click="setGroupId(team._id,team.gid)" data-toggle="modal" data-target="#appointLeaderModel") 任命组长
        .row
          .col-md-2
            label.info_label.control-label 人数
          .col-md-10
            label.info_label {{team.member.length}}
        hr
  if(role ==='HR' || role ==='LEADER')
    div(ng-controller="AccountFormController" class="modal fade" id="appointLeaderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/pointleader_modal.jade
