extends ../layouts/register

block contentExt
  .dl_container.clearfix
    .signup_row.center
      .block.activation
        .signup_title.company_title
          span 您的注册申请已经成功提交。
        .signup_tips
          p 感谢您的信任，为了确保动梨上每个用户的真实可信，我们将认真核实您的资料，审核会在2个工作日内完成，请注意查收邮件。
          a(href="/") 返回首页
