extends ../layouts/default
append headExt
  link(rel="stylesheet" href="/css/reset_pwd.css")
block contentExt
  if(success === '1')
    h4.head.resetPassword.text-center 链接已发送,请登陆您的邮箱进行验证
    p.text-center 若是没有收到邮件,请点击
      //- todo M
      a 重新发送邮件
  else
    form.resetPassword.form-horizontal(action="/company/forgetPassword" method="post")
        h4.head.text-center 找回密码
        p.text-center 请输入您注册时填写的电子邮箱,我们会将密码重置邮件发送给您。
        .form-group
          .col-md-4.col-md-offset-4
            input.dl-form-control.dl_reset(type="email" name="email" placeholder="请输入邮箱地址" required)
        if err
          .form-group
            .col-md-4.col-md-offset-4
              label.dl_err.dl_reset= err
        .form-group
          .col-md-offset-5.col-md-2
            //-to to
            button.dl_reset.btn-block.btn.btn-primary(type="submit") 下一步