extends ../layouts/manager

block baseInfo
  if(role === 'HR')
    button.btn.dl_btn(data-toggle="modal" data-target="#sponsorCampaignModel") 活动

block panel

  div(ng-app="tabViewCompany")
    ul.nav.nav-tabs
      li(ng-class="{'active':nowTab=='company_message'}")
        a(href="#/company_message"  ng-click="addactive('company_message')") 公司动态
      li(ng-class="{'active':nowTab=='company_group'}")
        a(href="#/company_group"  ng-click="addactive('company_group')") 公司组件
      li(ng-class="{'active':nowTab=='company_campaign'}")
        a(href="#/company_campaign"  ng-click="addactive('company_campaign')") 公司活动
      li(ng-class="{'active':nowTab=='company_info'}")
        a(href="#/company_info"  ng-click="addactive('company_info')") 公司资料
    .tab-content
      .tab-pane.active
        div(ng-view)
    div(ng-controller="CampaignListController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/campaign_modal
block aside
  待定区域
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/js/controllers/tabviewCompany.js")