.loading_div(ng-show = 'loading')
div(ng-show = '!loading')
  .memberlist
    span.subtitle #{__("MEMBER")}
    hr
    .row.margin_left_10(ng-repeat="department in members_by_department track by $index")
      span {{department.name}}
      .groups
        .member(ng-repeat="member in department.member track by $index")
          div.member_group(ng-if='member.active')
            if role != 'GUESTHR' && role !='GUEST'
              .dl_row.img(bs-popover)
                a(ng-click="userDetail($index)" data-toggle="modal" data-target="#sponsorUserDetailModal")
                  img.size_48.img_user(ng-src="{{member.photo}}" ng-Mouseenter="showUserCard(member._id,member._id)" id='pop{{member._id}}')
              .dl_row.text.member_row
                a.user_name(href="/users/home/{{member._id}}") {{member.nickname}}
            else
              .dl_row.img
                img.size_48.img_user(ng-src="{{member.photo}}")
              //- .dl_row.member_row
                label.user_name {{member.nickname}}
    if role ==='HR'
      span.subtitle 未激活成员
      hr
      .row.margin_left_10
        .groups
          .member(ng-repeat="member in members track by $index")
            div.member_group(ng-if='!member.active')
              .dl_row.img
                a(ng-click="userDetail($index)" data-toggle="modal" data-target="#UnregUserModal")
                  img.size_48.img_user(ng-src="{{member.photo}}")
              .dl_row.text.member_row
                span.user_name {{member.email}}

  if role === 'HR'
    .modal.fade(id="sponsorUserDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include user_detail_modal
    .modal.fade#UnregUserModal(tabindex='-1' role='dialog' aria-labelledby="myModalLabel" aria-hidden='true')
      .modal-dialog
        .dl-modal(style="width:370px")
          .dl-modal-header
            button.head.close.dl_close(type="button" data-dismiss="modal" aria-hidden="true")
              img(ng-src='/img/icons/icon_close.png')
            h4.modal-title#myModalLabel 未激活
          .dl-modal-body
            .dl_row.clearfix
              .info_side
                span.info_label Email:
              .info_detail_2
                span.info_label {{members[num].email}}
          .dl-modal-footer
            //button.dl_btn_red.dl_btn_large 删除
            button.cancel_btn.dl_btn_large(data-dismiss="modal" aria-hidden="true") 返回
