.edit_container
  background-color white
  .edit_form
    margin-top 20px
    margin-bottom 20px
    .form-control
      background-color #F7F8FA
    hr
      margin 5px 0
.company_info_page
  .edit_logo_container
    background-color #f7f8fa
  .dl_panel
    height 500px

  .company_info_form, .edit_logo_container
    padding 15px

  .cropper
    margin-left auto
    margin-right auto
    width 100%
    height 240px
    padding 20px 40px
    padding-bottom 120px
    overflow hidden
  .cropit-image-preview-container
    width 128px
    height 128px
    margin 0 auto
    background-size contain
  .cropit-image-preview
    width 128px
    height 128px
  .cropit-image-background
    opacity 0.2
  .cropit-image-input
    visibility hidden
  .operator_slider
    position relative
    margin-top 10px
    text-align center
    .cropit-image-zoom-input
      display inline-block
      margin 0 10px
      width 120px
      line-height 26px
      vertical-align middle
      -webkit-appearance none
      -moz-appearance none
      appearance none
      height 5px
      -webkit-border-radius 5px
      border-radius 5px
      outline none
    .icon_small, .icon_large
      vertical-align middle
    .icon_large
      font-size 17px
  .operator_button
    position relative
    margin-top 20px