.dl_company_info
  .cropper
    margin-left auto
    margin-right auto
    width 336px
    height 336px
    padding 40px
    overflow hidden
  .cropit-image-preview-container
    width 256px
    height 256px
  .cropit-image-preview
    width 256px
    height 256px
  .cropit-image-background
    opacity 0.2
  .cropit-image-input
    visibility hidden
  .operator
    position relative
    margin-top 10px
    text-align center
    .cropit-image-zoom-input
      display inline-block
      margin 0 10px
      width 100px
      line-height 26px
      vertical-align middle
      -webkit-appearance none
      -moz-appearance none
      appearance none
      height 5px
      -webkit-border-radius 5px
      border-radius 5px
      outline none
    .button_sure
      margin-left 10px
    .icon_small, .icon_large
      vertical-align middle
    .icon_large
      font-size 17px