@require tools

col_createCpPage_donlerBlue = #3498db
col_createCpPage_formBackground = #f7f8fa
col_createCpPage_formBorder = #dcdcdc

.create_campaign_page
  .create_cp_form
    margin-top 30px
    @media (min-width 768px)
      margin-left auto
      margin-right auto
      max-width 320px
  .form-control
    //-改为全局了 -M
    //- border-radius 4px !important
    background-color col_createCpPage_formBackground
    border-color col_createCpPage_formBorder !important
    &:focus
      border-color col_createCpPage_formBorder !important
  .input-group
    //- .form-control
    //-   border-top-right-radius 0 !important
    //-   border-bottom-right-radius 0 !important
    .input-group-addon
      background-color col_createCpPage_formBackground
      border-radius 4px !important
      border-top-left-radius 0 !important
      border-bottom-left-radius 0 !important
      cursor pointer
  .cp_tabs
    displayFlex()
    margin-bottom 10px
    border-radius 4px
    border 1px solid col_createCpPage_formBorder
    background-color col_createCpPage_formBackground
  .cp_tab
    flexValue(1)
    padding 5px
    text-align center
    cursor pointer
    &.active
      border-bottom 2px solid #f39c12
  .cp_tab_divider
    border-left 1px solid col_createCpPage_formBorder

  // special form item

  // team list
  .cp_team_list
    position relative
    height auto
  .cp_team
    font-size 14px
    line-height 18px
    cursor pointer
    transition(color 0.1s)
    &.selected
      color col_createCpPage_donlerBlue
      .cp_team_name
        font-weight bold
    &:hover
      .cp_team_name
        color col_createCpPage_donlerBlue
    .fa
      margin-right 5px
    @media (min-width 768px)
      float left
      width 50%
  .cp_team_name
    transition(font-weight 0.2s)

  // date picker
  .time_group
    .form-control
      cursor pointer

  // map
  .dl_map
    width 100%
    height 200px

  // pen editor
  .pen_editor
    .form-control
      height auto
      border-top-left-radius 0 !important
      border-top-right-radius 0 !important
    .pen-menu
      clearfix()
      height auto
      border 1px solid col_createCpPage_formBorder
      border-bottom 0
      border-top-left-radius 4px
      border-top-right-radius 4px
      box-shadow none
    .pen-icon
      display block
      float left
      padding 0
      width 30px
      height 30px
      line-height 30px
      &:first-child
        margin-left 5px
    .pen-icon.active
      color white
      background-color col_createCpPage_donlerBlue
      box-shadow none

