@require tools

col_donlerBlue = #3498db;

.create_campaign_page
  .cp_tabs
    displayFlex()
    border-bottom 1px solid #f4f4f4
  .cp_tab
    flexValue(1)
    padding 5px
    text-align center
    cursor pointer
    border-bottom 2px solid white
    &.active
      border-bottom 2px solid #f39c12
  .cp_tab_divider
    margin 5px 0
    border-left 1px solid #f4f4f4
  .cp_form_group, .cp_form_group_no_flex
    padding 10px
    border-bottom 1px solid #f4f4f4
  .cp_form_group
    displayFlex()
  .cp_form_label
    margin 0
    width 120px
    font-size 14px
    line-height 18px
  .cp_form_control
    flexValue(1)
    border none
    font-size 14px
    line-height 14px

  // special form item
  .cp_team_list
    position relative
  .cp_team
    float left
    width 50%
    font-size 14px
    line-height 18px
    cursor pointer
    transition(color 0.1s)
    &.selected
      color col_donlerBlue
      .cp_team_name
        font-weight bold
    &:hover
      .cp_team_name
        color col_donlerBlue
    .fa
      margin-right 5px
  .cp_team_name
    transition(font-weight 0.2s)
