.wrap
  height 100%
  min-width 960px
  position relative
  background-color #f4f4f4
  padding-bottom 60px
// navbar 样式
.navbar
  border none
.header_container
  width 960px
  margin auto
.navbar-brand
  float left
  padding 15px 15px
  font-size 18px
  line-height 20px
.logo
  margin-top 4px
.dl_nav
  height 50px
  background-color #3498db
  border-color #fff
  color #fff
  border-radius 0
  margin-bottom 0
  min-width 960px
  .header_container
    max-width 1280px
    width: auto
    min-width 960px
    padding 0 50px
.navbar-inverse 
  .navbar-brand
    padding 6px 0

// content 样式
.login_row
  margin-top 123px
.dl-form-control
  display block
  width 100%
  min-height 34px
  height auto
  padding 6px 5px
  font-size 12px
  line-height 1.42857143
  background-color #fff
  background-image none
  border 1px solid #ccc
  border-radius 0
  color #999
  float left

// footer 样式
.dl_container
  width 960px
  min-width 960px
  margin 0 auto
  padding-top 15px
.dl_row 
  min-height 34px
  padding 2px 0
  margin-left 0
  margin-right 0
.dl_footer
  position absolute
  bottom 0
  width 100%
  background-color #f0f0f0
  height 60px
  color #999
  a
    color #999
    margin-left 50px
    font-size 12px
  .dl_container
    padding-top 0
  .dl_row
    padding 0
  .text_icp
    line-height 60px
    