.members
  .memer_logo
    width 40px
    height 40px
  .pages
    text-align center
    .pagination
      margin 0 0 10px
  .table
    tr
      td
        .btn-primary
          margin-right 5px
        .fa.fa-edit
          font-size 16px
          color #3c8dbc
          cursor pointer
.member_invite_page
  form#importForm
    margin-bottom 20px
  .table_container
    max-height 200px
    overflow-y scroll
  .operator
    padding 10px