.members
  .memer_logo
    width 40px
    height 40px
  .pages
    text-align center
    .pagination
      margin 0 0 10px
  .table
    tr
      td
        .btn-primary
          margin-right 5px
        .fa.fa-edit
          font-size 16px
          color #3c8dbc
          cursor pointer
.member_invite_page
  .content
    padding-top 50px
  .qrCodeContainer
    background-color #f7f8fa
    text-align center
    padding 60px 0 30px
    #inviteKeyQrCode
      img
        margin auto
    a
      margin-top 5px
      font-size 12px
  .inviteContainer
    background-color #fff
    padding 20px
    min-height 400px
    hr
      margin 5px 0 10px
    .invite_method
      font-size 14px
    #email
      background-color #fbfbfb
    .btn
      margin-left 20px
    .btn_invite
      background-color #94cd3e
      color #fff
      &:active
        background-color #7EAE34
    .invite_link
      margin-top 20px
  a
    color #3c8dbc