.members
  .memer_logo
    width 40px
    height 40px
  .pages
    text-align center
    .pagination
      margin 0 0 10px
  .table
    tr
      td
        .btn-primary
          margin-right 5px
        .fa.fa-edit
          font-size 16px
          color #3c8dbc
          cursor pointer
.member_import_page
  form#importForm
    margin-bottom 20px
    .form-group
      input[type=file]
        position relative
        width 80%
        &::-webkit-file-upload-button
          visibility hidden
        &:before
          content '选择文件'
          position absolute
          height 33px
          width 70px
          left 0
          top 0
          line-height 33px
          padding 0 5px
          border-right 1px solid #CCC
          color black
      .btn
        margin-left 10px
  .member_list
    clear both
    padding 0 15px
    border-top 1px solid #ccc
  .show_img
    max-width 100%
  .table_container
    max-height 200px
    overflow-y scroll
  .operator
    padding 10px
.member_invite_page

  .content
    padding-top 50px
  .qrCodeContainer
    background-color #f7f8fa
    text-align center
    padding 60px 0 30px
    width 510px
    margin 0px auto
    #inviteKeyQrCode
      img
        margin auto
    a
      margin-top 5px
      font-size 12px
  .inviteContainer
    background-color #fff
    padding 20px
    min-height 400px
    width 510px
    margin 0px auto
    .row
      width 300px
      margin 0px auto
    hr
      margin 5px 0 10px
    .invite_method
      font-size 14px
    #email
      background-color #fbfbfb
    .btn
      margin-left 20px
    .btn_invite
      background-color #94cd3e
      color #fff
      &:active
        background-color #7EAE34
    .invite_link
      margin-top 20px
  a
    color #3c8dbc
.modal-dialog
  .box-header
    height 200px
    background-color #F7F8FA
    background-size cover
    .box-title
      color white
    .info_user
      margin 10px auto
      width 83px
      .user_logo
        border 3px solid white
        width 83px
        height 83px
    .user_name
      color white
      font-size 20px
      text-align center
      margin 3px auto
  .info
    width 450px
    margin 0 auto
    .info_header
      font-size 16px
      height 20px
      margin-top 10px
      text-align center
    .info-border
      height 5px
      border-bottom 1px solid #f4f4f4
    .info_container
      width 100%
      float left
      clear left
      min-height 30px
      padding 10px 0
      .info_label
        float left
        width 100px
      .info_content
        float left
        color #B2B2B2
      .team
        margin-left 20px
        margin-left 10px
        margin-top 5px
        float left
        .team_logo
          height 60px
          width 60px
          border-radius 5px
        .team_name
          width 60px
          color #B2B2B2
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
      .team_more
        text-align center
        clear both
        cursor pointer
        color #00a65a
      .no_team
        height 20px
        text-align center
        color #00a65a
      .non_float
        float none

    .info_inroduce
      min-height 100px
      height auto
      .info_intro_content
        position relative
        margin-left 100px
        width 300px
        color #ccc
        word-wrap break-word

  .info_detail 
    .row
      margin-left 0
      margin-right 0
    .team
      float left
      width 70px
      text-align center
      margin-right 10px
      margin-bottom 10px
      .team_logo
        width 40px
        height 40px
      .team_name
        max-width 100%
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
    .user_logo
      width 40px
      height 54px
    .edit_logo_container
      background-color #F7F8FA
    .cropper
      margin-left auto
      margin-right auto
      width 100%
      height 240px
      padding 20px 40px
      overflow hidden
      .cropit-image-preview-container
        width 128px
        height 128px
        margin 0 auto
        background-size contain
      .cropit-image-preview
        width 128px
        height 128px
      .cropit-image-background
        opacity 0.2
      .cropit-image-input
        visibility hidden
      .operator_slider
        position relative
        margin-top 10px
        text-align center
        .cropit-image-zoom-input
          display inline-block
          margin 0 10px
          width 120px
          line-height 26px
          vertical-align middle
          -webkit-appearance none
          -moz-appearance none
          appearance none
          height 5px
          -webkit-border-radius 5px
          border-radius 5px
          outline none
        .icon_small, .icon_large
          vertical-align middle
        .icon_large
          font-size 17px
      .operator_button
        position relative
        margin-top 20px
