.statistics_page
  &.inner
    overflow-x auto
  .home_table
    margin 2%
    width 96%
    text-align center
    display flex
    display -webkit-flex
    .home_box
      flex 1
      border 1px solid #99cff3
      padding 10px 0
      .row
        min-height 34px
    .home_box_1, .home_box_2
      border-right 0
    .home_box_1>.row>a, .home_box_3>.row>a
      &:first-child
        margin-right 10px

