.point_leader_page
  .user_item
    height 120px
  .selected_user
    border 3px solid #3c8dbc
  .operator
    padding 10px 0

.team_create_page
  .groups
    margin-left auto
    margin-right auto
    position relative
    max-width (70 * 17)px
    .group
      float left
      width 70px
      text-align center
      padding 10px
      .img_contain
        width 50px
        height 50px
        background-image url('/img/icons/groups_new.png')
        background-repeat no-repeat
        background-size 600px 1500px
      for i in 0..16
        .group_{i+1}
          background-position i%6 * -100px floor(i/6) * -100px
      &.active
        color #3ca2e0
  .team_name_group
    width 320px
    margin-left auto
    margin-right auto
.team_list_page
  .content
    .small-box
      p
        min-height 45px
.team_edit

  .cropper
    margin-left auto
    margin-right auto
    width 336px
    height 416px
    padding 40px
    padding-bottom 120px
    overflow hidden
  .cropit-image-preview-container
    width 256px
    height 256px
  .cropit-image-preview
    width 256px
    height 256px
  .cropit-image-background
    opacity 0.2
  .cropit-image-input
    visibility hidden
  .operator_slider
    position relative
    margin-top 10px
    text-align center
    .cropit-image-zoom-input
      display inline-block
      margin 0 10px
      width 120px
      line-height 26px
      vertical-align middle
      -webkit-appearance none
      -moz-appearance none
      appearance none
      height 5px
      -webkit-border-radius 5px
      border-radius 5px
      outline none
    .icon_small, .icon_large
      vertical-align middle
    .icon_large
      font-size 17px
  .operator_button
    position relative
    margin-top 20px
.home_court
  .map_container
    height 250px
    .map
      height 250px
.team_detail_modal
  .row
    padding 5px 0
  .user
    .user_logo
      width 40px
      height 40px
    .user_name
      max-width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap