.point_leader_page
  .user_item
    height 120px
  .selected_user
    border 3px solid #3c8dbc
  .operator
    padding 10px 0

.team_create_page
  .create_team_label
    width 650px
    margin 0 auto
    font-size 20px
  .team_page
    width 650px
    margin 0 auto
    .team_header
      width 400px
      font-size 16px
      margin 20px auto
  .box
    padding-bottom 10px
  .groups
    margin 0px auto
    width 400px
    position relative
    // max-width (70 * 17)px
    border-bottom 1px solid #f4f4f4
    .group
      float left
      width 80px
      text-align center
      padding 10px
      .img_contain
        width 51px
        height 51px
        margin-left 5px
        background-image url('/img/icons/groups_new.png')
        background-repeat no-repeat
        background-size 480px 1200px
        border-radius 50%
        border 1px solid #ccc
      for i in 0..16
        .group_{i+1}
          background-position i%6 * -80px +4px floor(i/6) * -80px  + 4px
        .group_17
          background-position -312px -158px
      &.active
        color #94cd3e
        .img_contain
          border-color #94cd3e
          box-shadow 0 1px 1px rgba(0,0,0,0.1)
  .team_name_group
    margin 10px auto
    width 400px
    height 300px
    .team_name
      font-size 14px
    .team_input
      border-color #ccc
    .team_button
      margin-top 5px
      padding 2px 16px
      background-color #94cd3e
      color white
.team_list_page
  .content
    .team
      min-height 90px
      background-color #FFF
      margin 5px
      border-radius 10px
      .btn
        position absolute
        right 10px
        bottom 10px
.team_edit
  .team_edit_container
    background-color white
    .team_info_form
      padding-top 20px
      .form-control
        background-color #F7F8FA
  .team_logo_container
    background-color #f7f8fa
  .operator
    .btn
      margin-right 10px
      &:last-child
        margin-right 0
  .cropper
    margin-left auto
    margin-right auto
    width 336px
    height 416px
    padding 40px
    padding-bottom 120px
    overflow hidden
  .cropit-image-preview-container
    width 256px
    height 256px
    margin 0 auto
    background-size contain
  .cropit-image-preview
    width 256px
    height 256px
  .cropit-image-background
    opacity 0.2
  .cropit-image-input
    visibility hidden
  .operator_slider
    position relative
    margin-top 10px
    text-align center
    .cropit-image-zoom-input
      display inline-block
      margin 0 10px
      width 120px
      line-height 26px
      vertical-align middle
      -webkit-appearance none
      -moz-appearance none
      appearance none
      height 5px
      -webkit-border-radius 5px
      border-radius 5px
      outline none
    .icon_small, .icon_large
      vertical-align middle
    .icon_large
      font-size 17px
  .operator_button
    position relative
    margin-top 20px
  .edit_logo_container
    .cropper
      width 336px
      height 240px
      padding 20px
    .cropit-image-preview-container
      width 128px
      height 128px
      margin 0 auto
    .cropit-image-preview
      width 128px
      height 128px
  .edit_family_container
    .cropper
      width 336px
      height 340px
      padding 20px 40px
    .cropit-image-preview-container
      width 256px
      height 256px
    .cropit-image-preview
      width 256px
      height 256px
.home_court
  .map_container
    height 250px
    .map
      height 250px
.team_detail_modal
  .row
    padding 5px 0
  .user
    .user_logo
      width 40px
      height 40px
    .user_name
      max-width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap