.point_leader_page
  .user_item
    height 120px
  .selected_user
    border 3px solid #3c8dbc
  .operator
    padding 10px 0

.team_create_page
  .groups
    margin-left auto
    margin-right auto
    position relative
    max-width (70 * 17)px
    .group
      float left
      width 70px
      text-align center
      padding 10px
      .img_contain
        width 50px
        height 50px
        background-image url('/img/icons/groups_new.png')
        background-repeat no-repeat
        background-size 600px 1500px
      for i in 0..16
        .group_{i+1}
          background-position i%6 * -100px floor(i/6) * -100px
      &.active
        color #3ca2e0
  .team_name_group
    width 320px
    margin-left auto
    margin-right auto