textOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

displayFlex()
  display -webkit-box
  display -webkit-flex
  display -moz-box
  display -moz-flex
  display -ms-flexbox
  display flex

flexValue(value)
  -webkit-box-flex value
  -webkit-flex value
  -moz-box-flex value
  -moz-flex value
  -ms-flex value
  flex value

transition(property)
  transition property
  -moz-transition property
  -webkit-transition property
  -o-transition property

centerWrap()
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  display -webkit-flex
  display flex
  -webkit-align-items center
  align-items center
  -webkit-justify-content center
  justify-content center

clearfix()
  &:before, &:after
    display table
    content " "
  &:after
    clear both
