textOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

displayFlex()
  display -webkit-box
  display -webkit-flex
  display -moz-box
  display -moz-flex
  display -ms-flexbox
  display flex

flexValue(value)
  -webkit-box-flex value
  -webkit-flex value
  -moz-box-flex value
  -moz-flex value
  -ms-flex value
  flex value

transition(property)
  transition property
  -moz-transition property
  -webkit-transition property
  -o-transition property