doctype html
html
  head
    meta(charset="utf-8")
    title 404
    style.
      html,body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .bg {
        width: 100%;
        height: 100%;
        margin-bottom: -2px;
      }
      .error {
        width: 500px;
        text-align: center;
        font-size: 40px;
        color: white;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -250px;
      }
      .error p {
        margin: 0;
        padding-bottom: 50px;
      }
      a.back {
        color: white;
        text-decoration: none;
        border: 1px solid;
        padding: 10px 30px;
      }
  body
    img.bg(src="/img/404.jpg")
    .error
      p Sorry,你的页面找不着了......
      a.back(href="/") 返回首页
