doctype html
html
  head
    meta(charset="utf-8")
    title 500
    style.
      .error {
        width: 100%;
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
      }
  body
    .error
      p 服务器发生错误!
      a(href="/") 点我回首页