doctype html
html
  head
    meta(charset="utf-8")
    title 关于warm
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/css/about.min.css")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
  body
    header
      ul.nav.clearfix
        h1 Warm
        li
          a(href="/") 首页
        li
          a(href="/company/manager") 校园大使
        li.active
          a(href="/about.html") 关于warm
        li
          a(href="#") 联系warm
        li
          a(href="#") 加入warm
    section.container
      section.intro
        img.header_bg(src="/img/about/dot.png" alt="dot")
        img.header(src="/img/about/header.png" alt="header")
        ol
          li.one warm是由上海动梨科技有限公司于2015年8月推出的一款面向大学校园的社交软件，核心功能主要集中在新生报到、牛叉社团、校园活动、个人求助等，力求为刚入校门的大衣新生打造一个属于年轻人的自由分享社区。
          li.two 在warm，社团活动尽收眼底，实时了解社团最新活动；同时，你也可以自己发布活动、发起投票、获取求助，尽情记录和分享你的大学生活，结实跟你志同道合的朋友。
          li.three 如果你是大一新生，warm帮你快速找到自己所在的组织，提前认识未来四年一起成长蜕变的同学；如果你是道貌岸然的学长，warm新生报到一览，便可提前查看九月份即将到货的小鲜肉，近水楼台，快人一步；
      section.history
        img.header(src="/img/about/bigdays.png" alt="bigdays")
        img.timeline(src="/img/about/timeline.png" alt="timeline")
        p.setup.block
          span 2013.12.08
          span 动梨成立
        p.publish.block
          span 2013.09.01
          span warm上线
      section.family
        img.header(src="/img/about/family.png" alt="family")
        .logos.clearfix
          figure
            img.logo(src="/img/about/1.png" alt="logo")
            figurecaption 产品经理
          figure
            img.logo(src="/img/about/2.png" alt="logo")
            figurecaption 技术总监
          figure
            img.logo(src="/img/about/3.png" alt="logo")
            figurecaption 产品运营
          figure
            img.logo(src="/img/about/4.png" alt="logo")
            figurecaption 后台开发
          figure
            img.logo(src="/img/about/5.png" alt="logo")
            figurecaption 后台开发
          figure
            img.logo(src="/img/about/6.png" alt="logo")
            figurecaption 后台开发
          figure
            img.logo(src="/img/about/7.png" alt="logo")
            figurecaption IOS开发
          figure
            img.logo(src="/img/about/8.png" alt="logo")
            figurecaption UI设计
    footer
      ul.nav
        li
          a(href="/company/manager") 校园大使
        li
          a(href="#") 关于warm
        li
          a(href="#") 联系warm
        li
          a(href="#") 加入warm
      p wwww.warm.com 2013-2015 All Right Reserved
      p 沪ICP备14016548号