extends layouts/default

block title
  -var title = '关于我们'

block contentExt
  .container
    h1 1、关于动梨
    p 上海动梨信息技术有限公司（简称“动梨”）致力于企业生活服务，帮助用户企业用更低的成本为员工提供更全面周到的生活服务。
    p 正直、热情、为客户创造价值是动梨的核心理念。

    h2 2、关于Donler
    p “Donler”指由动梨运营的网站，域名为donler.com，以及APP软件，名称为Donler。
    p Donler作为动梨的第一项服务产品，担当的是企业员工活动管理领域里的颠覆者角色。Donler让企业员工活动体系的构建以及活动管理快速简便，活动信息直观详尽
，活动发起、参与、管理、统计简单有序，让员工的活动体验得到提升。
