doctype html
html
  head
    meta(charset="utf-8")
    title 校园大使
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/css/ambassador.min.css")
    script(type="text/javascript" src="/js/wow.min.js")
    script(type="text/javascript").
      new WOW().init();
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
  body
    header
      ul.nav.clearfix
        h1 warm
        li
          a(href="/") 首页
        li.active
          a(href="/index/ambassador") 校园大使
        li
          a(href="/index/about") 关于warm
        //- li
        //-   a(href="#") 联系warm
        li
          a(href="#") 加入warm
        li
          a(href="/company/manager") 登录
    section.container
      section.search.row
        img.bg(src="/img/ambassador/search_bg.png" alt="bg")
        img.title.wow.zoomIn(src="/img/ambassador/search_title.png" alt="search_title")
        img.bubble.wow.slideInDown(src="/img/ambassador/bubble.png" alt="search_bubble")
        img.next.wow.slideInDown(src="/img/ambassador/next.png" alt="search_next")
        img.sun.wow.slideInDown(src="/img/ambassador/sun.png" alt="search_sun")
        img.boy.wow.slideInLeft(src="/img/ambassador/search_boy.png" alt="search_boy")
        img.girl.wow.fadeInUp(src="/img/ambassador/search_girl.png" alt="search_girl")
        img.flower(src="/img/ambassador/flower.png" alt="search_flower")
        img.stone1(src="/img/ambassador/stone1.png" alt="stone1")
        img.chicken(src="/img/ambassador/chicken.png" alt="search_chicken")
        img.stone2(src="/img/ambassador/stone2.png" alt="stone2")
        img.cloud(src="/img/ambassador/cloud1.png" alt="cloud")
      section.intro.row
        img.bg(src="/img/ambassador/intro_bg.png" alt="bg")
        .introduce
          p.title 什么是校园大使？
          p.content 校园大使是由一群有梦想、有激情、热爱互联网和社交的小伙伴们一起成立的团队。你可以是学生会主席、社团会长、也可以是御姐、萌妹子、东北大汉、纯情小哥、高校精英们在这里自由组合。一起为让更多的人知道warm,让warm变得更好而努力。
        img.chicken.wow.rotateInDownRight(src="/img/ambassador/chicken2.png" alt="chicken")
        img.earth.wow.rotateIn(src="/img/ambassador/earth.png" alt="earth")
        img.cloud1(src="/img/ambassador/cloud3.png" alt="cloud3")
        img.cloud2(src="/img/ambassador/cloud4.png" alt="cloud4")
        img.boys.wow.rubberBand(src="/img/ambassador/boys.png" alt="boys")
        img.share.wow.fadeInUp(src="/img/ambassador/balloon_share.png" alt="balloon_share")
        img.social.wow.fadeInUp(data-wow-delay="1s" src="/img/ambassador/balloon_social.png" alt="balloon_social")
        img.organize.wow.fadeInUp(data-wow-delay="1.5s" src="/img/ambassador/balloon_organize.png" alt="balloon_organize")
        img.duty.wow.fadeInUp(data-wow-delay="2s" src="/img/ambassador/balloon_duty.png" alt="balloon_duty")
        img.cloud(src="/img/ambassador/cloud1.png" alt="cloud")
      section.join.row
        img.bg(src="/img/ambassador/join_bg.png" alt="bg")
        h4 报名流程
        img.balloon1.wow.fadeInUp(data-wow-delay="1s" src="/img/ambassador/balloon1.png" alt="balloon1")
        img.balloon2.wow.fadeInUp(data-wow-delay="1.5s" src="/img/ambassador/balloon2.png" alt="balloon2")
        img.balloon3.wow.fadeInUp(data-wow-delay="2s" src="/img/ambassador/balloon3.png" alt="balloon3")
        img.white.wow.fadeInLeft(data-wow-delay="1s" src="/img/ambassador/white.png" alt="white")
        img.spaceman.wow.fadeInRight(data-wow-delay="1s" src="/img/ambassador/spaceman.png" alt="spaceman")
        img.star.wow.rotateIn(data-wow-delay="1s" src="/img/ambassador/star.png" alt="star")
        img.moon.wow.rotateInDownRight(data-wow-delay="1s" src="/img/ambassador/moon.png" alt="moon")
        img.cloud1(src="/img/ambassador/cloud4.png" alt="cloud3")
        img.cloud(src="/img/ambassador/cloud2.png" alt="cloud")
    footer
      ul.nav
        li
          a(href="/") warm首页
        li
          a(href="/index/ambassador") 校园大使
        li
          a(href="/index/about") 关于warm
        //- li
        //-   a(href="#") 联系warm
        li
          a(href="#") 加入warm
      p wwww.warm.ren 2013-2015 All Right Reserved
      p 沪ICP备14016548号