extends layouts/base

block content
  include partials/home_nav
  .index_background
    section.promo
      .promo_background.clearfix
        .index_container
          .regbox
            img.together(ng-src="/img/index/together.png")
            .reginfo 
              p 免费的企业活动管理工具
              p 流畅的员工活动体验
              p 融洽的团队关系
            a.clearLinkUnderline.btn_reg(href="/company/signup" title="免费注册") 免 费 注 册
            .appinfo
              img.barcode(ng-src="/img/index/2d_barcodes.png")
              img.btn_app(ng-src="/img/index/coming_soon.png")
  footer.dl_footer.index_footer
    .dl_container
      .dl_row
        .text_icp
          a(href="http://www.miitbeian.gov.cn/" title="沪ICP备14016548号" target="_blank") 沪ICP备14016548号
          span  Copyright &copy; Donler 2014. All Rights Reserved
          a(href="/about#about") 关于我们
          a(href="/about#law") 法律声明
          a(href="/about#privacy") 隐私政策
          a(href="/about#question") 问题反馈
          //-li: a(href="/plan") 商务合作
          a(href="/about#contact") 联系我们
          span.yun_icon
  script.
    window.location.hash='';
    var $buoop = {vs:{i:10,f:15,o:12.1,s:5.1}}; 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
      try {if ($buoop.ol) {$buoop.ol();} }catch (e) {} 
      var e = document.createElement("script"); 
      e.setAttribute("type", "text/javascript"); 
      e.setAttribute("src", "/js/notice/update.js"); 
      document.body.appendChild(e);
    } 