html
  head
    meta(charset="utf-8")
    title warm介绍
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href="/css/introduce.min.css")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
  body
    .loading
      .spinner Loading...
    .swiper-container
      .swiper-wrapper
        .swiper-slide.page_1
          .bubble.ani(swiper-animate-effect="bounce" swiper-animate-delay="0.5s")
            img.warm(src="/img/introduce/warm.png")
          img.school.ani(src="/img/introduce/school.png" swiper-animate-effect="bounceInUp")
          img.campus.ani(src="/img/introduce/campus.png"  swiper-animate-effect="bounceInUp")
        .swiper-slide.page_2
          img.sun.ani(src="/img/introduce/sun.png" swiper-animate-effect="fadeInUp")
          img.buildings.ani(src="/img/introduce/buildings.png" swiper-animate-effect="bounceInUp")
          img.cloud_left.ani(src="/img/introduce/cloud_left.png" swiper-animate-effect="slideInLeft")
          img.cloud_right.ani(src="/img/introduce/cloud_right.png" swiper-animate-effect="slideInRight")
          img.cloud_up.ani(src="/img/introduce/cloud_up.png" swiper-animate-effect="slideInDown")
          img.boy.ani(src="/img/introduce/boy.png" swiper-animate-effect="fadeInRight")
        .swiper-slide.page_3
          .lamp_container.ani(swiper-animate-effect="swing")
            img.lamp(src="/img/introduce/lamp.png")
            .lamp_light.ani(swiper-animate-effect="flash" swiper-animate-duration="1.5s")
          img.boy_cry.ani(src="/img/introduce/boy_cry.png" swiper-animate-effect="zoomIn" swiper-animate-duration="1s")
          .bubble_left.ani(swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s")
            span.text 好无聊
          .bubble_right.ani(src="/img/introduce/bubble_right.png" swiper-animate-effect="fadeInRight" swiper-animate-delay="1s")
            span.text 好孤单
          .bubble_bottom.ani(src="/img/introduce/bubble_bottom.png" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s")
            span.text 哪里有好玩的活动能认识有趣的朋友?
        .swiper-slide.page_4
          .container
            .phone_container
              img.phone.ani(src="/img/introduce/phone.png" swiper-animate-effect="slideInRight")
              .cube_container.ani(swiper-animate-effect="fadeIn" swiper-animate-delay="2s")
                img.cube(src="/img/introduce/cube.png")
                img.mockup(src="/img/introduce/mockup.png")
            img.hand.ani(src="/img/introduce/hand.png" swiper-animate-effect="slideInLeft" swiper-animate-delay="1s")
        .swiper-slide.page_5
          .light.ani(swiper-animate-effect="fadeInDown")
          img.girl.ani(src="/img/introduce/girl.png" swiper-animate-effect="zoomIn" swiper-animate-delay="1s")
          img.fog(src="/img/introduce/fog.png")
          img.bubble_1.ani(src="/img/introduce/bubble_1.png" swiper-animate-effect="flipInY" swiper-animate-delay="2s")
          img.bubble_2.ani(src="/img/introduce/bubble_2.png" swiper-animate-effect="rollIn" swiper-animate-delay="3s")
          img.bubble_3.ani(src="/img/introduce/bubble_3.png" swiper-animate-effect="flipInX" swiper-animate-delay="2.5s")
        .swiper-slide.page_6
          img.play_text.ani(src="/img/introduce/play_text.gif" swiper-animate-effect="bounceInDown" swiper-animate-delay="1s")
          img.girl_boy.ani(src="/img/introduce/girl_boy.gif" swiper-animate-effect="zoomInDown")
          img.cloud.cloud_l.ani(src="/img/introduce/cloud_l.png" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s")
          img.cloud.cloud_r.ani(src="/img/introduce/cloud_r.png" swiper-animate-effect="fadeInRight" swiper-animate-delay="1s")
      .swiper-pagination
      //- .swiper-button-next
  //- script(src="public/lib/swiper/dist/js/swiper.min.js")
  script(src="/js/dist/introduce.min.js")
    
