html
  head
    meta(charset="utf-8")
    title warm介绍
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href="/css/introduce.min.css")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
  body
    .loading
      .spinner Loading...
    .swiper-container
      .swiper-wrapper
        .swiper-slide.page_1
          .bubble.ani(swiper-animate-effect="bounce" swiper-animate-delay="0.5s")
            img.warm(src="/img/introduce/warm.png")
          img.school.ani(src="/img/introduce/school.png" swiper-animate-effect="bounceInUp")
          img.campus.ani(src="/img/introduce/campus.png"  swiper-animate-effect="bounceInUp")
        .swiper-slide.page_2
          img.sun.ani(src="/img/introduce/sun.png" swiper-animate-effect="fadeInUp")
          img.buildings.ani(src="/img/introduce/buildings.png" swiper-animate-effect="bounceInUp")
          img.cloud_left.ani(src="/img/introduce/cloud_left.png" swiper-animate-effect="slideInLeft")
          img.cloud_right.ani(src="/img/introduce/cloud_right.png" swiper-animate-effect="slideInRight")
          img.cloud_up.ani(src="/img/introduce/cloud_up.png" swiper-animate-effect="slideInDown")
          img.boy.ani(src="/img/introduce/boy.png" swiper-animate-effect="fadeInRight")
        .swiper-slide.page_3
          .lamp_container.ani(swiper-animate-effect="swing")
            img.lamp(src="/img/introduce/lamp.png")
            .lamp_light.ani(swiper-animate-effect="flash" swiper-animate-duration="1.5s")
          img.boy_cry.ani(src="/img/introduce/boy_cry.png" swiper-animate-effect="zoomIn" swiper-animate-duration="1s")
          img.bubble_left.ani(src="/img/introduce/bubble_left.png" swiper-animate-effect="fadeInLeft" swiper-animate-delay="1s")
          img.bubble_right.ani(src="/img/introduce/bubble_right.png" swiper-animate-effect="fadeInRight" swiper-animate-delay="1s")
          img.bubble_bottom.ani(src="/img/introduce/bubble_bottom.png" swiper-animate-effect="fadeInUp" swiper-animate-delay="1.5s")
        .swiper-slide.page_4
          .container
            //- from right
            img.phone.ani(src="/img/introduce/phone.png" swiper-animate-effect="slideInRight")
            //- from left
            img.hand.ani(src="/img/introduce/hand.png" swiper-animate-effect="slideInLeft" swiper-animate-delay="1s")
            //- show up
            .cube
            //- img.mockup(src="/img/introduce/mockup.png")
        .swiper-slide.page_5
          .light
          img.girl(src="/img/introduce/girl.png")
          img.fog(src="/img/introduce/fog.png")
          img.bubble_1(src="/img/introduce/bubble_1.png")
          img.bubble_2(src="/img/introduce/bubble_2.png")
          img.bubble_3(src="/img/introduce/bubble_3.png")
        .swiper-slide.page_6
          img.play_text(src="/img/introduce/play_text.gif")
          img.girl_boy(src="/img/introduce/girl_boy.gif")
          img.cloud.cloud_l(src="/img/introduce/cloud_l.png")
          img.cloud.cloud_r(src="/img/introduce/cloud_r.png")
      .swiper-pagination
      //- .swiper-button-next
  //- script(src="public/lib/swiper/dist/js/swiper.min.js")
  script(src="/js/dist/introduce.min.js")
    
