html
  head
    meta(charset="utf-8")
    title warm介绍
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href="/css/introduce.min.css")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
  body
    .swiper-container
      .swiper-wrapper
        .swiper-slide.page_1
          .bubble
            img.warm(src="/img/introduce/warm.png")
          img.school(src="/img/introduce/school.png")
          img.campus(src="/img/introduce/campus.png")
        .swiper-slide.page_2
          img.sun(src="/img/introduce/sun.png")
          img.buildings(src="/img/introduce/buildings.png")
          img.cloud_left(src="/img/introduce/cloud_left.png")
          img.cloud_right(src="/img/introduce/cloud_right.png")
          img.cloud_up(src="/img/introduce/cloud_up.png")
          img.boy(src="/img/introduce/boy.png")
        .swiper-slide.page_3
          //- 晃一下
          img.lamp(src="/img/introduce/lamp.png")
          //- flash
          .light
          //- fade
          img.boy_cry(src="/img/introduce/boy_cry.png")
          //- from left
          img.bubble_left(src="/img/introduce/bubble_left.png")
          //- from right
          img.bubble_right(src="/img/introduce/bubble_right.png")
          //- from bottom
          img.bubble_bottom(src="/img/introduce/bubble_bottom.png")
        .swiper-slide.page_4
          .container
            //- from right
            img.phone(src="/img/introduce/phone.png")
            //- from left
            img.hand(src="/img/introduce/hand.png")
            //- show up
            .cube
            //- img.mockup(src="/img/introduce/mockup.png")
        .swiper-slide.page_5
          .light
          img.girl(src="/img/introduce/girl.png")
          img.fog(src="/img/introduce/fog.png")
          img.bubble_1(src="/img/introduce/bubble_1.png")
          img.bubble_2(src="/img/introduce/bubble_2.png")
          img.bubble_3(src="/img/introduce/bubble_3.png")
        .swiper-slide.page_6
          img.play_text(src="/img/introduce/play_text.gif")
          img.girl_boy(src="/img/introduce/girl_boy.gif")
          img.cloud.cloud_l(src="/img/introduce/cloud_l.png")
          img.cloud.cloud_r(src="/img/introduce/cloud_r.png")
      .swiper-pagination
      //- .swiper-button-next
  script(src="/js/dist/swiper.min.js")
  script.
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      direction: 'vertical',
      slidesPerView: 1,
      paginationClickable: true,
      spaceBetween: 30,
      mousewheelControl: true
    });
