<ion-view title="详细信息" class="campaign">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <p>{{ campaign.content }}</p>
    <p>参加人员</p>
    <div>
      <div ng-repeat="user in campaign.member">
        <a href="#/app/other_user_info/{{ user.uid }}">{{ user.username }}</a>
      </div>
    </div>
    <p ng-repeat="opponent in campaign.opponent_list">
      <a href="#/app/opponent_detail/{{ $index }}">{{ opponent.name }}</a>
    </p>
    <div>
      <h4>活动精彩照片</h4>
      <form id="upload_form" action="{{ '/photoAlbum/' + photo_album_id + '/photo' }}" method="post" enctype="multipart/form-data">
        <input type="file" name="photos" multiple="multiple" accept="image/*" required/>
        <button type="submit">上传照片</button>
      </form>
      </div>
      <div id="photo_list">
        <div ng-repeat="photo in photos" finish-repeat-directive>
          <img ng-src="{{ photo.uri }}"/>
          <form ng-if="role === 'LEADER' || _id === photo.publish_user_id" class="js_delete_form" action="{{ '/photoAlbum/' + photo_album_id + '/photo/' + photo.pid }}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit">删除照片</button>
          </form>
        </div>
      </div>
    </div>
    <button ng-if="!campaign.is_join" ng-click="join(campaign._id)">参加活动</button>
    <button ng-if="campaign.is_join" ng-click="quit(campaign._id)">退出活动</button>
  </ion-content>
</ion-view>
