<ion-view title="日程列表">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <!-- <ion-list>
      <ion-item ng-repeat="schedule in schedule_list">
        <p>{{ schedule.content }}</p>
        <p>开始时间: {{ schedule.start_time }}</p>
        <p>截止时间: {{ schedule.end_time }}</p>
        <p>活动地点: {{ schedule.location.name }}</p>
        <button class="button button-block" ng-click="quit(schedule._id)">退出</button>
      </ion-item>
    </ion-list> -->

    <div class="calendar">
      <nav>
        <button ng-click="pre()">pre</button>
        <button ng-click="next()">next</button>
        <div class="week text-center">
          <div class="day weekend">日</div>
          <div class="day">一</div>
          <div class="day">二</div>
          <div class="day">三</div>
          <div class="day">四</div>
          <div class="day">五</div>
          <div class="day weekend">六</div>
        </div>
      </nav>
      <div class="calendar_box">
        <div class="calendar_month clearfix">
          <div class="calendar_day text-center" ng-repeat="day in month" ng-class="day.first_day">
            <div class="calendar_date" ng-class="{weekend: day.is_weekend===true, today: day.is_today===true}">{{ day.date }}</div>
            <div class="event-unjoin" ng-if="day.has_event && !day.has_joined_event"></div>
            <div class="event-joined" ng-if="day.has_joined_event"></div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
