.dl_modal_body.clearfix
  .dl_modal_container
    .select
      span 请选择您想用来发活动的小队
    .units(ng-cloak)
      .unit(ng-repeat="team in ledTeams track by $index" ng-class="{'right':$index%2==1}" ng-click="selcet_team($index)")
        img.logo(ng-src="{{team.logo}}")
        .text
          span {{team.name}}
        .buttons
          button.button 就用TA动
