extends ../../layouts/base

block content
  //- .dl_container.clearfix
  //-   .signup_row
  //-     .block
  //-       .signup_title.company_title
  //-         span 企业注册
  //-       .signup_tips
  //-         p 激活成功
  .header
    img.logo(src="/img/dl_logol.png")
  .active_success_phone
    .active_success_info.clearfix
      span 恭喜您，验证成功!
      i.fa.fa-check
    .active_success_operator
    .active_success_download_info
      span 扫描下方二维码，下载APP吧！
    .active_success_download_qrcodes
      img(ng-src="../img/app_download_barcodes.png/300/300")
    a.active_success_button(href="/company/manager/login") 登录