
extends ../../layouts/register
append headExt
  link(rel="stylesheet" href="/css/group_select.css")
  link(rel="stylesheet" href="/css/company_signup.css")

block contentExt
  div(id='confirm' ng-view)

append footExt
  script(src="/js/controllers/company.js")
