.row.signup_row
  .col-xs-12.col-sm-5.text-right
    .block_left
      h1.text-right
        small 加入
        | 动梨
  .col-xs-12.col-sm-7(ng-controller="DetailController")
    form.block_right.center-block.form-horizontal(name="createForm")
      h3.text-center 恭喜！您已经成功通过验证！
      .form-group.dl_sm_group
        .col-xs-offset-4.col-xs-8
          p 现在可以完成注册，加入动梨啦！
      .form-group.dl_sm_group(ng-class="{'has-error':createForm.official_name.$invalid && createForm.official_name.$dirty}")
        label.col-xs-4.control-label(for="official_name" ) *企业官方名称：
        .col-xs-8
          input#official_name.form-control.dl_full_control(type="text" name="official_name" ng-model="detail.official_name" ng-blur="detail.officialNameCheck()" placeholder="请参考企业名称/品牌名称" tooltip-placement="right" tooltip="{{createForm.official_name.$invalid && createForm.official_name.$dirty ? '您企业的简称或者品牌名称，便于识别' : ''}}" required)
          span.dl_tip(ng-if="!detail.check_name") {{detail.check_name_value}}
      .form-group.dl_sm_group(ng-class="{'has-error':createForm.username.$invalid && createForm.username.$dirty}")
        label.col-xs-4.control-label(for="username") *用户名：
        .col-xs-8
          input#username.form-control.dl_full_control(type="text" name="username" ng-model="detail.username" placeholder="公司登录时的账号" ng-blur="detail.usernameCheck()" ng-minlength=4 tooltip-placement="right" tooltip="{{createForm.username.$invalid && createForm.username.$dirty ? '请使用4-20位英文和数字组合及“_”' : ''}}" required)
          span.dl_tip(ng-if="!detail.check_username") {{detail.check_username_value}}
      .form-group.dl_sm_group
        label.col-xs-4.control-label(for="password") *密码：
        .col-xs-8
          input#password.form-control.dl_full_control(type="password" name="password" ng-model="detail.password" ng-minlength=6 required)
      .form-group.dl_sm_group
        label.col-xs-4.control-label(for="password") *密码确认：
        .col-xs-8
          input#password.form-control.dl_full_control(type="password" name="confirmPassword" ng-model="detail.confirmPassword" ng-minlength=6 match="detail.password" required)
      .form-group.dl_sm_group
        .col-xs-offset-4.col-xs-8
          button.btn.btn-primary.dl_btn.dl_full_control(ng-disabled="createForm.$invalid || !detail.check_name || !detail.check_username" ng-click="detail.create_detail()") 创建
