doctype html
html
  head
    meta(charset="utf-8")
    block title
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="renderer" content="webkit")
    meta(name="keywords" content="企业员工活动,员工活动,企业活动,员工兴趣,公司活动")
    meta(name="description" content="让企业员工活动体系的构建以及活动管理快速简便，活动信息直观详尽，活动发起、参与、管理、统计简单有序，让员工的活动体验得到提升。")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/lib/angular-emoji-filter-hd-thin/dist/emoji.min.css")
    link(rel="stylesheet" href="/css/library.min.css")
    link(rel="stylesheet" href="/css/donlerall.min.css")
    script(src="/js/library.min.js")
    block headExt
  body
    block content

    script(src="/js/donlerall.min.js")
    script.
      angular.element(document).ready(function() {
        //Fixing facebook bug with redirect
        if (window.location.hash === '#_=_') window.location.hash = '#!';

        //Then init the app
        angular.bootstrap(document, ['donler']);
      });


      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52353216-1', 'auto');
      ga('send', 'pageview');
    block footExt

    block bottomExt
