doctype html
html
  head
    meta(charset="utf-8")
    block title
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/library.min.css")
    link(rel="stylesheet" href="/css/custom_alertify.css")
    link(rel="stylesheet" href="/css/donler.min.css")
    script(src="/js/library.min.js")

    block headExt
  body
    block content

    script(src="/js/main.js")
    script.
      angular.element(document).ready(function() {
        //Fixing facebook bug with redirect
        if (window.location.hash === '#_=_') window.location.hash = '#!';

        //Then init the app
        angular.bootstrap(document, ['mean.main']);
      });
    block footExt

    block bottomExt
