
extends base

append headExt
  link(rel="stylesheet" href="/css/views/group_select.css")
  link(rel="stylesheet" href="/css/views/campaign_list.css")

block content
  .wrap
    include ../partials/user_nav
    .baseInfo.clearfix
      .dl_container
        block baseInfo
    .dl_container.clearfix
      .main
        block panel
      .side
        block aside
  include ../partials/footer


