
extends base

append headExt
  link(rel="stylesheet" href="/css/views/group_select.css")
  link(rel="stylesheet" href="/css/views/campaign_list.css")
  link(rel="stylesheet" href="/css/calendar.css")

block content
  .wrap
    include ../partials/user_nav
    .baseInfo.clearfix
      .dl_container
        block baseInfo
    .dl_container.clearfix
      .main
        block panel
      .side
        block aside
  include ../partials/user_footer

append footExt
  script(src="/js/underscore-min.js")
  script(src="/js/jstz.min.js")
  script(src="/js/language/zh-CN.js")
  script(src="/js/calendar.min.js")
  //-script(src="/js/schedule-calendar.js")
