extends base

block content
  .wrap
    include ../partials/home_nav
    .baseInfo.clearfix
      .dl_container
        block baseInfo
    .dl_container.clearfix
      .main
        block panel
      .side
        block aside
  include ../partials/user_footer

append footExt
  script(src="/lib/underscore/underscore.js")
  script(src="/js/language/zh-CN.js")
  script(src="/lib/bootstrap-calendar/js/calendar.js")