extends base

block content
<<<<<<< HEAD
  .wrap.registerpage
=======
  .wrap
>>>>>>> 3f5d9c8d9b5c89f132637cce08266e9186035dec
    include ../partials/home_nav
    block contentExt
  include ../partials/user_footer