extends base

block content
  .wrap.user_page
    include ../partials/home_nav
    .dl_container.clearfix
      .main
        block panel
      .side
        block aside
          .icon_backtop(ng-click="bakckTop()" data-spy="affix" data-offset-top="10")
  include ../partials/user_footer

